Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

editoast, front: rename OperationalPointIdentifier to OperationalPointReference
  editoast/openapi.yaml
  editoast/schemas/src/train_schedule.rs
  editoast/schemas/src/train_schedule/path_item.rs
  editoast/src/models/fixtures.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/path/path_item_cache.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/projection.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/track_occupancy.rs
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/helpers/TrainOpProjectionLazyLoader.ts
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
  front/src/applications/operationalStudies/utils.ts
  front/src/common/api/generatedEditoastApi.ts
  railway_manager_interface/osrd_railway_manager_interface/models.py
Due: editoast, front

docker-compose: add s3 to all modes
  docker/docker-compose.host.yml
  docker/docker-compose.pr-tests.yml
  docker/osrdyne-pr-tests.yml
Due: none

docker-compose: add s3 container
  docker-compose.yml
  docker/create_bucket.sh
  docker/osrdyne.yml
Due: none

front: move updateTrainSchedules to parseGraou helper file
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
Due: front

front: move step filtering logic to parseGraou helper file
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
Due: front

front: move format list logic to parseGraou helper file
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
Due: front

front: move generateTrainSchedulePayloads to parseGraou helper file
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/generateTrainSchedulesPayloads.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
Due: front

front: move populateUicChecksum to parseGraou helper file
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
  front/src/common/api/graouApi.ts
Due: front

front: fuse trainList and trainJson import
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
Due: front

front: graou import: fills uic checksum in main format loop
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
Due: front

front: graou import: match rolling stock in main format loop
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
Due: front

front: graou import: move all rs match logic to parseGraouTrain
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/findValidTrainNameKey.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/types.ts
Due: front

front: graou import: compute stopFor in main format loop
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
Due: front

front: improve parseGraouTrains readability
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
Due: front

front: move uic validation to graou api
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
  front/src/common/api/graouApi.ts
Due: front

front: streamline getTrainsFromOpenData
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
Due: front

front: fix chs missing in trains imported from graou
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
Due: front

front: overhaul graou import validation
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
  front/src/common/api/graouApi.ts
Due: front

fixup! front: fix chs missing in trains imported from graou
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
Due: front

editoast: don't retrieve train schedules for conflicts
  editoast/src/views/timetable.rs
Due: editoast

core: use google maven mirror first
  core/build.gradle
  core/envelope-sim/build.gradle
  core/kt-fast-collections-annotations/build.gradle
  core/kt-fast-collections-generator/build.gradle
  core/kt-fast-collections/build.gradle
  core/kt-osrd-path/build.gradle
  core/kt-osrd-rjs-parser/build.gradle
  core/kt-osrd-signaling/build.gradle
  core/kt-osrd-sim-infra/build.gradle
  core/kt-osrd-sim-interlocking/build.gradle
  core/kt-osrd-sncf-signaling/build.gradle
  core/kt-osrd-utils/build.gradle
  core/kt-railjson-builder/build.gradle
  core/osrd-geom/build.gradle
  core/osrd-railjson/build.gradle
  core/osrd-reporting/build.gradle
  core/settings.gradle
Due: core

ci: check the readme getting started commands
  .github/workflows/build.yml
Due: none

front, editoast: rename OperationalPointReference to OperationalPointPartReference
  editoast/openapi.yaml
  editoast/schemas/src/train_schedule.rs
  editoast/schemas/src/train_schedule/path_item.rs
  editoast/src/models/fixtures.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/path/path_item_cache.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/projection.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/track_occupancy.rs
  editoast/src/views/timetable/train_schedule.rs
  front/src/applications/operationalStudies/hooks/usePathOps.ts
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/hooks/useTimetableItemsWithPathOps.ts
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/applications/stdcm/utils/index.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/pathfinding/hooks/usePathfinding.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useLazyProjectTrains.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useTrackOccupancy.ts
  front/src/modules/simulationResult/types.ts
Due: editoast, front

storybook: form story
  front/ui/storybook/stories/ui-core/Form.stories.tsx
Due: front

docker-compose: fix osrdyne host config
  docker/docker-compose.host.yml
Due: none

core: use google maven mirror for plugins too
  core/settings.gradle
Due: core

editoast: adding level crossings icons
  editoast/assets/sprites/default/LEVEL_CROSSING.svg
  editoast/assets/sprites/default/LEVEL_CROSSING_GROUP.svg
Due: editoast

front: display level crossings on maps
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EditorLayersModal.tsx
  front/src/applications/editor/consts.ts
  front/src/assets/pictures/layersicons/layer_level_crossing.svg
  front/src/common/Map/Layers/InfraObjectLayers/InfraObjectLayers.tsx
  front/src/common/Map/Layers/InfraObjectLayers/LevelCrossing.tsx
  front/src/common/Map/Settings/MapSettingsLayers.tsx
  front/src/common/Map/components/LayersModal.tsx
  front/src/common/Map/theme/colors.ts
  front/src/config/layerOrder.ts
  front/src/reducers/commonMap/index.ts
  front/src/reducers/commonMap/types.ts
Due: front

editoast: clarify that the role requirement is a logical OR
  editoast/src/views/mod.rs
Due: editoast

front: allow comfort acceleration values above 1 ms2 in rolling stock input
  front/src/applications/rollingStockEditor/consts.ts
Due: front

editoast: include train name in requirement endpoint
  editoast/core_client/src/conflict_detection.rs
  editoast/openapi.yaml
  editoast/src/views/timetable.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

core: include train name in generated debug data
  core/src/main/java/fr/sncf/osrd/api/TimetableCacheManager.kt
  core/src/main/java/fr/sncf/osrd/api/TimetableProvider.kt
  core/src/main/java/fr/sncf/osrd/cli/BenchSTDCM.kt
  core/src/main/kotlin/fr/sncf/osrd/api/conflicts/ConflictDetectionRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/OutputSimDebugData.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
Due: core

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
