Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

editoast: set osrdyne api url correctly in host mode
  docker-compose.yml
  docker/docker-compose.host.yml
  editoast/src/client/mod.rs
Due: editoast

core: mrsp: migrate module to kotlin
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/MRSP.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.kt
  core/src/main/kotlin/fr/sncf/osrd/envelope_sim_infra/MRSP.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EngineeringAllowanceManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  core/src/main/kotlin/fr/sncf/osrd/utils/CachedBlockMRSPBuilder.kt
  core/src/test/java/fr/sncf/osrd/DriverBehaviourTest.kt
  core/src/test/kotlin/fr/sncf/osrd/envelope_sim_infra/MRSPTest.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
Due: core

front: doc: add lint-fix
  front/README.md
Due: front

s
  front/src/applications/operationalStudies/helpers/upsertNewProjectedTrains.ts
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/Map/WarpedMap/DataLoader.tsx
  front/src/common/Map/WarpedMap/SimulationWarpedMap.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/useLazyProjectTrains.ts
Due: front

Update docker/docker-compose.host.yml
  docker/docker-compose.host.yml
Due: none

front: bump osrd-ui to 0.0.44
  front/package.json
  front/yarn.lock
Due: front

front: re-enable dependabot
  .github/dependabot.yml
Due: none

ci: fix docker compose
  docker-compose.yml
Due: none

codeowners: fix licenses typo
  .github/CODEOWNERS
Due: none

front: use the new map style
  front/src/assets/mapstyles/OSMStyle.json
  front/src/common/Map/Consts/colors.ts
Due: front

front: improve updateDaySinceDeparture props
  front/src/modules/timesStops/TimesStopsInput.tsx
  front/src/modules/timesStops/helpers/__tests__/utils.spec.ts
  front/src/modules/timesStops/helpers/utils.ts
  front/src/modules/timesStops/hooks/useOutputTableData.ts
Due: front

front: refacto TimesStops props
  front/src/modules/timesStops/TimesStops.tsx
  front/src/modules/timesStops/TimesStopsInput.tsx
  front/src/modules/timesStops/TimesStopsOutput.tsx
  front/src/modules/timesStops/helpers/__tests__/utils.spec.ts
  front/src/modules/timesStops/helpers/utils.ts
  front/src/modules/timesStops/hooks/useOutputTableData.ts
  front/src/modules/timesStops/hooks/useTimeStopsColumns.ts
  front/src/modules/timesStops/types.ts
Due: front

ci, editoast: update 'opentelemetry' dependencies all at once
  .github/dependabot.yml
  editoast/Cargo.toml
Due: editoast

ci, gateway: update 'opentelemetry' dependencies all at once
  .github/dependabot.yml
Due: none

front: make dependabot ignore NGE updates
  .github/dependabot.yml
Due: none

front: add debug components in stdcm interface
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/operationalStudies/utils.ts
  front/src/applications/stdcm/Home.tsx
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/applications/stdcm/hooks/useStdcmResults.ts
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/utils/formatStdcmConfV2.ts
  front/src/applications/stdcmV2/components/StdcmConfig.tsx
  front/src/applications/stdcmV2/components/StdcmDestination.tsx
  front/src/applications/stdcmV2/components/StdcmHeader.tsx
  front/src/applications/stdcmV2/components/StdcmOpSchedule.tsx
  front/src/applications/stdcmV2/components/StdcmOrigin.tsx
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcmV2/components/StdcmSimulationParams.tsx
  front/src/applications/stdcmV2/components/StdcmVias.tsx
  front/src/applications/stdcmV2/hooks/useStdcmEnv.tsx
  front/src/applications/stdcmV2/types.ts
  front/src/applications/stdcmV2/views/StdcmViewV2.tsx
  front/src/modules/scenario/components/AddOrEditScenarioModal.tsx
  front/src/modules/scenario/components/ScenarioExplorer/ScenarioExplorer.tsx
  front/src/modules/scenario/helpers/__tests__/scenario.spec.ts
  front/src/modules/scenario/helpers/utils.ts
  front/src/modules/scenario/utils.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/SpeedSpaceChartContainer.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/useSpeedSpaceChart.ts
  front/src/modules/simulationResult/types.ts
  front/src/modules/stdcmAllowances/components/StdcmAllowances.tsx
  front/src/reducers/user/index.ts
  front/src/reducers/user/userReducer.spec.ts
  front/src/styles/scss/applications/stdcmV2/_card.scss
  front/src/styles/scss/applications/stdcmV2/_header.scss
  front/src/styles/scss/applications/stdcmV2/_home.scss
  front/src/utils/__tests__/date.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
Due: front

front: fix output table waypoint bold display
  front/src/modules/timesStops/helpers/utils.ts
Due: front

front: update nge label
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/NGE/types.ts
Due: front

front: add stop type selector in stdcm
  front/public/locales/en/stdcm-simulation-report-sheet.json
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm-simulation-report-sheet.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/SimulationReportStyleSheet.ts
  front/src/applications/stdcm/utils/formatStdcmConfV2.ts
  front/src/applications/stdcmV2/components/StdcmDefaultCard.tsx
  front/src/applications/stdcmV2/components/StdcmInputVia.tsx
  front/src/applications/stdcmV2/components/StdcmOpSchedule.tsx
  front/src/applications/stdcmV2/components/StdcmStopType.tsx
  front/src/applications/stdcmV2/components/StdcmVias.tsx
  front/src/applications/stdcmV2/types.ts
  front/src/modules/pathfinding/hooks/usePathfinding.ts
  front/src/reducers/osrdconf/osrdConfCommon/__tests__/utils.ts
  front/src/reducers/osrdconf/osrdConfCommon/index.ts
  front/src/reducers/osrdconf/types.ts
  front/src/styles/scss/applications/stdcmV2/_card.scss
  front/src/styles/scss/applications/stdcmV2/_home.scss
  front/src/utils/__tests__/strings.spec.ts
  front/src/utils/strings.ts
Due: front

front: don't group major version upgrades with dependabot
  .github/dependabot.yml
Due: none

front: drop unnecessary cast in useOutputTableData()
  front/src/modules/timesStops/hooks/useOutputTableData.ts
Due: front

editoast: add 'locked' to the schema definition of rolling stock
  editoast/editoast_schemas/src/rolling_stock.rs
  editoast/src/models/rolling_stock_model.rs
Due: editoast

front: fix trainrun deletion from NGE
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: redesign filter panel
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/modules/trainschedule/components/Timetable/FilterPanel.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableToolbar.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/tests/008-train-schedule.spec.ts
  front/tests/pages/op-timetable-page-model.ts
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
