Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: operational-studies: translated using weblate (French)
  front/public/locales/de/operational-studies.json
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
Due: front

front: rename formatPacedTrainIdToOccurrenceId
  front/src/applications/operationalStudies/helpers/upsertNewProjectedTrains.ts
  front/src/applications/operationalStudies/hooks/useAutoUpdateProjection.ts
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTimetableItem.ts
  front/src/utils/__tests__/trainId.spec.ts
  front/src/utils/trainId.ts
Due: front

front: fix duplicate occurrence consecutive time
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
Due: front

front: fix occurrence selection for added occurrences
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
Due: front

front: fix occurrence selection when opening its menu
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
Due: front

front, gateway, nix, ci: upgrade nodejs 23 to 24
  .github/workflows/osrd-ui-publish.yml
  .github/workflows/osrd-ui-website.yml
  .github/workflows/ui-icons-optimize.yml
  flake.nix
  front/docker/Dockerfile.devel
  gateway/Dockerfile
Due: gateway, front

front, gateway, ci: switch node image to alpine
  front/docker/Dockerfile.devel
  gateway/Dockerfile
Due: gateway, front

editoast, gateway, osrdyne: bump rust to 1.87
  editoast/Dockerfile
  gateway/Dockerfile
  gateway/src/config.rs
  osrdyne/Dockerfile
  osrdyne/src/config.rs
  osrdyne/src/main.rs
Due: editoast, gateway

nix: update flake lock and drop now depreciated ruff-lsp from flake
  flake.lock
  flake.nix
Due: none

front: improve matching in useOutputTableData
  front/src/modules/timesStops/hooks/useOutputTableData.ts
Due: front

front: use Playwright API context
  front/tests/utils/api-utils.ts
Due: front

editoast: create editoast_core crate and remove core module
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_core/Cargo.toml
  editoast/editoast_core/src/conflict_detection.rs
  editoast/editoast_core/src/infra_loading.rs
  editoast/editoast_core/src/lib.rs
  editoast/editoast_core/src/mocking.rs
  editoast/editoast_core/src/mq_client.rs
  editoast/editoast_core/src/path_properties.rs
  editoast/editoast_core/src/pathfinding.rs
  editoast/editoast_core/src/signal_projection.rs
  editoast/editoast_core/src/simulation.rs
  editoast/editoast_core/src/stdcm.rs
  editoast/editoast_core/src/version.rs
  editoast/src/client/healthcheck.rs
  editoast/src/error.rs
  editoast/src/main.rs
  editoast/src/models/stdcm_log.rs
  editoast/src/models/temporary_speed_limits.rs
  editoast/src/models/work_schedules.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
  editoast/src/views/path.rs
  editoast/src/views/path/path_item_cache.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/projection.rs
  editoast/src/views/stdcm_logs.rs
  editoast/src/views/test_app.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/occupancy_blocks.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/failure_handler.rs
  editoast/src/views/timetable/stdcm/request.rs
  editoast/src/views/work_schedules.rs
Due: editoast

ui-core: make dates outside currently displayed month selectable
  front/ui/ui-core/src/components/inputs/datePicker/useCalendar.ts
  front/ui/ui-core/src/styles/inputs/datePicker.css
Due: front

front: ensure uniform spacing between homepage cards
  front/src/main/home.tsx
Due: front

ci: show openAPI diff
  .github/labeler.yml
  .github/workflows/interface-change.yml
Due: none

front: added translation using Weblate (German)
  front/public/locales/de/infraEditor.json
Due: front

front: infra-editor: translated using weblate (French)
  front/public/locales/fr/infraEditor.json
Due: front

front: import missions from xml file
  front/src/applications/operationalStudies/views/ImportTimetableItem.tsx
  front/src/modules/trainschedule/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/modules/trainschedule/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
  front/src/modules/trainschedule/components/ImportTimetableItem/generateTrainSchedulesPayloads.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/__tests__/importTimetableItem.spec.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/buildStepsFromOcp.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/findMostFrequentXmlSchedule.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/importTimetableItem.spec.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/handleParseFiles.ts
Due: front

editoast: use 'testing' feature for 'editoast_core' in tests
  editoast/editoast_core/Cargo.toml
Due: editoast

editoast: use 'mocking_client' for 'editoast_core' testing
  editoast/Cargo.lock
  editoast/editoast_core/Cargo.toml
Due: editoast

front: breaks some localStorage key on purpose
  front/src/applications/operationalStudies/helpers/upsertMapWaypointsInOperationalPoints.ts
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/WaypointsPanel.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/helpers/__tests__/utils.spec.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/helpers/utils.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useGetProjectedTrainOperationalPoints.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useWaypointMenu.tsx
Due: front

front: adds some TODO about some fishy code
  front/src/applications/stdcm/utils/stdcmComputeChartData.ts
Due: front

front: adds opId into PathOperationalPoint
  front/src/applications/operationalStudies/__tests__/upsertMapWaypointsInOperationalPoints.spec.ts
  front/src/applications/operationalStudies/helpers/upsertMapWaypointsInOperationalPoints.ts
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/utils.ts
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/utils/fetchPathProperties.ts
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/WaypointsPanel.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/useGetProjectedTrainOperationalPoints.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useWaypointMenu.tsx
  front/src/modules/simulationResult/types.ts
Due: front

editoast: rename variable into paced_train
  editoast/src/views/timetable.rs
Due: editoast

editoast: rename 'items' into 'simulations'
  editoast/src/views/timetable.rs
Due: editoast

editoast: rename 'occurrences' to 'occurrences_count'
  editoast/src/views/timetable.rs
Due: editoast

front: enable occurrences exception status
  front/src/modules/simulationResult/helpers/formatTimetableItemSummaries.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/hooks/useOccurrences.tsx
  front/src/modules/trainschedule/components/Timetable/consts.ts
  front/src/modules/trainschedule/components/Timetable/types.ts
  front/src/modules/trainschedule/components/Timetable/utils.ts
  front/src/modules/trainschedule/helpers/pacedTrain.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/operationalStudiesConfReducer.spec.ts
  front/src/utils/trainId.ts
Due: front

front: display occurrence details in edition interface
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/modules/trainschedule/helpers/__tests__/pacedTrain.spec.ts
  front/src/modules/trainschedule/helpers/pacedTrain.ts
  front/src/utils/__tests__/trainId.spec.ts
Due: front

front: remove mocked data before merge
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
Due: front

front: handle display of added exceptions
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/hooks/useOccurrences.tsx
  front/src/utils/__tests__/trainId.spec.ts
  front/src/utils/trainId.ts
Due: front

editoast: paced train exceptions sim summary response
  editoast/openapi.yaml
  editoast/src/views/timetable/paced_train.rs
  front/src/applications/operationalStudies/helpers/TrainSimulationLazyLoader.ts
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
