Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true

front: fix crash (#2748)
  front/src/applications/osrd/components/OSRDConfMap/RenderPopup.js
Due: none

core: use a library catalog (libs.versions.toml)
  core/build.gradle
  core/kt-fast-collections-annotations/build.gradle
  core/kt-fast-collections-generator/build.gradle
  core/kt-fast-collections/build.gradle
  core/kt-osrd-signaling/build.gradle
  core/kt-osrd-sim-infra/build.gradle
  core/kt-osrd-sim-interlocking/build.gradle
  core/kt-osrd-sncf-signaling/build.gradle
  core/kt-osrd-utils/build.gradle
  core/libs.versions.toml
  core/osrd-railjson/build.gradle
  core/settings.gradle
Due: core

Remove typo in `core` and `editoast` openapi description (#2747)
  api/openapi.yaml
  core/openapi.yaml
  editoast/openapi.yaml
Due: core, editoast

editoast : add get voltages by infra endpoint
  editoast/openapi.yaml
  editoast/src/views/infra/mod.rs
Due: editoast

editoast: add speed limit tags endpoint to editoast
  editoast/openapi.yaml
  editoast/src/views/infra/mod.rs
Due: editoast

core: add gradle-versions-plugin
  core/build.gradle
  core/libs.versions.toml
Due: core

Return the fastest path
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMRequest.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/utils/graph/Pathfinding.java
  core/src/main/java/fr/sncf/osrd/utils/graph/functional_interfaces/TotalDistanceUntilEdgeLocation.java
  core/src/test/java/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Due: core

api: bump dependencies
  api/poetry.lock
  api/pyproject.toml
Due: none

core: remove edge lazy evaluation
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/AllowanceManager.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/BacktrackingManager.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMEdge.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMEdgeBuilder.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/utils/graph/Pathfinding.java
Due: core

api: bump poetry
  api/Dockerfile
Due: none

core: upgrade to the latest stable versions
  core/libs.versions.toml
Due: core

editoast: bump infra version when importing infra from railjson
  editoast/src/main.rs
Due: editoast

core: railjson: refactor track ranges classes
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSRoute.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSApplicableDirectionsTrackRange.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSBiDirectionalTrackRange.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSCurve.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSDirectionalTrackRange.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSLoadingGaugeLimit.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSRange.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSSlope.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSTrackRange.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/SingleDirectionalRJSTrackRange.java
  core/src/test/java/fr/sncf/osrd/infra/InfraHelpers.java
Due: core

update the existing code of conduct
  CODE_OF_CONDUCT.md
  contributing/code_of_conduct.md
Due: none

editoast: bump dependencies
  editoast/Cargo.lock
Due: editoast

actions: fix editoast tarpaulin ci step
  .github/workflows/editoast.yml
Due: none

api: editoast: fix health endpoint to openapi
  api/openapi.yaml
  editoast/openapi.yaml
Due: editoast

api: add meta_data field in rolling stock model
  api/openapi.yaml
  api/osrd_infra/migrations/0014_rollingstock_metadata.py
  api/osrd_infra/models/rolling_stock.py
  api/osrd_infra/schemas/rolling_stock.py
  api/static/example_rolling_stock.json
  front/src/common/api/osrdApi.ts
Due: none

front: fixing linter issues on editor
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/utils.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/tool.ts
  front/src/applications/editor/tools/types.ts
Due: none

actions: cleanup and improve editoast ci
  .github/workflows/editoast.yml
Due: none

front: adding loader fill
  front/src/common/Loader.js
  front/src/common/Loader.scss
Due: none

editoast: improve get railjson endpoint code quality
  editoast/src/views/infra/railjson.rs
Due: editoast

front: editor - first implementation of the infra error modal
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsModal.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/hooks/useInfraErrors.tsx
  front/src/applications/editor/nav.ts
Due: none

editoast: fix endpoint that retrieve infra errors
  editoast/openapi.yaml
  editoast/src/views/infra/errors.rs
Due: editoast

front: display infra errors in a module with a table shape
  front/package.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/InfraErrors/InfraError.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/applications/editor/components/InfraErrors/useInfraErrors.tsx
  front/src/applications/editor/components/Modal.tsx
  front/src/applications/editor/hooks/useInfraErrors.tsx
  front/yarn.lock
Due: none

backend: embed version information
  api/Dockerfile
  api/osrd_infra/urls.py
  api/osrd_infra/views/__init__.py
  api/osrd_infra/views/infra.py
  api/osrd_infra/views/version.py
  chartos/Dockerfile
  chartos/chartos/views.py
  core/Dockerfile
  core/src/main/java/fr/sncf/osrd/api/VersionEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  docker-compose.yml
  editoast/Dockerfile
  editoast/src/views/mod.rs
  tests/tests/get_version.py
Due: core, editoast

editor: adds missing React key in InfraErrorsList
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
Due: none

front: useful type aliases (#2799)
  front/src/applications/osrd/components/Helpers/ChartHelpers.ts
  front/src/reducers/osrdsimulation/types.ts
Due: none

rebase first study
  front/src/applications/osrd/components/Simulation/SpeedSpaceChart/prepareData.ts
  front/src/reducers/osrdsimulation/types.ts
Due: none

dirty removal
  front/src/applications/osrd/components/Simulation/SpaceTimeChart/createChart.ts
  front/src/reducers/osrdsimulation/types.ts
Due: none

use alias types
  front/src/reducers/osrdsimulation/types.ts
Due: none

Solution for occupancy bounds live pass trainDetails to ts Correct routeAspect.
  front/src/applications/osrd/components/Simulation/SpaceTimeChart/createChart.ts
  front/src/applications/osrd/components/Simulation/SpeedSpaceChart/prepareData.ts
  front/src/reducers/osrdsimulation/types.ts
Due: none

Correct conslidated type
  front/src/applications/osrd/components/Simulation/drawArea.js
  front/src/applications/osrd/views/OSRDSimulation/TrainDetails.tsx
  front/src/reducers/osrdsimulation/types.ts
Due: none

tests: adapt integration tests for new routes
  tests/fuzzer/fuzzer.py
  tests/run_integration_tests.py
Due: none

core : adapt infra generator for new routes
  core/examples/generated/lib/railjson_generator/schema/infra/route.py
  core/examples/generated/lib/railjson_generator/utils/routes_generator.py
Due: core

editoast: add infra error generators handle context
  api/osrd_infra/schemas/generated.py
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/generated_data/error/detectors.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/operational_points.rs
  editoast/src/generated_data/error/routes.rs
  editoast/src/generated_data/error/signals.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/generated_data/error/sql/routes_insert_errors.sql
  editoast/src/generated_data/error/switch_types.rs
  editoast/src/generated_data/error/switches.rs
  editoast/src/generated_data/error/track_section_links.rs
  editoast/src/generated_data/error/track_sections.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/schema/errors.rs
  editoast/src/schema/route.rs
Due: editoast
