Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

core: fix stdcm compute min run time
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/test/java/fr/sncf/osrd/infra/tracks/directed/DirectedRJSParsingTests.java
Due: core

core: adapt load railjson using new routes
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSRoute.java
  core/src/main/java/fr/sncf/osrd/infra/errors/DiscontinuousRoute.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/ReservationInfraBuilder.java
  core/src/test/java/fr/sncf/osrd/infra/reservation/ReservationInfraTests.java
Due: core

core: adapt railjson scheme for new routes
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSRoute.java
  core/src/test/java/fr/sncf/osrd/infra/InfraHelpers.java
Due: core

Correct conslidated type
  front/src/applications/osrd/views/OSRDSimulation/TrainDetails.js
  front/src/reducers/osrdsimulation/types.ts
Due: none

backend: add version endpoints to openapi
  api/openapi.yaml
  chartos/openapi.yaml
  core/openapi.yaml
  editoast/openapi.yaml
Due: core, editoast

remove useless js file
  front/src/applications/osrd/views/OSRDSimulation/TrainDetails.tsx
Due: none

core : adapt infra generator for new routes
  core/examples/generated/lib/railjson_generator/schema/infra/route.py
  core/examples/generated/lib/railjson_generator/utils/routes_generator.py
Due: core

api: adapt route schema for railjson v3.1.0
  api/osrd_infra/management/commands/setup_dummy_db.py
  api/osrd_infra/migrations/0015_railjson_v3_1.py
  api/osrd_infra/schemas/infra.py
  core/examples/generated/lib/railjson_generator/schema/infra/infra.py
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  editoast/src/infra.rs
Due: core, editoast

tests: adapt integration tests for new routes
  tests/fuzzer/fuzzer.py
  tests/run_integration_tests.py
Due: none

editoast: adapt route schema and infra cache
  api/osrd_infra/models/generated.py
  api/osrd_infra/schemas/generated.py
  editoast/src/chartos/bounding_box.rs
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/generated_data/error/detectors.rs
  editoast/src/generated_data/error/graph.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/operational_points.rs
  editoast/src/generated_data/error/routes.rs
  editoast/src/generated_data/error/signals.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/generated_data/error/switch_types.rs
  editoast/src/generated_data/error/track_sections.rs
  editoast/src/generated_data/mod.rs
  editoast/src/generated_data/route.rs
  editoast/src/generated_data/sql/generate_route_layer.sql
  editoast/src/generated_data/sql/insert_route_layer.sql
  editoast/src/infra_cache/graph.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/schema/errors.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/route.rs
  editoast/src/tables.rs
  editoast/src/views/infra/mod.rs
Due: editoast

editoast: add infra error generators handle context
  api/osrd_infra/schemas/generated.py
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/generated_data/error/detectors.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/operational_points.rs
  editoast/src/generated_data/error/routes.rs
  editoast/src/generated_data/error/signals.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/generated_data/error/sql/routes_insert_errors.sql
  editoast/src/generated_data/error/switch_types.rs
  editoast/src/generated_data/error/switches.rs
  editoast/src/generated_data/error/track_section_links.rs
  editoast/src/generated_data/error/track_sections.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/schema/errors.rs
  editoast/src/schema/route.rs
Due: editoast

first study
  front/src/applications/osrd/components/Simulation/SpaceTimeChart/createTrain.ts
  front/src/applications/osrd/components/Simulation/SpeedSpaceChart/d3Helpers.js
  front/src/applications/osrd/components/Simulation/SpeedSpaceChart/prepareData.ts
  front/src/applications/osrd/components/Simulation/drawArea.js
Due: none

dirty removal
  front/src/applications/osrd/components/Simulation/SpaceTimeChart/createChart.ts
  front/src/applications/osrd/components/Simulation/SpaceTimeChart/createChartDraft.ts
  front/src/applications/osrd/components/Simulation/SpaceTimeChart/createTrain.ts
  front/src/applications/osrd/components/Simulation/consts.js
  front/src/applications/osrd/views/OSRDSimulation/TrainDetails.js
  front/src/reducers/osrdsimulation/positionValues.js
  front/src/reducers/osrdsimulation/types.ts
Due: none

Solution for occupancy bounds live
  front/src/applications/osrd/components/Simulation/SpaceTimeChart/createChart.ts
  front/src/applications/osrd/components/Simulation/SpaceTimeChart/createTrain.ts
  front/src/applications/osrd/components/Simulation/SpeedSpaceChart/prepareData.ts
  front/src/applications/osrd/components/Simulation/consts.js
  front/src/applications/osrd/views/OSRDSimulation/TrainDetails.js
  front/src/applications/osrd/views/OSRDSimulation/TrainDetails.tsx
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/positionValues.js
  front/src/reducers/osrdsimulation/types.ts
Due: none

remove commented property
  front/src/reducers/osrdsimulation/index.ts
Due: none

negative length correction
  front/src/applications/osrd/components/Simulation/drawArea.js
  front/src/applications/osrd/views/OSRDSimulation/TrainDetails.tsx
  front/src/reducers/osrdsimulation/types.ts
Due: none

correct
  front/src/applications/osrd/views/OSRDSimulation/TrainDetails.tsx
Due: none

core: add power class field to RJS rolling stock class and examples
  core/examples/rolling_stocks/fast_rolling_stock.json
  core/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  core/examples/rolling_stocks/short_fast_rolling_stock.json
  core/examples/rolling_stocks/short_slow_rolling_stock.json
  core/examples/rolling_stocks/slow_rolling_stock.json
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
Due: core

api: add power class field to rolling stocks
  api/osrd_infra/migrations/0016_rollingstock_power_class.py
  api/osrd_infra/models/rolling_stock.py
  api/osrd_infra/schemas/rolling_stock.py
  api/static/example_rolling_stock.json
Due: none

api : mark dupplicate endpoint as deprecated
  api/openapi.yaml
  editoast/openapi.yaml
Due: editoast

tests front
  front/src/applications/osrd/components/DriverTrainSchedule/DriverTrainScheduleModal.js
  front/src/utils/__tests__/physics.spec.ts
  front/src/utils/energy.ts
  front/src/utils/physics.ts
Due: none

default values
  front/src/applications/osrd/views/OSRDSimulation/TrainDetails.tsx
Due: none

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
