Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: clean "rollingstock" translation file
  front/public/locales/en/rollingstock.json
  front/public/locales/fr/rollingstock.json
  front/scripts/i18n-checker.ts
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorFormHelpers.tsx
Due: front

front: drop drivertrainschedule and missingInfo translation files
  front/public/locales/de/operationalStudies/drivertrainschedule.json
  front/public/locales/en/missingInfo.json
  front/public/locales/en/operationalStudies/drivertrainschedule.json
  front/public/locales/fr/missingInfo.json
  front/public/locales/fr/operationalStudies/drivertrainschedule.json
Due: front

front: clean "study" translation file
  front/public/locales/de/operationalStudies/study.json
  front/public/locales/en/operationalStudies/study.json
  front/public/locales/fr/operationalStudies/study.json
  front/scripts/i18n-checker.ts
Due: front

front: clean "importTimetableItem" translation file
  front/public/locales/de/operationalStudies/importTimetableItem.json
  front/public/locales/en/operationalStudies/importTimetableItem.json
  front/public/locales/fr/operationalStudies/importTimetableItem.json
  front/scripts/i18n-checker.ts
Due: front

front: clean "operationalStudies/home" translation file
  front/public/locales/de/operationalStudies/home.json
  front/public/locales/en/operationalStudies/home.json
  front/public/locales/fr/operationalStudies/home.json
  front/scripts/i18n-checker.ts
Due: front

front: drop allowances translation files
  front/public/locales/de/operationalStudies/allowances.json
  front/public/locales/de/operationalStudies/manageTrainSchedule.json
  front/public/locales/en/allowances.json
  front/public/locales/en/operationalStudies/allowances.json
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/en/stdcm.json
  front/public/locales/fr/allowances.json
  front/public/locales/fr/operationalStudies/allowances.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/stdcm.json
  front/src/modules/scenario/components/ScenarioLoaderMessage.tsx
  front/src/modules/stdcmAllowances/components/StdcmAllowances.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/ConstraintDistributionSwitch.tsx
Due: front

front: clean "project" translation file
  front/public/locales/de/operationalStudies/project.json
  front/public/locales/en/operationalStudies/project.json
  front/public/locales/fr/operationalStudies/project.json
  front/scripts/i18n-checker.ts
Due: front

core: remove unused attributes of BlockPathElement
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/DebugViewers.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/utils/BlockRecovery.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/test/kotlin/fr/sncf/osrd/utils/Helpers.kt
Due: core

front: refactoring conditions in rs editor jsx
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
Due: front

front: clean last translation files
  front/public/locales/de/common/common.json
  front/public/locales/de/common/itemTypes.json
  front/public/locales/de/common/scenarioExplorer.json
  front/public/locales/de/home/navbar.json
  front/public/locales/en/common/common.json
  front/public/locales/en/common/itemTypes.json
  front/public/locales/en/common/scenarioExplorer.json
  front/public/locales/en/home/navbar.json
  front/public/locales/fr/common/common.json
  front/public/locales/fr/common/itemTypes.json
  front/public/locales/fr/common/scenarioExplorer.json
  front/public/locales/fr/home/navbar.json
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
Due: front

front: clean "infraManagement" translation file
  front/public/locales/de/infraManagement.json
  front/public/locales/en/infraManagement.json
  front/public/locales/fr/infraManagement.json
  front/scripts/i18n-checker.ts
Due: front

front: clean "map-settings" translation file
  front/public/locales/en/map-settings.json
  front/public/locales/fr/map-settings.json
  front/scripts/i18n-checker.ts
  front/src/common/Map/Settings/MapSettings.tsx
  front/src/common/Map/Settings/MapSettingsBackgroundSwitches.tsx
  front/src/common/Map/Settings/MapSettingsLayers.tsx
  front/src/common/Map/Settings/MapSettingsSpeedLimits.tsx
Due: front

front: merge "map-search", "map-key" and "map-settings" translation files
  front/public/locales/en/map-key.json
  front/public/locales/en/map-search.json
  front/public/locales/en/map-settings.json
  front/public/locales/fr/map-key.json
  front/public/locales/fr/map-search.json
  front/public/locales/fr/map-settings.json
  front/scripts/i18n-checker.ts
  front/src/common/Map/MapKey.tsx
  front/src/common/Map/Search/MapSearch.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchOperationalPoint.tsx
  front/src/common/Map/Search/MapSearchSignal.tsx
Due: front

front: bump osrd-ui to 0.0.73
  front/package-lock.json
  front/package.json
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/utils.ts
  front/src/utils/trainId.ts
Due: front

front: fix track count display in speed limit editor
  front/src/applications/editor/tools/rangeEdition/components/TrackRangeList.tsx
Due: front

core: simu: build BlockInfo from input list of Blocks
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorV2.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  tests/tests/test_stdcm.py
Due: core

core: cleanup useless and unused code
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/utils/InfraUtils.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorV2.kt
Due: core

editoast: update light rolling stock endpoints
  editoast/openapi.yaml
  editoast/src/views/rolling_stock/light.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

front: add translation for unknown step in simulation tables
  front/public/locales/en/stdcm-simulation-report-sheet.json
  front/public/locales/fr/stdcm-simulation-report-sheet.json
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResultsTable.tsx
  front/src/modules/simulationResult/SimulationResultExport/SimulationReportSheetScenario.tsx
Due: front

core: pathfinding: add some telemetry trace spans
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/pathfinding/Pathfinding.kt
Due: core

editoast: return explicit type in endpoint response
  editoast/src/views/paced_train.rs
Due: editoast

editoast: refacto conflict endpoint
  editoast/src/core/conflict_detection.rs
  editoast/src/models/paced_train.rs
  editoast/src/views/timetable.rs
Due: editoast

front: fix effort curve crashing when array empty in rs editor
  front/src/modules/rollingStock/components/RollingStockCurve.tsx
Due: front

front: use TFunction in PictureUploader
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
Due: front

front: use react-i18next instead of plain i18next in SwitchList
  front/src/applications/editor/tools/rangeEdition/speedSection/SwitchList.tsx
Due: front

front: temporary disable the privilege check
  front/src/common/authorization/hooks/useCheckPrivileges.ts
Due: front

core: reproduce-request: exclude infra loading from time measurement
  core/src/main/java/fr/sncf/osrd/cli/ReproduceRequest.kt
Due: core

front: clean "translation" file
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/scripts/i18n-checker.ts
  front/src/common/Map/Buttons/MapButtons.tsx
Due: front

front: clean "simulation" translation file
  front/public/locales/en/simulation.json
  front/public/locales/fr/simulation.json
  front/scripts/i18n-checker.ts
Due: front

front: clean "manageTrainSchedule" translation file
  front/public/locales/de/operationalStudies/manageTrainSchedule.json
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/scripts/i18n-checker.ts
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPath.tsx
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
