Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

front: move useFormattedOperationalPoints into SimulationResultsExport
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/SimulationResultExport/SimulationResultsExport.tsx
  front/src/modules/simulationResult/hooks/useFormattedOperationalPoints.ts
Due: front

front: create exportTrainPDF function
  front/src/modules/simulationResult/SimulationResultExport/SimulationResultsExport.tsx
Due: front

front: rename simulatedTimetableItem->simulation in SimulationResultsExport
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/SimulationResultExport/SimulationResultsExport.tsx
Due: front

front: remove formattedOpPointsLoading in TimesStopsOutput
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/hooks/useFormattedOperationalPoints.ts
  front/src/modules/timesStops/TimesStopsOutput.tsx
Due: front

editoast: enhance error handling in similar_schedules::graph
  editoast/openapi.yaml
  editoast/src/views/timetable/similar_schedules.rs
  editoast/src/views/timetable/similar_schedules/graph.rs
  editoast/src/views/timetable/similar_schedules/new_schedule.rs
Due: editoast

editoast: fix clippy warnings
  editoast/src/views/timetable/similar_schedules/new_schedule.rs
  editoast/src/views/timetable/similar_schedules/past_schedule.rs
Due: editoast

core: add back PathfindingElectrificationTest and migrate to TSv2
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingElectrificationTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingSignalingTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

github: fix osrd-ui publish workflow
  .github/workflows/osrd-ui-publish.yml
  front/lerna.json
Due: front

github: fix double quotes in GitHub Actions expression
  .github/workflows/chart-publish.yml
Due: none

front: add i18n keys for SimilarSchedulesError
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Due: front

core: stdcm: split `VisitedNodes` into several files
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/visited_node_tracking/ConditionallyVisitedRange.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/visited_node_tracking/VisitedNodes.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/visited_node_tracking/VisitedRangeMap.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/VisitedNodesTests.kt
Due: core

front: remove unused i18n keys
  front/public/locales/en/stdcm.json
  front/public/locales/fr/errors.json
  front/public/locales/fr/stdcm.json
Due: front

front: avoid using an outdated updateTrainDepartureTime()
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
Due: front

ui: forbid trailing commas in jsonc files
  front/ui/.eslintrc
  front/ui/.prettierrc.json
Due: front

ui: fix autofixable storybook lint
  front/ui/storybook/stories/ui-charts/spaceTimeChart/rectangle-zoom.stories.tsx
  front/ui/storybook/stories/ui-charts/trackOccupancyDiagram/assets/occupancyZones.ts
  front/ui/storybook/stories/ui-core/Checkbox.stories.tsx
  front/ui/storybook/stories/ui-core/CheckboxTree.stories.tsx
  front/ui/storybook/stories/ui-core/ComboBox.stories.tsx
  front/ui/storybook/stories/ui-core/ComboBoxCustom.stories.tsx
  front/ui/storybook/stories/ui-core/DatePicker.stories.tsx
  front/ui/storybook/stories/ui-core/PasswordInput.stories.tsx
  front/ui/storybook/stories/ui-core/RadioButton.stories.tsx
  front/ui/storybook/stories/ui-core/RadioGroup.stories.tsx
  front/ui/storybook/stories/ui-core/Select.stories.tsx
  front/ui/storybook/stories/ui-core/Slider.stories.tsx
  front/ui/storybook/stories/ui-core/TextArea.stories.tsx
  front/ui/storybook/stories/ui-core/TimePicker.stories.tsx
  front/ui/storybook/stories/ui-core/TokenInput.stories.tsx
  front/ui/storybook/stories/ui-core/TolerancePicker.stories.tsx
  front/ui/storybook/stories/ui-icons/Icons.stories.tsx
  front/ui/storybook/stories/ui-icons/SearchIcons.tsx
  front/ui/storybook/stories/ui-warped-map/Algorithms.stories.ts
  front/ui/storybook/stories/ui-warped-map/Algorithms.tsx
  front/ui/storybook/stories/ui-warped-map/SampleMap.tsx
Due: front

ui: allow the build to complete with watch with warnings/errors
  front/ui/rollup-base.config.js
Due: front

editoast: enhance error handling in `similar_schedules::graph`
  editoast/openapi.yaml
  editoast/src/views/timetable/similar_schedules.rs
  editoast/src/views/timetable/similar_schedules/graph.rs
  editoast/src/views/timetable/similar_schedules/new_schedule.rs
  editoast/src/views/timetable/similar_schedules/past_schedule.rs
  front/public/locales/en/errors.json
  front/public/locales/en/stdcm.json
  front/public/locales/fr/errors.json
  front/public/locales/fr/stdcm.json
Due: editoast, front

front: hide conflict list by default and add number of conflicts indicator
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/v2/components/ScenarioHeader.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
Due: front

ui: update org in package.json repository URL
  front/ui/ui-charts/package.json
  front/ui/ui-core/package.json
  front/ui/ui-icons/package.json
  front/ui/ui-warped-map/package.json
Due: front

editoast: add optional infra_id, timetable_id to similar schedules
  editoast/openapi.yaml
  editoast/src/views/timetable/similar_schedules.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

front: stdcm page scrolls only when simulation is successful
  front/src/applications/stdcm/components/StdcmWarningBox.tsx
  front/src/applications/stdcm/views/StdcmView.tsx
Due: front

front: add scenario page synchronization e2e test
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/ErrorBoundary.tsx
  front/src/modules/project/components/DeleteItemsModal.tsx
  front/src/modules/scenario/components/ScenarioCard.tsx
  front/tests/017-paced-train-manegement.spec.ts
  front/tests/019-scenario-page-synchronization.spec.ts
  front/tests/pages/common-page.ts
  front/tests/pages/operational-studies/operational-studies-page.ts
  front/tests/pages/operational-studies/paced-train-section.ts
  front/tests/pages/operational-studies/scenario-timetable-section.ts
  front/tests/pages/operational-studies/study-page.ts
Due: front

front: drop departureTime from SpeedSpaceChartData
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/applications/stdcm/utils/stdcmComputeChartData.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/useSpeedSpaceChart.ts
  front/src/modules/simulationResult/types.ts
Due: front

front: drop pathLength property in useSimulationResults response
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
Due: front

front: make infraId not nullable in SimulationResults
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/useGetProjectedTrainOperationalPoints.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useProjectedConflicts.ts
Due: front

front: make formatPowerRestrictionRangesWithHandled props more flexible
  front/src/modules/powerRestriction/helpers/formatPowerRestrictionRangesWithHandled.ts
Due: front

front: simplify simulationResults returned object
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Due: front

front: remove timetable_id from TimetableItem
  front/src/applications/operationalStudies/__tests__/sampleData.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/applications/stdcm/hooks/useProjectedTrainsForStdcm.ts
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/CreateTimetableItemButton.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableToolbar.tsx
  front/src/modules/trainschedule/components/Timetable/TrainScheduleItem.tsx
  front/src/modules/trainschedule/helpers/updateTimetableItemHelpers.ts
  front/src/reducers/osrdconf/types.ts
  front/src/utils/trainId.ts
Due: front

front: introduce new type TrainInputs
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/SimulationResultExport/SimulationResultsExport.tsx
  front/src/modules/simulationResult/SimulationResultExport/exportTrainCSV.ts
  front/src/modules/simulationResult/SimulationResultExport/utils.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/useSpeedSpaceChart.ts
  front/src/modules/simulationResult/hooks/useFormattedOperationalPoints.ts
  front/src/modules/timesStops/TimesStopsOutput.tsx
  front/src/modules/timesStops/helpers/computeMargins.ts
  front/src/modules/timesStops/hooks/useOutputTableData.ts
  front/src/reducers/osrdconf/types.ts
Due: front

front: fix occurrence name width
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
Due: front

front: fix occurrence name width The width of the occurrence rolling stock image was unnecessarily large compared to the occurrence name
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
Due: front
