Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

parsers:
  jacoco:
    partials_as_hits: true

front: refacto test project-creation
  front/tests/002-project-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/pages/project-page-model.tsx
Due: front

front: refacto test study-creation
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/pages/project-page-model.tsx
  front/tests/pages/study-page-model.tsx
Due: front

front: operationnal studies creation workflow tested
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/BootstrapSNCF/ChipsSNCF.tsx
  front/tests/0-project-creation.spec.ts
  front/tests/1-study-creation.spec.ts
  front/tests/2-scenario-creation.spec.ts
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/pages/project-page-model.tsx
  front/tests/pages/study-page-model.tsx
Due: front

front: rename file for tests workflow
  front/playwright.config.ts
  front/tests/001-home-page.spec.ts
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/pages/project-page-model.tsx
  front/tests/pages/study-page-model.tsx
Due: front

core: fix nullPointerException on an infra withoutdetectors
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/DetectionSectionBuilder.java
  core/src/test/java/fr/sncf/osrd/infra/reservation/DetectionSectionBuilderTests.java
  python/railjson_generator/railjson_generator/scripts/examples/circle_infra.py
Due: core

front: block simulations results
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/en/simulation.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfAddTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfUpdateTrainSchedules.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConfUpdateTrainSchedules.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/trainsDurationsIntervals.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableManageTrainSchedule.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsHelpers.jsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/reducers/osrdsimulation/actions.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/simulation.js
  front/src/reducers/osrdsimulation/types.ts
Due: front

editoast: add information to simulation results
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

front: move infra loader style in scenario
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/common/components/_pathfinding.scss
Due: front

tests: adapt timetable tests
  tests/tests/test_timetable.py
Due: none

front: block stdcm when infra is loading
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
Due: front

core: require infra to be load for simulation
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
Due: core

core: fix nullPointerException on an infra withoutdetectors
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/DetectionSectionBuilder.java
  python/railjson_generator/railjson_generator/scripts/examples/circle_infra.py
Due: core

front: rollingstockeditor: Add curves edition in RollingStock editor
  front/package.json
  front/public/locales/en/rollingStockEditor.json
  front/public/locales/en/rollingstock.json
  front/public/locales/en/translation.json
  front/public/locales/fr/home/home.json
  front/public/locales/fr/rollingStockEditor.json
  front/public/locales/fr/rollingstock.json
  front/public/locales/fr/translation.json
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCurves.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormModal.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/applications/rollingStockEditor/json/RollingStockBaseOpenapiSchema.json
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/assets/defaultRSImages/blue_train.png
  front/src/assets/pictures/blue_train.svg.REMOVED.git-id
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
  front/src/common/RollingStockSelector/RollingStockCardDetail.tsx
  front/src/common/RollingStockSelector/RollingStockCurves.jsx
  front/src/common/RollingStockSelector/RollingStockCurves.tsx
  front/src/common/RollingStockSelector/SearchRollingStock.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/src/utils/strings.ts
  front/yarn.lock
Due: front

front: refacto test scenario-creation
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/common-page-model.ts
  front/tests/pages/common-page-model.ts
  front/tests/pages/project-page-model.tsx
  front/tests/pages/scenario-page-model.ts
  front/tests/pages/study-page-model.tsx
  front/tests/rollingstock-modal-model.ts
  front/tests/scenario-page-model.ts
Due: front

front: add test delete project
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-project-delete.spec.ts
  front/tests/pages/project-page-model.ts
  front/tests/pages/scenario-page-model.ts
  front/tests/pages/study-page-model.ts
Due: front

core: store dead_sections as rangemap and not rangeset
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Electrification.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Neutral.java
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/DeadSection.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingElectrificationTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraintsTest.java
Due: core

core: first sim of dead_sections + add to sim result
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationConditionsRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/PowerRestrictionRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/StandaloneSimResult.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Due: core

editoast + api: add dead_sections_on_path to sim results
  editoast/openapi.yaml
  editoast/src/core/simulation.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0038_update_simulationoutput.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
Due: editoast, front

front: bpcc displayed in gev chart
  editoast/openapi.yaml
  front/public/locales/en/simulation.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawElectricalProfile.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawPowerRestriction.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/types.ts
  front/tests/assets/operationStudies/train.json
  front/tests/assets/operationStudies/trainExample.ts
Due: editoast, front

front: project, study, scenario: pagesize to 1000 (missing)
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
Due: front

front: allowances: remove capacity_speed_limit not needed
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

front: scenario & traindriverschedule css fixes
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
  front/src/styles/scss/applications/operationalStudies/components/_driverTrainSchedule.scss
Due: front
