Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true

Fix grid margins
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMRequest.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/UnavailableSpaceBuilder.java
  core/src/test/java/fr/sncf/osrd/stdcm/UnavailableSpaceBuilderTests.java
Due: core

use static initialiser for errors hashmap
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
Due: core

codeowners: update with new groups
  .github/CODEOWNERS
Due: none

api: docker: update base image version
  api/Dockerfile
Due: none

editoast: move to rust stable version
  .github/workflows/editoast.yml
  editoast/Dockerfile
  editoast/README.md
Due: editoast

codecov: add config
  codecov.yml
Due: none

simplify issue templates
  .github/ISSUE_TEMPLATE/enabler.md
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/improvement.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

core: tests: stdcm: split tests into several new files
  core/src/test/java/fr/sncf/osrd/stdcm/BacktrackingTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Due: core

editoast: add filters (level, error_type and object_id) to list_errors endpoint
  editoast/openapi.yaml
  editoast/src/schema/errors.rs
  editoast/src/schema/mod.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
Due: editoast

core: stdcm: fix typo that sometimes caused duplicate routes
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMPathfinding.java
Due: core

editoast: fix db connections pool size
  editoast/README.md
  editoast/src/client/postgres_config.rs
  editoast/src/main.rs
  editoast/src/schema/signal.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/mod.rs
Due: editoast

root: remove trash file
  yarn.lock
Due: none

tests: fuzzer: distribute the scheduled trains over a whole day
  tests/fuzzer/fuzzer.py
Due: none

core: tests: stdcm: add builder for optional parameters
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Due: core

front: dts: fix time display
  front/src/applications/osrd/components/DriverTrainSchedule/DriverTrainSchedule.scss
  front/src/applications/osrd/components/DriverTrainSchedule/DriverTrainScheduleHelpers.js
  front/src/applications/osrd/views/OSRDSimulation/DriverTrainSchedule.js
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.scss
Due: none

api: schema: add electric profile schema
  api/osrd_infra/schemas/infra.py
  api/osrd_infra/schemas/physical_approximations.py
Due: none

core: fix ArenaMap warning
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/ArenaMap.kt
Due: core

api: add electric profile list model
  api/osrd_infra/admin.py
  api/osrd_infra/migrations/0011_electricprofileslist.py
  api/osrd_infra/models/__init__.py
  api/osrd_infra/models/physical_approximations.py
  api/osrd_infra/schemas/physical_approximations.py
Due: none

core: implement MutableList.clone
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/Interfaces.kt
Due: core

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Due: editoast

api: remove enums for electrical profiles and rename
  api/osrd_infra/admin.py
  api/osrd_infra/migrations/0011_electricalprofilesset.py
  api/osrd_infra/models/physical_approximations.py
  api/osrd_infra/schemas/physical_approximations.py
Due: none

better issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/development_task.yaml
  .github/ISSUE_TEMPLATE/enabler.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.yaml
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

editor: removes edition zone
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/nav.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.ts
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/editor/tools/types.ts
Due: none

editor: removes edition zone
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/nav.ts
  front/src/applications/editor/tools/list.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.ts
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/tool.ts
  front/src/applications/editor/tools/types.ts
  front/src/applications/editor/tools/zoneSelection/components.tsx
  front/src/applications/editor/tools/zoneSelection/tool.ts
  front/src/applications/editor/tools/zoneSelection/types.ts
  front/src/common/Map/Layers/EditorZone.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/const.ts
  front/src/reducers/editor.ts
Due: none

editor: removes edition zone
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.ts
  front/src/applications/editor/tools/selection/types.ts
  front/src/applications/editor/tools/switchEdition/utils.ts
  front/src/applications/editor/tools/types.ts
Due: none

editor: removes edition zone
  front/src/applications/editor/Map.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
Due: none

editor: removes edition zone
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.ts
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/tool.ts
  front/src/applications/editor/tools/trackEdition/types.ts
  front/src/applications/editor/tools/types.ts
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/utils/mapboxHelper.ts
Due: none

editor: removes edition zone
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/editor/tools/switchEdition/types.ts
  front/src/applications/editor/tools/switchEdition/utils.ts
  front/src/applications/editor/tools/types.ts
Due: none

editoast : update openapi
  editoast/openapi.yaml
Due: editoast

api: fix tests database setup
  api/config/settings.py
  init_db.sql
Due: none

front: some linter fixes
  front/src/applications/editor/components/LinearMetadata/FormLineStringLength.tsx
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/opendata/views/OpenDataImportConfig.js
  front/src/applications/osrd/consts.ts
  front/src/common/BootstrapSNCF/InputGroupSNCF.js
  front/src/reducers/osrdconf/index.ts
  front/src/utils/helpers.js
Due: none

actions: fix editoast ci (uses wrong cache key)
  .github/workflows/editoast.yml
Due: none

front: editor - fixing angle computation on getNearestPoint #2518
  front/src/utils/mapboxHelper.ts
Due: none

front: editor - fixing distance computation on signal creation by getting the traksection with the API #2518
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/pointEdition/types.ts
Due: none

api: add electrical profile to curve conditions
  api/osrd_infra/migrations/0012_alter_rollingstock_effort_curves.py
  api/osrd_infra/models/rolling_stock.py
  api/osrd_infra/schemas/rolling_stock.py
Due: none

editoast : add created and modified column to an infra
  api/openapi.yaml
  api/osrd_infra/migrations/0010_trainschedulemodel_comfort.py
  api/osrd_infra/migrations/0012_infra_created_infra_updated.py
  api/osrd_infra/models/infra.py
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/infra.rs
  editoast/src/main.rs
  editoast/src/tables.rs
  editoast/src/views/infra/edition.rs
Due: editoast

editor: removes edition zone
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/types.ts
Due: none

editoast: add import railjson by id
  api/openapi.yaml
  api/osrd_infra/migrations/0013_infra_created_infra_modified.py
  editoast/openapi.yaml
  editoast/src/schema/railjson.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/sql/get_infra_no_ext.sql
  editoast/src/views/infra/sql/get_infra_with_ext.sql
Due: editoast
