Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: add checks and error handling for round trips
  editoast/openapi.yaml
  editoast/src/views/round_trips.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Due: editoast, front

front: fix a composition-code typo on filters
  front/src/applications/stdcm/consts.ts
Due: front

editoast: concatenated pagination
  editoast/src/views/pagination.rs
Due: editoast

editoast: add paginated requirements endpoint
  editoast/core_client/src/conflict_detection.rs
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  editoast/src/views/pagination.rs
  editoast/src/views/timetable.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

github: bump private packages dependencies when releasing osrd-ui
  .github/workflows/osrd-ui-publish.yml
Due: none

editoast: authz: remove test ensentially testing OpenFGA client
  editoast/authz/src/authorizer.rs
Due: editoast

editoast: authz: improve testing utilities
  editoast/authz/src/authorizer.rs
  editoast/authz/src/lib.rs
  editoast/authz/src/model.rs
Due: editoast

editoast: authz: prevent the last owner from being demoted or revoked
  editoast/authz/src/lib.rs
  editoast/authz/src/regulator.rs
Due: editoast

editoast: authz: remove tests that were split and moved in regulator
  editoast/authz/src/authorizer.rs
Due: editoast

editoast: use clap to read OSRD_VERSION and remove get_app_version
  editoast/src/client/infra_commands.rs
  editoast/src/client/mod.rs
  editoast/src/client/runserver.rs
  editoast/src/main.rs
  editoast/src/map/layer_cache.rs
  editoast/src/map/mod.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/layers.rs
  editoast/src/views/mod.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/projection.rs
  editoast/src/views/test_app.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/occupancy_blocks.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/similar_trains.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

github: add a filter to the ui website deployment
  .github/workflows/osrd-ui-website.yml
Due: none

editoast: ignore disabled occurrences in conflict detection
  editoast/src/models/paced_train.rs
Due: editoast

flake: add fga cli and update lock
  flake.lock
  flake.nix
Due: none

front: drop dateToHHMMSS() calls with withoutSeconds enabled
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmSimulationReportSheet.tsx
  front/src/applications/stdcm/utils/checkStdcmConfigErrors.ts
  front/src/applications/stdcm/utils/index.ts
  front/src/modules/SimulationReportSheet/SimulationReportSheet.tsx
  front/src/modules/SimulationReportSheet/utils/formatSimulationReportSheet.ts
  front/src/modules/SimulationReportSheet/utils/formatSimulationTable.ts
Due: front

front: drop dateToHHMMSS()
  front/src/utils/date.ts
  front/src/utils/timeManipulation.ts
Due: front

front: drop dateToHHMMSS() calls from output table
  front/src/modules/timesStops/helpers/__tests__/scheduleData.spec.ts
  front/src/modules/timesStops/helpers/scheduleData.ts
  front/src/modules/timesStops/hooks/useOutputTableData.ts
Due: front

front: replace dateToHHMMSS() with formatLocalTime() where appropriate
  front/src/modules/simulationResult/SimulationResultExport/exportTrainCSV.ts
  front/src/modules/timesStops/helpers/arrivalTime.ts
Due: front

front: drop options from secToHoursString()
  front/src/modules/timesStops/helpers/utils.ts
  front/src/utils/timeManipulation.ts
Due: front

front: fix bg color for no category
  front/src/modules/timetableItem/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
  front/src/modules/timetableItem/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/timetableItem/components/Timetable/utils.ts
Due: front

front: handle subcategory color in conflict list
  front/src/modules/conflict/components/ConflictCard.tsx
Due: front

front: prevent false positives in to fast by aligning checks with margin logic
  front/src/applications/operationalStudies/utils.ts
Due: front

editoast: fetch lock file since it was out of sync
  editoast/Cargo.lock
Due: editoast

editoast: update lock file
  editoast/Cargo.lock
Due: editoast

front: use context for subcategories
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/applications/operationalStudies/views/ManageTimetableItem.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/common/SubCategoryContext.tsx
  front/src/modules/conflict/components/ConflictCard.tsx
  front/src/modules/rollingStock/hooks/useCategoryOptions.ts
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/timetableItem/components/Timetable/RoundTrips/RoundTripsModal.tsx
  front/src/modules/timetableItem/components/Timetable/Timetable.tsx
Due: front

editoast: fix clippy warnings
  editoast/fga/src/client/tuples.rs
  editoast/src/views/timetable/similar_trains/graph.rs
Due: editoast

front: fix train list column width change in occurrence edit mode
  front/src/modules/timetableItem/components/ManageTimetableItem/TimetableManageItem.tsx
  front/src/styles/scss/applications/operationalStudies/_scenarioV2.scss
Due: front

editoast: docker: bump rust version to 1.89
  editoast/Dockerfile
Due: editoast

osrdyne: docker: bump rust version to 1.89
  osrdyne/Dockerfile
Due: none

gateway: docker: bump rust version to 1.89
  gateway/Dockerfile
Due: gateway
