Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

railjson_generator: update the justfile to the latest tools
  python/railjson_generator/justfile
Due: none

core: stop filtering duplicate tracks during exploration
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/AppendOnlySet.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/BloomFilter.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/IncompatibleConstraintsPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
Due: core

editoast: resolve doc_overindented_list_items warning
  editoast/editoast_derive/src/lib.rs
  editoast/editoast_search/src/searchast.rs
  editoast/fga/src/lib.rs
  editoast/src/models/prelude/update.rs
  editoast/src/views/search.rs
Due: editoast

front: adapt e2e tests for delete paced train
  front/tests/pages/operational-studies/paced-train-section.ts
Due: front

front: add pop up confirmation for delete paced train
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
Due: front

front: fix effort curve crashing when array empty in rs editor
  front/src/modules/rollingStock/components/RollingStockCurve.tsx
Due: front

front: fix infra json file input not accepting same file twice in chrome
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyEdition.tsx
Due: front

editoast: authz endpoint
  docker-compose.yml
  editoast/editoast_authz/src/authorizer.rs
  editoast/editoast_authz/src/lib.rs
  editoast/editoast_authz/src/model.rs
  editoast/editoast_authz/src/regulator.rs
  editoast/openapi.yaml
  editoast/src/models/auth_driver.rs
  editoast/src/views/authz.rs
  editoast/src/views/test_app.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/generatedEditoastApi.ts
  front/src/utils/hooks/useAuth.ts
Due: editoast, front

editoast: replace core::SimulationResponse with appropriate type
  editoast/src/core/simulation.rs
  editoast/src/views/mod.rs
  editoast/src/views/projection.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/failure_handler.rs
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

front: add build and test directories to tsconfig exclude
  front/tsconfig.json
Due: front

front: refacto occurrence types for exceptions
  front/src/applications/operationalStudies/hooks/useAutoUpdateProjection.ts
  front/src/modules/trainschedule/components/Timetable/types.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/operationalStudiesConfReducer.spec.ts
  front/src/reducers/osrdconf/types.ts
  front/src/utils/__tests__/batch.spec.ts
  front/src/utils/__tests__/trainId.spec.ts
  front/src/utils/trainId.ts
Due: front

editoast: rename views::projects to view::project for consistency
  editoast/src/models/projects.rs
  editoast/src/views/mod.rs
  editoast/src/views/project.rs
  editoast/src/views/scenario.rs
  editoast/src/views/scenario/macro_nodes.rs
  editoast/src/views/study.rs
Due: editoast

editoast: rename models::projects to models::project
  editoast/src/models/mod.rs
  editoast/src/models/project.rs
  editoast/src/views/project.rs
  editoast/src/views/study.rs
Due: editoast

front: ensure user login btn visible in all screen sizes
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
Due: front

front: avoid blinking with example DTO when launching NGE
  front/src/applications/operationalStudies/components/NGE/NGE.tsx
  front/src/applications/operationalStudies/components/NGE/consts.ts
Due: front

editoast: rename core::simulation::SimulationResponse to Response
  editoast/src/core/simulation.rs
  editoast/src/core/stdcm.rs
  editoast/src/views/stdcm_logs.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/stdcm.rs
Due: editoast

editoast: rename core::simulation::SimulationRequest to Request
  editoast/src/core/simulation.rs
  editoast/src/views/timetable/simulation.rs
Due: editoast

editoast: remove InternalError from core::simulation::Response
  editoast/src/core/simulation.rs
  editoast/src/views/timetable/simulation.rs
Due: editoast

editoast: rename SimulationSummaryResult to SummaryResponse
  editoast/src/views/mod.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

front: drop formatTrainSchedulePayload()
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTrainSchedulePayload.ts
Due: front

front: use formatTimetableItemPayload() in AddTrainScheduleButton
  front/src/modules/trainschedule/components/ManageTrainSchedule/AddTrainScheduleButton.tsx
Due: front

front: use formatTimetableItemPayload() in useUpdateTimetableItem()
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTimetableItem.ts
Due: front

front: drop ValidConfig
  front/src/modules/trainschedule/components/ManageTrainSchedule/AddTrainScheduleButton.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/checkCurrentConfig.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTimetableItemPayload.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTimetableItem.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/types.ts
Due: front

editoast: replace StandardCoreError with RawError
  editoast/src/core/mod.rs
  editoast/src/error.rs
Due: editoast

front: add padding right to infralist items
  front/src/modules/infra/styles/_infraSelector.scss
Due: front

front: drop startTime parameter from updateDaySinceDeparture()
  front/src/modules/timesStops/TimesStopsInput.tsx
  front/src/modules/timesStops/helpers/__tests__/utils.spec.ts
  front/src/modules/timesStops/helpers/utils.ts
Due: front

front: drop datetime2sec()
  front/src/utils/timeManipulation.ts
Due: front

front: drop sec2datetime()
  front/src/utils/timeManipulation.ts
Due: front
