Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

front: stop selecting by default first occurrence instead of train
  front/src/applications/operationalStudies/hooks/useAutoSelectTrainIds.ts
Due: front

front: select edited train on update
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/ManageTimetableItemLeftPanel.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/hooks/useUpdateTimetableItem.ts
Due: front

front: useautoselecttrainids: extract train id presence check to function
  front/src/applications/operationalStudies/hooks/useAutoSelectTrainIds.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
Due: front

front: useautoselecttrainids: check occurrence exists not just base train
  front/src/applications/operationalStudies/hooks/useAutoSelectTrainIds.ts
  front/src/modules/timetableItem/helpers/__tests__/pacedTrain.spec.ts
  front/src/modules/timetableItem/helpers/pacedTrain.ts
  front/src/utils/__tests__/trainId.spec.ts
  front/src/utils/trainId.ts
Due: front

front: useautoselecttrainids: only reset projected id if invalid
  front/src/applications/operationalStudies/hooks/useAutoSelectTrainIds.ts
Due: front

front: show error message on train name if empty
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/ItineraryModalFormHeader.tsx
Due: front

front: fix crash when closing-reopening scenario with a projected occurence
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
  front/src/modules/timetableItem/helpers/pacedTrain.ts
Due: front

ci: allow uppercase in submodule names in commit titles
  .github/scripts/check-commit-titles.sh
Due: none

front: introduce mocking framework for osrdEditoastApi
  front/src/common/api/__mocks__/osrdEditoastApi.ts
Due: front

front: use proper InfraObjectWithGeometry values in useCachedTrackSections() test
  front/src/applications/operationalStudies/hooks/__tests__/useCachedTrackSections.spec.ts
Due: front

front: allow devDependencies from __mocks__
  front/eslint.config.js
Due: front

front: silence output for successful tests
  front/vite.config.ts
Due: front

front: add renderHookWithStore() helper for tests
  front/src/store/__tests__/index.tsx
  front/src/store/index.ts
Due: front

front: mock osrdEditoastApi by default for all tests
  front/eslint.config.js
  front/src/common/api/__mocks__/osrdEditoastApi.ts
  front/vite.config.ts
  front/vitest.setup.ts
Due: front

front: refactor times-stops cell update helpers
  front/src/modules/timesStops/TimesStopsOutput.tsx
  front/src/modules/timesStops/helpers/cellUpdate.ts
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
Due: front

front: add power restriction column to new times & stops table
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
  front/src/modules/timesStops/TimesStopsOutput.tsx
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/src/modules/timesStops/helpers/cellUpdate.ts
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
  front/src/modules/timesStops/styles/_timesStopsTable.scss
  front/src/modules/timesStops/types.ts
Due: front

editoast: adapt train schedule get path endpoint to use exceptions table (#15690)
  editoast/openapi.yaml
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/train_schedule.rs
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
  tests/tests/test_paced_train.py
Due: editoast, front

editoast: add occurrences utilities functions (#15741)
  editoast/openapi.yaml
  editoast/schemas/src/train_schedule_exception.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/train_schedule.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/conflict/__tests__/utils.spec.ts
Due: editoast, front

front: create exception when train is duplicate
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/CreateTimetableItemButton.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/__tests__/formatTimetableItemPayload.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/formatTimetableItemPayload.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrences.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainList.tsx
  front/src/modules/timetableItem/types.ts
  front/src/utils/trainId.ts
Due: front

editoast: adapt conflicts endpoint (#15689)
  editoast/src/views/timetable.rs
  tests/tests/test_timetable.py
Due: editoast

editoast: adapt paced train simulation summary (#15591)
  editoast/openapi.yaml
  editoast/src/views/timetable/train_schedule.rs
  front/src/applications/operationalStudies/helpers/TrainSimulationLazyLoader.ts
  front/src/applications/operationalStudies/hooks/useLazySimulateTrains.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioContent.tsx
  front/src/applications/stdcm/hooks/useLinkedTrainSearch.ts
  front/src/applications/stdcm/hooks/useProjectedTrainsForStdcm.ts
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: adapt get train schedules exceptions (#15502)
  editoast/editoast_models/src/train_schedule_exception.rs
  editoast/openapi.yaml
  editoast/schemas/src/fixtures.rs
  editoast/schemas/src/paced_train.rs
  editoast/src/models/fixtures.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/train_schedule.rs
  editoast/src/views/train_schedule_set.rs
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrences.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdRailwayManagerApi.ts
  front/src/modules/timetableItem/types.ts
  railway_manager_interface/osrd_railway_manager_interface/models.py
Due: editoast, front

editost: adapt track_occupancy endpoint with new exceptions (#15793)
  editoast/openapi.yaml
  editoast/src/views/timetable/train_schedule.rs
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdRailwayManagerApi.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useTrackOccupancy.ts
Due: editoast, front

editoast: adapt project path endpoint
  editoast/openapi.yaml
  editoast/src/views/projection.rs
  editoast/src/views/timetable/train_schedule.rs
  front/src/applications/operationalStudies/helpers/TrainProjectionLazyLoaderAbstract.ts
  front/src/applications/operationalStudies/helpers/TrainTrackProjectionLazyLoader.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/stdcm/hooks/useProjectedTrainsForStdcm.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useLazyProjectTrains.ts
  tests/tests/test_timetable.py
Due: editoast, front

editoast: add apply_train_schedule_exception (#15688)
  editoast/src/models/fixtures.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/train_schedule_exceptions.rs
Due: editoast

front: adapt timetable import (#15604)
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/generatePayloads.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/postPayloads.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/useImportTimetableItems.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TimetableBoardWrapper.tsx
  front/src/modules/timetableItem/helpers/updateTimetableItemHelpers.ts
Due: front

front: fix invalidatesTags error
  front/src/common/api/osrdEditoastApi.ts
Due: front

front: use create exceptions endpoint for added exception
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/CreateTimetableItemButton.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/__tests__/formatTimetableItemPayload.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/formatTimetableItemPayload.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/hooks/useUpdateTimetableItem.ts
  front/src/modules/timetableItem/helpers/updateTimetableItemHelpers.ts
Due: front

front: invalidate rtk cache on exception creation
  front/src/common/api/osrdEditoastApi.ts
Due: front

editoast: adapt simulation endpoint with new exceptions (#15695)
  editoast/openapi.yaml
  editoast/src/views/timetable/train_schedule.rs
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
  tests/tests/test_paced_train.py
Due: editoast, front

editoast: adapt etcs braking curves endpoint (#15796)
  editoast/openapi.yaml
  editoast/src/views/timetable/train_schedule.rs
  front/src/applications/operationalStudies/hooks/useEtcsBrakingCurves.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

editoast: retrieve exceptions by ids and timetable utility function (#15797)
  editoast/editoast_models/src/train_schedule_exception.rs
Due: editoast

editoast: cleanup train schedule occurrences utilities (#16121)
  editoast/src/models/train_schedule.rs
  editoast/src/views/level_crossing_occupancy.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/train_schedule.rs
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/__tests__/generatePacedTrainException.spec.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useTrackOccupancy.ts
Due: editoast, front

editoast: adapt project path op endpoint
  editoast/openapi.yaml
  editoast/src/views/projection.rs
  editoast/src/views/timetable/train_schedule.rs
  front/src/applications/operationalStudies/helpers/TrainOpProjectionLazyLoader.ts
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

tests: fix integration tests
  tests/tests/test_paced_train.py
Due: none

editoast: adapt requirements endpoin to new exception model
  editoast/src/views/timetable.rs
Due: editoast

editoast: check train schedule exception occurrence index (#16149)
  editoast/openapi.yaml
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable/train_schedule_exceptions.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Due: editoast, front

front: use local state instead of API call in useSelectedTimetableItem (#16118)
  front/src/applications/operationalStudies/hooks/useEtcsBrakingCurves.ts
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
  front/src/modules/timetableItem/hooks/useSelectedTimetableItem.tsx
Due: front

editoast: adapt level crossing occupancy endpoint with new exceptions (#15930)
  editoast/openapi.yaml
  editoast/src/models/train_schedule.rs
  editoast/src/views/level_crossing_occupancy.rs
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/simulationResult/components/Chronogram/ChronogramWrapper.tsx
  front/src/modules/simulationResult/components/Chronogram/useLevelCrossingsWithChronogram.ts
Due: editoast, front

editoast: adapt occupancy blocks endpoint (#15765)
  editoast/openapi.yaml
  editoast/src/views/timetable/occupancy_blocks.rs
  editoast/src/views/timetable/train_schedule.rs
  front/src/applications/operationalStudies/helpers/TrainOpProjectionLazyLoader.ts
  front/src/applications/operationalStudies/helpers/TrainTrackProjectionLazyLoader.ts
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front
