Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

ui-charts: isolate TimeCaptions and TimeGraduations layers
  front/ui/ui-charts/src/common/layers/TimeCaptions.tsx
  front/ui/ui-charts/src/common/layers/TimeGraduations.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/SpaceTimeChart.tsx
Due: front

ui-charts: organizing hooks in a dedicated folder
  front/ui/ui-charts/src/common/hooks/useCanvas.ts
  front/ui/ui-charts/src/common/hooks/useDevicePixelRatio.ts
  front/ui/ui-charts/src/common/hooks/useSize.ts
  front/ui/ui-charts/src/common/layers/TimeCaptions.tsx
  front/ui/ui-charts/src/common/layers/TimeGraduations.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/ConflictLayer.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/OccupancyBlockLayer.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/PathLayer.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/PatternRect.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/Quadrilateral.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/SpaceGraduations.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/SpaceTimeChart.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/ZoomRect.tsx
  front/ui/ui-charts/src/trackOccupancyDiagram/components/layers/OccupancyZonesLayer.tsx
  front/ui/ui-charts/src/trackOccupancyDiagram/components/layers/TracksLayer.tsx
Due: front

ui-charts: isolate time related helpers and types
  front/ui/ui-charts/src/common/consts.ts
  front/ui/ui-charts/src/common/helpers/utils.ts
  front/ui/ui-charts/src/common/index.ts
  front/ui/ui-charts/src/common/layers/TimeCaptions.tsx
  front/ui/ui-charts/src/common/layers/TimeGraduations.tsx
  front/ui/ui-charts/src/common/types.ts
  front/ui/ui-charts/src/manchette/hooks/useManchetteWithSpaceTimeChart.tsx
  front/ui/ui-charts/src/spaceTimeChart/__tests__/canvas.spec.ts
  front/ui/ui-charts/src/spaceTimeChart/components/PathLayer.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/SpaceGraduations.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/SpaceTimeChart.tsx
  front/ui/ui-charts/src/spaceTimeChart/index.ts
  front/ui/ui-charts/src/spaceTimeChart/lib/consts.ts
  front/ui/ui-charts/src/spaceTimeChart/lib/types.ts
  front/ui/ui-charts/src/spaceTimeChart/utils/__tests__/canvas.spec.ts
  front/ui/ui-charts/src/spaceTimeChart/utils/canvas.ts
  front/ui/ui-charts/src/spaceTimeChart/utils/scales.ts
  front/ui/ui-charts/src/trackOccupancyDiagram/components/TrackOccupancyStandalone.tsx
  front/ui/ui-charts/src/trackOccupancyDiagram/components/helpers/drawElements/drawOccupancyZones.ts
  front/ui/ui-charts/src/trackOccupancyDiagram/components/helpers/drawElements/drawTracks.ts
Due: front

docker-compose: fix osrdyne host config
  docker/docker-compose.host.yml
Due: none

editoast: add track_offset() method to LevelCrossing schema
  editoast/schemas/src/infra/level_crossing.rs
Due: editoast

editoast: move interpolate_arrival_time() from track_occupancy to projection
  editoast/src/views/projection.rs
  editoast/src/views/timetable/track_occupancy.rs
Due: editoast

railway_manager_interface: change openapi to allow substitute train, anterior and posterior train, add demand category, hazardous materials and request identifier
  front/src/common/api/osrdRailwayManagerApi.ts
  railway_manager_interface/openapi.yaml
  railway_manager_interface/osrd_railway_manager_interface/models.py
Due: front

front: include request identifier in success message for last minute requests
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmResults/SendToRailwayManagerModal.tsx
Due: front

front: update PDF download icon styling
  front/src/applications/stdcm/components/StdcmResults/SendToRailwayManagerModal.tsx
  front/src/applications/stdcm/styles/_railwayManagerModal.scss
Due: front

front: add new fields in the railway manager modal
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmResults/SendToRailwayManagerModal.tsx
  front/src/applications/stdcm/styles/_railwayManagerModal.scss
  front/src/modules/SimulationReportSheet/utils/formatSimulationReportSheet.ts
Due: front

front: use ISO string instead of locale date formatting
  front/src/applications/stdcm/components/StdcmResults/SendToRailwayManagerModal.tsx
  front/src/modules/SimulationReportSheet/utils/formatSimulationReportSheet.ts
Due: front

core: include train name in generated debug data
  core/src/main/java/fr/sncf/osrd/api/TimetableCacheManager.kt
  core/src/main/java/fr/sncf/osrd/api/TimetableProvider.kt
  core/src/main/java/fr/sncf/osrd/cli/BenchSTDCM.kt
  core/src/main/kotlin/fr/sncf/osrd/api/conflicts/ConflictDetectionRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/OutputSimDebugData.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
Due: core

editoast: include train name in requirement endpoint
  editoast/core_client/src/conflict_detection.rs
  editoast/openapi.yaml
  editoast/src/views/timetable.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

front: add new Times & Stops table with TanStack Table
  front/package-lock.json
  front/package.json
  front/src/modules/timesStops/TimesStopsOutput.tsx
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/src/modules/timesStops/helpers/utils.ts
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
  front/src/modules/timesStops/types.ts
Due: front

core: add s3 config
  core/build.gradle
  core/gradle/libs.versions.toml
  core/src/main/java/fr/sncf/osrd/api/S3Context.kt
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
  core/src/main/resources/logback.xml
Due: core

core: use s3 to log relevant data
  core/src/main/java/fr/sncf/osrd/api/TimetableCacheManager.kt
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
Due: core

front: bump netzgrafik-frontend
  front/package-lock.json
  front/package.json
Due: front

ui-charts: refactor context and types for improved chart genericity
  front/ui/ui-charts/src/common/context.ts
  front/ui/ui-charts/src/common/layers/TimeCaptions.tsx
  front/ui/ui-charts/src/common/layers/TimeGraduations.tsx
  front/ui/ui-charts/src/common/types.ts
  front/ui/ui-charts/src/spaceTimeChart/components/PathLayer.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/SpaceTimeChart.tsx
  front/ui/ui-charts/src/spaceTimeChart/lib/types.ts
Due: front

fixup! front: avoid duplicate waypoints when adding via on click of the map
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/ManageTimetableItemMap/AddPathStepPopup.tsx
Due: front

front: avoid duplicate waypoints when adding via on click of the map
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/ManageTimetableItemMap/AddPathStepPopup.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/isSameWaypointDifferentTrack.ts
Due: front

fixup! front: avoid duplicate waypoints when adding via on click of the map
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/ManageTimetableItemMap/AddPathStepPopup.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/isSameUicAndCh.ts
Due: front

fixup! front: avoid duplicate waypoints when adding via on click of the map
  front/src/applications/operationalStudies/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/ManageTimetableItemMap/AddPathStepPopup.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/isSameUicAndCh.ts
Due: front

storybook: add an empty story for the chronogram
  front/ui/storybook/stories/ui-charts/chronogram/base-rendering.stories.tsx
Due: front

ui-charts: isolate event handlers in a common dedicated type
  front/ui/ui-charts/src/common/types.ts
  front/ui/ui-charts/src/spaceTimeChart/lib/types.ts
Due: front

ui-charts: refactor context and types for improved chart genericity
  front/ui/ui-charts/src/common/context.ts
  front/ui/ui-charts/src/common/types.ts
Due: front

ui-charts: introduce chronogram component with basic elements
  front/ui/ui-charts/src/chronogram/components/Chronogram.tsx
  front/ui/ui-charts/src/chronogram/index.ts
  front/ui/ui-charts/src/chronogram/lib/context.ts
  front/ui/ui-charts/src/chronogram/lib/types.ts
  front/ui/ui-charts/src/index.ts
Due: front

wip
  front/ui/ui-charts/src/chronogram/components/Chronogram.tsx
  front/ui/ui-charts/src/chronogram/components/ChronogramManchette.tsx
  front/ui/ui-charts/src/chronogram/lib/consts.ts
  front/ui/ui-charts/src/spaceTimeChart/components/SpaceTimeChart.tsx
Due: front

editoast: import export infra with level crossings
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  editoast/openapi.yaml
  editoast/schemas/src/infra/railjson.rs
  editoast/src/models/infra.rs
  editoast/src/models/railjson.rs
  editoast/src/views/infra/railjson.rs
  front/src/common/api/generatedEditoastApi.ts
  python/osrd_schemas/osrd_schemas/infra.py
  python/railjson_generator/railjson_generator/schema/infra/infra.py
Due: core, editoast, front

front: make selectedTrain non-nullable
  front/src/modules/timesStops/TimesStopsOutput.tsx
Due: front

front: add feature flag for new time stops table
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/NavBar/UserSettings.tsx
  front/src/reducers/user/index.ts
  front/src/reducers/user/userReducer.spec.ts
  front/src/reducers/user/userSelectors.ts
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
