Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

front: update svgo config to match 4.0.0 version
  front/ui/ui-icons/svgo.config.cjs
Due: front

front: wait for the rolling stock loader to disappear
  front/src/common/Loaders/Loader.tsx
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCard.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockInformationPanel.tsx
  front/tests/005-rolling-stock-editor.spec.ts
  front/tests/006-op-rolling-stock-tab.spec.ts
  front/tests/pages/common-page.ts
  front/tests/pages/rolling-stock/rolling-stock-editor-page.ts
  front/tests/pages/rolling-stock/rolling-stock-selector.ts
Due: front

front: fix strict mode violation for toast notifiaction
  front/tests/008-op-times-and-stops-tab.spec.ts
  front/tests/009-op-simulation-settings-tab.spec.ts
  front/tests/pages/common-page.ts
Due: front

front: fully display the type of a study
  front/src/modules/study/styles/_studyCard.scss
Due: front

core: stdcm: consider infinite allowance time in visited nodes
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/visited_node_tracking/VisitedNodes.kt
Due: core

editoast: refactor similar_schedules to use cached path properties
  editoast/src/views/path.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/timetable/similar_schedules.rs
Due: editoast

ui-core: enhance calculate position of the modal
  front/ui/ui-core/src/hooks/useModalPosition.tsx
Due: front

front: fix firefox rendering issue for toast notif
  front/tests/pages/common-page.ts
Due: front

front: fix conflicts projection
  front/src/modules/simulationResult/components/SpaceTimeChart/useProjectedConflicts.ts
Due: front

front: fix NGE import error when a TrainrunSection is reversed
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: add out-of-order source/target tests for convertNgeDtoToOsrd()
  front/src/applications/operationalStudies/components/MacroEditor/__tests__/ngeToOsrd.spec.ts
  front/src/applications/operationalStudies/components/MacroEditor/__tests__/outOfOrderSourceTarget-output.json
  front/src/applications/operationalStudies/components/MacroEditor/__tests__/outOfOrderSourceTarget-sharedSource-dto.json
  front/src/applications/operationalStudies/components/MacroEditor/__tests__/outOfOrderSourceTarget-sharedTarget-dto.json
Due: front

wip
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EngineeringAllowanceManagerV2.kt
Due: core

front: fix added exception with rs change group
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/hooks/useOccurrences.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
Due: front

front: remove useEffect from useOccurrences
  front/src/modules/trainschedule/components/Timetable/PacedTrain/hooks/useOccurrences.ts
Due: front

front: rename useOccurrences
  front/src/modules/trainschedule/components/Timetable/PacedTrain/hooks/useOccurrences.ts
Due: front

front: simplify rolling stock indexed exceptions
  front/src/modules/trainschedule/components/Timetable/PacedTrain/hooks/useOccurrences.tsx
Due: front

core: etcs eoa indication curve should be null when requested curve type is permitted speed
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingCurves.kt
Due: core

core: fix etcs braking curves request adapter
  core/src/main/kotlin/fr/sncf/osrd/api/etcs/ETCSBrakingCurvesRequest.kt
Due: core

core: fix min method for etcs braking curves
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingCurves.kt
Due: core

core: disregard etcs braking curves with 0 points underneath main envelope
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingCurves.kt
Due: core

core: fix etcs braking curves response
  core/src/main/kotlin/fr/sncf/osrd/api/etcs/ETCSBrakingCurvesResponse.kt
Due: core

core: compute min between EoA and SvL full curves before only keeping the parts of the curves which are underneath the main envelope
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingCurves.kt
Due: core

editoast: create etcs braking curves endpoint
  editoast/core_client/src/etcs_braking_curves.rs
  editoast/core_client/src/lib.rs
  editoast/editoast_schemas/src/train_schedule/train_schedule_options.rs
  editoast/openapi.yaml
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/train_schedule.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

tests: add etcs braking curves endpoint test
  tests/tests/test_train_schedule.py
Due: none

front: fix cat mismatch warning appearing globally
  front/public/locales/en/operational-studies.json
  front/public/locales/en/translation.json
  front/public/locales/fr/operational-studies.json
  front/public/locales/fr/translation.json
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/Tabs.tsx
Due: front

editoast: replace last naive date times by Utc
  editoast/src/models/fixtures.rs
  editoast/src/models/project.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/temporary_speed_limits.rs
  editoast/src/views/project.rs
  editoast/src/views/scenario.rs
  editoast/src/views/search.rs
  editoast/src/views/study.rs
  editoast/src/views/temporary_speed_limits.rs
  editoast/src/views/timetable/stdcm/request.rs
Due: editoast
