Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

front: bump osrd-ui 0.0.37
  front/package.json
  front/yarn.lock
Due: front

editoast: set the default mq url to work outside docker
  editoast/src/client/mod.rs
Due: editoast

editoast: increase default message queue timeout
  editoast/src/client/mod.rs
Due: editoast

front: add button to set STDCM search environment
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/views/StdcmConfig.tsx
Due: front

editoast: stdcm: add end stop to preprocessing request
  editoast/src/views/v2/timetable/stdcm.rs
Due: editoast

core: stdcm: fix possible out of bounds
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
Due: core

wip
  osrdyne/src/main.rs
Due: none

front: add a check to display suggestions for operational points
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPathV2.tsx
Due: front

front: stdcm: use stdcm search window dates as locale dates
  front/src/applications/stdcm/utils/formatStdcmConfV2.ts
  front/src/applications/stdcmV2/hooks/useStdcmEnv.tsx
  front/src/utils/date.ts
Due: front

core: stdcm: fix invalid conflict offset
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/BlockAvailabilityTests.kt
Due: core

front: output table does not display schedule for op via
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
  front/src/modules/timesStops/TimesStopsOutput.tsx
  front/src/modules/timesStops/hooks/useOutputTableData.ts
Due: front

front: fix requested arrival time not displayed in times table
  front/src/modules/timesStops/hooks/useOutputTableData.ts
Due: front

editoast: mark sprites as cacheable
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/views/sprites.rs
Due: editoast

core: margins: warn instead of error on discontinuity
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/AbstractAllowanceWithRanges.java
Due: core

front: update electrical profile set id in store when loading scenario
  front/src/applications/operationalStudies/hooks/useScenario.ts
Due: front

front: fix height of rollingstock editor spreadsheet for matching with rollingstock curves
  front/src/modules/rollingStock/components/RollingStockEditor/CurveSpreadsheet.tsx
  front/src/styles/scss/common/components/_tabs.scss
Due: front

front: highlight selected train in space time chart - add selectedProjection
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
Due: front

front: open-data-import: keep stop at end of path
  front/src/modules/trainschedule/components/ImportTrainSchedule/generateTrainSchedulesPayloads.ts
Due: front

front: fix a crash that would happen when editing a train
  front/src/applications/operationalStudies/hooks/useLazyLoadTrains.ts
Due: front

front: fix MIME type when uploading documents
  front/src/common/api/documentApi.ts
Due: front

front: use fetch API for graou
  front/src/common/api/graouApi.ts
Due: front

front: remove unnecessary cast in AddOrEditProjectModal
  front/src/modules/project/components/AddOrEditProjectModal.tsx
Due: front

front: drop axios dependency
  front/package.json
  front/src/common/api/axios.ts
  front/yarn.lock
Due: front

front: use fetch API for documents
  front/src/common/api/documentApi.ts
Due: front

core: add and use utils.SelfTypeHolder in place of envelope.EnvelopeAttr
  core/envelope-sim/build.gradle
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeAttr.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeSpeedCap.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/MRSPEnvelopeBuilder.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/package-info.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/ConstrainedEnvelopePartBuilder.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePartBuilder.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePartConsumer.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/InteractiveEnvelopePartConsumer.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeProfile.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/StopMeta.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/AbstractAllowanceWithRanges.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/LinearAllowance.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/MarecoAllowance.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/NullEnvelopePartConsumer.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope/EnvelopeTestUtils.java
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/SelfTypeHolder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/BacktrackingEnvelopeAttr.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  editoast/Cargo.toml
Due: core, editoast

stdcm: increase pathfinding timeout
  front/src/modules/conflict/components/ConflictCardV2.tsx
  front/src/utils/date.ts
Due: front
