Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: order electrical profils
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorCurves.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/__tests__/RollingStockEditorCurves.spec.ts
  front/src/modules/rollingStock/consts.ts
  front/src/modules/rollingStock/helpers/utils.ts
Due: front

front: editor: move save button to action bar
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/tools/editorContextTypes.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.tsx
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.tsx
  front/src/applications/editor/tools/rangeEdition/utils.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/tool.tsx
  front/src/applications/editor/tools/switchEdition/types.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/tool.tsx
Due: front

front: enable selection in allowance modal op stud
  front/src/modules/trainschedule/components/ManageTrainSchedule/Allowances/AllowancesModalOP.tsx
Due: front

readme: fix logo colorscheme and size
  README.md
  assets/branding/osrd_small_dark.svg
Due: none

editoast: include project and study in the endpoints responses
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  tests/tests/test_scenario.py
Due: editoast

front: fix invalid switch deletion
  front/src/applications/editor/components/EntitySumUp.tsx
Due: front

front: fix osm layers render
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Layers/OSM.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
Due: front

editoast: update readme for onboarding
  editoast/README.md
  tests/README.md
Due: editoast

core: fix dependabot setting for detectting core dependencies
  core/gradle/libs.versions.toml
  core/settings.gradle
Due: core

front: fix project scenario study search
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
Due: front

front: synchronize speed space and space curves slopes charts
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/components/ChartHelpers/enableInteractivity.tsx
  front/src/modules/simulationResult/components/ChartHelpers/getScaleDomainFromValues.ts
  front/src/modules/simulationResult/components/SpaceCurvesSlopes.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/SpeedSpaceChart.tsx
  front/src/modules/simulationResult/components/simulationResultsConsts.ts
Due: front

ci: fix release event trigger
  .github/workflows/release.yml
Due: none

tests: editoast: reproduce failed assert in regression test
  tests/tests/regression_tests_data/editoast_train_schedule_without_path.json
Due: none

editoast: fix assert in get results
  editoast/src/views/train_schedule/simulation_report.rs
Due: editoast

front: modify getScaleDomainFromValues function
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/components/ChartHelpers/enableInteractivity.tsx
  front/src/modules/simulationResult/components/ChartHelpers/getScaleDomainFromValues.ts
  front/src/modules/simulationResult/components/SpaceCurvesSlopes.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/SpeedSpaceChart.tsx
Due: front

editoast: remove assert results
  editoast/src/views/train_schedule/simulation_report.rs
Due: editoast

core: fix pathfinding waypoints at track transitions
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathPropertiesImpl.kt
  core/osrd-geom/src/main/java/fr/sncf/osrd/geom/LineString.java
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/response/PathWaypointResult.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

front: fix typo in study view
  front/public/locales/fr/operationalStudies/study.json
Due: front

scripts: diff_infra added to generate a patch between two infras
  scripts/diff-infra.py
Due: none

actions: fix release build
  .github/scripts/bake-metadata.py
  .github/workflows/release.yml
Due: none

save
  front/src/applications/stdcm/views/StdcmRequestModal.tsx
  front/src/modules/simulationResult/components/ChartHelpers/ChartHelpers.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/SpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/createSpaceTimeChart.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/createTrain.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/d3Helpers.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/withOSRDData.tsx
  front/src/reducers/osrdsimulation/index.ts
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
