Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: rename `mod auth` to `mod auth_driver`
  editoast/src/client/group.rs
  editoast/src/client/openfga_config.rs
  editoast/src/client/roles.rs
  editoast/src/client/user.rs
  editoast/src/models/auth_driver.rs
  editoast/src/models/mod.rs
  editoast/src/views/mod.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: s/strip_roles/revoke_roles
  editoast/editoast_authz/src/authorizer.rs
  editoast/editoast_authz/src/regulator.rs
  editoast/src/client/roles.rs
  editoast/src/views/authz.rs
Due: editoast

editoast: use OpenFGA to manage roles and group membership
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_authz/Cargo.toml
  editoast/editoast_authz/src/authorizer.rs
  editoast/editoast_authz/src/builtin_role.rs
  editoast/editoast_authz/src/lib.rs
  editoast/editoast_authz/src/model.rs
  editoast/editoast_authz/src/role.rs
  editoast/editoast_authz/src/roles.rs
  editoast/editoast_common/src/lib.rs
  editoast/editoast_models/src/tables.rs
  editoast/fga/Cargo.toml
  editoast/fga/src/lib.rs
  editoast/fga_derive/src/lib.rs
  editoast/migrations/2025-03-12-095345_openfga_roles/down.sql
  editoast/migrations/2025-03-12-095345_openfga_roles/up.sql
  editoast/openapi.yaml
  editoast/src/client/group.rs
  editoast/src/client/healthcheck.rs
  editoast/src/client/openfga_config.rs
  editoast/src/client/roles.rs
  editoast/src/client/user.rs
  editoast/src/main.rs
  editoast/src/models/auth.rs
  editoast/src/views/authz.rs
  editoast/src/views/mod.rs
  editoast/src/views/projects.rs
  editoast/src/views/stdcm_logs.rs
  editoast/src/views/test_app.rs
  editoast/src/views/timetable/stdcm.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Due: editoast, front

editoast: rearchitecture editoast_authz
  editoast/editoast_authz/src/authorizer.rs
  editoast/editoast_authz/src/lib.rs
  editoast/editoast_authz/src/regulator.rs
  editoast/editoast_authz/src/subject.rs
  editoast/src/client/group.rs
  editoast/src/client/roles.rs
  editoast/src/client/user.rs
  editoast/src/models/auth_driver.rs
  editoast/src/views/mod.rs
  editoast/src/views/stdcm_logs.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: doc, scripts: improve openfga management for devs
  editoast/Dockerfile
  editoast/README.md
  scripts/cleanup-db.sh
Due: editoast

editoast: replace InternalError by StandardCoreError in core module
  editoast/openapi.yaml
  editoast/src/core.rs
  editoast/src/core/client.rs
  editoast/src/core/error.rs
  editoast/src/core/pathfinding.rs
  editoast/src/core/simulation.rs
  editoast/src/error.rs
  editoast/src/views/mod.rs
  editoast/src/views/path/pathfinding.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: remove unused code
  editoast/openapi.yaml
  editoast/src/core/mod.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Due: editoast, front

contributing: drop Transifex
  CONTRIBUTING.md
Due: none

front: add feedback mail to deployment settings
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmResults/StdcmFeedback.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/utils/hooks/useDeploymentSettings.tsx
  front/tests/015-stdcm-feedback-mail.spec.ts
  front/tests/assets/constants/mail-feedback-const.ts
  front/tests/pages/stdcm/simulation-results-page.ts
Due: front

front: add an adress mail at the end of the simulation
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmResults/StdcmFeedback.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/styles/scss/applications/stdcm/_results.scss
  front/tests/015-stdcm-feedback-mail.spec.ts
  front/tests/pages/stdcm/simulation-results-page.ts
Due: front

tests: modified tests to check the mail body
  front/src/applications/stdcm/components/StdcmResults/StdcmFeedback.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/utils/hooks/useDeploymentSettings.tsx
  front/tests/006-stdcm.spec.ts
  front/tests/015-stdcm-feedback-mail.spec.ts
  front/tests/assets/constants/mail-feedback-const.ts
  front/tests/pages/stdcm/simulation-results-page.ts
  front/tests/utils/types.ts
Due: front

tests: add feedback mail test
  front/public/locales/en/stdcm.json
  front/src/styles/scss/applications/stdcm/_results.scss
  front/tests/015-stdcm-feedback-mail.spec.ts
  front/tests/assets/constants/mail-feedback-const.ts
  front/tests/pages/stdcm/simulation-results-page.ts
Due: front

front: map: have a single source for OpenStreetMap data
  front/src/common/Map/Layers/OSM.tsx
  front/src/common/Map/Layers/OSMLayers/OSMLayers.tsx
  front/src/common/Map/Layers/Platforms.tsx
  front/src/common/Map/Layers/TracksOSM.tsx
  front/src/common/Map/Sources/OpenStreetMap.tsx
Due: front

front: map: the background doesn't need a data source
  front/src/common/Map/Layers/Background.tsx
Due: front

front: map: extract the terrain source
  front/src/common/Map/Layers/Hillshade.tsx
  front/src/common/Map/Layers/OSMLayers/OSMLayers.tsx
  front/src/common/Map/Sources/Terrain.tsx
Due: front

core: compute min EnvelopePart and Envelope
  core/envelope-sim/build.gradle
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/Envelope.kt
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.kt
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopeTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopeTest.kt
Due: core

core: convert EnvelopePart to kotlin
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.kt
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/mareco_impl/BrakingPhaseCoast.java
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingCurves.kt
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.kt
  core/src/main/kotlin/fr/sncf/osrd/envelope_sim_infra/MRSP.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EngineeringAllowanceManager.kt
Due: core

core: convert Envelope to kotlin
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/Envelope.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/Envelope.kt
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/LinearAllowance.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/MarecoAllowance.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopeTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxSpeedEnvelopeTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope/EnvelopeTestUtils.java
Due: core

front: bump playwright from 1.43.1 to 1.50.1
  front/package-lock.json
  front/package.json
Due: front

front: use fetch instead of APIRequestContext in deleteApiRequest e2e tests
  front/tests/assets/constants/project-const.ts
  front/tests/utils/api-utils.ts
Due: front

core: use minEnvelopes in ETCS
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingCurves.kt
  tests/tests/test_train_schedule.py
Due: core

editoast: run clippy on all the workspace
  .github/workflows/build.yml
  editoast/README.md
  editoast/editoast_derive/src/lib.rs
Due: editoast

core: replace homemade bloom filter with guava's
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/AppendOnlyMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/AppendOnlySet.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/BloomFilter.kt
  core/src/main/java/fr/sncf/osrd/cli/ReproduceRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
Due: core

gateway: add path blocking
  gateway/Cargo.lock
  gateway/Cargo.toml
  gateway/actix_proxy/Cargo.toml
  gateway/actix_proxy/src/lib.rs
  gateway/src/config.rs
  gateway/src/config_parser.rs
Due: gateway

editoast: move hash function to PathfindingInput impl
  editoast/src/views/path/pathfinding.rs
Due: editoast

core: stdcm: fix conflict introduced by planned steps
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
Due: core

front: add layers to the lmr map
  front/public/locales/en/map-settings.json
  front/public/locales/en/translation.json
  front/public/locales/fr/map-settings.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/Map.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmLayersModal.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/common/Map/BaseMap.tsx
  front/src/common/Map/Buttons/MapButtons.tsx
  front/src/common/Map/DefaultBaseMap.tsx
  front/src/common/Map/Layers/InfraObjectLayers/BufferStops.tsx
  front/src/common/Map/Layers/InfraObjectLayers/Detectors.tsx
  front/src/common/Map/Layers/InfraObjectLayers/Electrifications.tsx
  front/src/common/Map/Layers/InfraObjectLayers/InfraObjectLayers.tsx
  front/src/common/Map/Layers/InfraObjectLayers/OperationalPoints.tsx
  front/src/common/Map/Layers/InfraObjectLayers/Routes.tsx
  front/src/common/Map/Layers/InfraObjectLayers/Signals.tsx
  front/src/common/Map/Layers/InfraObjectLayers/SpeedLimits.tsx
  front/src/common/Map/Layers/InfraObjectLayers/Switches.tsx
  front/src/common/Map/Layers/InfraObjectLayers/extensions/SNCF/NeutralSections.tsx
  front/src/common/Map/Layers/InfraObjectLayers/extensions/SNCF/PSL.tsx
  front/src/common/Map/Settings/MapSettings.tsx
  front/src/common/Map/Settings/MapSettingsLayers.tsx
  front/src/common/Map/Settings/MapSettingsSpeedLimits.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap/SimulationResultsMap.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
  front/src/reducers/map/index.ts
  front/src/reducers/map/mapReducer.spec.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/reducers/osrdconf/stdcmConf/selectors.ts
  front/src/reducers/osrdconf/types.ts
Due: front

editoast, core: update conflict endpoint to send a list of strings instead of a list of IDs, including generated IDs in the format 'train_id occurrence_id' for paced trains
  core/src/main/java/fr/sncf/osrd/api/ConflictDetectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/conflicts/Conflicts.kt
  core/src/main/java/fr/sncf/osrd/conflicts/IncrementalConflictDetector.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/RequirementsParser.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/conflicts/ConflictDetectionEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/conflicts/ConflictDetectionRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/conflicts/ConflictDetectionResponse.kt
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
  core/src/test/kotlin/fr/sncf/osrd/conflicts/IncrementalConflictDetectorTests.kt
  editoast/src/core/conflict_detection.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/stdcm/failure_handler.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/applications/stdcm/types.ts
Due: core, editoast, front

editoast, core: adapt stdcm endpoint
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMRequestV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
  editoast/openapi.yaml
  editoast/src/core/stdcm.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/failure_handler.rs
  front/src/applications/stdcm/types.ts
  front/src/common/api/generatedEditoastApi.ts
Due: core, editoast, front

fix clarani comments #2
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/AddTrainScheduleButton.tsx
Due: front

fix clarani comments #1
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/hooks/useLazyLoadTimetableItems.ts
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/hooks/useScenarioQueryParams.ts
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/applications/stdcm/hooks/useProjectedTrainsForStdcm.ts
  front/src/applications/stdcm/utils/formatStdcmIntoSpaceTimeData.ts
  front/src/modules/conflict/utils.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useLazyProjectTrains.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTrainSchedule.ts
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/modules/trainschedule/components/Timetable/TrainScheduleItem.tsx
  front/src/utils/__tests__/batch.spec.ts
Due: front

front: convert paced train time range duration and cadence to Duration
  front/src/modules/trainschedule/components/ManageTrainSchedule/PacedTrainSettings.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/checkCurrentConfig.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/trainSettingsReducer.ts
  front/src/reducers/osrdconf/operationalStudiesConf/index.ts
  front/src/reducers/osrdconf/types.ts
Due: front

front: fix weird behavior when adding train settings
  front/src/modules/trainschedule/components/ManageTrainSchedule/TrainSettings.tsx
Due: front

fix maymanaf comments #1
  front/tests/005-operational-studies.spec.ts
  front/tests/008-timetable-item.spec.ts
  front/tests/assets/constants/operational-studies-const.ts
  front/tests/pages/operational-studies/operational-studies-page.ts
  front/tests/pages/operational-studies/paced-train-section.ts
  front/tests/pages/operational-studies/scenario-timetable-section.ts
  front/tests/utils/date-utils.ts
  front/tests/utils/types.ts
Due: front

front: fix paced train action buttons display
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
Due: front

fix emersion comments #1
  front/src/applications/operationalStudies/helpers/formatTimetableItemSummaries.ts
  front/src/applications/operationalStudies/hooks/useLazyLoadTimatableItems.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/utils/trainId.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/008-timetable-item.spec.ts
  front/tests/assets/constants/operational-studies-const.ts
  front/tests/assets/paced-train/paced_trains.json
  front/tests/pages/operational-studies/operational-studies-page.ts
  front/tests/pages/operational-studies/scenario-timetable-section.ts
  front/tests/utils/paced-train.ts
  front/tests/utils/types.ts
Due: front

fix error in LazyProject when switching to paced train mode in a scenario
  front/src/applications/operationalStudies/hooks/useLazyLoadTimetableItems.ts
Due: front

fix emersion comments #2
  front/src/applications/operationalStudies/hooks/useLazyLoadTimetableItems.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/tests/assets/constants/operational-studies-const.ts
  front/tests/utils/date-utils.ts
Due: front
