Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

core: modify path prop endpoint test to check operational points
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/path_properties/PathPropEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/path_properties/PathPropResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/path_properties/PathPropResponseConverter.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathPropEndpointTest.kt
Due: core

editoast: add blocks to v2 path projection request
  editoast/openapi.yaml
  editoast/src/core/v2/signal_updates.rs
  editoast/src/views/v2/train_schedule/projection.rs
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

core: add signal projection v2 endpoint
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/CommonSchemas.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/project_signals/SignalProjectionEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/project_signals/SignalProjectionRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/project_signals/SignalProjectionResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/standalone_sim/SimulationResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/signal_projection/SignalProjectionV2.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorV2.kt
Due: core

editoast: add utoipa annotation for infra/{id}/lock
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/views/infra/mod.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/infra/components/InfraSelector/InfraSelectorEditionActionsBar.tsx
Due: editoast, front

front: operationalstudies: fix card time when filtered
  front/src/modules/project/components/ProjectCard.tsx
  front/src/modules/scenario/components/ScenarioCard.tsx
  front/src/modules/study/components/StudyCard.tsx
  front/src/utils/date.ts
Due: front

editoast: add utoipa annotation for infra/{id}/unlock
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/views/infra/mod.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/infra/components/InfraSelector/InfraSelectorEditionActionsBar.tsx
Due: editoast, front

editoast: fix train schedule deserialization error message
  editoast/editoast_schemas/src/train_schedule/margins.rs
Due: editoast

editoast: change train schedule endpoint batch post
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/views/v2/timetable.rs
  editoast/src/views/v2/train_schedule.rs
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

front: adapt import train schedule v2 payload
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleTrainsListV2.tsx
  front/src/modules/trainschedule/components/ImportTrainSchedule/generateTrainSchedulesPayloads.ts
Due: front

editoast: add ToSchema to all infra schemas
  editoast/editoast_schemas/src/infra.rs
  editoast/editoast_schemas/src/infra/applicable_directions.rs
  editoast/editoast_schemas/src/infra/applicable_directions_track_range.rs
  editoast/editoast_schemas/src/infra/buffer_stop.rs
  editoast/editoast_schemas/src/infra/detector.rs
  editoast/editoast_schemas/src/infra/electrification.rs
  editoast/editoast_schemas/src/infra/endpoint.rs
  editoast/editoast_schemas/src/infra/loading_gauge_limit.rs
  editoast/editoast_schemas/src/infra/neutral_section.rs
  editoast/editoast_schemas/src/infra/operational_point.rs
  editoast/editoast_schemas/src/infra/route.rs
  editoast/editoast_schemas/src/infra/side.rs
  editoast/editoast_schemas/src/infra/sign.rs
  editoast/editoast_schemas/src/infra/signal.rs
  editoast/editoast_schemas/src/infra/speed_section.rs
  editoast/editoast_schemas/src/infra/switch.rs
  editoast/editoast_schemas/src/infra/switch_type.rs
  editoast/editoast_schemas/src/infra/track_endpoint.rs
  editoast/editoast_schemas/src/infra/track_location.rs
  editoast/editoast_schemas/src/infra/track_offset.rs
  editoast/editoast_schemas/src/infra/track_section.rs
  editoast/editoast_schemas/src/infra/track_section_extensions.rs
  editoast/editoast_schemas/src/infra/track_section_sncf_extension.rs
  editoast/editoast_schemas/src/infra/track_section_source_extension.rs
  editoast/editoast_schemas/src/primitives.rs
  editoast/editoast_schemas/src/primitives/object_ref.rs
  editoast/openapi.yaml
Due: editoast

editoast: connection config type alias
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/modelsv2/connection_pool.rs
  editoast/src/modelsv2/mod.rs
  editoast/src/modelsv2/rolling_stock_livery.rs
Due: editoast

editoast: create connection pool refactor
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/modelsv2/connection_pool.rs
  editoast/src/modelsv2/mod.rs
Due: editoast

editoast: add utoipa annotation for infra/{id}/speed_limit_tags
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/views/infra/mod.rs
  front/src/applications/editor/components/LayersModal.tsx
  front/src/common/Map/Settings/MapSettingsSpeedLimits.tsx
  front/src/common/SpeedLimitByTagSelector/useStoreDataForSpeedLimitByTagSelector.ts
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

editoast: fix ModelV2 Patch::apply visibility
  editoast/src/modelsv2/prelude/update.rs
Due: editoast

editoast: add Table associated type to Model trait
  editoast/editoast_derive/src/modelv2/codegen.rs
  editoast/editoast_derive/src/modelv2/codegen/model_impl.rs
  editoast/src/modelsv2/prelude/mod.rs
Due: editoast

editoast: add the codegen of ModelV2's ModelField associated constants
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_derive/Cargo.toml
  editoast/editoast_derive/src/modelv2.rs
  editoast/editoast_derive/src/modelv2/codegen.rs
  editoast/editoast_derive/src/modelv2/codegen/model_fields_impl_block.rs
  editoast/src/modelsv2/prelude/mod.rs
Due: editoast

editoast: use Path instead of string to represent ModelV2 columns
  editoast/editoast_derive/src/modelv2/args.rs
  editoast/editoast_derive/src/modelv2/codegen.rs
  editoast/editoast_derive/src/modelv2/codegen/changeset_decl.rs
  editoast/editoast_derive/src/modelv2/codegen/row_decl.rs
  editoast/editoast_derive/src/modelv2/config.rs
  editoast/editoast_derive/src/modelv2/identifier.rs
  editoast/editoast_derive/src/modelv2/parsing.rs
  editoast/src/modelsv2/infra_objects.rs
  editoast/src/modelsv2/projects.rs
Due: editoast

doc: remove empty openapi.yaml at project root
  openapi.yaml
Due: none

editoast: add utoipa annotation for infra/{id}/voltages
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/views/infra/mod.rs
  front/src/applications/editor/tools/rangeEdition/components/RangeEditionLeftPanel.tsx
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

core: add unit and kotlin adapters to osrd error adapter
  core/kt-osrd-utils/build.gradle
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DiscreteEventSimulation.kt
  core/osrd-reporting/build.gradle
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/OSRDError.java
Due: core

editoast: add utoipa annotation for infra/voltages
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/views/infra/mod.rs
Due: editoast

core: stdcm: fix corner cases in blockRoutes map
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  tests/tests/regression_tests_data/infra_explorer_crash.json
Due: core

core: handle failing pathfinding and simulation
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/utils/InfraUtils.kt
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/ErrorType.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlockResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlocksEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/standalone_sim/SimulationEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/standalone_sim/SimulationResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
Due: core

editoast: add call to conflict detection core endpoint
  editoast/openapi.yaml
  editoast/src/core/conflicts.rs
  editoast/src/core/mod.rs
  editoast/src/core/v2/conflict_detection.rs
  editoast/src/core/v2/mod.rs
  editoast/src/core/v2/pathfinding.rs
  editoast/src/core/v2/signal_projection.rs
  editoast/src/core/v2/simulation.rs
  editoast/src/views/timetable.rs
  editoast/src/views/v2/timetable.rs
  editoast/src/views/v2/train_schedule.rs
  editoast/src/views/v2/train_schedule/projection.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front
