Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

front: upgrade osrd-ui to v0.0.51
  front/package.json
  front/src/applications/operationalStudies/helpers/upsertNewProjectedTrains.ts
  front/src/applications/stdcm/utils/formatStdcmIntoSpaceTimeData.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useProjectedConflicts.ts
  front/yarn.lock
Due: front

front: remove workaround for empty space scales
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
Due: front

core, editoast: pass the signaling system in signal updates
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/project_signals/SignalProjectionResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/signal_projection/SignalProjectionV2.kt
  editoast/openapi.yaml
  editoast/src/core/signal_projection.rs
  front/src/common/api/generatedEditoastApi.ts
Due: core, editoast, front

front: stdcm: add linked path search
  front/src/applications/stdcmV2/components/StdcmConfig.tsx
  front/src/applications/stdcmV2/components/StdcmLinkedPathResult.tsx
  front/src/applications/stdcmV2/components/StdcmLinkedPathSearch.tsx
  front/src/applications/stdcmV2/components/StdcmOperationalPoint.tsx
  front/src/styles/scss/applications/_stdcmV2.scss
  front/src/styles/scss/applications/stdcmV2/_linkedPath.scss
Due: front

editoast: provide details when pathfinding failed
  editoast/openapi.yaml
  editoast/src/core/pathfinding.rs
  editoast/src/core/simulation.rs
  editoast/src/views/path/path_item_cache.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/train_schedule.rs
  editoast/src/views/train_schedule/projection.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/trainschedule/components/Timetable/consts.ts
Due: editoast, front

front: switch from yarn to npm
  .github/workflows/build.yml
  flake.nix
  front/.gitignore
  front/README.md
  front/docker/Dockerfile.devel
  front/docker/Dockerfile.nginx
  front/index.html
  front/package-lock.json
  front/package.json
  front/scripts/generate-types.sh
  front/yarn.lock
  osrdyne/configuration_templates/process-compose.yaml
  package-lock.json
  scripts/sync-openapi.sh
  tests/README.md
Due: front

fixup! editoast: update temporary speed limit import to use signals
  editoast/src/infra_cache/graph.rs
  editoast/src/views/temporary_speed_limits.rs
Due: editoast

front: adapt front
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/applications/operationalStudies/helpers/formatTrainScheduleSummaries.ts
  front/src/modules/pathfinding/hooks/usePathfinding.ts
  front/src/modules/trainschedule/components/Timetable/consts.ts
  front/src/modules/trainschedule/components/Timetable/types.ts
Due: front

core: adapt pathfinding error name
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlockResponse.kt
Due: core

fixup! front: refacto old e2e tests
  front/tests/001-home-page.spec.ts
  front/tests/002-project-management.spec.ts
  front/tests/003-study-management.spec.ts
  front/tests/004-scenario-management.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/007-op-rollingstock-tab.spec.ts
  front/tests/008-train-schedule.spec.ts
  front/tests/009-rollingstock-editor.spec.ts
  front/tests/010-op-route-tab.spec.ts
  front/tests/011-op-times-and-stops-tab.spec.ts
  front/tests/012-op-simulation-settings-tab.spec.ts
  front/tests/utils/api-setup.ts
  front/tests/utils/scenario.ts
Due: front

fixup: fixing emersion's comments
  editoast/migrations/20240926-113351_macro_nodes/down.sql
  editoast/migrations/20240926-113351_macro_nodes/up.sql
  editoast/openapi.yaml
  editoast/src/views/scenario/macro_nodes.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

front: add waypoint menu in manchette
  front/public/locales/en/simulation.json
  front/public/locales/fr/simulation.json
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/useWaypointMenu.tsx
Due: front

front: small improvements on scenario page
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Due: front

front: change simulation results components background
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Due: front

front: clean simulation map style (scenario results)
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap/SimulationResultsMap.tsx
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Due: front

fixup! editoast: update temporary speed limit import to use signals
  editoast/src/views/temporary_speed_limits.rs
Due: editoast

save: fix scenario train missing on GET
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcmV2/views/StdcmViewV2.tsx
  front/src/assets/pictures/workSchedules/ScheduledMaintenanceUp.svg
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/reducers/osrdconf/osrdConfCommon/selectors.ts
Due: front

front: redesing conflicts list
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/modules/conflict/components/ConflictCard.tsx
  front/src/modules/conflict/components/ConflictsList.tsx
  front/src/modules/conflict/styles/_conflictList.scss
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/styles/scss/_variables.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Due: front

front: add conditional testing on new checkbox
  front/tests/assets/operationStudies/timesAndStops/expectedOutputsCellsData.json
  front/tests/pages/op-input-table-page-model.ts
  front/tests/pages/op-output-table-page-model.ts
  front/tests/utils/dataNormalizer.ts
Due: front

front: add shortslip distance checkbox in timestops
  front/public/locales/en/timesStops.json
  front/public/locales/fr/timesStops.json
  front/src/modules/timesStops/TimesStopsInput.tsx
  front/src/modules/timesStops/helpers/utils.ts
  front/src/modules/timesStops/hooks/useTimeStopsColumns.ts
  front/src/modules/timesStops/types.ts
  front/tests/011-op-times-and-stops-tab.spec.ts
  front/tests/assets/operationStudies/timesAndStops/expectedOutputsCellsData.json
  front/tests/pages/op-input-table-page-model.ts
  front/tests/pages/op-output-table-page-model.ts
  front/tests/utils/dataNormalizer.ts
Due: front

in progress
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/applications/stdcm/hooks/useStdcmResults.ts
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/utils/formatStdcmConfV2.ts
  front/src/applications/stdcm/utils/upsertStdcmPathStepsInOPs.ts
  front/src/applications/stdcmV2/components/StdcmConfig.tsx
  front/src/applications/stdcmV2/components/StdcmDestination.tsx
  front/src/applications/stdcmV2/components/StdcmInputVia.tsx
  front/src/applications/stdcmV2/components/StdcmOperationalPoint.tsx
  front/src/applications/stdcmV2/components/StdcmOrigin.tsx
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResultsTable.tsx
  front/src/applications/stdcmV2/components/StdcmStopType.tsx
  front/src/applications/stdcmV2/components/StdcmVias.tsx
  front/src/applications/stdcmV2/hooks/useStaticPathfinding.ts
  front/src/applications/stdcmV2/hooks/useStdcmForm.ts
  front/src/applications/stdcmV2/types.ts
  front/src/applications/stdcmV2/utils/checkStdcmConfigErrors.ts
  front/src/applications/stdcmV2/views/StdcmViewV2.tsx
  front/src/modules/pathfinding/utils.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
  front/src/reducers/osrdconf/osrdConfCommon/index.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/reducers/osrdconf/stdcmConf/selectors.ts
  front/src/reducers/osrdconf/types.ts
  front/src/utils/__tests__/date.spec.ts
  front/src/utils/date.ts
Due: front

editoast: use the DB Pool in the authorizer
  editoast/src/client/roles.rs
  editoast/src/main.rs
  editoast/src/models/auth.rs
  editoast/src/views/mod.rs
Due: editoast

front: display work schedules on space time chart
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcmV2/views/StdcmViewV2.tsx
  front/src/assets/pictures/workSchedules/ScheduledMaintenanceUp.svg
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/reducers/osrdconf/osrdConfCommon/selectors.ts
Due: front

osrdyne: fix cleanup not checking if managed
  osrdyne/src/drivers/kubernetes.rs
Due: none

front: map smooth animation configuration for pathfinding errors
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstraintsList.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstraintsMapFocus.tsx
Due: front

editoast: move simulation_run_time to SimulationResponse
  editoast/src/core/simulation.rs
  editoast/src/views/timetable/stdcm.rs
Due: editoast

front: add logic to handle non-feasibility in stdcm simulations
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/utils/fomatConflicts.ts
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcmV2/components/StdcmResults/conflicts.json
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/ItineraryLayer.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
  front/src/styles/scss/applications/stdcmV2/_results.scss
Due: front

script: change call arguments for shutting down the docker + fix help not showing on certain cases
  scripts/pr-tests-compose.sh
Due: none

editoast: improve Authentication extension naming
  editoast/src/views/authz.rs
  editoast/src/views/documents.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/auto_fixes/mod.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/lines.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/routes.rs
  editoast/src/views/layers.rs
  editoast/src/views/mod.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/projects.rs
  editoast/src/views/rolling_stock.rs
  editoast/src/views/rolling_stock/light.rs
  editoast/src/views/rolling_stock/towed.rs
  editoast/src/views/scenario.rs
  editoast/src/views/search.rs
  editoast/src/views/speed_limit_tags.rs
  editoast/src/views/sprites.rs
  editoast/src/views/stdcm_search_environment.rs
  editoast/src/views/study.rs
  editoast/src/views/temporary_speed_limits.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/train_schedule.rs
  editoast/src/views/train_schedule/projection.rs
  editoast/src/views/work_schedules.rs
Due: editoast

gateway: add figment split support on config
  gateway/src/config.rs
Due: gateway

editoast: refactor STDCMRequestPayload methods for encapsulation
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm_request_payload.rs
Due: editoast
