Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: views: post_livery: fix incorrect openapi documentation
  editoast/openapi.yaml
  editoast/src/views/rolling_stock.rs
Due: editoast

editoast: adapt timetable gc to search_journey_environment
  editoast/editoast_models/src/timetable.rs
  editoast/src/client/garbage_collector.rs
Due: editoast

editoast: create search_journey_environment tables and models
  editoast/database/src/tables.rs
  editoast/editoast_models/src/lib.rs
  editoast/editoast_models/src/search_journey_environment.rs
  editoast/editoast_models/src/search_journey_environment_timetable.rs
  editoast/migrations/2026-07-09-093834-0000_create-search-journey-env/down.sql
  editoast/migrations/2026-07-09-093834-0000_create-search-journey-env/up.sql
Due: editoast

editoast: add an endpoint to retrieve the search journey environment
  editoast/openapi.yaml
  editoast/src/views.rs
  editoast/src/views/search_journey_environment.rs
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas/osrd_schemas/models.py
Due: editoast, front

front: add feature flag for linkings
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/NavBar/UserSettings.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartToolbar.tsx
  front/src/modules/simulationResult/styles/_manchetteWithSpaceTimeChart.scss
  front/src/reducers/user/index.ts
  front/src/reducers/user/userReducer.spec.ts
  front/src/reducers/user/userSelectors.ts
Due: front

front: group oxc bumps for dependabot pull requests
  .github/dependabot.yml
Due: none

front: fix conflicts count for paced train selection
  front/src/modules/conflict/__tests__/utils.spec.ts
  front/src/modules/conflict/hooks/useConflictsFilter.ts
  front/src/modules/conflict/utils.ts
Due: front

editoast: add cli commands for the search journey environment
  editoast/src/client/mod.rs
  editoast/src/client/search_journey_env_commands.rs
  editoast/src/main.rs
Due: editoast

e2e: replace non-retrying assertions with retrying ones
  front/tests/04-rolling-stock-editor/001-rolling-stock-editor.spec.ts
  front/tests/04-rolling-stock-editor/002-rolling-stock-filter.spec.ts
  front/tests/pages/common-page.ts
  front/tests/pages/operational-studies/get-manchette-component.ts
  front/tests/pages/operational-studies/project-page.ts
  front/tests/pages/operational-studies/route-tab.ts
  front/tests/pages/operational-studies/times-and-stops-tab.ts
  front/tests/pages/operational-studies/times-stops-table-page.ts
  front/tests/pages/rolling-stock/rolling-stock-editor-page.ts
  front/tests/pages/rolling-stock/rolling-stock-selector.ts
  front/tests/pages/stdcm/simulation-results-page.ts
  front/tests/pages/stdcm/stdcm-page.ts
  front/tests/utils/index.ts
Due: front

editoast: add authorization to POST:/rolling_stock/{id}/livery
  editoast/src/views/rolling_stock.rs
Due: editoast

editoast: add authorization to `GET:rolling_stock/{id}/usage`
  editoast/authz/src/model.rs
  editoast/src/views/rolling_stock.rs
Due: editoast

WIP
  editoast/migrations/2026-07-17-143821-0000_rolling_stock_add_interval_not_zero_constraint/down.sql
  editoast/migrations/2026-07-17-143821-0000_rolling_stock_add_interval_not_zero_constraint/up.sql
Due: editoast

editoast: return struct instead of tuple in simulation tests method
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

editoast: check consists permission in POST/timetable/id/stdcm endpoint
  editoast/authz/src/v2.rs
  editoast/src/views/timetable/stdcm.rs
Due: editoast

editoast: schemas: add reference base_arrival/position to ScheduleItem
  editoast/openapi.yaml
  editoast/schemas/src/train_schedule.rs
  editoast/schemas/src/train_schedule/schedule_item.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/track_occupancy.rs
  editoast/src/views/timetable/train_schedule.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdRailwayManagerApi.ts
  osrd_schemas/osrd_schemas/models.py
Due: editoast, front

editoast: cache: adapt set_bulk using spawn_blocking
  editoast/cache/src/connection.rs
  editoast/core_task/src/lib.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/projection.rs
  editoast/src/views/timetable/occupancy_blocks.rs
  editoast/src/views/timetable/simulation.rs
Due: editoast

editoast: cache: reorder get functions param for consistency
  editoast/cache/src/connection.rs
  editoast/core_task/src/lib.rs
Due: editoast

editoast: core-task: fix path fetch caching using compression
  editoast/core_task/src/lib.rs
Due: editoast

editoast: cache: adapt get_bulk using spawn_blocking
  editoast/Cargo.lock
  editoast/cache/Cargo.toml
  editoast/cache/src/connection.rs
  editoast/core_task/src/lib.rs
Due: editoast

editoast: cache: get_bulk returns a vec instead of an iterator
  editoast/Cargo.lock
  editoast/cache/Cargo.toml
  editoast/cache/src/connection.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/projection.rs
  editoast/src/views/timetable/occupancy_blocks.rs
  editoast/src/views/timetable/simulation.rs
Due: editoast

core: rename parseRawSimulationScheduleItems to dedupScheduleItems
  core/src/main/kotlin/fr/sncf/osrd/api/SimulationParser.kt
  core/src/main/kotlin/fr/sncf/osrd/api/etcs/ETCSBrakingCurvesEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/standalone_sim/SimulationEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/SimulationScheduleItemsParserTests.kt
Due: core

front: refactor itinerary modal footer in their own component
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModalFooter.tsx
Due: front

front: split submit buttons in itinerary modal forms
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModalFooter.tsx
  front/src/reducers/osrdconf/operationalStudiesConf/trainSettingsReducer.ts
  front/src/reducers/osrdconf/types.ts
  front/src/styles/scss/applications/operationalStudies/_itineraryModal.scss
  front/tests/pages/operational-studies/itinerary-modal-page.ts
Due: front

editoast: views: inline test `/authz/grant` request payload
  editoast/src/views/authz.rs
Due: editoast

editoast: authz: allow no-op grant set
  editoast/authz/src/v2.rs
  editoast/authz/src/v2/infra.rs
  editoast/src/authorizers.rs
  editoast/src/views/authz.rs
Due: editoast

editoast: migrate everything to `v2::infra_set_grant`
  editoast/authz/src/authorizer.rs
  editoast/authz/src/lib.rs
  editoast/authz/src/regulator.rs
  editoast/authz/src/v2.rs
  editoast/authz/src/v2/infra.rs
  editoast/authz/src/v2/test_client_ext.rs
  editoast/src/authorizers.rs
  editoast/src/views/authz.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: handle rolling stock grant revoking in POST:/authz/grants
  editoast/src/views/authz.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: add authz::v2::rolling_stock::rolling_stock_direct_grant
  editoast/authz/src/v2.rs
  editoast/authz/src/v2/infra.rs
  editoast/authz/src/v2/rolling_stock.rs
  editoast/authz/src/v2/test_client_ext.rs
Due: editoast

editoast: authz: add new check variants for rolling stock
  editoast/authz/src/v2.rs
  editoast/src/authorizers.rs
Due: editoast

editoast: add authz::v2::rolling_stock::rolling_stock_revoke_grant
  editoast/authz/src/v2/rolling_stock.rs
  editoast/authz/src/v2/test_client_ext.rs
Due: editoast

editoast: add missing rolling stock permission tests
  editoast/src/authorizers.rs
Due: editoast
