Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, front

front: fix const typo & order locales json
  front/public/locales/en/operationalStudies/importTrainSchedule.json
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
Due: front

ci: add editoast_derive tests to editoast CI
  .github/workflows/editoast.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
Due: editoast

editoast_derive: ignore doctests generating code with missing crates
  editoast/editoast_derive/src/lib.rs
Due: editoast

editoast_derive: clippy fixes
  editoast/editoast_derive/src/error.rs
  editoast/editoast_derive/src/lib.rs
  editoast/editoast_derive/src/model.rs
Due: editoast

core: change signaling system type to BAL3
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingTest.java
Due: core

openapi: correct catenary range type
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
Due: editoast, front

front: use the intervals editor to set up power restriction ranges
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionsSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/types.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/RollingStockSelector/RollingStockCardButtons.tsx
  front/src/reducers/osrdconf/index.ts
Due: front

editoast: async-pg smaller chunk size in persist_batch
  editoast/editoast_derive/src/infra_model.rs
Due: editoast

editoast: de-fixture train_with_simulation_output_fixture_set
  editoast/src/fixtures.rs
Due: editoast

editoast: use only one connection for infra clone
  editoast/src/views/infra/mod.rs
Due: editoast

api: delete a scenario when deleting an infra
  python/api/osrd_infra/migrations/0047_alter_scenario_infra.py
  python/api/osrd_infra/models/study.py
Due: none

core: result converter: fix a few m/mm conversions
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
Due: core

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Due: editoast

core: kt-infra: add track node names
  core/kt-osrd-signaling/src/test/kotlin/fr/sncf/osrd/signaling/BlockBuilderTest.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackNetworkInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestLocation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestMovableElement.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestReservation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestRouting.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackNode.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackNodeImpl.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Due: core

core: add routing conflict detection tests
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeBuilder.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
Due: core

front: fix translation keys for routing conflicts
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
Due: front

core: standalone_sim: make the train path start offset positive
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Due: core

editoast: implement routing conflict detection
  editoast/src/core/conflicts.rs
  editoast/src/models/mod.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tests/small_infra/stdcm/test_1/stdcm_core_response.json
  editoast/src/views/timetable.rs
Due: editoast

core: standalone_sim: generate routing requirements
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeTimeInterpolate.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/EnvelopeStopWrapper.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
Due: core

railjson_generator: small_infra remove all route release points
  editoast/src/tests/small_infra/small_infra.json
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Due: editoast

core: routing conflict detection
  core/src/main/java/fr/sncf/osrd/api/ConflictDetectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/conflicts/Conflicts.kt
Due: core

api: remove version from railjson
  python/api/osrd_infra/models/rolling_stock.py
  python/api/static/example_rolling_stock.json
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/railjson_generator/railjson_generator/examples/rolling_stocks/electric_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_slow_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/slow_rolling_stock.json
Due: none

front: translation: osm: correct name field for map labels
  front/src/assets/mapstyles/OSMBluePrintStyle.json
  front/src/assets/mapstyles/OSMDarkStyle.json
  front/src/assets/mapstyles/OSMStyle.json
  front/src/assets/mapstyles/style_osrd_light.json
  front/src/assets/mapstyles/style_osrd_light_railways.json
Due: front

front: add 3D terrain to all maps
  front/package.json
  front/public/locales/en/map-settings.json
  front/public/locales/fr/map-settings.json
  front/src/applications/editor/Map.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Layers/Hillshade.tsx
  front/src/common/Map/Layers/Terrain.tsx
  front/src/common/Map/Settings/MapSettingsBackgroundSwitches.jsx
  front/src/reducers/map/index.ts
  front/src/reducers/map/selectors.ts
  front/src/styles/scss/common/_common.scss
  front/src/styles/scss/common/_rc-slider.scss
  front/yarn.lock
Due: front

editoast: enhance error logging
  editoast/src/core/mod.rs
  editoast/src/error.rs
Due: editoast

editoast: add cli arg to control colored output
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/mod.rs
  editoast/src/main.rs
Due: editoast

front: fix getSwitchTypeJSONSchema function due to json_schema changes
  front/src/applications/editor/tools/switchEdition/utils.ts
Due: front

front: remove unused code
  front/src/common/IntervalsDataViz/data.ts
Due: front

front: fix #4245
  front/src/applications/editor/tools/switchEdition/components.tsx
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  front: any of: front/
