Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

editoast: fix train schedule projection cache
  editoast/src/views/train_schedule/projection.rs
Due: editoast

front: convert frequency between nge and osrd - convert tags osrd to frequency in nge
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/NGE/types.ts
Due: front

front: bump osrd-ui to 0.0.43
  front/package.json
  front/yarn.lock
Due: front

front: turn on @typescript-eslint/no-unsafe-call lint
  front/.eslintrc
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/modules/simulationResult/components/ChartHelpers/enableInteractivity.tsx
Due: front

front: update-via-selection-for-010-test
  front/tests/pages/operational-studies-page-model.ts
Due: front

front: stdcm add consist inputs for tonnage and length
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcmV2/components/StdcmConsist.tsx
  front/src/styles/scss/applications/stdcmV2/_card.scss
  front/src/styles/scss/applications/stdcmV2/_home.scss
Due: front

front: stdcm map adjustments
  front/src/applications/stdcmV2/components/StdcmConfig.tsx
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcmV2/components/StdcmVias.tsx
  front/src/assets/pictures/stdcmV2/destination.svg
  front/src/assets/pictures/stdcmV2/intermediate-point.svg
  front/src/assets/pictures/stdcmV2/start.svg
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/ItineraryLayer.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/ItineraryMarkers.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
  front/src/styles/scss/applications/stdcmV2/_card.scss
  front/src/styles/scss/applications/stdcmV2/_home.scss
  front/src/styles/scss/common/_common.scss
Due: front

editoast: make intersection as a type
  editoast/openapi.yaml
  editoast/src/views/path.rs
  editoast/src/views/path/projection.rs
  editoast/src/views/train_schedule/projection.rs
  editoast/src/views/work_schedules.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

core, editoast, osrdyne: track the readyness status of workers
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_osrdyne_client/Cargo.toml
  editoast/editoast_osrdyne_client/src/lib.rs
  editoast/editoast_osrdyne_client/src/mock_client.rs
  editoast/openapi.yaml
  editoast/src/client/mod.rs
  editoast/src/core/infra_state.rs
  editoast/src/core/mod.rs
  editoast/src/main.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/test_app.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
  osrdyne/src/api.rs
  osrdyne/src/key.rs
  osrdyne/src/main.rs
  osrdyne/src/pool.rs
  osrdyne/src/status_tracker.rs
Due: core, editoast, front

editoast: silence dependency_on_unit_never_type_fallback
  editoast/Cargo.toml
Due: editoast

editoast, gateway, osrdyne: bump rustc version to 1.81
  editoast/Dockerfile
  gateway/Dockerfile
  osrdyne/Dockerfile
Due: editoast, gateway

front: remove all occurences of console.log
  front/scripts/i18n-api-errors.ts
  front/scripts/i18n-checker.ts
  front/src/common/Map/WarpedMap/DataLoader.tsx
  front/src/common/Map/WarpedMap/SimulationWarpedMap.tsx
Due: front

front: stdcm: display only CH codes associated with the selected PR
  front/src/applications/stdcmV2/components/StdcmOperationalPoint.tsx
Due: front

front: fix select arrow on focus
  front/src/styles/scss/_uiCoreIntegration.scss
Due: front

core: signaling: pick the right signaling system for next signal
  core/src/main/kotlin/fr/sncf/osrd/signal_projection/SignalProjectionV2.kt
Due: core

front: stdcm: persist user-entered date and time in the interface
  front/src/applications/stdcmV2/components/StdcmDestination.tsx
  front/src/applications/stdcmV2/components/StdcmOpSchedule.tsx
  front/src/applications/stdcmV2/components/StdcmOrigin.tsx
  front/src/applications/stdcmV2/types.ts
  front/src/reducers/osrdconf/osrdConfCommon/index.ts
  front/src/utils/__tests__/date.spec.ts
  front/src/utils/date.ts
Due: front

front: stdcm: hide feedback section
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResults.tsx
Due: front

front: bump osrd-project/netzgrafik-frontend - snapshot 6d049b7244241254c33afc3818f40ec57ab57217
  front/package.json
  front/yarn.lock
Due: front

front: use slice for simulation store
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/hooks/useScenario.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/applications/stdcm/views/StdcmViewV1.tsx
  front/src/modules/scenario/components/ScenarioCard.tsx
  front/src/modules/scenario/components/ScenarioLoaderMessage.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap/SimulationResultsMap.tsx
  front/src/modules/simulationResult/components/TimeButtons.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTrainSchedule.ts
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableToolbar.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableTrainCard.tsx
  front/src/reducers/index.ts
  front/src/reducers/osrdsimulation/actions.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/selectors.ts
Due: front

front: clean simulationResults store
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/hooks/useAutoUpdateProjection.ts
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/scenario/components/ScenarioLoaderMessage.tsx
  front/src/reducers/index.ts
  front/src/reducers/simulationResults/index.ts
  front/src/reducers/simulationResults/selectors.ts
  front/src/reducers/simulationResults/simulationResultsReducer.spec.ts
  front/src/reducers/simulationResults/types.ts
Due: front

front: use osrd images endpoint
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/modules/project/styles/_addOrEditProjectModal.scss
Due: front

gateway: adapt gateway toml
  docker/gateway.dev.host.toml
  docker/gateway.dev.simple.toml
  gateway/gateway.toml
Due: gateway

docker: adapt docker compose
  docker-compose.yml
  docker/docker-compose.host.yml
  gateway/gateway.prod.sample.toml
Due: gateway

core: mrsp: migrate module to kotlin
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/MRSP.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.kt
  core/src/main/kotlin/fr/sncf/osrd/envelope_sim_infra/MRSP.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EngineeringAllowanceManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  core/src/main/kotlin/fr/sncf/osrd/utils/CachedBlockMRSPBuilder.kt
  core/src/test/java/fr/sncf/osrd/DriverBehaviourTest.kt
  core/src/test/kotlin/fr/sncf/osrd/envelope_sim_infra/MRSPTest.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
Due: core

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
