Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: add remaining operational service keys for German
  front/public/locales/de/operationalStudies/drivertrainschedule.json
  front/public/locales/de/operationalStudies/project.json
  front/public/locales/de/operationalStudies/scenario.json
  front/public/locales/de/operationalStudies/study.json
Due: front

front: fix cross midnight trains in viriato import
  front/src/modules/trainschedule/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/buildStepsFromOcp.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/importTimetableItem.spec.ts
Due: front

fixup! handle most of clara's comments before rebase, and treat the duplicate selectedtrainid props one, need to fix one last type
  front/src/applications/operationalStudies/helpers/upsertNewProjectedTrains.ts
  front/src/applications/operationalStudies/hooks/useAutoUpdateProjection.ts
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/hooks/useScenarioQueryParams.ts
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmDebugResults.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/utils.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useGetProjectedTrainOperationalPoints.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useLazyProjectTrains.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
Due: front

add unit test for getpacedtrainidfromoccurenceid
  front/src/utils/__tests__/trainId.spec.ts
Due: front

front: handle paced trains in macro mode in OsrdToNge
  front/src/applications/operationalStudies/components/MacroEditor/MacroEditorState.ts
  front/src/applications/operationalStudies/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
  front/src/applications/operationalStudies/components/NGE/types.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
Due: front

front: handle paced trains in macro mode in NgeToOsrd
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
Due: front

front: fix comments
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/applications/operationalStudies/components/MacroEditor/MacroEditorState.ts
  front/src/applications/operationalStudies/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
  front/src/applications/operationalStudies/components/NGE/types.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
Due: front

front: uniformize parameter calls in functions signatures in macro
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
Due: front

front: refacto and create and use updateTimetableItemHelper
  front/public/locales/de/operationalStudies/macroEditor.json
  front/public/locales/en/operationalStudies/macroEditor.json
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/macroEditor.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/applications/operationalStudies/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/updateTimetableItemHelper.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTrainSchedule.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
Due: front

front: fix dynamic macro translations
  front/public/locales/de/operationalStudies/macroEditor.json
  front/public/locales/de/operationalStudies/scenario.json
  front/public/locales/en/operationalStudies/macroEditor.json
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/macroEditor.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/applications/operationalStudies/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
Due: front

front: add ignoreifstatements in eslint rules
  front/.eslintrc
  front/package-lock.json
  front/package.json
Due: front

ignoreIfStatements rule
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/modules/timesStops/helpers/utils.ts
  front/src/reducers/osrdconf/osrdConfCommon/index.ts
Due: front

fix fail test
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
Due: front

front: use Duration in StdcmPathStep.stopFor
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
  front/src/applications/stdcm/components/StdcmForm/StopDurationInput.tsx
  front/src/applications/stdcm/utils/formatStdcmConf.ts
  front/src/reducers/osrdconf/stdcmConf/stdcmConfReducers.spec.ts
  front/src/reducers/osrdconf/types.ts
Due: front

front: change postusersgrantsbyresourceid into a get query in mockeditoastapi
  front/src/common/api/mock/mockData.ts
  front/src/common/api/mock/mockEditoastApi.ts
  front/src/common/useSearchUser.ts
Due: front

front: refacto: restructure grantsmanager component and useresourcegrants hook
  front/src/common/authorization/components/GrantsManager.tsx
  front/src/common/authorization/components/GrantsManagerHeader.tsx
  front/src/common/authorization/components/GrantsManagerSubjects.tsx
  front/src/common/authorization/hooks/useCheckPrivileges.ts
  front/src/common/authorization/hooks/useConnectedUserGrants.ts
  front/src/common/authorization/hooks/useOtherUsersGrants.ts
  front/src/common/authorization/hooks/useResourcesGrants.ts
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyStandard.tsx
Due: front

fixup! front: rename grant manager and move its style
  front/src/common/authorization/_grantManager.scss
Due: front

front: add documentation on trainrun display
  front/src/applications/operationalStudies/components/NGE/types.ts
Due: front

tests: use 'ruff' instead of 'black', 'isort' and 'flake8'
  .github/workflows/build.yml
  python/railjson_generator/README.md
  tests/conftest.py
  tests/fuzzer/fuzzer.py
  tests/fuzzer/fuzzer_stdcm_single_timetable.py
  tests/infra-scripts/circle_infra.py
  tests/infra-scripts/etcs_infra.py
  tests/infra-scripts/example_script.py
  tests/infra-scripts/nested_switches.py
  tests/infra-scripts/one_line.py
  tests/infra-scripts/overlapping_routes.py
  tests/infra-scripts/small_infra_creator/__init__.py
  tests/infra-scripts/takeover.py
  tests/infra-scripts/three_trains.py
  tests/infra-scripts/tiny_infra.py
  tests/poetry.lock
  tests/pyproject.toml
  tests/tests/test_paced_train.py
  tests/tests/test_pathfinding.py
  tests/tests/test_regressions.py
  tests/tests/test_scenario.py
  tests/tests/test_stdcm.py
  tests/tests/test_timetable.py
  tests/tests/test_train_schedule.py
  tests/tests/utils/timetable.py
Due: none

tests: replace 'pytype' by 'pyright'
  .github/workflows/build.yml
  tests/conftest.py
  tests/fuzzer/fuzzer.py
  tests/fuzzer/fuzzer_stdcm_single_timetable.py
  tests/infra-scripts/small_infra_creator/__init__.py
  tests/poetry.lock
  tests/pyproject.toml
  tests/tests/test_regressions.py
Due: none

tests: convert to 'poetry:2'
  .github/workflows/build.yml
  tests/README.md
  tests/poetry.lock
  tests/pyproject.toml
Due: none

tests: remove deprecated types
  tests/conftest.py
  tests/fuzzer/fuzzer.py
  tests/fuzzer/fuzzer_stdcm_single_timetable.py
  tests/infra-scripts/overlapping_routes.py
  tests/infra-scripts/small_infra_creator/__init__.py
  tests/infra-scripts/takeover.py
  tests/tests/path.py
  tests/tests/test_infra.py
  tests/tests/test_regressions.py
  tests/tests/test_scenario.py
  tests/tests/test_stdcm.py
  tests/tests/test_timetable.py
  tests/tests/test_train_schedule.py
  tests/tests/utils/timetable.py
Due: none

front: undo uncomment dtoImport
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
Due: front

front: add bold style for the connected user in the grant manager
  front/src/common/authorization/_grantManager.scss
  front/src/common/authorization/components/GrantsManagerSubjects.tsx
Due: front

front: add rollingstock resource type and mock data
  front/src/common/api/mock/mockData.ts
  front/src/common/api/mock/mockEditoastApi.ts
Due: front

editoast: fix import railjson version check
  editoast/openapi.yaml
  editoast/src/views/infra/railjson.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Due: editoast, front

front: fix unnecessary useEffect input
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
Due: front

front: extract fetchTimetableItem to helper file
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/updateTimetableItemHelper.ts
Due: front

editoast: replace InternalError by StandardCoreError in core module
  editoast/openapi.yaml
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
  editoast/src/core/simulation.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/train_schedule.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: rename TrainScheduleBase to TrainSchedule
  editoast/editoast_schemas/src/lib.rs
  editoast/editoast_schemas/src/paced_train.rs
  editoast/editoast_schemas/src/train_schedule.rs
  editoast/editoast_schemas/src/train_schedule/train_schedule_base.rs
  editoast/openapi.yaml
  editoast/src/client/timetables_commands.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/mod.rs
  editoast/src/models/paced_train.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/paced_train.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule.rs
  front/src/applications/operationalStudies/__tests__/sampleData.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/helpers/upsertMapWaypointsInOperationalPoints.ts
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/utils.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/powerRestriction/helpers/__tests__/sampleData.ts
  front/src/modules/powerRestriction/helpers/formatPowerRestrictionRangesWithHandled.ts
  front/src/modules/simulationResult/types.ts
  front/src/modules/timesStops/types.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
  front/src/modules/trainschedule/components/ImportTimetableItem/generateTrainSchedulesPayloads.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/AddTrainScheduleButton.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatSchedule.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTimetableItemPayload.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTrainSchedulePayload.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/handleParseFiles.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/types.ts
  front/src/modules/trainschedule/components/Timetable/TimetableToolbar.tsx
  front/src/modules/trainschedule/components/Timetable/TrainScheduleItem.tsx
  front/src/modules/trainschedule/helpers/computeBasePathStep.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/trainSettingsReducer.ts
  front/tests/018-train-edition.spec.ts
Due: editoast, front

editoast: rename trains_schedule_base to trains_schedule
  editoast/editoast_schemas/src/train_schedule.rs
  editoast/editoast_schemas/src/train_schedule/train_schedule_base.rs
Due: editoast

core: remove tsv1 tests
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/cli/StandaloneSimulationCommandTest.java
  core/src/test/java/fr/sncf/osrd/railjson/parser/TestRJSRollingStockParser.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/StandaloneSimTests.java
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingElectrificationTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingResultConverterTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMEndpointTest.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
Due: core

core: remove PathWaypointResult and simplify corresponding makeOpStops method
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/response/CurveChartPointResult.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/response/PathWaypointResult.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/response/SlopeChartPointResult.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
Due: core

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
