Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

editoast, front, docker: rename redis to valkey
  .github/workflows/build.yml
  docker-compose.yml
  docker/docker-compose.host.yml
  docker/docker-compose.pr-tests.yml
  editoast/README.md
  editoast/openapi.yaml
  editoast/src/client/mod.rs
  editoast/src/client/valkey_config.rs
  editoast/src/error.rs
  editoast/src/main.rs
  editoast/src/map/mod.rs
  editoast/src/valkey_utils.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/layers.rs
  editoast/src/views/mod.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/test_app.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/train_schedule.rs
  editoast/src/views/train_schedule/projection.rs
  front/README.md
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  scripts/cleanup-db.sh
  scripts/pr-infra-compose.sh
Due: editoast, front

front: stdcm: remove originDate and originTime from the store
  front/src/applications/stdcm/views/StdcmView.tsx
  front/src/reducers/osrdconf/osrdConfCommon/__tests__/utils.ts
  front/src/reducers/osrdconf/osrdConfCommon/index.ts
  front/src/reducers/osrdconf/osrdConfCommon/selectors.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/reducers/osrdconf/stdcmConf/stdcmConfReducers.spec.ts
  front/src/reducers/osrdconf/types.ts
Due: front

front: fixes the issue where the more details button stopped functioning in the train list.
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
Due: front

front: use matchPathStepAndOp() in ModalSuggestedVias
  front/src/modules/pathfinding/components/Itinerary/ModalSuggestedVias.tsx
Due: front

front: use matchPathStepAndOp() in pathStepMatchesOp()
  front/src/modules/pathfinding/utils.ts
Due: front

front: stop matching KP in matchPathStepAndOp()
  front/src/modules/pathfinding/utils.ts
  front/src/modules/timesStops/helpers/utils.ts
Due: front

front: handle accents in STDCM vias autocomplete
  front/src/applications/stdcmV2/components/StdcmOperationalPoint.tsx
  front/src/utils/strings.ts
Due: front

front: disable micro macro buttons when infra loads
  front/src/applications/operationalStudies/components/MicroMacroSwitch.tsx
Due: front

global: setup e2e-Test maintainers
  .github/CODEOWNERS
Due: none

front: fix relief display
  front/src/applications/editor/Map.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Layers/Hillshade.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap/SimulationResultsMap.tsx
Due: front

front: refacto HillShade layer
  front/src/common/Map/Layers/Hillshade.tsx
Due: front

front: small css ajustments
  front/src/applications/stdcm/components/StdcmSimulationParams.tsx
  front/src/modules/stdcmAllowances/components/StdcmAllowances.tsx
  front/src/styles/scss/applications/stdcm/_card.scss
Due: front

front: hard code composition codes
  front/src/applications/stdcm/consts.ts
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/applications/stdcmV2/components/StdcmConsist.tsx
  front/src/common/SpeedLimitByTagSelector/useStoreDataForSpeedLimitByTagSelector.ts
Due: front

front: fix key spread log errors in maps
  front/src/common/Map/Layers/OSM.tsx
  front/src/common/Map/WarpedMap/WarpedMap.tsx
Due: front

front: sort trains by date
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/utils/date.ts
Due: front

front: fix spelling
  front/src/applications/operationalStudies/hooks/useLazyLoadTrains.ts
Due: front

osrdyne: typo in keda driver max_replica_count
  osrdyne/src/drivers/kubernetes.rs
  osrdyne/src/drivers/kubernetes/keda.rs
Due: none

front: remove setCurrentSimulationInputs in stdcm form
  front/src/applications/stdcmV2/components/StdcmConfig.tsx
  front/src/applications/stdcmV2/components/StdcmConsist.tsx
  front/src/applications/stdcmV2/components/StdcmDestination.tsx
  front/src/applications/stdcmV2/components/StdcmOrigin.tsx
  front/src/applications/stdcmV2/components/StdcmVias.tsx
  front/src/applications/stdcmV2/hooks/useStdcmForm.ts
  front/src/applications/stdcmV2/types.ts
  front/src/applications/stdcmV2/views/StdcmViewV2.tsx
Due: front

flake: add nix lang server
  flake.nix
Due: none

front: Change display when description is too long
  front/src/applications/operationalStudies/components/Scenario/ScenarioDescription.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Due: front

fixup! front: Change display when description is too long
  front/src/applications/operationalStudies/components/Scenario/ScenarioDescription.tsx
Due: front

front: display conflicts on the space time chart
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/useProjectedConflicts.ts
Due: front

docker, core, editoast: add mode single-worker for all infra
  README.md
  core/README.md
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
  docker-compose.yml
  docker/docker-compose.host.yml
  docker/docker-compose.noopdyne.yml
  docker/docker-compose.single-worker.yml
  editoast/src/client/mod.rs
  editoast/src/core/mod.rs
  editoast/src/core/mq_client.rs
  editoast/src/main.rs
  front/README.md
  front/docker/Dockerfile.nginx
  scripts/host-compose.sh
  scripts/single-worker-compose.sh
Due: core, editoast, front

front: fix train card not updating with time inputs
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTrainSchedule.ts
Due: front

editoast: remove http core client
  editoast/openapi.yaml
  editoast/src/core/http_client.rs
  editoast/src/core/mod.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/test_app.rs
Due: editoast

front: add settings panel to space time chart
  front/public/locales/en/simulation.json
  front/public/locales/fr/simulation.json
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/SettingsPanel.tsx
  front/src/modules/simulationResult/styles/manchetteWithSpaceTimeChart.scss
  front/src/modules/simulationResult/styles/simulationResult.scss
Due: front

front: stdcm: change default tolerance value
  front/src/applications/stdcmV2/components/StdcmDestination.tsx
  front/src/applications/stdcmV2/components/StdcmOrigin.tsx
Due: front

docker: increase up delay for healthchecks
  docker-compose.yml
  docker/docker-compose.pr-tests.yml
Due: none

fixup! core: add requirement margin for stop on closed signal (conflict detection)
  core/src/main/java/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Due: core

core: add requirement margin for stop on closed signal (conflict detection)
  core/src/main/java/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
Due: core

[wip] core: fix routing requirement start when on closed signal
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Due: core

front: spaceTimeChart: display occupancy blocks
  front/public/locales/en/simulation.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/useProjectedOccupancyBlocks.tsx
Due: front

editoast: provide details when pathfinding failed
  editoast/openapi.yaml
  editoast/src/core/pathfinding.rs
  editoast/src/core/simulation.rs
  editoast/src/views/path/path_item_cache.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/train_schedule.rs
  editoast/src/views/train_schedule/projection.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/trainschedule/components/Timetable/consts.ts
Due: editoast, front

front: adapt front
  front/public/locales/en/operationalStudies/scenario.json
  front/src/modules/pathfinding/hooks/usePathfinding.ts
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
