Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

editoast: add address config option
  editoast/src/client/mod.rs
  editoast/src/main.rs
Due: editoast

core: fix html errors in the javadoc
  core/src/main/java/fr/sncf/osrd/api/stdcm/UnavailableSpaceBuilder.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/BacktrackingManager.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMUtils.java
  core/src/main/java/fr/sncf/osrd/envelope/package-info.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/package-info.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra_state/api/TrainPath.java
  core/src/main/java/fr/sncf/osrd/package-info.java
Due: core

Lots of little improvements & bugfixes (#2425)
  front/src/applications/osrd/components/DriverTrainSchedule/DriverTrainScheduleHelpers.js
  front/src/applications/osrd/components/DriverTrainSchedule/DriverTrainScheduleModal.js
  front/src/applications/osrd/osrd.scss
  front/src/applications/osrd/views/OSRDConfig/Itinerary.js
  front/src/applications/osrd/views/OSRDSimulation/DriverTrainSchedule.js
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.tsx
  front/src/applications/osrd/views/OSRDSimulation/TimeTable.js
  front/src/applications/stdcm/views/OSRDStdcmResults.js
  front/src/common/BootstrapSNCF/ModalSNCF/ModalBodySNCF.js
Due: none

front: Add remove button for each via on suggeredviamodal
  front/src/applications/osrd/components/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/osrd/components/Itinerary/ModalSuggeredVias.js
  front/src/applications/osrd/views/OSRDConfig/Itinerary.js
Due: none

front: Add remove button for each via on suggeredviamodal (#2299)
  front/src/applications/osrd/components/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/osrd/components/Itinerary/ModalSuggeredVias.js
  front/src/applications/osrd/views/OSRDConfig/Itinerary.js
Due: none

editoast: fix test compilation
  editoast/src/client/mod.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
Due: editoast

move opeation to reducer
  front/src/applications/osrd/components/Simulation/SpaceTimeChart/createTrain.ts
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.tsx
  front/src/applications/stdcm/views/OSRDStdcmResults.js
  front/src/applications/stdcm/views/StdcmRequestModal.js
  front/src/reducers/osrdsimulation/index.ts
Due: none

correct key_value export
  front/src/applications/osrd/components/Simulation/consts.js
Due: none

limitSimulationTrainSelector
  front/src/applications/osrd/Home.js
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.tsx
  front/src/reducers/osrdsimulation/index.ts
Due: none

divideSelectors
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.tsx
Due: none

cleanup
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.tsx
Due: none

front: rollingstock: lazy loading of imgs
  front/package.json
  front/src/applications/osrd/components/RollingStock/RollingStock2Img.js
  front/yarn.lock
Due: none

front: custom-get: make file input filter json files by default
  front/src/applications/customget/components/uploadFileModal.js
Due: none

front: rollingstock: lazy loading of imgs (#2432)
  front/package.json
  front/src/applications/osrd/components/RollingStock/RollingStock2Img.js
  front/yarn.lock
Due: none

front: custom-get: make file input filter json files by default (#2433)
  front/src/applications/customget/components/uploadFileModal.js
Due: none

core: make speed limit tags single values
  api/osrd_infra/views/train_schedule/standalone_simulation.py
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainSchedule.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMEdgeBuilder.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMGraph.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMUtils.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/MRSP.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/SpeedLimits.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/train/StandaloneTrainSchedule.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/envelope/MRSPEnvelopeBuilderTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/MaxSpeedEnvelopeTest.java
  core/src/test/java/fr/sncf/osrd/infra/tracks/directed/DirectedRJSParsingTests.java
  core/src/test/java/fr/sncf/osrd/infra/tracks/undirected/SpeedLimitsTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Due: core

Avoid error on DriverTrainSchedule
  front/src/applications/osrd/views/OSRDSimulation/DriverTrainSchedule.js
  front/src/applications/stdcm/views/OSRDStdcmResults.js
Due: none

typo
  front/src/applications/osrd/views/OSRDSimulation/DriverTrainSchedule.js
Due: none

front: time window behavior (#2376)
  front/public/locales/fr/osrdconf.json
  front/src/applications/osrd/components/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/osrd/views/OSRDSimulation/DriverTrainSchedule.js
  front/src/applications/stdcm/views/OSRDStdcmResults.js
  front/src/reducers/__tests__/osrdconf.spec.ts
  front/src/reducers/osrdconf/index.ts
Due: none

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
