Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

Revert "editoast: move database from openssl to rustls"
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/database/Cargo.toml
  editoast/database/src/db_connection_pool.rs
  editoast/database/src/lib.rs
  editoast/database/src/postgres_rustls.rs
  editoast/models/Cargo.toml
Due: editoast

front: display custom tracks like unrocognized op in schedule sheet
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
Due: front

editoast: authz: generalize grant mapping utility function
  editoast/authz/src/v2.rs
  editoast/authz/src/v2/infra.rs
  editoast/authz/src/v2/rolling_stock.rs
Due: editoast

editoast: doc typos
  editoast/src/views/authz.rs
Due: editoast

chart: add volume mounts options for editoast
  .github/workflows/chart-build.yml
  chart/README.md
  chart/templates/editoast/deployment.yaml
  chart/templates/stateful_editoast/deployment.yaml
  chart/test-values/values-refs.yaml
  chart/values.schema.json
  chart/values.yaml
Due: none

front: bump nge 2026-09-14
  front/package-lock.json
  front/package.json
Due: front

front: nge: disable unique train frequency selection for hourly timetables
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/utils.ts
Due: front

editoast: authz: support `RestrictedReader` in grant operations
  editoast/authz/src/v2/infra.rs
  editoast/authz/src/v2/rolling_stock.rs
  editoast/src/views/authz.rs
Due: editoast

front: fix linking for non-existing OP/tracks
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/__tests__/computePossibleLinkings.spec.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/computePossibleLinkings.ts
Due: front

front: show none label by default for towed rollingstock in stdcm form
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
  front/src/applications/stdcm/components/StdcmResults/SendToRailwayManagerModal.tsx
Due: front

front: rename PathStep field `id` into `key`
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/__tests__/ItineraryModal.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/PowerRestrictionsSelector/helpers/__tests__/formatPowerRestrictions.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/PowerRestrictionsSelector/helpers/createPathStep.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/PowerRestrictionsSelector/helpers/formatPowerRestrictions.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/PowerRestrictionsSelector/helpers/getRestrictionsToResize.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/__tests__/formatSchedule.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/__tests__/formatTrainSchedulePayload.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/formatMargin.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/formatSchedule.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/formatTrainSchedulePayload.ts
  front/src/applications/searchJourney/components/SearchJourneyMap.tsx
  front/src/applications/searchJourney/hooks/useSearchJourneySolutionDetails.ts
  front/src/applications/stdcm/utils/index.ts
  front/src/common/Map/DefaultBaseMap.tsx
  front/src/common/Map/components/ItineraryMarkers.tsx
  front/src/modules/pathfinding/utils.ts
  front/src/modules/timesStops/helpers/utils.ts
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
  front/src/modules/trainSchedule/helpers/computeBasePathStep.ts
  front/src/reducers/osrdconf/operationalStudiesConf/utils.ts
  front/src/reducers/osrdconf/osrdConfCommon/__tests__/commonConfBuilder.ts
  front/src/reducers/osrdconf/types.ts
Due: front

front: simplify op name getting in timesstopstable
  front/src/modules/timesStops/helpers/utils.ts
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
Due: front

front: fix missing secondary code for invalid steps in timesstopstable
  front/src/modules/timesStops/helpers/utils.ts
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
Due: front

front: rename PathStepV2 field `id` into `key`
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/IntermediateWaypointsPanel.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/__tests__/utils.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModalMap.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/PathStepItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/pathStepsActions.ts
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPath.tsx
  front/src/modules/pathfinding/helpers/__tests__/reversePathSteps.spec.ts
  front/src/modules/timesStops/helpers/stopDurationPropagation.ts
  front/src/reducers/osrdconf/types.ts
Due: front

front: rename `stepId` into `stepKey`
  front/src/applications/operationalStudies/hooks/useOperationalPointSearch.ts
  front/src/applications/operationalStudies/hooks/usePathOps.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/IntermediateWaypointsPanel.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModalMap.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/pathStepsActions.ts
  front/src/applications/operationalStudies/views/Scenario/components/RoundTrips/utils.ts
  front/src/applications/stdcm/components/StdcmForm/StdcmLinkedTrainResults.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
  front/src/applications/stdcm/utils/__tests__/mergeSimilarTrainSegments.spec.ts
  front/src/modules/timesStops/helpers/__tests__/powerRestrictionIncompatibility.spec.ts
  front/src/modules/timesStops/helpers/cellUpdate.ts
  front/src/modules/timesStops/helpers/computeMargins.ts
  front/src/modules/timesStops/helpers/stopDurationPropagation.ts
  front/src/modules/timesStops/helpers/timePropagation.ts
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
  front/src/modules/trainSchedule/helpers/computeBasePathStep.ts
  front/src/reducers/osrdconf/operationalStudiesConf/utils.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
Due: front

editoast: client: support `RestrictedReader` grant level
  editoast/src/client/authorization/grants.rs
Due: editoast

editoast: client: properly log subject in roles commands
  editoast/src/client/authorization/roles.rs
Due: editoast

editoast: client: remove duplicate utils in `mod roles`
  editoast/src/client/authorization/roles.rs
Due: editoast

editoast: client: move `roles` into `authorization`
  editoast/src/client/authorization.rs
  editoast/src/client/authorization/roles.rs
  editoast/src/client/mod.rs
  editoast/src/main.rs
Due: editoast

editoast: authz: implement `Deref` for `Project`
  editoast/authz/src/model.rs
Due: editoast

editoast: add resource grant CLI
  editoast/src/client/authorization.rs
  editoast/src/client/authorization/grants.rs
  editoast/src/client/mod.rs
  editoast/src/main.rs
Due: editoast

front: remove isSubmitting useEffect in itinerary modal
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/hooks/useCreateTrainSchedule.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/hooks/useUpdateTrainSchedule.ts
Due: front

front: remove setSubmitAttempted useEffect
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
Due: front

editoast: remove filter unauthorized ts and exceptions
  editoast/schemas/src/train_schedule_exception.rs
  editoast/src/views/timetable/conflicts.rs
Due: editoast

editoast: remove check implementation
  editoast/authz/src/v2.rs
  editoast/src/views/timetable/stdcm.rs
Due: editoast

front: fix exception not updated when editing paced train
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
Due: front

front: rename `stepsMetadataById` into `stepsMetadataByKey`
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/modules/pathfinding/hooks/usePathfindingV2.ts
Due: front

front: wrap hourly start times dragged out of the paced interval
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/useHandleTrainDrag.ts
  front/src/modules/trainSchedule/helpers/__tests__/hourlyTimetable.spec.ts
  front/src/modules/trainSchedule/helpers/hourlyTimetable.ts
Due: front

front: hide fake overtake prefix in path not found details
  front/src/applications/stdcm/components/StdcmResults/StdcmPathNotFoundDetails.tsx
  front/src/applications/stdcm/utils/__tests__/stripFakeOvertakePrefix.spec.ts
  front/src/applications/stdcm/utils/index.ts
Due: front

front: nge keep paced train exceptions when updating a trainrun
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioContent.tsx
Due: front

fixup! fixup! rabbitmq: extend heartbeat to 12 h for single-worker mode
  core/README.md
  core/justfile
  process-compose.yaml
Due: core

front: fix custom track label
  front/public/locales/de/operational-studies.json
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/PathStepItem.tsx
Due: front

front: fix color user name
  front/src/styles/scss/applications/operationalStudies/_scenarioV2.scss
Due: front

front: fix box shadow scenario detail
  front/src/styles/scss/applications/operationalStudies/_scenarioV2.scss
Due: front

front: center the cross icon onthe close button in the scenario header
  front/src/styles/scss/applications/operationalStudies/_scenarioV2.scss
Due: front
