Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

Hillshap & OSM layer order
  front/src/applications/carto/Map.tsx
  front/src/applications/osrd/views/OSRDConfig/Map.tsx
  front/src/applications/osrd/views/OSRDSimulation/Map.tsx
  front/src/common/Map/Layers/Hillshade.tsx
  front/src/common/Map/Layers/OSM.tsx
Due: none

yarn
  front/package.json
  front/yarn.lock
Due: none

virtual layer key
  front/src/applications/osrd/views/OSRDSimulation/VirtualLayers.tsx
Due: none

hillshade layer order
  front/src/common/Map/Layers/Hillshade.tsx
Due: none

fix layer 0
  front/src/common/Map/Layers/OrderedLayer.tsx
Due: none

refacto
  front/src/common/Map/Layers/OSM.tsx
Due: none

stdcm: add a few tests
  core/src/main/java/fr/sncf/osrd/api/stdcm/BacktrackingEnvelopeAttr.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMGraph.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Due: core

core: stdcm: clean up STDCMGraph
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMEdge.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMGraph.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMNode.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMPathfinding.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Due: core

core: download railjson without extensions
  api/osrd_infra/views/railjson.py
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
Due: core

displacement
  front/src/applications/osrd/components/Simulation/SpeedSpaceChart/SpeedSpaceChart.js
  front/src/applications/osrd/components/Simulation/SpeedSpaceChart/withOSRDData.js
  front/src/applications/osrd/components/Simulation/SpeedSpaceSettings/SpeedSpaceSettings.js
  front/src/applications/osrd/components/Simulation/SpeedSpaceSettings/withOSRDData.js
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.tsx
Due: none

front: api: add speed limit composition on trainlist + set default osrd_backend_url
  api/config/settings.py
  api/openapi.yaml
  api/osrd_infra/migrations/0008_trainschedulemodel_adapt_speed_limit_category.py
  api/osrd_infra/models/train_schedule.py
  api/osrd_infra/views/train_schedule/standalone_simulation.py
  api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  front/public/locales/fr/simulation.json
  front/src/applications/osrd/components/AddTrainSchedule/formatConf.js
  front/src/applications/osrd/components/Simulation/ContextMenu.js
  front/src/applications/osrd/views/OSRDSimulation/TrainList.js
  front/src/reducers/osrdsimulation/index.ts
Due: none

osrdconf reducer types
  front/src/applications/osrd/consts.ts
  front/src/reducers/osrdconf.ts
  front/src/utils/types.ts
Due: none

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Due: editoast

constants
  front/src/applications/osrd/consts.ts
  front/src/applications/osrd/views/OSRDConfig/OSRDConfig.js
Due: none

front: api: add speed limit composition on trainlist + set default osrd_backend_url (#2213)
  api/config/settings.py
  api/openapi.yaml
  api/osrd_infra/migrations/0008_trainschedulemodel_adapt_speed_limit_category.py
  api/osrd_infra/models/train_schedule.py
  api/osrd_infra/views/train_schedule/standalone_simulation.py
  api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  front/public/locales/fr/simulation.json
  front/src/applications/osrd/components/AddTrainSchedule/formatConf.js
  front/src/applications/osrd/components/Simulation/ContextMenu.js
  front/src/applications/osrd/views/OSRDSimulation/TrainList.js
  front/src/reducers/osrdsimulation/index.ts
Due: none

make enum booleans
  front/src/utils/__tests__/constants.spec.ts
  front/src/utils/constants.ts
Due: none

prevent crash
  front/src/applications/osrd/views/OSRDConfig/Itinerary.js
Due: none

devtools config
  front/src/Store.js
Due: none

better defined types in util function
  front/src/utils/constants.ts
Due: none

refactor stdcm mode constants + booleans
  front/src/applications/osrd/components/Itinerary/DisplayItinerary.js
  front/src/applications/osrd/consts.ts
  front/src/applications/stdcm/formatStcmConf.js
Due: none

refacto stdcm/simulation booleans
  front/src/applications/osrd/components/Itinerary/DisplayItinerary.js
  front/src/applications/osrd/views/OSRDConfig/OSRDConfig.js
Due: none

core: stdcm: build the range list manually
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMGraph.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMPathfinding.java
Due: core

stdc: add tests that require backtracking
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Due: core

core: stdc: stop adding braking curves at the end of the algo
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMPathfinding.java
Due: core

core: stdcm: add bracktracking
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMGraph.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMPathfinding.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Due: core

react-error-overlay resolution
  front/package.json
  front/yarn.lock
Due: none

enable redux devtools symbol serialization
  front/package.json
  front/src/Store.ts
  front/yarn.lock
Due: none

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
