Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

editoast: refactor infra object to use db pool v2 in tests
  editoast/src/modelsv2/infra_objects.rs
Due: editoast

core: rework visited nodes to include time ranges
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/VisitedNodes.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/VisitedNodesTests.kt
Due: core

front: use async/await in EntitySumUp
  front/src/applications/editor/components/EntitySumUp.tsx
Due: front

front: use early return in EntitySumUp
  front/src/applications/editor/components/EntitySumUp.tsx
Due: front

front: ignore errors for route entry/exit in getAdditionalEntities()
  front/src/applications/editor/components/EntitySumUp.tsx
Due: front

front: dedup codepaths in EntitySumUp
  front/src/applications/editor/components/EntitySumUp.tsx
Due: front

editoast: replace trains by train_schedules
  editoast/src/views/v2/train_schedule.rs
Due: editoast

core: debug: add simple csv writer util
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/DebugUtils.kt
Due: core

editoast: make core pathfinding/simulation errors non-fatal, take 2
  editoast/src/views/v2/path/pathfinding.rs
  editoast/src/views/v2/train_schedule.rs
Due: editoast

front: use new speed limit tags endpoint - add new endpoint in useStoreDataForSpeedLimitByTagSelector and merge speed limit tags
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/tools/rangeEdition/components/RangeEditionLeftPanel.tsx
  front/src/common/Map/Settings/MapSettingsSpeedLimits.tsx
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
  front/src/common/SpeedLimitByTagSelector/useStoreDataForSpeedLimitByTagSelector.ts
Due: front

add more builtin roles
  editoast/editoast_authz/src/builtin_role.rs
Due: editoast

glhf moi je pars en vacs
  editoast/editoast_authz/src/authorizer.rs
  editoast/editoast_authz/src/check_perms.sql
  editoast/editoast_authz/src/perms.rs
  editoast/src/modelsv2/auth.rs
Due: editoast

core: delete tsv1 endpoints (on hold)
  core/src/main/java/fr/sncf/osrd/App.java
  core/src/main/java/fr/sncf/osrd/api/ConflictDetectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/conflicts/ConflictDetectionEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/conflicts/ConflictDetectionResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlocksEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/request/PathfindingRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/request/PathfindingWaypoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/response/CurveChartPointResult.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/response/PathWaypointResult.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/response/SlopeChartPointResult.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/conflicts/Conflicts.kt
  core/src/main/kotlin/fr/sncf/osrd/conflicts/IncrementalPath.kt
  core/src/main/kotlin/fr/sncf/osrd/conflicts/IncrementalRequirementEnvelopeAdapter.kt
  core/src/main/kotlin/fr/sncf/osrd/conflicts/Resources.kt
  core/src/main/kotlin/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorV2.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/cli/StandaloneSimulationCommandTest.java
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingBlocksEndpointTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingElectrificationTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingSignalingTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingV2Test.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMEndpointTest.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
Due: core

front: add dto property to NGE component
  front/src/applications/operationalStudies/components/MacroEditor/NGE.tsx
Due: front

front: listen to NGE reloads
  front/src/applications/operationalStudies/components/MacroEditor/NGE.tsx
Due: front

front: add NGE DTO types
  front/src/applications/operationalStudies/components/MacroEditor/types.ts
Due: front

front: add basic NGE node import
  front/src/applications/operationalStudies/components/MacroEditor/import.ts
  front/src/applications/operationalStudies/views/v2/ScenarioV2.tsx
Due: front

front: add default trainrun categories/freqs to NGE
  front/src/applications/operationalStudies/components/MacroEditor/import.ts
  front/src/applications/operationalStudies/components/MacroEditor/types.ts
Due: front

editoast: silence dependency_on_unit_never_type_fallback
  editoast/Cargo.toml
  editoast/editoast_authz/Cargo.toml
  editoast/editoast_common/Cargo.toml
  editoast/editoast_derive/Cargo.toml
  editoast/editoast_models/Cargo.toml
  editoast/editoast_schemas/Cargo.toml
  editoast/editoast_search/Cargo.toml
  editoast/osm_to_railjson/Cargo.toml
Due: editoast

front: import train runs into NGE
  front/src/applications/operationalStudies/components/MacroEditor/import.ts
  front/src/applications/operationalStudies/components/MacroEditor/types.ts
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
Due: front

front: create node transitions in NGE
  front/src/applications/operationalStudies/components/MacroEditor/import.ts
  front/src/applications/operationalStudies/components/MacroEditor/types.ts
Due: front

front: create empty NGE nodes when OSRD OP is missing
  front/src/applications/operationalStudies/components/MacroEditor/import.ts
Due: front

front: import train schedule times into NGE
  front/src/applications/operationalStudies/components/MacroEditor/import.ts
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
Due: front

front: remove trailing slashes in osrdEditoastApi URLs
  front/src/common/api/osrdEditoastApi.ts
Due: front

front: fix power restriction ranges edition
  front/src/modules/powerRestriction/helpers/createPathStep.ts
Due: front

front: refacto createPathStep helper and add tests
  front/src/modules/powerRestriction/helpers/__tests__/createPathStep.spec.ts
  front/src/modules/powerRestriction/helpers/createPathStep.ts
  front/src/modules/powerRestriction/hooks/usePowerRestrictionSelectorBehaviours.ts
Due: front

ci: run editoast tests with backtrace enabled
  .github/workflows/build.yml
Due: none

editoast: implement Authorizer creation middleware
  editoast/editoast_authz/src/authorizer.rs
  editoast/src/main.rs
  editoast/src/tests/test_role_config.toml
  editoast/src/views/mod.rs
  editoast/src/views/projects.rs
  editoast/src/views/test_app.rs
Due: editoast

front: upgrade NGE to v2.7.0
  front/package.json
  front/src/applications/operationalStudies/components/MacroEditor/NGE.tsx
  front/vite.config.mts
  front/yarn.lock
Due: front

front: fix scheduled points and stops in imported trains
  front/src/applications/operationalStudies/hooks/useSetupItineraryForTrainUpdate.ts
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
