Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true

front: MapSettings: changes from rebase
  front/src/common/Map/Settings/MapSettings.js
Due: none

front: MapSearch: remove div
  front/src/common/Map/Buttons/MapButtons.js
  front/src/common/Map/Search/MapSearch.js
Due: none

Remove InfraSelector in MapButtons.js
  front/src/common/Map/Buttons/MapButtons.js
Due: none

front: Create custom hook useOutsideClick
  front/src/utils/hooks/useOutsideClick.ts
Due: none

front: MapButtons: Remove useEffect and use hook useOutsideClick
  front/src/common/Map/Buttons/MapButtons.js
Due: none

front: create HeaderPopUp and use in MapKey, MapSearch and MapSettings
  front/src/common/Map/HeaderPopUp.tsx
  front/src/common/Map/Search/MapSearch.js
  front/src/common/Map/Settings/MapSettings.js
Due: none

front: MapSearch: add ariaSelected in tabItems
  front/src/common/Map/Search/MapSearch.js
Due: none

front: MapButtons: refacto state for open popup
  front/src/common/Map/Buttons/MapButtons.js
Due: none

front: fix: const.ts: change type toogleMapKey in interface MapKeyProps. MapKey: add HeaderPopUp and remove button bottom right
  front/src/common/Map/MapKey.tsx
  front/src/common/Map/const.ts
Due: none

editoast: add attached objects endpoint
  editoast/openapi.yaml
  editoast/src/infra_cache/mod.rs
  editoast/src/schema/track_section.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/mod.rs
Due: editoast

front: change add project button
  front/src/applications/operationalStudies/Home.js
  front/src/applications/operationalStudies/components/Home/ProjectCardEmpty.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/styles/scss/applications/operationalStudies/_home.scss
Due: none

front: change add study button
  front/src/applications/operationalStudies/components/Project/StudyCardEmpty.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/views/Project.js
  front/src/styles/scss/applications/operationalStudies/_project.scss
Due: none

front: change add scenario button
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/applications/operationalStudies/components/Study/ScenarioCardEmpty.tsx
  front/src/applications/operationalStudies/views/Scenario.js
  front/src/applications/operationalStudies/views/Study.js
  front/src/styles/scss/applications/operationalStudies/_study.scss
Due: none

front: RenderPopUp: refacto clickLngLat. MapKey, MapSearch, MapSettings: change function name. Map.scss: remove active in map-modal class
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.js
  front/src/common/Map/Buttons/MapButtons.js
  front/src/common/Map/Map.scss
  front/src/common/Map/MapKey.tsx
  front/src/common/Map/Search/MapSearch.js
  front/src/common/Map/Settings/MapSettings.js
  front/src/common/Map/const.ts
Due: none

Limit layers to be searched for SnappedMarker
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
Due: none

editoast: Setup sentry
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/mod.rs
  editoast/src/main.rs
Due: editoast

editoast: Setup sentry (#3203)
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/mod.rs
  editoast/src/main.rs
Due: editoast

front: const.ts: create type searchPayloadType and SEARCH_URLh. MapSearchStation: refacto and use new const SEARCH_URL. Create MapSearchLine.
  front/public/locales/fr/map-search.json
  front/src/common/Map/Search/MapSearch.js
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchStation.js
  front/src/common/Map/const.ts
Due: none

front: refacto spaceTimeChart
  front/src/applications/customget/views/CustomGET.js
  front/src/applications/customget/views/DeprecatedSpaceTimeChart.js
  front/src/applications/customget/views/SpaceTimeChart.js
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/defineChart.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.js
  front/src/applications/operationalStudies/components/SimulationResults/ChartModal/ChartModal.js
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.js
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/createChart.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/createTrain.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/d3Helpers.js
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.js
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.js
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsConsts.js
  front/src/applications/stdcm/views/OSRDStdcmResults.js
Due: none

Cni/refacto space time chart (#3124)
  front/src/applications/customget/views/CustomGET.js
  front/src/applications/customget/views/DeprecatedSpaceTimeChart.js
  front/src/applications/customget/views/SpaceTimeChart.js
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/defineChart.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.js
  front/src/applications/operationalStudies/components/SimulationResults/ChartModal/ChartModal.js
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.js
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/createChart.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/createTrain.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/d3Helpers.js
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.js
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.js
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsConsts.js
  front/src/applications/stdcm/views/OSRDStdcmResults.js
Due: none

core: envelope-sim: add spot-bugs to build.gradle
  core/envelope-sim/build.gradle
Due: core

core: make sub-projects actually independent
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopePath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimContext.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/FlatPath.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegratorTest.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeSimContextBuilder.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/EnvelopeStopWrapper.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultModeAndProfilePoint.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
Due: core

core: rename envelope_path to envelope_sim_path
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeMaintainSpeedTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathTest.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeSimContextBuilder.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultModeAndProfilePoint.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/train/TestRollingStock.java
Due: core

core: aggregate code coverage from sub-projects
  .github/workflows/core.yml
  core/build.gradle
  core/envelope-sim/build.gradle
Due: core

core: adapt sub-project tests
  core/envelope-sim/build.gradle
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopePartTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/MRSPEnvelopeBuilderTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceRangesTests.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeMaintainSpeedTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopePathTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxSpeedEnvelopeTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegratorTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope/EnvelopeShape.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope/EnvelopeTestUtils.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/FlatPath.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeBuilder.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleContextBuilder.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/TestMRSPBuilder.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
Due: core

front: aesthetics fixes on study cards
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
  front/src/applications/operationalStudies/views/Project.js
  front/src/styles/scss/applications/operationalStudies/_project.scss
Due: none

fixup! core: adapt sub-project tests
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Due: core

front: MapButtons: add an useEffect to close the popover when opening modal and an useEffect to close the map popup
  front/src/common/Map/Buttons/MapButtons.js
Due: none
