Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, front

python + editoast: add announcement_track_ranges to neutral sections
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  editoast/src/models/infra.rs
  editoast/src/schema/neutral_section.rs
  editoast/src/tests/small_infra/small_infra.json
  front/src/reducers/osrdconf/infra_schema.json
  python/api/osrd_infra/migrations/0048_railjson_3_4_1.py
  python/api/poetry.lock
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/pyproject.toml
  python/railjson_generator/railjson_generator/schema/infra/infra.py
  python/railjson_generator/railjson_generator/schema/infra/neutral_section.py
  python/railjson_generator/railjson_generator/schema/infra/range_elements.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
  tests/poetry.lock
Due: core, editoast, front

core: separate neutral section announcements
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Neutral.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSNeutralSection.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationRange.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
Due: core

front: fix a bit of electrification in speed-space chart
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationRange.java
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  front/public/locales/en/simulation.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/consts.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
Due: core, editoast, front

comparison script V 1.1
  tests/tests/test_compare_pathfinding_results.py
Due: none

tests: comparaison script: run pycharm cleanup
  tests/fuzzer/compare_pathfinding_results.py
  tests/tests/test_compare_pathfinding_results.py
Due: none

front: tests: turn off TrainHoverPosition unit test
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/__tests__/TrainHoverPosition.spec.ts.off
Due: front

front: upgrade all libs versions
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/Map.tsx
  front/yarn.lock
Due: front

front: update terrain url to osm.osrd.fr
  front/src/common/Map/Layers/Hillshade.tsx
  front/src/common/Map/Layers/Terrain.tsx
Due: front

front: mapsearch: modal closes on click on result
  front/src/common/Map/Search/MapSearch.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/MapSearchStation.tsx
Due: front

core: kt-infra: fix bug when converting path offset to location
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/DebugViewers.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingTest.java
Due: core

front: disable electrical profile option for thermal rollingstock
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawElectricalProfile.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.tsx
  front/src/common/BootstrapSNCF/CheckboxRadioSNCF.jsx
  front/src/common/BootstrapSNCF/CheckboxRadioSNCF.scss
  front/src/common/BootstrapSNCF/CheckboxRadioSNCF.tsx
Due: front

front: fix electrical infos background in gev
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawElectricalProfile.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.tsx
  front/src/common/BootstrapSNCF/CheckboxRadioSNCF.scss
Due: front

core: pathfinding: fix duplicate waypoints on different tracks
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathWaypointResult.java
Due: core

core: tests: rename getSignalingSystems
  core/src/test/java/fr/sncf/osrd/Helpers.java
Due: core

core: migrate validate method to check path coherency
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackNetworkInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/StaticIdx.kt
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/ErrorType.java
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/OSRDError.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
Due: core

front: fix pathfinding not relaunching if rollingstock is updated
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfAddTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfUpdateTrainSchedules.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockCardButtons.tsx
Due: front

front: migrate last api imports to editoast
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/components/OldAllowances/Allowance.tsx
  front/src/applications/stdcm/components/OldAllowances/EmptyLine.tsx
  front/src/applications/stdcm/components/OldAllowances/StandardAllowanceDefault.tsx
  front/src/reducers/osrdconf/index.ts
Due: front

editoast : add tests
  editoast/src/views/mod.rs
Due: editoast

tests: comparaison: write geojson output for easier tests
  tests/fuzzer/compare_pathfinding_results.py
Due: none

editoast: migrate core version endpoint
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/core/mod.rs
  editoast/src/core/version.rs
  editoast/src/main.rs
  editoast/src/views/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

front: use editoast instead of api for core version endpoint
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
Due: front

editoast: add timetable import endpoint
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/core/pathfinding.rs
  editoast/src/core/simulation.rs
  editoast/src/models/infra_objects/operational_point.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/stdcm/mod.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule/mod.rs
Due: editoast

front: disable electrical profiles options if rs use thermal mode only
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawElectricalProfile.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.tsx
  front/src/common/BootstrapSNCF/CheckboxRadioSNCF.scss
  front/src/common/BootstrapSNCF/CheckboxRadioSNCF.tsx
Due: front

core: pathfinding: fix crash when the path almost forms a loop
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverterTest.java
Due: core

editoast: update actix logging
  editoast/src/main.rs
Due: editoast

osrd_schemas: explicit signaling systems
  .github/workflows/osrd_schemas.yml
  editoast/src/converters/utils.rs
  editoast/src/schema/signal.rs
  front/src/reducers/osrdconf/infra_schema.json
  python/api/poetry.lock
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/osrd_schemas/infra_editor.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
Due: editoast, front

osrd_schema+api+editoast: renamed Panel to Sign and lpv to psl in the backend.
  editoast/map_layers.yml
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/generated_data/mod.rs
  editoast/src/generated_data/psl_sign.rs
  editoast/src/generated_data/sql/generate_lpv_panel_layer.sql
  editoast/src/generated_data/sql/generate_psl_sign_layer.sql
  editoast/src/generated_data/sql/insert_lpv_panel_layer.sql
  editoast/src/generated_data/sql/insert_psl_sign_layer.sql
  editoast/src/schema/mod.rs
  editoast/src/schema/speed_section.rs
  editoast/src/tables.rs
  editoast/src/views/layers/mvt_utils.rs
  front/src/reducers/osrdconf/infra_schema.json
  python/api/osrd_infra/migrations/0001_initial.py
  python/api/osrd_infra/migrations/0049_rename_lpvpanellayer_pslsignlayer.py
  python/api/osrd_infra/models/generated.py
  python/osrd_schemas/osrd_schemas/infra.py
Due: editoast, front

front: rename panel to sign and LPV to PSL
  front/public/locales/en/map-settings.json
  front/public/locales/en/translation.json
  front/public/locales/fr/map-settings.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/EditLPVSection.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/EditPSLSection.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/LpvPanelSubSection.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/PslSignCard.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/PslSignSubSection.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.ts
  front/src/applications/editor/tools/rangeEdition/tools.ts
  front/src/applications/editor/tools/rangeEdition/types.ts
  front/src/applications/editor/tools/rangeEdition/utils.ts
  front/src/applications/editor/tools/types.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Consts/SignalsNames.ts
  front/src/common/Map/Consts/colors.ts
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/Layers/Signals.tsx
  front/src/common/Map/Layers/extensions/SNCF/SNCF_PSL.tsx
  front/src/common/Map/Layers/extensions/SNCF/SNCF_PSL_SIGNS.tsx
  front/src/common/Map/Layers/geoSignalsLayers.ts
  front/src/common/Map/Settings/MapSettingsSpeedLimits.jsx
  front/src/reducers/map/index.ts
  front/src/reducers/osrdconf/infra_schema.json
  front/src/types/editor.ts
  front/tests/pages/home-page-model.ts
  front/tests/pages/project-page-model.ts
Due: front

front: intervals editor, display additionnal read-only data
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionsSelector.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/types.ts
  front/src/stories/IntervalsEditor.stories.tsx
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  front: any of: front/
