Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

front: fix comfort type not updated after rs change
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCardButtons.tsx
Due: front

front: add times and stops e2e test for operational studies
  front/src/modules/timesStops/TimesStopsInput.tsx
  front/tests/011-op-times-and-stops-tab.spec.ts
  front/tests/assets/operationStudies/timesAndStops/expectedInputsCellsData.json
  front/tests/assets/operationStudies/timesAndStops/expectedOutputsCellsData.json
  front/tests/assets/operationStudies/timesAndStops/initialInputs.json
  front/tests/assets/operationStudies/timesAndStops/updatedInputs.json
  front/tests/assets/operationStudies/timesAndStops/updatedInputsCellsData.json
  front/tests/pages/op-input-table-page-model.ts
  front/tests/pages/op-output-table-page-model.ts
  front/tests/pages/op-timetable-page-model.ts
  front/tests/pages/operational-studies-page-model.ts
  front/tests/pages/scenario-page-model.ts
  front/tests/utils/dataNormalizer.ts
  front/tests/utils/index.ts
  front/tests/utils/scrollHelper.ts
Due: front

front: incorrect location of the conflict list
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
Due: front

front: upgrade sass
  front/src/modules/conflict/styles/_conflictList.scss
  front/src/styles/scss/_body.scss
  front/src/styles/scss/_variables.scss
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/vite.config.mts
  front/yarn.lock
Due: front

front: drop sass-loader dependency
  front/package.json
  front/yarn.lock
Due: front

editoast: remove duplicate TrainRequirement struct
  editoast/src/core/stdcm.rs
  editoast/src/views/timetable/stdcm.rs
Due: editoast

ci: checkout code before getting labeler's configuration file
  .github/workflows/pr.yml
Due: none

osrdyne: change policy to match all queues
  osrdyne/src/pool.rs
Due: none

front: convert base64 encoded map image to jpeg
  front/src/applications/stdcm/components/SimulationReportSheet.tsx
  front/src/applications/stdcm/utils/formatSimulationReportSheet.ts
Due: front

wip
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathPropertiesImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/utils/PathPropertiesView.kt
Due: core

front: scenario page size adjustment
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Due: front

front: integration manchette with spacetimechart using new hook from osrd-ui
  front/package.json
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/hooks/useStdcmResults.ts
  front/src/applications/stdcm/views/StdcmResultsV2.tsx
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResults.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/useGetProjectedTrainOperationalPoints.ts
  front/src/styles/scss/_uiSpaceTimeChart.scss
  front/src/styles/scss/_variables.scss
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/components/_manchetteWithSpaceTimeChart.scss
  front/src/styles/styles.scss
  front/yarn.lock
Due: front

editoast: fix max running time default value
  editoast/src/views/timetable/stdcm.rs
  tests/tests/test_stdcm.py
Due: editoast

osrdyne, gateway, editoast: change docker base images to alpine
  .github/workflows/build.yml
  editoast/Dockerfile
  gateway/Dockerfile
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
  osrdyne/Dockerfile
Due: editoast, gateway

front: show the path used for the projection on the warped map
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/Map/WarpedMap/SimulationWarpedMap.tsx
  front/src/modules/simulationResult/types.ts
Due: front

front: reorganize projection props in useScenarioData and simulationResults
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/types.ts
Due: front

front: bump ui-speedspacechart to 0.0.46
  front/package.json
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/hooks/useStdcmResults.ts
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/views/StdcmResultsV2.tsx
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcmV2/types.ts
  front/src/applications/stdcmV2/views/StdcmViewV2.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/SpeedSpaceChartContainer.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/helpers.ts
  front/yarn.lock
Due: front

front: bump ui-core to 0.0.46
  front/package.json
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcmV2/components/StdcmOpSchedule.tsx
  front/src/utils/date.ts
  front/yarn.lock
Due: front

front: bump ui-icons, ui-manchette and ui-spacetimechart to 0.0.46
  front/package.json
  front/yarn.lock
Due: front

editoast: fix the openapi on lock/unlock rolling stock
  editoast/openapi.yaml
  editoast/src/views/rolling_stock.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: alphabetical re-ordering of the lines
  editoast/editoast_schemas/src/rolling_stock.rs
Due: editoast

editoast: remove useless empty line
  editoast/editoast_schemas/src/rolling_stock/gamma.rs
Due: editoast

editoast: fix typo and improve the comment
  editoast/src/views/rolling_stock.rs
Due: editoast

in progress
  front/src/applications/stdcm/utils/formatStdcmConfV2.ts
  front/src/applications/stdcmV2/components/StdcmConfig.tsx
  front/src/applications/stdcmV2/components/StdcmConsist.tsx
  front/src/applications/stdcmV2/components/StdcmDestination.tsx
  front/src/applications/stdcmV2/components/StdcmInputVia.tsx
  front/src/applications/stdcmV2/components/StdcmOperationalPoint.tsx
  front/src/applications/stdcmV2/components/StdcmOrigin.tsx
  front/src/applications/stdcmV2/components/StdcmStopType.tsx
  front/src/applications/stdcmV2/components/StdcmVias.tsx
  front/src/applications/stdcmV2/hooks/usePathfindingIsPossible.ts
  front/src/applications/stdcmV2/hooks/useStdcmForm.ts
  front/src/applications/stdcmV2/types.ts
  front/src/applications/stdcmV2/utils/checkStdcmConfigErrors.ts
  front/src/applications/stdcmV2/views/StdcmViewV2.tsx
  front/src/common/Map/Search/useSearchOperationalPoint.tsx
  front/src/modules/pathfinding/components/Itinerary/DisplayItinerary/ViaStopDurationSelector.tsx
  front/src/modules/pathfinding/hooks/usePathfinding.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/reducers/osrdconf/stdcmConf/selectors.ts
  front/src/reducers/osrdconf/types.ts
  front/src/utils/__tests__/date.spec.ts
  front/src/utils/date.ts
Due: front

editoast: locked rolling stocked returns a 409
  editoast/openapi.yaml
  editoast/src/views/rolling_stock.rs
Due: editoast
