Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

e2e: remove train-creation-tabs specs for old itinerary modal
  front/tests/02-operational-studies/timetable/007-scenario-page-synchronization.spec.ts
  front/tests/02-operational-studies/train-creation-tabs/001-op-rolling-stock-tab.spec.ts
  front/tests/02-operational-studies/train-creation-tabs/002-op-route-tab.spec.ts
  front/tests/02-operational-studies/train-creation-tabs/003-op-times-and-stops-tab.spec.ts
  front/tests/02-operational-studies/train-creation-tabs/004-op-simulation-settings-tab.spec.ts
  front/tests/02-operational-studies/train-creation-tabs/004-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-AllSettingsEnabled-chromium-linux.png
  front/tests/02-operational-studies/train-creation-tabs/004-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-ElectricalProfileActivated-chromium-linux.png
  front/tests/02-operational-studies/train-creation-tabs/004-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-ElectricalProfileDisabled-chromium-linux.png
  front/tests/02-operational-studies/train-creation-tabs/004-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-LinearMargin-chromium-linux.png
  front/tests/02-operational-studies/train-creation-tabs/004-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-MarecoMargin-chromium-linux.png
  front/tests/02-operational-studies/train-creation-tabs/004-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-SpeedLimitTagActivated-chromium-linux.png
  front/tests/02-operational-studies/train-creation-tabs/004-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-SpeedLimitTagDisabled-chromium-linux.png
  front/tests/README.md
  front/tests/assets/constants/operational-studies-const.ts
  front/tests/assets/constants/stdcm/missing-fields.ts
  front/tests/assets/operation-studies/times-and-stops/expected-inputs-cells-data.json
  front/tests/assets/operation-studies/times-and-stops/expected-outputs-cells-data.ts
  front/tests/assets/operation-studies/times-and-stops/initial-inputs.json
  front/tests/assets/operation-studies/times-and-stops/updated-inputs-cells-data.json
  front/tests/assets/operation-studies/times-and-stops/updated-inputs.json
  front/tests/page-object-fixture.ts
  front/tests/pages/operational-studies/operational-studies-page.ts
  front/tests/pages/operational-studies/paced-train-section.ts
  front/tests/pages/operational-studies/route-tab.ts
  front/tests/pages/operational-studies/scenario-timetable-section.ts
  front/tests/pages/operational-studies/simulation-settings-tab.ts
  front/tests/pages/operational-studies/times-and-stops-tab.ts
  front/tests/pages/rolling-stock/rolling-stock-selector.ts
  front/tests/utils/data-normalizer.ts
  front/tests/utils/types.ts
Due: front

editoast: openapi: replace PowerRestriction with PowerRestrictionItem
  editoast/openapi.yaml
  editoast/schemas/src/train_schedule/power_restriction_item.rs
  osrd_schemas/osrd_schemas/models.py
Due: editoast

front: remove TypeAndPath from old modal
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/modules/pathfinding/components/Itinerary/Itinerary.tsx
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPath.tsx
Due: front

front: remove prop-drilling for trainScheduleToEditData
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/Timetable.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TimetableBoardWrapper.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainList.tsx
Due: front

front: remove osrdConf usage from ItineraryModal
  front/public/locales/de/operational-studies.json
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/hooks/useItineraryModalContext.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/CreateTrainScheduleButton.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/ManageTrainScheduleLeftPanel.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/__tests__/formatTrainSchedulePayload.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/formatTrainSchedulePayload.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/hooks/useCreateTrainSchedule.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/hooks/useUpdateTrainSchedule.ts
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainList.tsx
  front/src/modules/pathfinding/components/Itinerary/Itinerary.tsx
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPath.tsx
  front/src/modules/pathfinding/helpers/__tests__/reversePathSteps.spec.ts
  front/src/modules/pathfinding/helpers/reversePathSteps.ts
  front/src/modules/trainHeader/TrainHeader.tsx
Due: front

front: improve TrainScheduleToEditData naming and docs
  front/src/applications/operationalStudies/hooks/useItineraryModalContext.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/hooks/useUpdateTrainSchedule.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainList.tsx
  front/src/modules/trainHeader/TrainHeader.tsx
Due: front

scripts: show pr-tests-compose's help on several lines
  scripts/pr-tests-compose.sh
Due: none

scripts: add rmi command to pr-tests-compose
  scripts/pr-tests-compose.sh
Due: none

editoast: filter readable train schedule in track occupancy
  editoast/src/authorizers.rs
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

front: owners of a resource cannot revoke their own grant
  front/src/common/authorization/components/GrantsManagerSubject.tsx
Due: front

front: permissions on rolling stock application
  front/src/applications/rollingStockEditor/RollingStockEditorView.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorList.tsx
  front/src/applications/rollingStockEditor/components/RollingStockInformationPanel.tsx
  front/src/applications/rollingStockEditor/styles.scss
  front/src/common/authorization/_grantsManager.scss
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockModal.tsx
  front/src/modules/rollingStock/hooks/useFilterRollingStock.ts
  front/src/utils/hooks/useAuth.ts
Due: front

front: fix issue on useResourceListUser
  front/src/common/authorization/hooks/useResourceListUser.tsx
Due: front

front: check rolling permission on scenario page
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/common/authorization/hooks/useAuthz.tsx
  front/src/modules/trainSchedule/types.ts
  front/src/store/listeners/authorization.ts
Due: front

front: refacto rolling stock
  front/src/applications/rollingStockEditor/RollingStockEditorView.tsx
  front/src/applications/rollingStockEditor/components/CurveParamSelectors.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormModal.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorList.tsx
  front/src/applications/rollingStockEditor/components/RollingStockInformationPanel.tsx
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCard.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockModal.tsx
Due: front

front: hourly time axis for hourly timetables
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartToolbar.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/hourly-mode.stories.tsx
  front/ui/ui-charts/src/common/layers/TimeCaptions.tsx
  front/ui/ui-charts/src/common/layers/TimeGraduations.tsx
  front/ui/ui-charts/src/common/types.ts
  front/ui/ui-charts/src/spaceTimeChart/components/SpaceTimeChart.tsx
  front/ui/ui-charts/src/spaceTimeChart/lib/types.ts
Due: front

core: move raisePantographTime from RollingStock to PhysicsRollingStock
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.kt
  core/src/main/java/fr/sncf/osrd/train/RollingStock.kt
Due: core

core: add PhysicsRollingStock.isThermal
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.kt
  core/src/main/java/fr/sncf/osrd/train/RollingStock.kt
Due: core

core: add PhysicsRollingStock.lowerPantographTime
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.kt
Due: core

core: add train sim v3
  core/gradle/libs.versions.toml
  core/osrd-mp/build.gradle
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/envelope_sim/EnvelopeSimContext.kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/Curve.kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/PreciseUnits.kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/SpeedConstraint.kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/Tracer.kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/trainsim.kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/utils/KmpPlease...kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/utils/MathExt.kt
  core/osrd-mp/src/commonTest/kotlin/fr/sncf/osrd/trainsim/CurveTest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/standalone_sim/SimulationRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/trainsim/PreciseUnitsExt.kt
  core/src/main/kotlin/fr/sncf/osrd/trainsim/Simulation.kt
  core/src/main/kotlin/fr/sncf/osrd/trainsim/TrainStateExt.kt
  core/src/main/kotlin/fr/sncf/osrd/trainsim/range.kt
  core/src/test/kotlin/fr/sncf/osrd/trainsim/RangeTest.kt
Due: core

traisin: setup multitrain simulation
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/MultiTrainSimulation.kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/TrainSimulator.kt
  core/src/main/kotlin/fr/sncf/osrd/trainsim/Simulation.kt
  core/src/test/kotlin/fr/sncf/osrd/trainsim/MultiTrainSimulationTest.kt
Due: core

core: WIP run trainsim v3 for the standalone sim
  core/src/main/kotlin/fr/sncf/osrd/api/standalone_sim/SimulationEndpoint.kt
Due: core

core: add a trainsim v3 inspection tool
  core/scripts/.gitignore
  core/scripts/trainsim-chart.html
  core/scripts/trainsim-chart.ts
  core/scripts/tsconfig.json
Due: core

trainsim: basic intersection regulator
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/HoldAt.kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/MultiTrainSimulation.kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/TrainSimulator.kt
  core/src/main/kotlin/fr/sncf/osrd/conflicts/Conflicts.kt
  core/src/main/kotlin/fr/sncf/osrd/trainsim/IntersectionRegulator.kt
  core/src/main/kotlin/fr/sncf/osrd/trainsim/Intersections.kt
  core/src/main/kotlin/fr/sncf/osrd/trainsim/ReservationTable.kt
  core/src/test/kotlin/fr/sncf/osrd/trainsim/MultiTrainSimulationTest.kt
  core/src/test/kotlin/fr/sncf/osrd/trainsim/ReservationTableTest.kt
Due: core

front: allow multiline string in itinerarylayer props
  front/src/common/Map/components/ItineraryLayer.tsx
Due: front

ci: forbid any use of `fix` at the beginning of a commit message
  .github/scripts/check-commit-titles.sh
Due: none

ci: separate the build of editoast and editoast-test
  .github/workflows/build.yml
Due: none

editoast: adapt api to forward can_backtrack from front to editoast
  editoast/openapi.yaml
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/request.rs
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/applications/stdcm/utils/formatStdcmConf.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/pathfinding/hooks/usePathfindingV2.ts
  front/src/modules/pathfinding/utils.ts
  osrd_schemas/osrd_schemas/models.py
  tests/conftest.py
  tests/fuzzer/fuzzer.py
  tests/fuzzer/fuzzer_stdcm_single_timetable.py
  tests/tests/regression_tests_data/coasting_not_intersecting_v2.json
  tests/tests/regression_tests_data/stdcm_conflict_in_result.json
  tests/tests/regression_tests_data/stdcm_timetable_conflict.json
  tests/tests/regression_tests_data/stdcm_zone_transition_near_start.json
  tests/tests/test_pathfinding.py
  tests/tests/test_stdcm.py
Due: editoast, front

editoast: stop requiring operational studies role in POST/infra/id/clone
  editoast/src/views/infra/mod.rs
Due: editoast

front: center StdcmLoader window to match other windows' position
  front/src/applications/stdcm/styles/_loader.scss
Due: front
