Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

editoast: move `views::Server` in its own submodule
  editoast/src/views/mod.rs
  editoast/src/views/server.rs
Due: editoast

editoast: move `/version` in its own submodule
  editoast/src/views/mod.rs
  editoast/src/views/version.rs
Due: editoast

front: disable NPM scripts for all dependencies
  front/.npmrc
Due: front

front: fix overtake filters
  front/src/applications/stdcm/components/StdcmForm/StdcmOperationalPoint.tsx
  front/src/modules/SimulationReportSheet/utils/formatSimulationReportSheet.ts
Due: front

storybook: fix errors in Default manchetteWithSpaceTimeChart stories objects
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/base.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/simple.stories.tsx
Due: front

ui-charts: use appropriate layers for TOD components
  front/ui/ui-charts/src/trackOccupancyDiagram/components/layers/OccupancyZonesLayer.tsx
  front/ui/ui-charts/src/trackOccupancyDiagram/components/layers/TracksLayer.tsx
Due: front

ui-charts: fix manchette offset in TrackOccupancyStandalone
  front/ui/ui-charts/src/trackOccupancyDiagram/components/TrackOccupancyStandalone.tsx
Due: front

storybook: add type checking for Default ui-charts stories objects
  front/ui/storybook/stories/ui-charts/chronogram/base-rendering.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/base.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/rectangle-zoom.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/simple.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/split.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/track-occupancy.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/additional-data.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/base-rendering.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/custom-styles.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/horizontal-zoom.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/measuring.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/options.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/paths-interactions.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/performances.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/quadrilateral.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/rectangle-zoom.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/scroll-navigation.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/split.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/stage-interactions.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/work-schedules.stories.tsx
Due: front

ui-charts: don't draw grid in TrackOccupancyStandalone
  front/ui/ui-charts/src/trackOccupancyDiagram/components/TrackOccupancyStandalone.tsx
Due: front

chart: remove unnecessary comments
  .github/workflows/chart-build.yml
  chart/values.yaml
Due: none

editoast: doc: how to flush cache
  editoast/README.md
Due: editoast

editoast: authz: implement get_infra_xxx methods in authz::v2
  editoast/authz/src/model.rs
  editoast/authz/src/v2/infra.rs
  editoast/authz/src/v2/test_client_ext.rs
Due: editoast

core: delete RJSTemporarySpeedLimit
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/common/RJSTemporarySpeedLimit.kt
Due: core

front: replace RelatedOperationalPoint[] with RelatedOperationalPoint | null
  front/src/applications/operationalStudies/hooks/usePathOps.ts
  front/src/applications/operationalStudies/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/applications/operationalStudies/views/Scenario/components/RoundTrips/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResultsMap.tsx
  front/src/modules/timesStops/helpers/utils.ts
  front/src/modules/timesStops/hooks/useOutputTableData.ts
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
  front/src/reducers/osrdconf/types.ts
Due: front

editoast: replace uses of get_infra_xxx methods by their v2 equivalent
  editoast/authz/src/regulator.rs
  editoast/src/views/authz.rs
Due: editoast

editoast: delete the get_infra_xxx methods from the authz Regulator
  editoast/authz/src/regulator.rs
Due: editoast

editoast: rename GET endpoint handler into my_grants_on_resource
  editoast/src/views.rs
  editoast/src/views/authz.rs
Due: editoast

ci: add codeowners entry for osrd_schemas_auto
  .github/CODEOWNERS
Due: none

editoast: authz: deprecate `StorageDriver::get_user_info`
  editoast/authz/src/regulator.rs
  editoast/src/client/group.rs
  editoast/src/client/roles.rs
  editoast/src/client/user.rs
Due: editoast

editoast: client: reuse DB connection in `group info`
  editoast/src/client/group.rs
Due: editoast

editoast: views: move `macro_notes` in `operational_studies::macro_view`
  editoast/src/views.rs
  editoast/src/views/operational_studies.rs
  editoast/src/views/operational_studies/macro_view.rs
  editoast/src/views/operational_studies/macro_view/macro_notes.rs
  editoast/src/views/scenario.rs
Due: editoast

editoast: views: move `Ordering` in `operational_studies::hierarchy`
  editoast/src/views/operational_studies.rs
  editoast/src/views/operational_studies/hierarchy.rs
  editoast/src/views/operational_studies/hierarchy/project.rs
  editoast/src/views/operational_studies/hierarchy/scenario.rs
  editoast/src/views/operational_studies/hierarchy/study.rs
  editoast/src/views/work_schedules.rs
Due: editoast

editoast: views: move `project` in `operational_studies::hierarchy`
  editoast/src/views.rs
  editoast/src/views/operational_studies/hierarchy.rs
  editoast/src/views/operational_studies/hierarchy/project.rs
  editoast/src/views/operational_studies/hierarchy/scenario.rs
  editoast/src/views/operational_studies/hierarchy/study.rs
Due: editoast

editoast: views: move `scenario` in `operational_studies::hierarchy`
  editoast/src/views.rs
  editoast/src/views/operational_studies.rs
  editoast/src/views/operational_studies/hierarchy.rs
  editoast/src/views/operational_studies/hierarchy/scenario.rs
Due: editoast

editoast: views: move `macro_nodes` in `operational_studies::macro_view`
  editoast/src/views.rs
  editoast/src/views/operational_studies/macro_view.rs
  editoast/src/views/operational_studies/macro_view/macro_nodes.rs
  editoast/src/views/scenario.rs
Due: editoast

editoast: views: move `study` in `operational_studies::hierarchy`
  editoast/src/views.rs
  editoast/src/views/operational_studies/hierarchy.rs
  editoast/src/views/operational_studies/hierarchy/scenario.rs
  editoast/src/views/operational_studies/hierarchy/study.rs
Due: editoast

editoast: fix malformed train schedule path
  editoast/migrations/2026-05-22-161500-0000_fix_local_track_name_format/down.sql
  editoast/migrations/2026-05-22-161500-0000_fix_local_track_name_format/up.sql
Due: editoast

editoast: authz: merge `SanityCheck` and `Guardrail`
  editoast/authz/src/v2.rs
  editoast/authz/src/v2/group.rs
  editoast/authz/src/v2/infra.rs
  editoast/authz/src/v2/roles.rs
  editoast/src/authorizers.rs
Due: editoast

editoast: authorizers run checks concurrently
  editoast/src/authorizers.rs
Due: editoast

editoast: attach authz check functions to their authorizer
  editoast/authz/src/v2.rs
  editoast/src/authorizers.rs
Due: editoast

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
