Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

tests: fix pyright error with dynamically added attribute not part of base class
  tests/infra-scripts/one_line.py
Due: none

front: add schedules to duplicate div to stdcm report sheet
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/StdcmResults/SimulationReportStyleSheet.ts
  front/src/utils/date.ts
Due: front

python, tests, front: bump pydantic from 2.6 to 2.7 to support python 3.13
  front/src/reducers/osrdconf/infra_schema.json
  python/osrd_schemas/pyproject.toml
  python/osrd_schemas/uv.lock
  python/railjson_generator/uv.lock
  tests/uv.lock
Due: front

front: re-introduce margin reset in ngeToOsrd
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: upsert exceptions in paced train to update
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/buildPacedTrainException.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTimetableItemPayload.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTimetableItem.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/modules/trainschedule/helpers/computeBasePathStep.ts
  front/src/modules/trainschedule/helpers/formatBaseTimetableItemWithDetails.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/operationalStudiesConfReducer.spec.ts
Due: front

front: fill occurrence with its exception and refacto useOccurrences
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/hooks/useOccurrences.tsx
Due: front

front: hide paced train switch when editing an occurrence
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/modules/trainschedule/components/ManageTrainSchedule/TimetableManageTrainSchedule.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/operationalStudiesConfReducer.spec.ts
  front/src/reducers/osrdconf/operationalStudiesConf/index.ts
Due: front

front: replace editingTrainIsPacedTrain by editingItemType in store
  front/src/modules/trainschedule/components/ManageTrainSchedule/TimetableManageTrainSchedule.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/checkCurrentConfig.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTimetableItem.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/operationalStudiesConfReducer.spec.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/trainSettingsReducer.ts
  front/src/reducers/osrdconf/operationalStudiesConf/index.ts
  front/src/reducers/osrdconf/operationalStudiesConf/selectors.ts
  front/src/reducers/osrdconf/operationalStudiesConf/trainSettingsReducer.ts
  front/src/reducers/osrdconf/types.ts
Due: front

front: handle exception reset when updating in nge
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: fix destination stop duration in nge
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: fix exception category silo translation
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
Due: front

front: handle exception reset when updating the paced train
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/__tests__/formatTimetableItemPayload.spec.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/buildPacedTrainException.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTimetableItemPayload.ts
Due: front

front: replace setItemIdToEdit by setItemToEditData
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/TimetableManageTrainSchedule.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTimetableItem.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/reducers/osrdconf/types.ts
Due: front

front: keep paced train exceptions when updating one in nge
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: update formatMargin to always return something
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatMargin.ts
Due: front

front: fix null category not handled in the occurrence indicator
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/hooks/useOccurrences.tsx
Due: front

front: type the expected state for selectTrainToEdit() test
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/operationalStudiesConfReducer.spec.ts
Due: front

front: display occurrence name in italic if start time exception
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
Due: front

front: stdcm: show feedback even if no solution found
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
Due: front

front: avoid implicit any cast in processJsonFile()
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/handleParseFiles.ts
Due: front

tests: add test reproducing an "empty envelope" error
  tests/tests/regression_tests_data/empty_envelope.json
Due: none

tests: add test reproducing an stdcm "mismatch" error
  tests/tests/regression_tests_data/mismatch_small_infra.json
Due: none

front: unify paced field in ngeToOsrd
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: remove check for empty string in secondary code
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: move exceptions field to DEFAULT_PACED_TRAIN_PAYLOAD
  front/src/applications/operationalStudies/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

editoast: paced train exceptions conflits endpoint
  editoast/editoast_schemas/src/fixtures.rs
  editoast/openapi.yaml
  editoast/src/models/fixtures.rs
  editoast/src/views/timetable.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/conflict/utils.ts
  tests/tests/test_timetable.py
Due: editoast, front

front: split station OP search into separate function in ngeToOsrd
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: ensure macro node position is an integer
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: take DTO instead of MacroEditorState in createPacedAttributesFromTrainrun()
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
Due: front

editoast: take a list in macro node POST endpoint
  editoast/openapi.yaml
  editoast/src/models/macro_node.rs
  editoast/src/views/scenario/macro_nodes.rs
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: stop using Result in MacroNodeForm::into_macro_node_changeset
  editoast/src/views/scenario/macro_nodes.rs
Due: editoast

front: add support for importing NGE JSON files
  front/src/applications/operationalStudies/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/handleParseFiles.ts
Due: front

front: don't rely on TRAIN_SCHEDULE_FREQUENCY_ID in ngeToOsrd
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: import macro nodes
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/ImportTimetableItem.tsx
  front/src/modules/trainschedule/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
Due: front

fixup!
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/VisitedNodes.kt
Due: core

core: stdcm: bench saved payloads
  core/src/main/java/fr/sncf/osrd/cli/ReproduceRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/VisitedNodes.kt
Due: core
