Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

core: scripts: update python version
  core/scripts/pyproject.toml
  core/scripts/uv.lock
Due: core

front: refactor propagateTime to see clearly each mode behaviour
  front/src/modules/timesStops/helpers/timePropagation.ts
Due: front

front: change atThisWaypoint propagation behaviour for departure
  front/src/modules/timesStops/helpers/timePropagation.ts
Due: front

front: use a mode list to build propagation menu items
  front/src/modules/timesStops/TimePropagationMenu.tsx
Due: front

front: add a new propagation mode atThisTime
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/modules/timesStops/TimeCell.tsx
  front/src/modules/timesStops/TimePropagationMenu.tsx
  front/src/modules/timesStops/helpers/stopDurationPropagation.ts
  front/src/modules/timesStops/helpers/timePropagation.ts
  front/src/modules/timesStops/types.ts
Due: front

squash: fix Db drop behavior when cloned - replace with a drop guard
  editoast/database/src/db_connection_pool.rs
Due: editoast

ai: migrate crate database to SeaORM and SQLx
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/SEAORM_MIGRATION.md
  editoast/database/Cargo.toml
  editoast/database/src/db_connection_pool.rs
  editoast/database/src/db_connection_pool/tracing_instrumentation.rs
  editoast/database/src/lib.rs
  editoast/database/src/postgres_rustls.rs
  editoast/database/src/tables.rs
  editoast/database/src/tables_patch.rs
Due: editoast

ai: SQLx migrations
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/Dockerfile
  editoast/README.md
  editoast/SEAORM_MIGRATION.md
  editoast/database/Cargo.toml
  editoast/database/build.rs
  editoast/database/src/db_connection_pool.rs
  editoast/diesel.toml
  editoast/justfile
  editoast/sqlx.toml
  editoast/src/client/search_commands.rs
  flake.nix
Due: editoast

ai: add SeaORM column wrappers
  editoast/models/Cargo.toml
  editoast/models/src/lib.rs
  editoast/models/src/sea_orm_types.rs
  editoast/models/src/sea_orm_types/tests.rs
Due: editoast

ai: ops & misc
  .github/workflows/build.yml
  chart/README.md
  chart/templates/editoast/init_script.yaml
  chart/values.schema.json
  chart/values.yaml
  docker-compose.yml
  docker/docker-compose.pr-tests.yml
  flake.nix
  process-compose.yaml
  scripts/cleanup-db.sh
Due: none

ai: diesel baseline to sqlx baseline
  editoast/migrations/202609080810350000_baseline.sql
Due: editoast

ai: SQLx snapshots
  editoast/models/.sqlx/query-01cb9742b6ca35f0a65d1eddce5abeb10645bab5f3cb17477443bb1bb20d912d.json
  editoast/models/.sqlx/query-0ce6a06f11e6d5db79552ddc6b786b7859ae065933a13fc737266654dc79c58f.json
  editoast/models/.sqlx/query-1ae4ada0f234e9dcc249c6a828486fa146d36f43a48671d289b7a16e223f6fc9.json
  editoast/models/.sqlx/query-31c744ac724e6cae18700f7db2876919f980093b719766bcb83bd9be14b15c31.json
  editoast/models/.sqlx/query-6be4e4307fd18ff74407d43ea3b1104f40560714ec05462a2285875504354d0d.json
  editoast/models/.sqlx/query-b032af84ab8048fc0b815ee6941bbd5a76774b4c07fa99646c14380432f33775.json
  editoast/models/.sqlx/query-b5605a495587b9c9bf0204dd147af140dab905c16cc78df6730607e3246b82cf.json
  editoast/models/.sqlx/query-c2784d9e72a633cd6940392964df994a2a745ed7beeae929ae39f60dc7c247cd.json
  editoast/models/.sqlx/query-df6e6e11d5708cc742e9e9fc4a04335ce29e1b70617758e8e37807bd8ddeab64.json
  editoast/models/.sqlx/query-f669196c457a3cd4dad7d759ee24bf3b78670332ab7472594c74c7222500634f.json
Due: editoast

ai: remove Model derive
  editoast/editoast_derive/src/lib.rs
  editoast/editoast_derive/src/model.rs
  editoast/editoast_derive/src/model/args.rs
  editoast/editoast_derive/src/model/codegen.rs
  editoast/editoast_derive/src/model/codegen/changeset_builder_impl_block.rs
  editoast/editoast_derive/src/model/codegen/changeset_decl.rs
  editoast/editoast_derive/src/model/codegen/changeset_from_model.rs
  editoast/editoast_derive/src/model/codegen/count_impl.rs
  editoast/editoast_derive/src/model/codegen/create_batch_impl.rs
  editoast/editoast_derive/src/model/codegen/create_batch_with_key_impl.rs
  editoast/editoast_derive/src/model/codegen/create_impl.rs
  editoast/editoast_derive/src/model/codegen/delete_batch_impl.rs
  editoast/editoast_derive/src/model/codegen/delete_impl.rs
  editoast/editoast_derive/src/model/codegen/delete_static_impl.rs
  editoast/editoast_derive/src/model/codegen/exists_impl.rs
  editoast/editoast_derive/src/model/codegen/field_wrapper_decl.rs
  editoast/editoast_derive/src/model/codegen/identifiable_impl.rs
  editoast/editoast_derive/src/model/codegen/list_impl.rs
  editoast/editoast_derive/src/model/codegen/model_field_api_impl_block.rs
  editoast/editoast_derive/src/model/codegen/model_fields_impl_block.rs
  editoast/editoast_derive/src/model/codegen/model_from_row_impl.rs
  editoast/editoast_derive/src/model/codegen/model_impl.rs
  editoast/editoast_derive/src/model/codegen/preferred_id_impl.rs
  editoast/editoast_derive/src/model/codegen/retrieve_batch_impl.rs
  editoast/editoast_derive/src/model/codegen/retrieve_impl.rs
  editoast/editoast_derive/src/model/codegen/row_decl.rs
  editoast/editoast_derive/src/model/codegen/update_batch_impl.rs
  editoast/editoast_derive/src/model/codegen/update_impl.rs
  editoast/editoast_derive/src/model/config.rs
  editoast/editoast_derive/src/model/crud.rs
  editoast/editoast_derive/src/model/identifier.rs
  editoast/editoast_derive/src/model/parsing.rs
  editoast/editoast_derive/src/model/utils.rs
  editoast/editoast_derive/src/snapshots/editoast_derive__model__tests__construction.snap
  editoast/editoast_derive/src/snapshots/editoast_derive__model__tests__non_null_array.snap
  editoast/editoast_derive/src/snapshots/editoast_derive__model__tests__single_pk_model.snap
Due: editoast

front: name the reception signal boolean closedSignal everywhere
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/src/modules/timesStops/helpers/utils.ts
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
Due: front

github: fix typo in tsdown group name in dependabot.yaml
  .github/dependabot.yml
Due: none

editoast: fix common::units::*::option::eq for None,None
  editoast/common/src/units.rs
Due: editoast

editoast: merge `ViewError::label` and `sub_label`
  editoast/editoast_derive/src/snapshots/editoast_derive__view_error__tests__forwarded_view_error.snap
  editoast/editoast_derive/src/snapshots/editoast_derive__view_error__tests__struct_named_fields.snap
  editoast/editoast_derive/src/snapshots/editoast_derive__view_error__tests__unit_struct.snap
  editoast/editoast_derive/src/view_error/args.rs
  editoast/editoast_derive/src/view_error/codegen.rs
  editoast/src/views/error.rs
Due: editoast

core: refacto/clean up backtracking code
  core/src/main/kotlin/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeImpl.kt
Due: core

core: stdcm: fix overlapping engineering allowances
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
Due: core

front: add tests for margins without a simulation
  front/src/modules/timesStops/helpers/__tests__/computeMargins.spec.ts
Due: front

front: only display margins that could be computed
  front/src/modules/timesStops/helpers/computeMargins.ts
  front/src/modules/timesStops/types.ts
Due: front

front: don't propagate times from the base march column
  front/src/modules/timesStops/DurationCell.tsx
  front/src/modules/timesStops/StartTimeCell.tsx
  front/src/modules/timesStops/TimeCell.tsx
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/src/modules/timesStops/helpers/cellUpdate.ts
Due: front

front: name the base march column after its computed or requested state
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
Due: front

front: inherite from previous margin when we have a base arrival value in TimesStopsTable
  front/src/modules/timesStops/TimesStopsTable.tsx
Due: front

front: display the base march at every operational point
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
  front/src/modules/timesStops/TimeStopsTableWrapper.tsx
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
Due: front

front: disable unit toggle when there is no simulation
  front/src/modules/timesStops/MarginCell.tsx
  front/src/modules/timesStops/TimesStopsTable.tsx
Due: front

front: add referenceBaseArrival and computedBaseArrival columns
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/modules/timesStops/TimeStopsTableWrapper.tsx
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/src/modules/timesStops/helpers/__tests__/computeMargins.spec.ts
  front/src/modules/timesStops/helpers/__tests__/fillTimesFromSimulation.spec.ts
  front/src/modules/timesStops/helpers/cellUpdate.ts
  front/src/modules/timesStops/helpers/computeMargins.ts
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
  front/src/modules/timesStops/types.ts
Due: front

front: add e2e tests for ReferenceBaseArrival
  front/src/modules/timesStops/TimeCell.tsx
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/tests/02-operational-studies/simulation-result/003-times-stops-table-edits.spec.ts
  front/tests/02-operational-studies/timetable/008-invalid-train.spec.ts
  front/tests/assets/operation-studies/invalid-trains/invalid-paced-train-timetable-output.ts
  front/tests/assets/operation-studies/invalid-trains/invalid-unique-train-with-reference-base-arrival-output.ts
  front/tests/assets/operation-studies/simulation-result/times-stops-table-const.ts
  front/tests/assets/operation-studies/simulation-settings/all-settings.ts
  front/tests/assets/operation-studies/simulation-settings/electrical-profiles/electrical-profile-off.ts
  front/tests/assets/operation-studies/simulation-settings/electrical-profiles/electrical-profile-on.ts
  front/tests/assets/operation-studies/simulation-settings/margin/linear-margin.ts
  front/tests/assets/operation-studies/simulation-settings/margin/mareco-margin.ts
  front/tests/assets/operation-studies/simulation-settings/speed-limit-tag/speed-limit-tag-off.ts
  front/tests/assets/operation-studies/simulation-settings/speed-limit-tag/speed-limit-tag-on.ts
  front/tests/assets/paced-train/output-table-data.ts
  front/tests/pages/operational-studies/times-stops-table-page.ts
  front/tests/utils/times-stops-table-types.ts
Due: front

editoast: enforce `unused_trait_names` in `osm_to_railjson`
  editoast/osm_to_railjson/src/adjacency.rs
  editoast/osm_to_railjson/src/generate_routes.rs
  editoast/osm_to_railjson/src/operational_point.rs
  editoast/osm_to_railjson/src/utils.rs
Due: editoast

editoast: enforce `unused_trait_names` in `search`
  editoast/search/src/search_object.rs
  editoast/search/src/typing.rs
Due: editoast

editoast: enforce `unused_trait_names` in `authz`
  editoast/authz/src/v2.rs
  editoast/authz/src/v2/project.rs
  editoast/authz/src/v2/rolling_stock.rs
Due: editoast

editoast: enforce `unused_trait_names` in `schemas`
  editoast/schemas/src/fixtures.rs
  editoast/schemas/src/primitives/duration.rs
  editoast/schemas/src/train_schedule/margins.rs
Due: editoast

editoast: enforce `unused_trait_names` in `core_client`
  editoast/core_client/src/mocking.rs
  editoast/core_client/src/mq_client.rs
Due: editoast

editoast: enforce `unused_trait_names` in `fga_migrations`
  editoast/fga_migrations/src/lib.rs
  editoast/fga_migrations/src/main.rs
Due: editoast

editoast: enforce `unused_trait_names` in `common`
  editoast/common/src/hash_rounded_float.rs
  editoast/common/src/tracing.rs
Due: editoast

front: fix modal autofocus
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/modules/scenario/components/AddOrEditScenarioModal.tsx
Due: front
