Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: test `/train_schedules/linkings` endpoint
  editoast/src/views/timetable/linkings.rs
Due: editoast

editoast: rename PathItem.id to PathItem.key
  editoast/openapi.yaml
  editoast/schemas/src/paced_train.rs
  editoast/schemas/src/train_schedule.rs
  editoast/schemas/src/train_schedule/path_item.rs
  editoast/schemas/src/train_schedule_exception.rs
  editoast/src/views/projection.rs
  editoast/src/views/search_journeys.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/request.rs
  editoast/src/views/timetable/tests/train_schedule_honored.json
  editoast/src/views/timetable/tests/train_schedule_no_schedule.json
  editoast/src/views/timetable/tests/train_schedule_not_honored.json
  editoast/src/views/timetable/tests/train_schedule_too_fast.json
  editoast/src/views/timetable/tests/train_schedule_too_fast_on_interval.json
  editoast/src/views/timetable/track_occupancy.rs
  editoast/src/views/timetable/train_schedule.rs
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas/osrd_schemas/models.py
Due: editoast, front

editoast: authz: implement project list function
  editoast/authz/src/model.rs
  editoast/authz/src/v2/project.rs
  editoast/authz/src/v2/test_client_ext.rs
Due: editoast

core: add spacing test on backtrack
  core/src/main/kotlin/fr/sncf/osrd/api/CommonSchemas.kt
  core/src/test/kotlin/fr/sncf/osrd/backtracks/BacktrackTests.kt
Due: core

editoast: lower to RestrictedRead the privilege needed to read infras
  editoast/authz/src/v2/infra.rs
  editoast/src/views/authz.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/auto_fixes/mod.rs
  editoast/src/views/infra/delimited_area.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/lines.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/routes.rs
  editoast/src/views/level_crossing_occupancy.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/search_journeys.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/conflicts.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/train_schedule.rs
  editoast/src/views/worker_load.rs
Due: editoast

front: ui-charts: move generic utilities in common
  front/ui/ui-charts/src/chronogram/components/Chronogram.tsx
  front/ui/ui-charts/src/chronogram/hooks/useChronogram.tsx
  front/ui/ui-charts/src/common/helpers/utils.ts
  front/ui/ui-charts/src/common/hooks/useMouseInteractions.ts
  front/ui/ui-charts/src/common/hooks/useMouseTracking.ts
  front/ui/ui-charts/src/common/index.ts
  front/ui/ui-charts/src/manchette/hooks/useManchetteWithSpaceTimeChart.tsx
  front/ui/ui-charts/src/manchette/hooks/useSyncManchette.ts
  front/ui/ui-charts/src/manchette/index.ts
  front/ui/ui-charts/src/manchette/utils/helpers.ts
  front/ui/ui-charts/src/manchette/utils/index.ts
  front/ui/ui-charts/src/spaceTimeChart/components/ConflictLayer.tsx
  front/ui/ui-charts/src/spaceTimeChart/utils/canvas.ts
  front/ui/ui-charts/src/spaceTimeChart/utils/events.ts
  front/ui/ui-charts/src/trackOccupancyDiagram/components/layers/OccupancyZonesLayer.tsx
Due: front

front: ui-charts: move generic types in common
  front/ui/ui-charts/src/chronogram/components/ChronogramCanvas.tsx
  front/ui/ui-charts/src/common/hooks/useMouseInteractions.ts
  front/ui/ui-charts/src/common/index.ts
  front/ui/ui-charts/src/common/types.ts
  front/ui/ui-charts/src/spaceTimeChart/components/PathLayer.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/Quadrilateral.tsx
  front/ui/ui-charts/src/spaceTimeChart/index.ts
  front/ui/ui-charts/src/spaceTimeChart/lib/types.ts
  front/ui/ui-charts/src/spaceTimeChart/utils/canvas.ts
  front/ui/ui-charts/src/spaceTimeChart/utils/paths.ts
  front/ui/ui-charts/src/spaceTimeChart/utils/scales.ts
Due: front

front: rename PathStep field `id` into `key`
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/ManageTrainScheduleMap/AddPathStepPopup.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/PowerRestrictionsSelector/helpers/__tests__/formatPowerRestrictions.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/PowerRestrictionsSelector/helpers/createPathStep.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/PowerRestrictionsSelector/helpers/getRestrictionsToResize.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/__tests__/formatSchedule.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/__tests__/formatTrainSchedulePayload.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/formatMargin.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/formatSchedule.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/formatTrainSchedulePayload.ts
  front/src/applications/stdcm/utils/index.ts
  front/src/common/Map/DefaultBaseMap.tsx
  front/src/common/Map/components/ItineraryMarkers.tsx
  front/src/modules/pathfinding/components/Itinerary/DisplayItinerary/Destination.tsx
  front/src/modules/pathfinding/components/Itinerary/DisplayItinerary/Origin.tsx
  front/src/modules/pathfinding/components/Itinerary/DisplayItinerary/Vias.tsx
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPath.tsx
  front/src/modules/pathfinding/helpers/__tests__/reversePathSteps.spec.ts
  front/src/modules/pathfinding/utils.ts
  front/src/modules/timesStops/TimesStopsInput.tsx
  front/src/modules/timesStops/helpers/utils.ts
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
  front/src/modules/trainSchedule/helpers/computeBasePathStep.ts
  front/src/reducers/osrdconf/helpers.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/operationalStudiesConfReducer.spec.ts
  front/src/reducers/osrdconf/operationalStudiesConf/powerRestrictionReducer.ts
  front/src/reducers/osrdconf/operationalStudiesConf/utils.ts
  front/src/reducers/osrdconf/osrdConfCommon/__tests__/commonConfBuilder.ts
  front/src/reducers/osrdconf/types.ts
Due: front

front: rename PathStepV2 field `id` into `key`
  front/src/applications/operationalStudies/helpers/upsertTrackOffsetPathItemsInWaypoints.ts
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
  front/src/applications/operationalStudies/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/IntermediateWaypointsPanel.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/__tests__/utils.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModalMap.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/PathStepItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/PowerRestrictionsSelector/helpers/formatPowerRestrictions.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/pathStepsActions.ts
  front/src/modules/timesStops/helpers/__tests__/stopDurationPropagation.spec.ts
  front/src/modules/timesStops/helpers/stopDurationPropagation.ts
  front/src/reducers/osrdconf/types.ts
Due: front

front: rename `stepId` into `stepKey`
  front/src/applications/operationalStudies/hooks/useOperationalPointSearch.ts
  front/src/applications/operationalStudies/hooks/usePathOps.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/IntermediateWaypointsPanel.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModalMap.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/pathStepsActions.ts
  front/src/applications/operationalStudies/views/Scenario/components/RoundTrips/utils.ts
  front/src/applications/stdcm/components/StdcmForm/StdcmLinkedTrainResults.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
  front/src/applications/stdcm/utils/__tests__/mergeSimilarTrainSegments.spec.ts
  front/src/modules/timesStops/helpers/__tests__/powerRestrictionIncompatibility.spec.ts
  front/src/modules/timesStops/helpers/cellUpdate.ts
  front/src/modules/timesStops/helpers/computeMargins.ts
  front/src/modules/timesStops/helpers/stopDurationPropagation.ts
  front/src/modules/timesStops/helpers/timePropagation.ts
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
  front/src/modules/trainSchedule/helpers/computeBasePathStep.ts
  front/src/reducers/osrdconf/operationalStudiesConf/utils.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
Due: front

front: rename `stepsMetadataById` into `stepsMetadataByKey`
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/modules/pathfinding/hooks/usePathfindingV2.ts
Due: front

front: bump oxlint-tsgolint from 0.24.0 to 7.0.2001
  front/package-lock.json
  front/package.json
Due: front

storybook: replace deprecated defaultValue property by value
  front/ui/storybook/stories/ui-charts/chronogram/base-rendering.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/base.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/additional-data.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/base-rendering.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/custom-styles.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/measuring.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/options.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/paths-interactions.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/performances.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/quadrilateral.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/scroll-navigation.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/stage-interactions.stories.tsx
  front/ui/storybook/stories/ui-warped-map/Algorithms.stories.ts
Due: front

front: cleanup react testing library after each test
  front/vitest.setup.ts
Due: front

front: disallow copy and export of RestrictedRead infras
  front/src/common/authorization/components/GrantsManager.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorEditionActionsBar.tsx
Due: front

storybook: use saveAs import instead of FileSaver in spacetimechart story
  front/ui/storybook/stories/ui-charts/spaceTimeChart/options.stories.tsx
Due: front

editoast: add project granted subjects function
  editoast/authz/src/v2/project.rs
  editoast/authz/src/v2/test_client_ext.rs
Due: editoast

front: keep track of current space time chart time range
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/TimeRangeObserver.tsx
Due: front

front: add IndividualTrainProjection.key
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/__tests__/makeProjectedTrains.spec.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/formatSpaceTimeCurves.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/makeProjectedTrains.ts
  front/src/modules/simulationResult/types.ts
Due: front

front: repeat train curves in space time chart for hourly timetables
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/__tests__/makeProjectedTrains.spec.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/makeProjectedTrains.ts
Due: front

editoast: flatten train schedules in search_journeys
  editoast/src/views/search_journeys.rs
Due: editoast

editoast: use real start time in search_journeys
  editoast/openapi.yaml
  editoast/src/views/search_journeys.rs
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas/osrd_schemas/models.py
Due: editoast, front

editoast: only authorize admins in GET/timetable/{id}/requirements
  editoast/src/views/timetable.rs
Due: editoast

editoast: add authorization to /train_schedule/{id}/etcs_braking_curves
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

front: check PathItemLocation.type instead of using the "in" operator
  front/src/modules/pathfinding/components/Itinerary/DisplayItinerary/Vias.tsx
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
Due: front

front: fix typo "tables" in scenario header
  front/public/locales/de/operational-studies.json
  front/public/locales/en/operational-studies.json
  front/public/locales/es/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/public/locales/it/operational-studies.json
  front/public/locales/nl/operational-studies.json
  front/public/locales/pt/operational-studies.json
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/Scenario/ScenarioView.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioHeader.tsx
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
  front/tests/pages/operational-studies/scenario-page.ts
Due: front

front: op-studies: itinerary-modal: display path counter as invalid when track unknown
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/PathStepItem.tsx
Due: front

front: op-studies: itinerary-modal: fix path counter color for invalid steps
  front/src/styles/scss/applications/operationalStudies/_itineraryModal.scss
Due: front

front: op-studies: itinerary-modal: clarify isStepInvalidAndIsNotEditing
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/PathStepItem.tsx
Due: front

front: bump maplibre-gl from 5.24.0 to 6.2.0
  front/package-lock.json
  front/package.json
  front/ui/storybook/package.json
  front/ui/ui-warped-map/package.json
Due: front

front: update maplibre-gl import to use addProtocol directly
  front/src/applications/editor/Map.tsx
Due: front

editoast: rename PathItemAlternatives to PathItemConstraint
  editoast/core_task/src/envs/pathfinding.rs
  editoast/core_task/src/envs/simulation.rs
  editoast/core_task/src/envs/simulation/inputs.rs
  editoast/core_task/src/envs/simulation/request.rs
  editoast/core_task/src/lib.rs
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

editoast: enable backtracking using debug flag
  docker-compose.yml
  editoast/core_client/src/pathfinding.rs
  editoast/core_task/src/envs/pathfinding.rs
  editoast/core_task/src/envs/simulation.rs
  editoast/core_task/src/envs/simulation/request.rs
  editoast/openapi.yaml
  editoast/schemas/src/primitives/duration.rs
  editoast/schemas/src/train_schedule/schedule_item.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/request.rs
  editoast/src/views/timetable/track_occupancy.rs
  editoast/src/views/timetable/train_schedule.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdRailwayManagerApi.ts
  osrd_schemas/osrd_schemas/models.py
Due: editoast, front
