Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: take DTO instead of MacroEditorState in createPacedAttributesFromTrainrun()
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
Due: front

front: split station OP search into separate function in ngeToOsrd
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: remove check for empty string in secondary code
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

editoast: take a list in macro node POST endpoint
  editoast/openapi.yaml
  editoast/src/models/macro_node.rs
  editoast/src/views/scenario/macro_nodes.rs
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

front: move exceptions field to DEFAULT_PACED_TRAIN_PAYLOAD
  front/src/applications/operationalStudies/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: don't rely on TRAIN_SCHEDULE_FREQUENCY_ID in ngeToOsrd
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

editoast: stop using Result in MacroNodeForm::into_macro_node_changeset
  editoast/src/views/scenario/macro_nodes.rs
Due: editoast

front: ensure macro node position is an integer
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: add support for importing NGE JSON files
  front/src/applications/operationalStudies/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/handleParseFiles.ts
Due: front

ci: remove OpenAPI-diff
  .github/workflows/interface-change.yml
Due: none

github: fix osrd-ui publish workflow
  .github/workflows/osrd-ui-publish.yml
  front/lerna.json
Due: front

tests: add ETCS spacing requirements integration tests
  tests/tests/test_train_schedule.py
Due: none

core: compute spacing requirements for ETCS standalone simulation
  core/src/main/kotlin/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
Due: core

core: isolate single "on-sight" signal spacing requirements creation
  core/src/main/kotlin/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
Due: core

core: ignore ETCS in STDCM requests
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
Due: core

github: fix double quotes in GitHub Actions expression
  .github/workflows/chart-publish.yml
Due: none

core: disctinct fn for curve-based and on-sight signal spacing requirements
  core/src/main/kotlin/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
Due: core

core: minor refactors in SpacingResourceGenerator
  core/src/main/kotlin/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
Due: core

core: rename function used to check if signal is constraining when seen
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalDriver.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SigSystemManagerImpl.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/etcs_level2/ETCS_LEVEL2.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm300/TVM300.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm430/TVM430.kt
Due: core

core: rename getSignalFirstProtectedZone()
  core/src/main/kotlin/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
Due: core

core: add getRawEnvelopeIfSingle() to EnvelopeTimeInterpolate
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/Envelope.kt
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeConcat.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeTimeInterpolate.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/EnvelopeStopWrapper.java
  core/src/main/kotlin/fr/sncf/osrd/conflicts/IncrementalRequirementEnvelopeAdapter.kt
  core/src/main/kotlin/fr/sncf/osrd/conflicts/Resources.kt
Due: core

core: add isCurveBased attribute to SignalDrivers
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalDriver.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/MockSigSystemManager.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SigSystemManagerImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/etcs_level2/ETCS_LEVEL2.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm300/TVM300.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm430/TVM430.kt
Due: core

core: adapt (fix) ETCS that is never constraining on sight
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/etcs_level2/ETCS_LEVEL2.kt
Due: core

core: rename LocatedEnvelope to LocatedEnvelopeInterpolate
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeConcat.java
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeImpl.kt
Due: core

front: remove redondant setFormErrors
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
Due: front

front: use already existing StdcmConfigErrors type
  front/src/applications/stdcm/components/StdcmWarningBox.tsx
Due: front

core: stdcm: fix heuristic on first block
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMHeuristic.kt
Due: core

front: add button for delete all exceptions
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTimetableItemPayload.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableItemActions.tsx
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
Due: front

core: stdcm: trim edges that lead to nodes already visited
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMHeuristic.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/VisitedNodes.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/VisitedNodesTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/STDCMHeuristicTests.kt
Due: core

core: stdcm: fix test for visited time range with allowance
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/VisitedNodes.kt
Due: core

core: stdcm: reorganize visited nodes with dedicated test methods
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/VisitedNodes.kt
Due: core

core: add isClosedSignal flag to stops in maxSpeedEnveloppe inputs
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/pipelines/MaxSpeedEnvelope.kt
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeMaintainSpeedTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxSpeedEnvelopeTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeBuilder.java
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EngineeringAllowanceManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
Due: core

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
