Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

parsers:
  jacoco:
    partials_as_hits: true

editoast: migrate POST /rolling_stock and implement model for rolling_stock (#3639)
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock_models/mod.rs
  editoast/src/models/rolling_stock_models/rolling_stock.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_schema/mod.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/tables.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Due: editoast, front

editoast: add list trait for model
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/pagination.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
Due: editoast

editoast: add buffer stop odd location warning
  editoast/openapi.yaml
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/schema/errors.rs
  editoast/src/schema/mod.rs
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

Revert "front: block state: display on simulation's map"
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderBlockState.tsx
  front/src/config/layerOrder.ts
Due: front

core: migrate standalone sim to the new signaling simulator
  core/build.gradle
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultOccupancyTiming.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/SignalUpdate.java
  core/src/main/java/fr/sncf/osrd/utils/CSVExporters.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
Due: core

core: add mock tvm signaling
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/BALtoTVM.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVM.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVMtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVMtoTVM.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Due: core

core: load kotlin infra when we load infras
  core/src/main/java/fr/sncf/osrd/api/FullInfra.java
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/main/java/fr/sncf/osrd/api/SignalingSimulator.kt
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
Due: core

api: remove route_{begin,end}_occupancy
  front/src/applications/customget/components/convertData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/stdcm/fakeSimulation.jsx
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdsimulation/types.ts
  front/tests/assets/operationStudies/train.json
  python/api/openapi.yaml
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  tests/tests/utils/stdcm.py
Due: front

core: split the signal simulation out of the standalone sim endpoint
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/SignalUpdate.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/utils.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
Due: core

editoast: fix duplicate rolling stock schema
  editoast/src/schema/rolling_stock.rs
Due: editoast

cord: update openapi.yml
  core/openapi.yaml
Due: core

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Due: editoast

front pass to flex if condensed
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelector.jsx
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
Due: front

front: STDCM: set RollingstockSelector in one line
  front/src/common/RollingStockSelector/RollingStockSelector.jsx
Due: front

front: fix notification above all & map add train too big
  front/src/common/Notifications.scss
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
Due: front

front: power restrictions: handle no data
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
Due: front

front: power restrictions: update reducers
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Due: front

front: power restrictions: add selector
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricity.svg
Due: front

front: power restrictions: finishing selector
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/rollingstock.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricity.svg
  front/src/assets/pictures/components/power_restrictions.svg
  front/src/reducers/osrdconf/index.ts
Due: front

front: power restrictions: connecting front to api
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/common/Notifications.scss
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdconf/index.ts
Due: front

python: update middleWare api
  python/api/openapi.yaml
Due: none

front: map popup: make it zoomable
  front/src/styles/scss/common/map/_popup.scss
Due: front
