Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

core: update the readme by deleting the test generation section
  core/README.md
Due: core

editoast: fix wikipedia uic code page link
  editoast/openapi.yaml
  editoast/src/schema/v2/trainschedule.rs
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

editoast: move Study to ModelV2
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/models/mod.rs
  editoast/src/models/study.rs
  editoast/src/modelsv2/mod.rs
  editoast/src/modelsv2/study.rs
  editoast/src/views/rolling_stocks/mod.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

editoast, doc: move batch dependency description closer to code
  editoast/README.md
Due: editoast

editoast: remove map module dead code
  editoast/src/map/layer_cache.rs
  editoast/src/map/mod.rs
Due: editoast

editoast: code refactoring of the redis_utils module
  editoast/src/main.rs
  editoast/src/map/layers.rs
  editoast/src/map/mod.rs
  editoast/src/map/redis_utils.rs
  editoast/src/redis_utils.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/layers/mod.rs
  editoast/src/views/mod.rs
Due: editoast

front: inputgroupsncf: fix overflow
  front/src/common/BootstrapSNCF/InputGroupSNCF.scss
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
Due: front

front: fix negative deceleration value in rolling stock editor
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCardDetail.tsx
Due: front

front: fix no data display when no train in timetable in operational studies
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Due: front

core: stdcm: use new conflict detection
  core/src/main/java/fr/sncf/osrd/conflicts/Conflicts.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/BlockAvailabilityTests.kt
Due: core

core: stdcm: add envelope even when stopping in prev block
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
Due: core

core: stdcm: remove unavailable space builder
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/UnavailableSpaceBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/BlockAvailabilityLegacyAdapterTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/UnavailableSpaceBuilderTests.kt
Due: core

core: change "routesOnBlock" to only include routes with the block
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/utils/InfraUtils.kt
Due: core

core: only add unprotected zone requirement when actually reached
  core/src/main/java/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
Due: core

core: infra-explorer: include blocks before the start one
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/utils/InfraUtils.kt
  core/src/main/java/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/BlockAvailabilityTests.kt
Due: core

editoast: rename rolling stock livery metadata model
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/modelsv2/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
Due: editoast

editoast: create rolling stock livery metadata schema
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/modelsv2/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/rolling_stock_livery.rs
Due: editoast

editoast: move rolling stock livery to model v2
  editoast/src/fixtures.rs
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/modelsv2/mod.rs
  editoast/src/modelsv2/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/views/rolling_stocks/mod.rs
Due: editoast

editoast: rename light rolling stock with liveries model
  editoast/src/fixtures.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/modelsv2/mod.rs
  editoast/src/modelsv2/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/views/light_rolling_stocks.rs
Due: editoast

core: stdcm: add end of path to infra explorer
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelope.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeTests.kt
Due: core

core: implement and use InfraExplorerWithEnvelope
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/DelayManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMNode.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelope.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeImpl.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailabilityLegacyAdapter.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/interfaces/BlockAvailabilityInterface.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/StandardAllowanceTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/BlockAvailabilityLegacyAdapterTests.kt
Due: core

core: signaling: change return type from idxMap to map
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalingSimulator.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Due: core

core: stdcm: adjust conflict detection module to fit stdcm and use it in BlockAvailability
  core/src/main/java/fr/sncf/osrd/api/ConflictDetectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/conflicts/Conflicts.kt
  core/src/main/java/fr/sncf/osrd/conflicts/IncrementalRequirementEnvelopeAdapter.kt
  core/src/main/java/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelope.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeImpl.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailabilityLegacyAdapter.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/DummyBlockAvailability.kt
  core/src/test/java/fr/sncf/osrd/conflicts/SpacingResourceGeneratorTest.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/BlockAvailabilityTests.kt
Due: core

core: make SpacingResourceGenerator cloneable
  core/src/main/java/fr/sncf/osrd/conflicts/IncrementalRequirementEnvelopeAdapter.kt
  core/src/main/java/fr/sncf/osrd/conflicts/Resources.kt
  core/src/main/java/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
Due: core

core: stdcm: implement and use new interface for infra exploration InfraExplorer
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/utils/InfraUtils.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/utils/PathPropertiesView.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/src/main/java/fr/sncf/osrd/conflicts/IncrementalPath.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.kt
  core/src/main/kotlin/fr/sncf/osrd/graph/GraphAdapter.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/AllowanceManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/BacktrackingManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/BlockSimulationParameters.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/DelayManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMNode.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMUtils.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/UnavailableSpaceBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/BacktrackingTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerTests.kt
  core/src/test/kotlin/fr/sncf/osrd/utils/DummyInfra.kt
Due: core

core: stdcm: always extend lookahead until 4 blocks
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
Due: core

core: stdcm: explorer: change path property cache to lazy evaluation
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/utils/PathPropertiesView.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
Due: core

core: stdcm: infra_explorer: adjust start offset when using envelope
  core/src/main/java/fr/sncf/osrd/conflicts/IncrementalPath.kt
  core/src/main/java/fr/sncf/osrd/conflicts/Resources.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelope.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeImpl.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailabilityLegacyAdapter.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/GenericBlockAvailability.kt
Due: core

core: stdcm: write tests for block availability
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelope.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeImpl.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/BlockAvailabilityTests.kt
Due: core

core: stdcm: add doc and sanity check to explorer
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelope.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeImpl.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/interfaces/BlockAvailabilityInterface.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/BlockAvailabilityTests.kt
Due: core

core: stdcm: fix block availability legacy adapter
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeConcat.java
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/DelayManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailabilityLegacyAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/StandardAllowanceTests.kt
Due: core
