Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true

core: fix dockerfile for kaniko
  core/Dockerfile
Due: core

Modal Provider using context
  front/src/applications/osrd/components/TimetableSelector/TimetableSelectorModal.js
  front/src/applications/osrd/views/OSRDConfig/TimetableSelector.js
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.js
  front/src/main/App/App.scss
  front/src/main/App/index.js
Due: none

editoast: Fix openapi `/layers/info/`
  editoast/openapi.yaml
Due: editoast

front: fix react inject env
  front/Dockerfile
  front/public/index.html
Due: none

docker: ignore Dockefiles
  core/.dockerignore
  editoast/.dockerignore
  front/.dockerignore
Due: core, editoast

Reorganisation
  front/package.json
  front/src/common/api/openapi-config.js
  front/src/common/api/openapi-config.ts
  front/src/common/api/osrdChartosApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/config/openapi-chartos-config.ts
  front/src/config/openapi-editoast-config.ts
  front/src/config/openapi-middleware-config.ts
  front/yarn.lock
Due: none

front: flexible parsing of local_backend env var
  front/src/main/App/index.js
Due: none

fix descriptor
  editoast/openapi.yaml
Due: editoast

generate front types
  front/src/common/api/osrdApi.ts
  front/src/common/api/osrdChartosApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
Due: none

remove nesting
  editoast/openapi.yaml
Due: editoast

resolve conflits
  core/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
Due: core

configure the 3 services
  front/src/applications/osrd/consts.ts
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/common/api/emptyApi.ts
  front/src/common/api/osrdChartosApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/config/openapi-chartos-config.ts
  front/src/config/openapi-editoast-config.ts
  front/src/config/openapi-middleware-config.ts
  front/src/utils/pathfinding.ts
Due: none

editoast: add pathfinding endpoint
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/infra_cache/graph.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/route.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/routes.rs
Due: editoast

fix pathfinding api response
  api/openapi.yaml
  front/src/common/api/osrdMiddlewareApi.ts
Due: none

yarn
  front/yarn.lock
Due: none

editoast: Add `mvt_view_metadata()` route to editoast
  editoast/README.md
  editoast/map_layers.yml
  editoast/openapi.yaml
  editoast/src/chartos/map_layers.rs
  editoast/src/chartos/mod.rs
  editoast/src/client/mod.rs
  editoast/src/main.rs
  editoast/src/views/layers/layer.rs
  editoast/src/views/layers/mod.rs
Due: editoast

delete no longer needed
  front/src/common/api/pathfinding.ts
Due: none
