Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, front

ci: add infra_schema.json sync test
  .github/workflows/osrd_schemas.yml
Due: none

front: add infra_schema import in the editor
  front/src/reducers/editor.ts
  front/src/reducers/osrdconf/infra_schema.json
Due: front

osrd_schemas: infra.py prints infra schema when run
  python/osrd_schemas/osrd_schemas/infra.py
Due: none

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_derive/Cargo.toml
Due: editoast

front: correct translation for train number, name
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
Due: front

front: correct adding settings place
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainAddingSettings.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/addingSettings.svg
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Due: front

editoast: patch on train_schedule should resimulate trains
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
Due: editoast

- front: RollingStockEditor: create RollingStockParameters and set it with openApi keys for RollingStockBase; create openapi.json
  front/package.json
  front/public/locales/fr/rollingStockEditor.json
  front/src/applications/rollingStockEditor/Home.tsx
  front/src/applications/rollingStockEditor/RollingStockEditor.tsx
  front/src/applications/rollingStockEditor/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormModal.tsx
  front/src/applications/rollingStockEditor/json/RollingStockBaseOpenapiSchema.json
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/common/RollingStockSelector/RollingStock.scss
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/src/common/RollingStockSelector/RollingStockCardDetail.tsx
  front/src/common/RollingStockSelector/RollingStockHelpers.jsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/src/styles/styles.scss
Due: front

core: Load infrastructures asynchronously simulation and pathfinding
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/test/java/fr/sncf/osrd/api/ApiTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingTest.java
  editoast/src/tests/small_infra/small_infra.json
  front/src/common/Pathfinding/Pathfinding.tsx
  tests/conftest.py
  tests/fuzzer/fuzzer.py
  tests/tests/test_regressions.py
  tests/tests/test_with_fuzzer.py
Due: core, editoast, front

front: block pathfinding and add train when infra is loading
  editoast/src/tests/small_infra/small_infra.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/Scenario/InfraLoadingState.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/common/components/_pathfinding.scss
  tests/fuzzer/fuzzer.py
  tests/tests/test_regressions.py
Due: editoast, front

front: TimetableManageTrainSchedule: correct previously corrected corrections
  front/src/applications/operationalStudies/components/Scenario/TimetableManageTrainSchedule.tsx
  front/src/applications/rollingStockEditor/Home.tsx
  front/yarn.lock
Due: front

fix RunningTime component
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/RunningTime.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/stdcm/components/RunningTime.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
  front/src/styles/main.css
  front/src/styles/scss/applications/_stdcm.scss
Due: front

front: remove main.css
  front/src/applications/stdcm/components/RunningTime.tsx
Due: front

core: load-infra: adapt cli tool to load the kt infra
  core/src/main/java/fr/sncf/osrd/cli/ValidateInfra.java
Due: core

core: kt-infra: add track data and topology
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalDriver.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/kt-osrd-signaling/src/test/kotlin/fr/sncf/osrd/signaling/BlockBuilderTest.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackNetworkInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-sim-interlocking/src/main/kotlin/fr/sncf/osrd/sim/interlocking/api/InterlockingSim.kt
  core/kt-osrd-sim-interlocking/src/main/kotlin/fr/sncf/osrd/sim/interlocking/impl/MovableElements.kt
  core/kt-osrd-sim-interlocking/src/main/kotlin/fr/sncf/osrd/sim/interlocking/impl/Reservation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestLocation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestMovableElement.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestReservation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestRouting.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/kt-osrd-utils/build.gradle
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/Direction.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DirectionalMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/Endpoint.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/DirStaticIdx.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/StaticIdx.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Distance.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/DistanceRangeMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Speed.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
  core/src/main/java/fr/sncf/osrd/infra/api/Direction.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Due: core

editoast: conflicts: update openapi
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  front: any of: front/
