Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: database: fix unused imports for some features
  editoast/database/src/db_connection_pool.rs
Due: editoast

editoast: stdcm: add telemetry flag for path found
  editoast/src/views/timetable/stdcm.rs
Due: editoast

front: drop sec2time()
  front/src/modules/timesStops/helpers/utils.ts
  front/src/utils/timeManipulation.ts
Due: front

front: remove null special case in secToHoursString()
  front/src/utils/timeManipulation.ts
Due: front

front: fix outdated secToHoursString() docs
  front/src/utils/timeManipulation.ts
Due: front

front: fix paced interval comparison in round trip modal
  front/src/applications/operationalStudies/utils.ts
Due: front

front: generalize getSavedMacroNodes input type
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/utils.ts
Due: front

front: fix crash on already present nodes import
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
Due: front

front: drop last step auto 0ms stop on reverse
  front/src/modules/pathfinding/helpers/__tests__/reversePathSteps.spec.ts
  front/src/modules/pathfinding/helpers/reversePathSteps.ts
Due: front

ui: upgrade @rollup/plugin-eslint to v9.1
  front/package-lock.json
  front/ui/base/package.json
Due: front

front: migrate to ESLint flat config
  front/.eslintrc
  front/eslint.config.js
  front/package.json
  front/vite.config.ts
Due: front

front: add loader during infra creation
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyEdition.tsx
Due: front

core: stdcm: properly add rs length to mrsp
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
Due: core

core: stdcm: add telemetry events to progress logger
  core/src/main/kotlin/fr/sncf/osrd/stdcm/ProgressLogger.kt
Due: core

editoast, front: turn `RoutePath::switches_directions` into an object
  editoast/openapi.yaml
  editoast/schemas/src/infra.rs
  editoast/schemas/src/infra/route.rs
  editoast/src/generated_data/error/routes.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/infra_cache/object_cache/route_cache.rs
  editoast/src/views/infra/routes.rs
  front/src/applications/editor/tools/rangeEdition/utils.ts
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: remove type alias in `utoipa::path` confusing utoipa
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

editoast: remove type alias confusing utoipa 5.x
  editoast/src/views/projection.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

editoast: remove unused argument to route collection closures
  editoast/editoast_derive/src/route.rs
  editoast/src/views/router.rs
Due: editoast

editoast, front: name `BoundingBox` fields to please RTK codegen
  editoast/openapi.yaml
  editoast/schemas/src/infra/track_section.rs
  editoast/schemas/src/primitives/bounding_box.rs
  editoast/src/views/infra/lines.rs
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: remove `InternalError` responses
  editoast/openapi.yaml
  editoast/src/views/documents.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/project.rs
  editoast/src/views/scenario.rs
  editoast/src/views/scenario/macro_nodes.rs
  editoast/src/views/study.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: migrate to utoipa 5.4
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/common/src/geometry.rs
  editoast/common/src/lib.rs
  editoast/core_client/src/pathfinding.rs
  editoast/core_client/src/stdcm.rs
  editoast/database/src/db_connection_pool.rs
  editoast/editoast_derive/src/openapi_schema.rs
  editoast/editoast_derive/src/route.rs
  editoast/editoast_models/src/rolling_stock/train_main_category.rs
  editoast/openapi.yaml
  editoast/schemas/src/infra/track_section.rs
  editoast/schemas/src/paced_train.rs
  editoast/schemas/src/primitives/duration.rs
  editoast/schemas/src/primitives/identifier.rs
  editoast/schemas/src/primitives/non_blank_string.rs
  editoast/search/src/search_object.rs
  editoast/src/infra_cache/operation/mod.rs
  editoast/src/models/infra/object_queryable.rs
  editoast/src/models/rolling_stock_livery.rs
  editoast/src/models/stdcm_search_environment.rs
  editoast/src/views/documents.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/layers.rs
  editoast/src/views/openapi.rs
  editoast/src/views/pagination.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/project.rs
  editoast/src/views/rolling_stock.rs
  editoast/src/views/round_trips.rs
  editoast/src/views/router.rs
  editoast/src/views/stdcm_search_environment.rs
  editoast/src/views/study.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/similar_trains.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/train_schedule.rs
  editoast/src/views/work_schedules.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: schemas: un-inline `PathItemLocation` variants' OpenAPI
  editoast/openapi.yaml
  editoast/schemas/src/train_schedule/path_item.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

front: space out the delete button on scenario
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Due: front

front: migrate to @vitest/eslint-plugin
  front/eslint.config.js
  front/package-lock.json
  front/package.json
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/__tests__/utils.spec.ts
Due: front

editoast: remove tag splitting in favor of utoipa 5 `tags`
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/routes.rs
  editoast/src/views/openapi.rs
  editoast/src/views/rolling_stock.rs
  editoast/src/views/round_trips.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/similar_trains.rs
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

editoast: new endpoint to create notes for nge
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  editoast/src/views/scenario/macro_notes.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

ui: fix useDatePicker test
  front/ui/ui-core/src/components/inputs/datePicker/__tests__/useDatePicker.spec.ts
Due: front
