Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: correct macro node update description
  editoast/openapi.yaml
  editoast/src/views/scenario/macro_nodes.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

front: fix secondary code attribution in round trips
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd.ts
Due: front

core: stdcm: stream json timetable when reproducing a request
  core/src/main/java/fr/sncf/osrd/api/TimetableProvider.kt
Due: core

front: fix fetchPathStepsOPData with track steps present
  front/src/modules/pathfinding/hooks/usePathfinding.ts
Due: front

editoast: status code 201 for creation endpoints continuation
  editoast/openapi.yaml
  editoast/src/views/infra/railjson.rs
  editoast/src/views/temporary_speed_limits.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/work_schedules.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: fix typo macro node update description
  editoast/openapi.yaml
  editoast/src/views/scenario/macro_nodes.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast, front: operational points and speed limit in stdcm env
  editoast/database/src/tables.rs
  editoast/editoast_models/src/tags.rs
  editoast/migrations/2025-09-25-114746_stdcm-env-pr/down.sql
  editoast/migrations/2025-09-25-114746_stdcm-env-pr/up.sql
  editoast/openapi.yaml
  editoast/src/client/stdcm_search_env_commands.rs
  editoast/src/models/stdcm_search_environment.rs
  editoast/src/views/stdcm_search_environment.rs
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmMapActivePerimeter.tsx
  front/src/applications/stdcm/consts.ts
  front/src/applications/stdcm/hooks/useStdcmConsist.ts
  front/src/applications/stdcm/hooks/useStdcmEnv.tsx
  front/src/applications/stdcm/utils/calculateConsistMaxSpeed.ts
  front/src/applications/stdcm/utils/maxSpeedFromSpeedLimitByTag.ts
  front/src/assets/operationStudies/stdcmPerimeterOperationalPoints.ts
  front/src/common/Map/Search/useSearchOperationalPoint.tsx
  front/src/common/SpeedLimitByTagSelector/useStoreDataForSpeedLimitByTagSelector.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/reducers/osrdconf/stdcmConf/selectors.ts
  front/src/reducers/osrdconf/stdcmConf/stdcmConfReducers.spec.ts
  front/src/reducers/osrdconf/types.ts
  front/tests/utils/api-utils.ts
  front/tests/utils/setup-utils.ts
Due: editoast, front

front: fix responsiveness of the train name field in new itinerary modal
  front/src/styles/scss/applications/operationalStudies/_itineraryModal.scss
Due: front

editoast: fix match_operational_point endpoint (secondary_code filter)
  editoast/src/views/infra/mod.rs
Due: editoast

editoast: fix 204 status code in openapi
  editoast/openapi.yaml
  editoast/src/views/scenario.rs
  editoast/src/views/sub_categories.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/worker_load.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

front: stop mixing schedule paced ids in useTrackOccup
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/__tests__/utils.spec.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/utils.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useTrackOccupancy.ts
  front/src/utils/trainId.ts
Due: front

editoast: remove `serial_test`
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/README.md
  editoast/src/generated_data/mod.rs
  editoast/src/models/infra.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/rolling_stock.rs
Due: editoast

editoast: run ingored test again
  editoast/src/models/infra.rs
Due: editoast

docker: remove useless container when not needed
  osrd-compose
Due: none

docker: add osrd-compose in CODEOWNERS file
  .github/CODEOWNERS
Due: none

core: stdcm: reproduce and fix simulation mismatch
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  core/src/main/kotlin/fr/sncf/osrd/utils/CachedBlockMRSPBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingTests.kt
  core/src/test/kotlin/fr/sncf/osrd/utils/DummyInfra.kt
Due: core

editoast: remove some more `<hashtag>[rstest]`
  editoast/src/views/authz.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/rolling_stock/light.rs
Due: editoast

editoast: make `TestApp::fetch` async
  editoast/src/views/authz.rs
  editoast/src/views/fonts.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/auto_fixes/mod.rs
  editoast/src/views/infra/delimited_area.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/lines.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/routes.rs
  editoast/src/views/layers.rs
  editoast/src/views/mod.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/project.rs
  editoast/src/views/rolling_stock.rs
  editoast/src/views/rolling_stock/light.rs
  editoast/src/views/rolling_stock/towed.rs
  editoast/src/views/scenario.rs
  editoast/src/views/scenario/macro_nodes.rs
  editoast/src/views/scenario/macro_notes.rs
  editoast/src/views/search.rs
  editoast/src/views/sprites.rs
  editoast/src/views/stdcm_search_environment.rs
  editoast/src/views/study.rs
  editoast/src/views/sub_categories.rs
  editoast/src/views/temporary_speed_limits.rs
  editoast/src/views/test_app.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/similar_trains.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/train_schedule.rs
  editoast/src/views/work_schedules.rs
  editoast/src/views/worker_load.rs
Due: editoast

editoast: replace most `<hashtag>[rstest]` by `<hashtag>[tokio::test]`
  editoast/src/views/authz.rs
Due: editoast

editoast: make `UserBuilder::create` async
  editoast/src/views/authz.rs
  editoast/src/views/project.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: make `GroupBuilder::create` async
  editoast/src/views/authz.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: fix `rstest::case` usage
  editoast/src/client/stdcm_search_env_commands.rs
  editoast/src/models/paced_train.rs
  editoast/src/views/infra/auto_fixes/mod.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/layers.rs
  editoast/src/views/timetable/similar_trains.rs
  editoast/src/views/work_schedules.rs
Due: editoast

editoast: remove `async-std` dependency
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/core_client/Cargo.toml
  editoast/src/views/authz.rs
  editoast/src/views/project.rs
Due: editoast
