Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

front: remove sentry
  docker/gateway-entrypoint.sh
  front/.env.example
  front/.env.local.defaults
  front/docker/Dockerfile.nginx
  front/package.json
  front/src/config/config.ts
  front/src/index.tsx
  front/src/stories/storybook.css
  front/src/styles/scss/_body.scss
  front/src/vite-env.d.ts
  front/yarn.lock
Due: front

front: fix stdcm departure time on sheet
  front/src/applications/stdcm/utils.ts
  front/src/utils/date.ts
Due: front

editoast, front: add utoipa annotation to infra error endpoint
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/generated_data/error/infra_error.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/mod.rs
  editoast/src/modelsv2/infra/errors.rs
  editoast/src/views/infra/auto_fixes/mod.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EntityError.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/InfraErrors/InfraError.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorDescription.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorIcon.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorMapControl.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorTypeLabel.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsModal.tsx
  front/src/applications/editor/components/InfraErrors/consts.ts
  front/src/applications/editor/components/InfraErrors/index.ts
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/applications/editor/tools/types.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/editor/index.ts
  front/src/reducers/editor/thunkActions.ts
  front/src/reducers/map/index.ts
Due: editoast, front

wtf
  core/config/spotbugs/exclude.xml
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Due: core

core: pathfinding: fix paths with waypoints in wrong order
  core/src/main/kotlin/fr/sncf/osrd/graph/Pathfinding.kt
  core/src/test/java/fr/sncf/osrd/utils/graph/PathfindingTests.kt
Due: core

front: tests: refactor e2e tests creating and modifying a rolling stock
  front/tests/009-rollingstock-editor.spec.ts
  front/tests/assets/rollingStock/rollingstockDetails.js
  front/tests/pages/rollingstock-editor-page-model.ts
Due: front

formatting and inclue newline
  front/tests/assets/rollingStock/rollingstockDetails.js
Due: front

editoast: adapt infra error listing endpoint to new pagination system
  editoast/src/modelsv2/mod.rs
  editoast/src/modelsv2/pagination.rs
  editoast/src/views/infra/errors.rs
Due: editoast

editoast, front: add utoipa annotation to POST /infra/ID/objects
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/modelsv2/infra.rs
  editoast/src/modelsv2/infra/object_queryable.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/data/utils.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/trainschedule/components/DriverTrainScheduleV2/utils.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.tsx
Due: editoast, front

editoast: fix search_signal INSERT trigger
  editoast/migrations/2024-06-06-142842_drop_search_signal_layer/down.sql
  editoast/migrations/2024-06-06-142842_drop_search_signal_layer/up.sql
  editoast/src/tables.rs
  editoast/src/views/search/objects.rs
Due: editoast

editoast: refactor train schedule v2 tests
  editoast/src/modelsv2/fixtures.rs
  editoast/src/views/v2/path/pathfinding.rs
  editoast/src/views/v2/path/properties.rs
  editoast/src/views/v2/timetable.rs
  editoast/src/views/v2/timetable/stdcm.rs
  editoast/src/views/v2/train_schedule.rs
Due: editoast

editoast: refactor train_simulation_batch
  editoast/src/views/v2/timetable.rs
  editoast/src/views/v2/timetable/stdcm.rs
  editoast/src/views/v2/train_schedule.rs
  editoast/src/views/v2/train_schedule/projection.rs
Due: editoast

front: refactor e2e tests creating and modifying a rolling stock
  front/tests/009-rollingstock-editor.spec.ts
  front/tests/assets/rollingStock/rollingstockDetails.js
  front/tests/pages/rollingstock-editor-page-model.ts
Due: front

scripts: add support for importing multiple rolling stocks
  scripts/load-railjson-rolling-stock.sh
Due: none

readme: import all rolling stocks from test data
  README.md
Due: none

core: sim: ignore overlapping scheduled points
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/SimulationScheduleItemsParser.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
Due: core

core: compute mareco constant speed parts correctly
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/MarecoAllowance.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
Due: core

core: move new infra load files to upper directory after legacy drop
  core/kt-osrd-rjs-parser/src/main/kotlin/fr/sncf/osrd/RawInfraRJSParser.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraFromRjsBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImplFromRjs.kt
Due: core

core: rename '*FromRjs*' files
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
Due: core

core: rename class RawInfraFromRjsBuilder to RawInfraBuilder
  core/kt-osrd-rjs-parser/src/main/kotlin/fr/sncf/osrd/RawInfraRJSParser.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
Due: core

core: rename class RawInfraImplFromRjs to RawInfraImpl
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
Due: core

front: fix GET interaction after a drag and drop (ts v2)
  front/src/applications/operationalStudies/views/v2/ScenarioV2.tsx
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
  front/src/modules/simulationResult/components/ChartHelpers/ChartHelpers.ts
  front/src/modules/simulationResult/components/ChartHelpers/enableInteractivity.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/SpaceTimeChartV2.tsx
Due: front

front: add constraint distribution switch in operational studies
  front/src/applications/operationalStudies/views/v2/ManageTrainScheduleV2.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/ConstraintDistributionSwitch.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/SimulationSettings.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/checkCurrentConfig.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTrainSchedulePayload.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/types.ts
  front/src/reducers/osrdconf/osrdConfCommon/__tests__/utils.ts
  front/src/reducers/osrdconf/osrdConfCommon/index.ts
  front/src/reducers/osrdconf/osrdConfCommon/selectors.ts
  front/src/reducers/osrdconf/types.ts
Due: front

core: choose arrivalAt/departureFrom in envelope interpolation
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/Envelope.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeConcat.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeTimeInterpolate.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopeConcatTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopeTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceRangesTests.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/src/main/java/fr/sncf/osrd/conflicts/IncrementalRequirementEnvelopeAdapter.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/EnvelopeStopWrapper.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorV2.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelope.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeImpl.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/StandardAllowanceTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/DummyBlockAvailability.kt
Due: core

front: fix default side value for signals in editor
  front/src/applications/editor/tools/pointEdition/utils.ts
Due: front

front: sync up fields in SignalEntity.extensions.sncf
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/tools/pointEdition/types.ts
Due: front

editoast: use default value for missing SignalSncfExtension::side
  editoast/editoast_schemas/src/infra/signal.rs
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front
