Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

front: stop selecting by default first occurrence instead of train
  front/src/applications/operationalStudies/hooks/useAutoSelectTrainIds.ts
Due: front

front: useautoselecttrainids: check occurrence exists not just base train
  front/src/applications/operationalStudies/hooks/useAutoSelectTrainIds.ts
  front/src/modules/timetableItem/helpers/__tests__/pacedTrain.spec.ts
  front/src/modules/timetableItem/helpers/pacedTrain.ts
  front/src/utils/__tests__/trainId.spec.ts
  front/src/utils/trainId.ts
Due: front

front: select edited train on update
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/ManageTimetableItemLeftPanel.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/hooks/useUpdateTimetableItem.ts
Due: front

front: select created train upon creation
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/trainrun.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/CreateTimetableItemButton.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/UniqueTrainItem.tsx
Due: front

front: add new newstdcm rolling stock to the whitelist
  front/src/assets/rollingStock/freightRollingStocks.ts
Due: front

front: apply invalid path step grey background on full row
  front/src/modules/timesStops/styles/_timesStopsTable.scss
Due: front

[skip ci]: editoast: debug healthcheck
  editoast/src/views/mod.rs
Due: editoast

editoast: replace PacedTrainException With TrainScheduleException
  editoast/editoast_models/src/train_schedule_exception.rs
  editoast/openapi.yaml
  editoast/schemas/src/paced_train.rs
  editoast/schemas/src/train_schedule_exception.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/train_schedule.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdRailwayManagerApi.ts
  railway_manager_interface/osrd_railway_manager_interface/models.py
Due: editoast, front

editoast: improve tracing for the health check
  editoast/src/views/mod.rs
Due: editoast

editoast: push pool’s information in traces
  editoast/cache/src/client.rs
  editoast/core_client/src/mq_client.rs
  editoast/database/src/db_connection_pool.rs
Due: editoast

editoast: add max pool size for valkey
  editoast/cache/src/client.rs
  editoast/src/client/postgres_config.rs
  editoast/src/client/valkey_config.rs
Due: editoast

editoast: adapt authentication_validation_middleware db call
  editoast/src/views/mod.rs
Due: editoast

osrdyne: declare all queues as durable
  osrdyne/src/queue_controller.rs
Due: none

editoast_derive: allow forwarding statuses for editoast error
  editoast/editoast_derive/src/error.rs
  editoast/editoast_derive/src/lib.rs
  editoast/editoast_derive/src/snapshots/editoast_derive__error__tests__construction.snap
  editoast/openapi.yaml
  editoast/src/views/authz.rs
Due: editoast

WIP editoast: migrate Regulator::user_groups to v2
  editoast/authz/src/model.rs
  editoast/authz/src/regulator.rs
  editoast/authz/src/v2.rs
  editoast/src/authorizers.rs
  editoast/src/client/user.rs
  editoast/src/views/authz.rs
Due: editoast

front: add e2e tests for consist change
  front/src/applications/stdcm/components/StdcmResults/StdcmResultsTable.tsx
  front/tests/03-stdcm/006-stdcm-consist-change.spec.ts
  front/tests/assets/constants/project-const.ts
  front/tests/assets/constants/stdcm/consist-change-const.ts
  front/tests/page-object-fixture.ts
  front/tests/pages/stdcm/consist-change-section.ts
  front/tests/pages/stdcm/simulation-results-page.ts
  front/tests/pages/stdcm/stdcm-page.ts
  front/tests/pages/stdcm/via-section.ts
  front/tests/utils/pdf-parser.ts
  front/tests/utils/stdcm-types.ts
  front/tests/utils/types.ts
Due: front

front: display associated catalog entry name when deleting a train schedule set
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainScheduleSet/TrainScheduleSetTab.tsx
Due: front

front: update german translation for trainScheduleSets removeDialog
  front/public/locales/de/operational-studies.json
Due: front

front: fix margin cell behavior, clean up implementation
  front/src/modules/timesStops/MarginCell.tsx
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/src/modules/timesStops/helpers/cellUpdate.ts
  front/src/modules/timesStops/styles/_marginCell.scss
Due: front

front: use TrainScheduleException instead of PacedTrainException
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/generatePayloads.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseXML.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/postPayloads.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/CreateTimetableItemButton.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/buildPacedTrainException.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/formatTimetableItemPayload.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/hooks/useUpdateTimetableItem.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrenceActions.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrences.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/useFilterTimetableItems.ts
  front/src/modules/conflict/__tests__/utils.spec.ts
  front/src/modules/conflict/hooks/useConflictsFilter.ts
  front/src/modules/conflict/utils.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/__tests__/makeProjectedItems.spec.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/configureHandlePan.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/formatSpaceTimeCurves.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/makeProjectedItems.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/zones.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useTrackOccupancy.ts
  front/src/modules/simulationResult/types.ts
  front/src/modules/timetableItem/helpers/__tests__/pacedTrain.spec.ts
  front/src/modules/timetableItem/helpers/pacedTrain.ts
  front/src/modules/timetableItem/helpers/updateTimetableItemHelpers.ts
  front/src/modules/timetableItem/types.ts
  front/src/utils/__tests__/trainId.spec.ts
  front/src/utils/trainId.ts
  front/tests/utils/send-trains.ts
  front/tests/utils/types.ts
Due: front

core: avoid stdcm backtrack by using lookahead speed limits
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/BacktrackingManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/BlockSimulationParameters.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
Due: core

docker: make the telemetry optional (off by default)
  docker-compose.yml
  docker/docker-compose.telemetry.yml
  osrd-compose
Due: none
