Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: ngetoosrd: fix return overwitten on update
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/trainrun.ts
Due: front

front: bump nge (temporary fix unique nodes names) + fix e2e fail tests due to new version
  front/package-lock.json
  front/package.json
  front/tests/pages/operational-studies/nge-page.ts
Due: front

ci: fix the typo in rolling-stock version match
  .github/workflows/interface-change.yml
Due: none

front: add and use default project image
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Project/ProjectView.tsx
  front/src/applications/operationalStudies/views/ProjectList/ProjectCard.tsx
  front/src/applications/stdcm/components/ScenarioExplorer/MiniCards.tsx
  front/src/applications/stdcm/components/ScenarioExplorer/ScenarioExplorer.tsx
  front/src/applications/stdcm/components/ScenarioExplorer/ScenarioExplorerProject2Image.tsx
  front/src/assets/defaultProjectImage/default_project_image.webp
  front/src/utils/hooks/useProjectImage.ts
Due: front

editoast: activate OpenTelemetry by default
  editoast/src/client/telemetry_config.rs
Due: editoast

railway_manager_interface: change openapi to allow substitute train, anterior and posterior train, add demand category, hazardous materials and request identifier
  front/src/common/api/osrdRailwayManagerApi.ts
  railway_manager_interface/openapi.yaml
  railway_manager_interface/osrd_railway_manager_interface/models.py
Due: front

front: add missing unwrap() calls for macro node update/delete
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/utils.ts
Due: front

editoast: add a new field is_collapsed to macro_node
  editoast/database/src/tables.rs
  editoast/migrations/2025-12-10-131119_add-is_collapsed-to-macro_node/down.sql
  editoast/migrations/2025-12-10-131119_add-is_collapsed-to-macro_node/up.sql
  editoast/openapi.yaml
  editoast/src/models/macro_node.rs
  editoast/src/views/scenario/macro_nodes.rs
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/__tests__/ngeToOsrd-output-discontinuousTrainrun.json
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/__tests__/ngeToOsrd-output-duplicateTrigrams.json
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/__tests__/ngeToOsrd-output-oneWay.json
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/__tests__/ngeToOsrd-output-roundTrip.json
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/node.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/osrdToNge.ts
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

core, editoast, front: add stops_at_end_of_block option to TrainSchedule
  core/src/main/java/fr/sncf/osrd/cli/BenchSTDCM.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlockRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingBlocksEndpointTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  editoast/core_client/src/pathfinding.rs
  editoast/core_task/src/envs/pathfinding.rs
  editoast/openapi.yaml
  editoast/schemas/src/train_schedule.rs
  editoast/schemas/src/train_schedule/train_schedule_options.rs
  editoast/src/views/path/pathfinding.rs
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/__tests__/formatTimetableItemPayload.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/formatTimetableItemPayload.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdRailwayManagerApi.ts
  front/src/modules/timetableItem/helpers/pacedTrain.ts
  front/src/reducers/osrdconf/operationalStudiesConf/index.ts
  front/src/reducers/osrdconf/types.ts
  front/tests/assets/stdcm/linked-train/anterior-linked-train-table.json
  front/tests/assets/stdcm/stdcm-all-stops.json
  python/osrd_schemas/osrd_schemas/train_schedule.py
  railway_manager_interface/osrd_railway_manager_interface/models.py
  tests/conftest.py
Due: core, editoast, front

front: rename scenario and cleanup e2e synchronization test
  front/tests/019-scenario-page-synchronization.spec.ts
Due: front

front: fix descriptions and remove unused comments in e2e tests
  front/tests/001-home-page.spec.ts
  front/tests/002-project-management.spec.ts
  front/tests/006-op-rolling-stock-tab.spec.ts
  front/tests/007-op-route-tab.spec.ts
  front/tests/008-op-times-and-stops-tab.spec.ts
  front/tests/009-op-simulation-settings-tab.spec.ts
  front/tests/011-stdcm-simulation-sheet.spec.ts
  front/tests/016-train-timetable-multiselection.spec.ts
  front/tests/020-paced-train-exceptions.spec.ts
  front/tests/021-get-manchette.spec.ts
  front/tests/022-round-trips.spec.ts
  front/tests/023-osrd-nge.spec.ts
  front/tests/024-nge-osrd.spec.ts
Due: front

front: add explicit tags for test files
  front/tests/001-home-page.spec.ts
  front/tests/002-project-management.spec.ts
  front/tests/003-study-management.spec.ts
  front/tests/004-scenario-management.spec.ts
  front/tests/005-rolling-stock-editor.spec.ts
  front/tests/006-op-rolling-stock-tab.spec.ts
  front/tests/007-op-route-tab.spec.ts
  front/tests/008-op-times-and-stops-tab.spec.ts
  front/tests/009-op-simulation-settings-tab.spec.ts
  front/tests/010-stdcm.spec.ts
  front/tests/011-stdcm-simulation-sheet.spec.ts
  front/tests/012-stdcm-feedback-mail.spec.ts
  front/tests/013-stdcm-linked-train.spec.ts
  front/tests/014-stdcm-missing-fields.spec.ts
  front/tests/015-train-timetable.spec.ts
  front/tests/016-train-timetable-multiselection.spec.ts
  front/tests/017-paced-train-management.spec.ts
  front/tests/018-train-edition.spec.ts
  front/tests/019-scenario-page-synchronization.spec.ts
  front/tests/020-paced-train-exceptions.spec.ts
  front/tests/021-get-manchette.spec.ts
  front/tests/022-round-trips.spec.ts
  front/tests/023-osrd-nge.spec.ts
  front/tests/024-nge-osrd.spec.ts
  front/tests/025-rolling-stock-filter.spec.ts
  front/tests/026-train-timetable-filter.spec.ts
  front/tests/028-timetable-import.spec.ts
Due: front

front: split long e2e test and update rolling stock page object
  front/tests/005-rolling-stock-editor.spec.ts
  front/tests/015-train-timetable.spec.ts
  front/tests/020-paced-train-exceptions.spec.ts
  front/tests/025-rolling-stock-filter.spec.ts
  front/tests/026-train-timetable-filter.spec.ts
  front/tests/027-paced-train-occurrence-edition.spec.ts
  front/tests/pages/rolling-stock/rolling-stock-selector.ts
Due: front

core: migrate fullinfra and worker load endpoint to kt
  core/src/main/java/fr/sncf/osrd/api/FullInfra.java
  core/src/main/java/fr/sncf/osrd/api/WorkerLoadEndpoint.java
  core/src/main/kotlin/fr/sncf/osrd/api/FullInfra.kt
  core/src/main/kotlin/fr/sncf/osrd/api/WorkerLoadEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/test/java/fr/sncf/osrd/api/WorkerLoadingTest.java
  core/src/test/java/fr/sncf/osrd/api/WorkerLoadingTest.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/TemporarySpeedLimitTests.kt
  core/src/test/kotlin/fr/sncf/osrd/utils/Helpers.kt
Due: core

core: add infra medatada (string id and version)
  core/src/main/java/fr/sncf/osrd/api/InfraManager.kt
  core/src/main/java/fr/sncf/osrd/cli/BenchSTDCM.kt
  core/src/main/java/fr/sncf/osrd/cli/ReproduceRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/FullInfra.kt
  core/src/test/java/fr/sncf/osrd/conflicts/SpacingResourceGeneratorTest.kt
  core/src/test/kotlin/fr/sncf/osrd/envelope_sim_infra/MRSPTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingElectrificationTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/constraints/LoadingGaugeConstraintsTest.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/EnvelopeTrainPathTest.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathPropertiesTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/BlockAvailabilityTests.kt
  core/src/test/kotlin/fr/sncf/osrd/utils/DummyInfra.kt
  core/src/test/kotlin/fr/sncf/osrd/utils/Helpers.kt
Due: core

front: add disable prop in toolbar, stop using ui type
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResultsExport/usePaths.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartToolbar.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
Due: front

ui-charts: modify manchette with spacetime chart input
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResultsExport/usePaths.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/assets/sampleData.ts
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/base-with-waypoint-menu.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/base.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/rectangle-zoom.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/simple.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/split.stories.tsx
  front/ui/ui-charts/src/manchette/assets/sampleData.ts
  front/ui/ui-charts/src/manchette/components/ManchetteWithSpaceTimeChart.tsx
  front/ui/ui-charts/src/manchette/index.ts
  front/ui/ui-charts/src/manchette/types.ts
Due: front

front: avoid sending empty nodes in storeTrainPathNodes()
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/utils.ts
Due: front

editoast: pr comments
  editoast/core_client/src/conflict_detection.rs
  editoast/src/views/timetable.rs
Due: editoast

editoast: clippy fixes
  editoast/src/views/timetable.rs
Due: editoast

editoast: conflits train id core api communication refactor
  editoast/src/models/paced_train.rs
  editoast/src/views/timetable.rs
Due: editoast

editoast: pr comments
  editoast/src/views/timetable.rs
Due: editoast

editoast: front: remove user identity from search request and response
  editoast/migrations/2025-11-25-154025-0000_update_search_user/down.sql
  editoast/migrations/2025-11-25-154025-0000_update_search_user/up.sql
  editoast/openapi.yaml
  editoast/src/views/search.rs
  front/src/common/api/baseGeneratedApis.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/config/openapi-editoast-config.cts
  front/src/reducers/user/index.ts
  front/src/reducers/user/userReducer.spec.ts
  front/src/utils/hooks/useAuth.ts
  front/src/utils/types.ts
Due: editoast, front

editoast: remove is_sandbox
  editoast/openapi.yaml
  editoast/src/models/train_schedule_set.rs
  editoast/src/views/train_schedule_set.rs
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/Timetable.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainScheduleSetTab.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/utils.ts
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

wip: backtracks
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/interfaces/TrainPath.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Due: core

core: document the differences between reports in the API
  core/src/main/kotlin/fr/sncf/osrd/api/standalone_sim/SimulationResponse.kt
Due: core

editoast: fix simulation response comment on final_output
  editoast/core_client/src/simulation.rs
  editoast/openapi.yaml
  editoast/src/views/timetable/simulation.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: update model to support users with several identities
  docker-compose.yml
  editoast/Cargo.lock
  editoast/README.md
  editoast/authz/Cargo.toml
  editoast/authz/src/authorizer.rs
  editoast/authz/src/identity.rs
  editoast/authz/src/lib.rs
  editoast/database/src/tables.rs
  editoast/editoast_models/src/auth_driver.rs
  editoast/editoast_models/src/authn/user.rs
  editoast/justfile
  editoast/migrations/2025-11-19-092852-0000_modify_authn_user_to_handle_multiple_identities_for_same_user/down.sql
  editoast/migrations/2025-11-19-092852-0000_modify_authn_user_to_handle_multiple_identities_for_same_user/up.sql
  editoast/src/client/group.rs
  editoast/src/client/roles.rs
  editoast/src/client/user.rs
  editoast/src/views/authz.rs
  editoast/src/views/mod.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: add new cli command to add new identities to an existing user
  editoast/authz/src/lib.rs
  editoast/authz/src/regulator.rs
  editoast/database/src/lib.rs
  editoast/editoast_models/src/auth_driver.rs
  editoast/src/client/user.rs
  editoast/src/main.rs
Due: editoast

front: move split points in a separate file
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/buildSplitPoints.tsx
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
