Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

core: add error detail when a route has missing exit signal
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/ErrorType.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlocksEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/core/mod.rs
  editoast/src/views/infra/auto_fixes/electrifications.rs
  editoast/src/views/infra/auto_fixes/speed_section.rs
  editoast/src/views/mod.rs
  editoast/src/views/single_simulation.rs
Due: editoast

front: create stdcm simulation sheet
  front/package.json
  front/public/locales/en/stdcm-simulation-report-sheet.json
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm-simulation-report-sheet.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/SimulationReportStyleSheet.ts
  front/src/applications/stdcm/utils.ts
  front/src/applications/stdcm/views/OSRDSTDCM.tsx
  front/src/applications/stdcm/views/OSRDStdcmConfig.tsx
  front/src/applications/stdcm/views/OSRDStdcmResults.tsx
  front/src/applications/stdcm/views/StdcmRequestModal.tsx
  front/src/assets/simulationReportSheet/fonts/IBM-Plex-Mono/IBMPlexMono-Bold.ttf
  front/src/assets/simulationReportSheet/fonts/IBM-Plex-Mono/IBMPlexMono-Medium.ttf
  front/src/assets/simulationReportSheet/fonts/IBM-Plex-Mono/IBMPlexMono-Regular.ttf
  front/src/assets/simulationReportSheet/fonts/IBM-Plex-Mono/IBMPlexMono-SemiBold.ttf
  front/src/assets/simulationReportSheet/fonts/IBM-Plex-Sans/IBMPlexSans-Bold.ttf
  front/src/assets/simulationReportSheet/fonts/IBM-Plex-Sans/IBMPlexSans-Italic.ttf
  front/src/assets/simulationReportSheet/fonts/IBM-Plex-Sans/IBMPlexSans-Medium.ttf
  front/src/assets/simulationReportSheet/fonts/IBM-Plex-Sans/IBMPlexSans-Regular.ttf
  front/src/assets/simulationReportSheet/fonts/IBM-Plex-Sans/IBMPlexSans-SemiBold.ttf
  front/src/assets/simulationReportSheet/icon_alert_fill.png
  front/src/assets/simulationReportSheet/logo_sncf_reseau.png
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
  front/src/utils/date.ts
  front/src/utils/timeManipulation.ts
  front/yarn.lock
Due: front

front: fix scenario selection button in scenario card
  front/src/modules/scenario/components/ScenarioCard.tsx
Due: front

editoast: bump rustc version and fix new clippy warnings
  editoast/Dockerfile
  editoast/editoast_derive/src/model.rs
  editoast/openapi.yaml
  editoast/src/generated_data/mod.rs
  editoast/src/models/mod.rs
  editoast/src/modelsv2/mod.rs
  editoast/src/views/rolling_stocks/mod.rs
  editoast/src/views/stdcm/mod.rs
Due: editoast

editoast: add stdcm api with core
  editoast/src/core/v2/mod.rs
  editoast/src/core/v2/pathfinding.rs
  editoast/src/core/v2/stdcm.rs
Due: editoast

core: stdcm: ignore paths that use the same block several times
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
Due: core

core: stdcm: fix how we access the next stop duration
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  editoast/openapi.yaml
  editoast/src/core/v2/simulation.rs
  editoast/src/views/v2/timetable/stdcm.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Due: core, editoast, front

editoast: add stdcm v2 endpoint for editoast
  editoast/editoast_schemas/src/train_schedule/comfort.rs
  editoast/editoast_schemas/src/train_schedule/path_item.rs
  editoast/openapi.yaml
  editoast/src/core/conflicts.rs
  editoast/src/core/v2/pathfinding.rs
  editoast/src/core/v2/simulation.rs
  editoast/src/core/v2/stdcm.rs
  editoast/src/views/timetable.rs
  editoast/src/views/v2/path.rs
  editoast/src/views/v2/path/pathfinding.rs
  editoast/src/views/v2/timetable.rs
  editoast/src/views/v2/timetable/stdcm.rs
  editoast/src/views/v2/train_schedule.rs
  editoast/src/views/v2/train_schedule/projection.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

core: add v2 stdcm endpoint
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/CommonSchemas.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/RequirementsParser.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/conflicts/ConflictDetectionEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlockRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlockResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlocksEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/standalone_sim/RollingStockParser.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/standalone_sim/SimulationEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/standalone_sim/SimulationResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMRequestV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMResponseV2.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingV2Test.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
Due: core

editoast: add metadata to DB telemetry
  editoast/editoast_derive/src/modelv2/codegen.rs
  editoast/editoast_derive/src/modelv2/codegen/changeset_decl.rs
  editoast/editoast_derive/src/modelv2/codegen/count_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/create_batch_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/create_batch_with_key_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/create_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/delete_batch_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/delete_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/delete_static_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/exists_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/list_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/retrieve_batch_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/retrieve_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/update_batch_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/update_impl.rs
  editoast/src/modelsv2/mod.rs
  editoast/src/modelsv2/prelude/create.rs
  editoast/src/modelsv2/prelude/retrieve.rs
  editoast/src/modelsv2/prelude/update.rs
Due: editoast

editoast: make the Model 'Debug'able
  editoast/src/modelsv2/prelude/mod.rs
Due: editoast

editoast: remove actix_web::web::Data from models
  editoast/editoast_derive/src/model.rs
  editoast/src/fixtures.rs
  editoast/src/generated_data/mod.rs
  editoast/src/main.rs
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/models/scenario.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/modelsv2/electrical_profiles.rs
  editoast/src/modelsv2/infra.rs
  editoast/src/modelsv2/light_rolling_stock.rs
  editoast/src/modelsv2/projects.rs
  editoast/src/modelsv2/rolling_stock_livery.rs
  editoast/src/modelsv2/rolling_stock_model.rs
  editoast/src/modelsv2/study.rs
  editoast/src/views/documents.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/pathfinding/electrical_profiles.rs
  editoast/src/views/pathfinding/electrifications.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/projects.rs
  editoast/src/views/rolling_stocks/mod.rs
  editoast/src/views/scenario.rs
  editoast/src/views/single_simulation.rs
  editoast/src/views/stdcm/mod.rs
  editoast/src/views/study.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/import.rs
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
  editoast/src/views/v2/scenario.rs
  editoast/src/views/v2/timetable.rs
  editoast/src/views/v2/train_schedule.rs
  editoast/src/views/work_schedules.rs
Due: editoast

editoast: add telemetry on database requests
  editoast/editoast_derive/src/modelv2/codegen/count_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/create_batch_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/create_batch_with_key_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/create_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/delete_batch_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/delete_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/delete_static_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/exists_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/list_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/retrieve_batch_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/retrieve_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/update_batch_impl.rs
  editoast/editoast_derive/src/modelv2/codegen/update_impl.rs
Due: editoast

editoast: split track section endpoint
  editoast/editoast_schemas/src/infra/neutral_section.rs
  editoast/openapi.yaml
  editoast/src/generated_data/sql/insert_neutral_sign_layer.sql
  editoast/src/infra_cache/mod.rs
  editoast/src/infra_cache/object_cache.rs
  editoast/src/infra_cache/object_cache/neutral_section_cache.rs
  editoast/src/infra_cache/operation/create.rs
  editoast/src/main.rs
  editoast/src/views/infra/auto_fixes/electrifications.rs
  editoast/src/views/infra/auto_fixes/speed_section.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

tests: remove failing test
  tests/tests/regression_tests_data/infra_explorer_crash.json
Due: none

editoast: add --no-cache option
  editoast/src/client/redis_config.rs
  editoast/src/redis_utils.rs
Due: editoast

editoast: move sql requests from /voltages to modelsv2::infra
  editoast/src/modelsv2/infra.rs
  editoast/src/modelsv2/infra/sql/get_all_voltages_and_modes.sql
  editoast/src/modelsv2/infra/sql/get_voltages_with_rolling_stocks_modes.sql
  editoast/src/modelsv2/infra/sql/get_voltages_without_rolling_stocks_modes.sql
  editoast/src/modelsv2/infra/voltage.rs
  editoast/src/views/infra/mod.rs
Due: editoast

core: increase precision when summing time deltas in envelope parts
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.java
Due: core

Update core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.java
Due: core

editoast: replace min/km with min/100km
  editoast/editoast_schemas/src/tests/train_schedule_simple.json
  editoast/editoast_schemas/src/train_schedule/margins.rs
  editoast/openapi.yaml
  editoast/src/tests/train_schedules/simple.json
  editoast/src/tests/train_schedules/simple_array.json
  editoast/src/views/v2/timetable/stdcm.rs
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

core: handles duplicate OPs on a path
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/path_properties/PathPropResponseConverter.kt
  editoast/src/views/v2/path/properties.rs
Due: core, editoast

core: replace MinPerKm with MinPer100Km
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/standalone_sim/SimulationRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
  editoast/editoast_schemas/src/train_schedule/margins.rs
Due: core, editoast

core: replace MinPerKm with MinPer100Km
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/standalone_sim/SimulationRequest.kt
Due: core
