Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

core: allowances: handle errors caused by extreme binary search values
  core/src/main/java/fr/sncf/osrd/envelope_sim/allowances/AbstractAllowanceWithRanges.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/allowances/utils/AllowanceConvergenceException.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/StandardAllowanceTests.java
Due: core

core: physics: remove assert that could fail in linear allowances
  core/src/main/java/fr/sncf/osrd/envelope/EnvelopePhysics.java
Due: core

core: stdcm: consider standard allowance when computing fastest time
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
Due: core

guess who's back ? Back again
  README.md
Due: none

Guess who's back ?
  README.md
Due: none

new confif for stdcm
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
Due: none

editoast: bump diesel to 2.0
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_derive/src/lib.rs
  editoast/src/generated_data/buffer_stop.rs
  editoast/src/generated_data/catenary.rs
  editoast/src/generated_data/detector.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/lpv_panel.rs
  editoast/src/generated_data/mod.rs
  editoast/src/generated_data/operational_point.rs
  editoast/src/generated_data/signal.rs
  editoast/src/generated_data/speed_section.rs
  editoast/src/generated_data/switch.rs
  editoast/src/generated_data/track_section.rs
  editoast/src/generated_data/track_section_link.rs
  editoast/src/infra.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/schema/buffer_stop.rs
  editoast/src/schema/detector.rs
  editoast/src/schema/operation/create.rs
  editoast/src/schema/operation/delete.rs
  editoast/src/schema/operation/mod.rs
  editoast/src/schema/operation/update.rs
  editoast/src/schema/railjson.rs
  editoast/src/schema/signal.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/routes.rs
Due: editoast

isolate & refactor pathfinding behavior
  front/src/applications/osrd/components/Itinerary/ModalPathJSONDetail.js
  front/src/applications/osrd/components/Itinerary/ModalSuggeredVias.js
  front/src/applications/osrd/consts.ts
  front/src/applications/osrd/views/OSRDConfig/Itinerary.js
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/common/Pathfinding/index.ts
  front/src/common/api/pathfinding.ts
  front/src/reducers/map.ts
  front/src/utils/pathfinding.ts
Due: none

fix types
  front/src/applications/osrd/consts.ts
  front/src/utils/pathfinding.ts
Due: none

tests: fuzzer: add support for complex switches
  tests/fuzzer/fuzzer.py
Due: none

track_section
  api/openapi.yaml
Due: none

api: track_section type (#2878)
  api/openapi.yaml
Due: none

core: infra-generator: add electrical profiles
  core/examples/generated/lib/railjson_generator/__init__.py
  core/examples/generated/lib/railjson_generator/physical_approximations.py
  core/examples/generated/lib/railjson_generator/schema/infra/catenary.py
  core/examples/generated/lib/railjson_generator/schema/infra/endpoint.py
  core/examples/generated/lib/railjson_generator/schema/infra/infra.py
  core/examples/generated/lib/railjson_generator/schema/infra/link.py
  core/examples/generated/lib/railjson_generator/schema/infra/operational_point.py
  core/examples/generated/lib/railjson_generator/schema/infra/range_elements.py
  core/examples/generated/lib/railjson_generator/schema/infra/route.py
  core/examples/generated/lib/railjson_generator/schema/infra/signal.py
  core/examples/generated/lib/railjson_generator/schema/infra/speed_section.py
  core/examples/generated/lib/railjson_generator/schema/infra/switch.py
  core/examples/generated/lib/railjson_generator/schema/infra/track_section.py
  core/examples/generated/lib/railjson_generator/schema/infra/waypoint.py
  core/examples/generated/lib/railjson_generator/utils/pathfinding.py
  core/examples/generated/scripts/small_infra.py
Due: core

core: add rs parsing test + update one rs example
  core/examples/rolling_stocks/fast_rolling_stock.json
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
Due: core

rename physical_approximations to external_generated_inputs
  api/osrd_infra/migrations/0011_electricalprofilesset.py
  api/osrd_infra/models/__init__.py
  api/osrd_infra/models/external_generated_inputs.py
  api/osrd_infra/schemas/external_generated_inputs.py
  core/examples/generated/lib/railjson_generator/__init__.py
  core/examples/generated/lib/railjson_generator/external_generated_inputs.py
  core/examples/generated/scripts/small_infra.py
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/infra/tracks/undirected/RJSParsingTests.java
Due: core

core: add electrical profile railjson parsing test
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/infra/tracks/undirected/RJSParsingTests.java
Due: core

core: railjson: add electrical profile schema with parser
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/RJSElectricalProfile.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
Due: core

core: railjson: update rolling stocks conditional effort curves
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEffortCurves.java
Due: core

fix types
  front/src/applications/osrd/consts.ts
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/common/api/osrdApi.ts
Due: none

front: use rollingStock metadata
  front/src/common/RollingStockSelector/RollingStockHelpers.js
  front/src/common/RollingStockSelector/RollingStockModal.js
  front/src/common/RollingStockSelector/RollingStockSelector.js
Due: none

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
