Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

tests: fuzzer: adapt to api change
  tests/fuzzer/fuzzer.py
Due: none

api: add train speed category
  api/openapi.yaml
  api/osrd_infra/migrations/0028_add_train_speed_category.py
  api/osrd_infra/models/train_schedule.py
  api/osrd_infra/views/train_schedule/standalone_simulation.py
Due: none

front: added speedlimitby tag in osrdconf
  front/src/applications/osrd/components/AddTrainSchedule/formatConf.js
  front/src/applications/osrd/views/OSRDConfig/SpeedLimitByTagSelector.js
Due: none

tests: add speed limit categories to integration tests
  tests/fuzzer/fuzzer.py
  tests/tests/run_simulation.py
Due: none

api: fix migration after rebase
  api/osrd_infra/migrations/0002_add_train_speed_category.py
Due: none

script: load-generated-infra: fix root path
  scripts/load-generated-infra.sh
Due: none

scripts: load-database: migrate after loading a db
  scripts/load-database.sh
Due: none

editor: fixes saving track sections
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/utils.ts
  front/src/reducers/editor.ts
Due: none

front: improved select with search & sm activated
  front/src/applications/osrd/views/OSRDConfig/SpeedLimitByTagSelector.js
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.js
Due: none

core: ertms: implement EBI
  core/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopePath.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimContext.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/ertms/etcs/BrakingCurves.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/ertms/etcs/FixedValueData.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/ertms/etcs/NationalDefaultData.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
Due: core

front: bugfix on speedlimittag selector
  front/src/applications/osrd/views/OSRDConfig/SpeedLimitByTagSelector.js
Due: none

front: add improved select to map settings
  front/public/locales/fr/map-settings.json
  front/src/common/Map/Settings/MapSettingsSpeedLimits.js
Due: none

Nwz/select improved (#1749)
  front/public/locales/fr/map-settings.json
  front/src/applications/osrd/views/OSRDConfig/SpeedLimitByTagSelector.js
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.js
  front/src/common/Map/Settings/MapSettingsSpeedLimits.js
Due: none

front: unify map buttons
  front/public/locales/fr/map-key.json
  front/src/applications/carto/Map.js
  front/src/applications/osrd/views/OSRDConfig/Map.js
  front/src/applications/osrd/views/OSRDSimulation/Map.js
  front/src/common/Map/Buttons/ButtonMapEdit.js
  front/src/common/Map/Buttons/ButtonMapKey.js
  front/src/common/Map/Buttons/ButtonMapSearch.js
  front/src/common/Map/Buttons/ButtonMapSettings.js
  front/src/common/Map/Buttons/ButtonResetViewport.js
  front/src/common/Map/Buttons/MapButtons.js
  front/src/common/Map/MapKey.js
Due: none

front: added mapkey (legende)
  front/public/locales/fr/map-key.json
  front/src/applications/osrd/views/OSRDConfig/Map.js
  front/src/applications/osrd/views/OSRDSimulation/Map.js
  front/src/common/Map/Map.scss
  front/src/common/Map/MapKey.js
  front/src/common/Map/MapKey.scss
Due: none

Nwz/legend for map (#1750)
  front/public/locales/fr/map-key.json
  front/src/applications/carto/Map.js
  front/src/applications/osrd/views/OSRDConfig/Map.js
  front/src/applications/osrd/views/OSRDSimulation/Map.js
  front/src/common/Map/Buttons/ButtonMapEdit.js
  front/src/common/Map/Buttons/ButtonMapKey.js
  front/src/common/Map/Buttons/ButtonMapSearch.js
  front/src/common/Map/Buttons/ButtonMapSettings.js
  front/src/common/Map/Buttons/ButtonResetViewport.js
  front/src/common/Map/Buttons/MapButtons.js
  front/src/common/Map/Map.scss
  front/src/common/Map/MapKey.js
  front/src/common/Map/MapKey.scss
Due: none

editoast: change InfraError
  editoast/src/infra_cache.rs
  editoast/src/models/errors/buffer_stops.rs
  editoast/src/models/errors/detectors.rs
  editoast/src/models/errors/mod.rs
  editoast/src/models/errors/operational_points.rs
  editoast/src/models/errors/routes.rs
  editoast/src/models/errors/signals.rs
  editoast/src/models/errors/speed_sections.rs
  editoast/src/models/errors/switch_types.rs
  editoast/src/models/errors/switches.rs
  editoast/src/models/errors/track_section_links.rs
  editoast/src/models/errors/track_sections.rs
  editoast/src/views/infra.rs
Due: editoast

editoast: finish all tests errors
  editoast/src/infra_cache.rs
  editoast/src/models/errors/routes.rs
  editoast/src/models/errors/signals.rs
  editoast/src/models/errors/speed_sections.rs
  editoast/src/models/errors/switch_types.rs
  editoast/src/models/errors/switches.rs
Due: editoast

editoast: add tests (tracklink, detector, buffer_stop), update errors generation, and create a small infra graph
  editoast/src/infra_cache.rs
  editoast/src/models/errors/buffer_stops.rs
  editoast/src/models/errors/detectors.rs
  editoast/src/models/errors/mod.rs
  editoast/src/models/errors/operational_points.rs
  editoast/src/models/errors/routes.rs
  editoast/src/models/errors/signals.rs
  editoast/src/models/errors/speed_sections.rs
  editoast/src/models/errors/switch_types.rs
  editoast/src/models/errors/switches.rs
  editoast/src/models/errors/track_section_links.rs
  editoast/src/models/errors/track_sections.rs
Due: editoast

editoast: tests on tracksection errors
  editoast/src/infra_cache.rs
  editoast/src/models/errors/operational_points.rs
  editoast/src/models/errors/track_sections.rs
Due: editoast

editoast: add tests for routes and op
  editoast/src/infra_cache.rs
  editoast/src/models/errors/operational_points.rs
  editoast/src/models/errors/routes.rs
Due: editoast

editor: fixes saving point items
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/pointEdition/types.ts
  front/src/applications/editor/tools/types.tsx
  front/src/reducers/editor.ts
  front/src/types.ts
  front/src/utils/mapboxHelper.ts
Due: none

osm_implementation: adding a readme file
  core/examples/generated/scripts/osm_lib/README.md
Due: core

api: documentation of schemas
  api/osrd_infra/schemas/infra.py
  api/osrd_infra/schemas/path.py
  api/osrd_infra/schemas/train_schedule.py
Due: none

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
