Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, front

core: pathfinding: filter out routes without blocks
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Due: core

front: reorganize rolling stock module
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/modules/rollingStock/components/RollingStock2Img.tsx
  front/src/modules/rollingStock/components/RollingStockCurve.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorCard.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorCurves.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockCard.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockCardDetail.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/WithRollingStockSelector.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/index.ts
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableTrainCard.tsx
Due: front

front: reorga rolling stock scss
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/modules/modules.scss
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCard.tsx
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCardButtons.tsx
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCardDetail.tsx
  front/src/modules/rollingStock/components/RollingStockCard/index.ts
  front/src/modules/rollingStock/components/RollingStockCurve.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorCurves.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockInformationPanel.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockDarkMode.scss
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockHelpers.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockModal.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockSelector.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/index.ts
  front/src/modules/rollingStock/styles/_rollingStockCard.scss
  front/src/modules/rollingStock/styles/_rollingStockCurves.scss
  front/src/modules/rollingStock/styles/_rollingStockSelector.scss
  front/src/modules/rollingStock/styles/rollingStock.scss
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/components/_rollingStock.scss
  front/tests/pages/rollingstock-modal-model.ts
  front/tests/pages/scenario-page-model.ts
  front/tests/pages/stdcm-page-model.ts
Due: front

editoast: fix redis sharding
  editoast/src/map/redis_utils.rs
Due: editoast

front: Fix when no curves are selected in rolling stock curve component
  front/src/modules/rollingStock/components/RollingStockCurve.tsx
Due: front

front: editor: fix infra selection
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/types.ts
Due: front

python: update README for railjson_generator
  python/railjson_generator/README.md
Due: none

dev: add diesel cli to nix flake
  flake.nix
Due: none

tests: allow regression tests on non-public infras
  tests/README.md
  tests/conftest.py
  tests/tests/test_regressions.py
Due: none

front: reorganize import train schedule scss
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
  front/src/modules/trainschedule/styles/ImportTrainSchedule/_importTrainScheduleTrainsList.scss
  front/src/modules/trainschedule/styles/trainSchedule.scss
  front/src/stories/storybook.css
  front/src/styles/scss/applications/operationalStudies/_importtrainschedule.scss
Due: front

front: tests: setup playwwright without poetry and make them fully parallel
  .github/workflows/integration_tests.yml
  front/package.json
  front/playwright.config.ts
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/modules/project/components/AddOrEditProjectModal.tsx
  front/src/modules/project/components/DeleteProjectsModal.tsx
  front/src/modules/project/components/ProjectCard.tsx
  front/src/modules/project/components/ProjectCardEmpty.tsx
  front/src/modules/project/components/ProjectSelectionToolbar.tsx
  front/src/modules/scenario/components/AddOrEditScenarioModal.tsx
  front/src/modules/scenario/components/ScenarioCard.tsx
  front/src/modules/scenario/components/ScenarioCardEmpty.tsx
  front/src/modules/study/components/AddOrEditStudyModal.tsx
  front/src/modules/study/components/StudyCard.tsx
  front/src/modules/study/components/StudyCardEmpty.tsx
  front/tests/002-project-creation.spec.ts
  front/tests/002-project-management.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/003-study-management.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/004-scenario-management.spec.ts
  front/tests/009-stdcm-between-two-trains.spec.ts
  front/tests/010-project-delete.spec.ts
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/study.json
  front/tests/assets/operationStudies/testVariables.ts
  front/tests/assets/utils.ts
  front/tests/pages/project-page-model.ts
  front/tests/pages/scenario-page-model.ts
  front/tests/pages/study-page-model.ts
Due: front

front: refacto timetable component
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/scenario/components/AddOrEditScenarioModal.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/sampleData.ts
  front/src/modules/simulationResult/components/simulationResultsHelpers.ts
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleModal.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/SubmitConfAddTrainSchedule.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/SubmitConfUpdateTrainSchedules.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableManageTrainSchedule.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableTrainCard.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf2/common/index.ts
  front/src/reducers/osrdsimulation/actions.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/selectors.ts
  front/src/reducers/osrdsimulation/types.ts
Due: editoast, front

front: reorga simulation results scss
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/views/OSRDStdcmResults.tsx
  front/src/modules/modules.scss
  front/src/modules/simulationResult/components/SpaceCurvesSlopes.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/SpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/ElectricalProfilesLegend.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/SpeedSpaceChart.tsx
  front/src/modules/simulationResult/styles/_spaceCurvesSlopes.scss
  front/src/modules/simulationResult/styles/_spaceTimeChart.scss
  front/src/modules/simulationResult/styles/_speedSpaceChart.scss
  front/src/modules/simulationResult/styles/_timeline.scss
  front/src/modules/simulationResult/styles/simulationResult.scss
  front/src/stories/SpaceTimeChart.stories.tsx
  front/src/stories/SpeedSpaceChart.stories.tsx
  front/src/stories/storybook.css
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
  front/src/styles/scss/common/_common.scss
  front/tests/009-stdcm-between-two-trains.spec.ts
Due: front

railjson generator : adapt generator to new node model
  python/osrd_schemas/osrd_schemas/infra.py
  python/railjson_generator/README.md
  python/railjson_generator/railjson_generator/infra_builder.py
  python/railjson_generator/railjson_generator/schema/infra/infra.py
  python/railjson_generator/railjson_generator/schema/infra/switch.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Due: none

core :adapt to new node model
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSSwitchType.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
  editoast/migrations/2023-10-18-084837_delete_switch_types_from_db/down.sql
  editoast/migrations/2023-10-25-000250_delete_switch_types_from_db/down.sql
  editoast/migrations/2023-10-25-000250_delete_switch_types_from_db/up.sql
  editoast/src/converters/generate_routes.rs
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/generated_data/error/routes.rs
  editoast/src/generated_data/error/switch_types.rs
  editoast/src/generated_data/error/switches.rs
  editoast/src/infra_cache/graph.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/models/infra.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/railjson.rs
  editoast/src/schema/route.rs
  editoast/src/schema/switch_type.rs
  editoast/src/tables.rs
  editoast/src/tests/small_infra/small_infra.json
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/railjson.rs
  front/src/reducers/osrdconf/infra_schema.json
  python/osrd_schemas/README.md
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/osrd_schemas/switch_type.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/pyproject.toml
  python/railjson_generator/railjson_generator/infra_builder.py
  python/railjson_generator/railjson_generator/schema/infra/infra.py
  python/railjson_generator/railjson_generator/schema/infra/switch.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
  tests/fuzzer/fuzzer.py
  tests/poetry.lock
Due: core, editoast, front

editoast: add primitves for track nodes
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSSwitchType.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  editoast/migrations/2023-10-18-084837_delete_switch_types_from_db/down.sql
  editoast/migrations/2023-10-18-084837_delete_switch_types_from_db/up.sql
  editoast/src/converters/generate_routes.rs
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/models/infra.rs
  editoast/src/models/scenario.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/railjson.rs
  editoast/src/schema/switch_type.rs
  editoast/src/tables.rs
  editoast/src/tests/small_infra/small_infra.json
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  front/src/reducers/osrdconf/infra_schema.json
  python/railjson_generator/railjson_generator/infra_builder.py
Due: core, editoast, front

python: use pytype for osrd_schemas
  .github/workflows/osrd_schemas.yml
  python/osrd_schemas/poetry.lock
  python/osrd_schemas/pyproject.toml
Due: none

python: type switch_type in osrd_schemas
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/osrd_schemas/switch_type.py
Due: none

python: use module structure for osrd_schemas
  .github/workflows/osrd_schemas.yml
  python/osrd_schemas/osrd_schemas/infra_editor.py
Due: none

editoast: clarify a few tests
  editoast/src/views/rolling_stocks/mod.rs
Due: editoast

editoast: isolate a few tests (naming rolling stocks)
  editoast/src/fixtures.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks/mod.rs
  editoast/src/views/timetable.rs
Due: editoast

front: editor: fix wrong id when updating a signal
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/pointEdition/utils.ts
Due: front

front: fix undefined values in formdata
  front/public/locales/fr/infraEditor.json
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/utils.ts
  front/src/types/editor.ts
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  front: any of: front/
