Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

front: drop d3 from time manipulation
  front/src/utils/date.ts
  front/src/utils/timeManipulation.ts
Due: front

front: remove unused fields in chart in sim res state
  front/package-lock.json
  front/package.json
  front/src/reducers/simulationResults/types.ts
Due: front

front: drop d3
  front/package-lock.json
  front/package.json
Due: front

front: import d3 types in sim res types.ts
  front/src/reducers/simulationResults/types.ts
Due: front

front: fix track step names in input table
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/__tests__/upsertMapWaypointsInOperationalPoints.spec.ts
  front/src/applications/operationalStudies/helpers/upsertMapWaypointsInOperationalPoints.ts
  front/src/applications/operationalStudies/hooks/useManageTrainScheduleContext.tsx
  front/src/modules/pathfinding/utils.ts
  front/src/modules/timesStops/helpers/utils.ts
Due: front

editoast: authz: return maximum infra grant of a subject
  editoast/editoast_authz/src/authorizer.rs
  editoast/editoast_authz/src/regulator.rs
  editoast/src/views/authz.rs
Due: editoast

editoast: models: add `Group` and `Subject`
  editoast/src/models/group.rs
  editoast/src/models/mod.rs
  editoast/src/models/subject.rs
Due: editoast

editoast: authz: support group grant revoking
  editoast/editoast_authz/src/authorizer.rs
  editoast/editoast_authz/src/model.rs
  editoast/editoast_authz/src/regulator.rs
  editoast/src/views/authz.rs
Due: editoast

editoast: authz: add `model::Subject` and `s/mod subject/mod identity`
  editoast/editoast_authz/src/authorizer.rs
  editoast/editoast_authz/src/identity.rs
  editoast/editoast_authz/src/lib.rs
  editoast/editoast_authz/src/model.rs
  editoast/editoast_authz/src/regulator.rs
  editoast/src/client/group.rs
  editoast/src/client/roles.rs
  editoast/src/client/user.rs
  editoast/src/models/auth_driver.rs
  editoast/src/views/authz.rs
  editoast/src/views/mod.rs
  editoast/src/views/stdcm_logs.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: views: add group builder in the `TestApp`
  editoast/editoast_authz/src/identity.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: authz: query both users and groups which have a given grant
  editoast/editoast_authz/Cargo.toml
  editoast/editoast_authz/src/regulator.rs
  editoast/src/views/authz.rs
Due: editoast

editoast: directly assert on OpenFGA tuples in authz endpoint tests
  editoast/editoast_authz/src/regulator.rs
  editoast/src/views/authz.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: views: add tests for managing group grants
  editoast/src/views/authz.rs
Due: editoast

editoast: authz: support granting infra permissions to groups
  editoast/editoast_authz/src/authorizer.rs
  editoast/editoast_authz/src/regulator.rs
  editoast/src/views/authz.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/stdcm_logs.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: add round_trips endpoints interface
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  editoast/src/views/round_trips.rs
  editoast/src/views/timetable.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

front: category select options overlaping with the arrow
  front/src/styles/scss/applications/operationalStudies/_manageTimetableItem.scss
Due: front

front: add round trips modal
  front/public/locales/en/operational-studies.json
  front/public/locales/en/translation.json
  front/public/locales/fr/operational-studies.json
  front/public/locales/fr/translation.json
  front/src/modules/trainschedule/components/Timetable/RoundTrips/RoundTripsModal.tsx
  front/src/modules/trainschedule/components/Timetable/RoundTrips/RoundTripsModalColumn.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableToolbar.tsx
  front/src/modules/trainschedule/components/Timetable/types.ts
  front/src/styles/scss/applications/_operationalStudies.scss
  front/src/styles/scss/applications/operationalStudies/_roundTripsModal.scss
Due: front

front: fix the warning message block to stop moving
  front/src/styles/scss/applications/stdcm/_home.scss
Due: front

front: remove retrieving project language from e2e tests
  front/tests/global-setup.ts
  front/tests/utils/date-utils.ts
Due: front

front: remove english translations from e2e tests
  front/tests/001-home-page.spec.ts
  front/tests/003-study-management.spec.ts
  front/tests/008-op-times-and-stops-tab.spec.ts
  front/tests/009-op-simulation-settings-tab.spec.ts
  front/tests/014-stdcm-missing-fields.spec.ts
  front/tests/015-train-timetable.spec.ts
  front/tests/016-train-timetable-multiselection.spec.ts
  front/tests/017-paced-train-management.spec.ts
  front/tests/018-train-edition.spec.ts
  front/tests/019-scenario-page-synchronization.spec.ts
  front/tests/020-paced-train-exceptions.spec.ts
  front/tests/assets/constants/mail-feedback-const.ts
  front/tests/assets/constants/simulation-sheet-const.ts
  front/tests/pages/operational-studies/route-tab.ts
  front/tests/pages/operational-studies/scenario-timetable-section.ts
  front/tests/pages/operational-studies/time-stop-simulation-outputs.ts
  front/tests/pages/operational-studies/times-and-stops-tab.ts
  front/tests/pages/rolling-stock/rolling-stock-editor-page.ts
  front/tests/pages/stdcm/destination-section.ts
  front/tests/pages/stdcm/simulation-results-page.ts
  front/tests/pages/stdcm/stdcm-page.ts
  front/tests/pages/stdcm/via-section.ts
  front/tests/utils/index.ts
Due: front

core: make pathfinding deterministic when solutions have same cost
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/pathfinding/Pathfinding.kt
Due: core

front: optimize test setup using beforeAll
  front/tests/015-train-timetable.spec.ts
  front/tests/016-train-timetable-multiselection.spec.ts
  front/tests/017-paced-train-management.spec.ts
  front/tests/018-train-edition.spec.ts
  front/tests/019-scenario-page-synchronization.spec.ts
  front/tests/020-paced-train-exceptions.spec.ts
Due: front

editoast: fix `/authz/me/privileges` to work even when authz is disabled
  editoast/src/views/authz.rs
Due: editoast

front: persist margins when pathsteps are equal
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: change name of unique trains imported from xml
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/parseXML.ts
Due: front

editoast: fix path properties serialization and inconsistencies
  editoast/src/views/path/properties.rs
Due: editoast

front: add siph import
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/parseXML.ts
Due: front

front: hide conflict list by default
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/tests/pages/operational-studies/scenario-page.ts
Due: front

fixup! front: add siph import
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/parseXML.ts
Due: front

editoast: removed comments, use of parameterized tests to separate subsets and boundaries
  editoast/src/generated_data/error/electrifications.rs
Due: editoast

front: e2e, handle and delete added exception
  front/tests/018-train-edition.spec.ts
  front/tests/020-paced-train-exceptions.spec.ts
  front/tests/assets/constants/operational-studies-const.ts
  front/tests/assets/constants/timetable-items-count.ts
  front/tests/assets/paced-train/const.ts
  front/tests/assets/paced-train/paced_trains.json
  front/tests/pages/operational-studies/operational-studies-page.ts
  front/tests/pages/operational-studies/paced-train-section.ts
  front/tests/utils/types.ts
Due: front
