Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true

editoast : rewrite test using check functions
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/generated_data/error/detectors.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/operational_points.rs
  editoast/src/generated_data/error/routes.rs
  editoast/src/generated_data/error/signals.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/generated_data/error/switch_types.rs
  editoast/src/generated_data/error/switches.rs
  editoast/src/generated_data/error/track_section_links.rs
  editoast/src/generated_data/error/track_sections.rs
Due: editoast

editoast: rewrite generate_errors function
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/generated_data/error/detectors.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/operational_points.rs
  editoast/src/generated_data/error/routes.rs
  editoast/src/generated_data/error/signals.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/generated_data/error/switch_types.rs
  editoast/src/generated_data/error/track_sections.rs
  editoast/src/infra_cache.rs
Due: editoast

editoast: stop loading infra caches at server start up
  editoast/src/infra_cache.rs
  editoast/src/main.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
Due: editoast

editoast: refacto waypoint creation
  editoast/src/generated_data/error/routes.rs
  editoast/src/infra_cache.rs
Due: editoast

front: improved driver train schedule
  front/public/locales/fr/drivertrainschedule.json
  front/src/applications/osrd/components/DriverTrainSchedule/DriverTrainScheduleHelpers.js
  front/src/applications/osrd/components/DriverTrainSchedule/DriverTrainScheduleModal.js
  front/src/applications/osrd/views/OSRDSimulation/DriverTrainSchedule.js
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.scss
  front/src/applications/osrd/views/OSRDSimulation/TrainList.js
Due: none

front: improved driver train schedule (#2409)
  front/public/locales/fr/drivertrainschedule.json
  front/src/applications/osrd/components/DriverTrainSchedule/DriverTrainScheduleHelpers.js
  front/src/applications/osrd/components/DriverTrainSchedule/DriverTrainScheduleModal.js
  front/src/applications/osrd/views/OSRDSimulation/DriverTrainSchedule.js
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.scss
  front/src/applications/osrd/views/OSRDSimulation/TrainList.js
Due: none

front: rollingstock: using new format in list (light) & traction mode filter
  front/public/locales/fr/rollingstock.json
  front/src/applications/osrd/components/RollingStock/RollingStock.js
  front/src/applications/osrd/components/RollingStock/RollingStock.scss
  front/src/applications/osrd/components/RollingStock/RollingStockCard.js
Due: none

front: rollingstock: better filter, better display img, adding img
  front/src/applications/osrd/components/RollingStock/RollingStock.js
  front/src/applications/osrd/components/RollingStock/RollingStock.scss
  front/src/applications/osrd/components/RollingStock/RollingStockCard.js
  front/src/applications/osrd/components/RollingStock/RollingStockCurves.js
  front/src/applications/osrd/components/RollingStock/consts/mlgtraffic.json
  front/src/applications/osrd/components/RollingStock/consts/rollingstockDetailDB.json
Due: none

front: rollingstock: adding button bar to select
  front/public/locales/fr/rollingstock.json
  front/src/applications/osrd/components/RollingStock/RollingStock.scss
  front/src/applications/osrd/components/RollingStock/RollingStockCard.js
  front/src/applications/osrd/components/RollingStock/RollingStockCardButtons.js
  front/src/applications/osrd/components/RollingStock/RollingStockCardDetail.js
  front/src/applications/osrd/components/RollingStock/RollingStockCurves.js
  front/src/applications/osrd/components/RollingStock/RollingStockHelpers.js
  front/src/applications/osrd/components/RollingStock/consts/consts.js
Due: none

front: rollingstock: adding img
  front/src/applications/osrd/components/RollingStock/RollingStock.js
  front/src/applications/osrd/components/RollingStock/RollingStock.scss
  front/src/applications/osrd/components/RollingStock/RollingStock2Img.js
  front/src/applications/osrd/components/RollingStock/RollingStockCard.js
  front/src/applications/osrd/components/RollingStock/RollingStockCardDetail.js
  front/src/applications/osrd/components/RollingStock/consts/consts.js
  front/src/applications/osrd/components/RollingStock/consts/mlgtraffic.json
Due: none

front: rollingstock: update mlgtraffic & helpers for um
  front/src/applications/osrd/components/RollingStock/RollingStock.js
  front/src/applications/osrd/components/RollingStock/RollingStock2Img.js
  front/src/applications/osrd/components/RollingStock/RollingStockCard.js
  front/src/applications/osrd/components/RollingStock/RollingStockHelpers.js
  front/src/applications/osrd/components/RollingStock/consts/mlgtraffic.json
Due: none

core: adapt infra generator with railjson 3.0.1
  core/examples/generated/lib/railjson_generator/schema/infra/catenary.py
  core/examples/generated/lib/railjson_generator/schema/infra/infra.py
  core/examples/generated/scripts/small_infra.py
Due: core

api: adapt rolling stock model adding modes and conditions
  api/osrd_infra/models/rolling_stock.py
  api/osrd_infra/schemas/infra.py
  api/osrd_infra/schemas/rolling_stock.py
  api/osrd_infra/serializers.py
Due: none

front: rollingstock: display big train picture under chart
  front/src/applications/osrd/components/RollingStock/RollingStock.js
  front/src/applications/osrd/components/RollingStock/RollingStock.scss
  front/src/applications/osrd/components/RollingStock/RollingStockCard.js
  front/src/applications/osrd/components/RollingStock/RollingStockCardDetail.js
  front/src/applications/osrd/components/RollingStock/RollingStockCurves.js
  front/src/applications/osrd/components/RollingStock/RollingStockEmpty.js
  front/src/applications/osrd/components/RollingStock/RollingStockHelpers.js
Due: none

core: make simulation select the right effort curve
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/common/ExcludeFromGeneratedCodeCoverage.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSClimateControl.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSComfortType.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEffortCurves.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMUtils.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopePath.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimContext.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsPath.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/main/java/fr/sncf/osrd/train/StandaloneTrainSchedule.java
  core/src/test/java/fr/sncf/osrd/api/PathfindingTest.java
  core/src/test/java/fr/sncf/osrd/envelope_physics/TrainPhysics.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceRangesTests.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeMaintainSpeedTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopePathTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/FlatPath.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/MaxSpeedEnvelopeTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
Due: core

front: rollingstock: branding minicard on osrdconf
  front/public/locales/fr/rollingstock.json
  front/src/applications/osrd/components/AddTrainSchedule/formatConf.js
  front/src/applications/osrd/components/RollingStock/RollingStock.js
  front/src/applications/osrd/components/RollingStock/RollingStock.scss
  front/src/applications/osrd/components/RollingStock/RollingStockCard.js
  front/src/applications/osrd/components/RollingStock/RollingStockCardButtons.js
  front/src/applications/osrd/components/RollingStock/RollingStockHelpers.js
  front/src/applications/osrd/views/OSRDConfig/RollingStockSelector.js
  front/src/common/BootstrapSNCF/OptionsSNCF.scss
Due: none

api: add comfort field to train schedule model
  api/openapi.yaml
  api/osrd_infra/migrations/0010_trainschedulemodel_comfort.py
  api/osrd_infra/models/train_schedule.py
  api/osrd_infra/schemas/rolling_stock.py
  api/osrd_infra/views/train_schedule/standalone_simulation.py
  api/osrd_infra/views/train_schedule/train_schedule.py
Due: none

editoast: adapt to railjson 3.0.1
  editoast/src/infra.rs
  editoast/src/schema/catenary.rs
Due: editoast

front: common: refacto options sncf
  front/src/common/BootstrapSNCF/OptionsSNCF.js
  front/src/common/BootstrapSNCF/OptionsSNCF.scss
Due: none

core: bump rolling stocks examples to 3.0
  api/static/example_rolling_stock.json
  core/examples/generated/lib/railjson_generator/rjs_static/rolling_stocks.json
  core/examples/rolling_stocks/fast_rolling_stock.json
  core/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  core/examples/rolling_stocks/short_fast_rolling_stock.json
  core/examples/rolling_stocks/short_slow_rolling_stock.json
  core/examples/rolling_stocks/slow_rolling_stock.json
Due: core

front: rollingstock: reducers updated
  front/src/applications/osrd/components/RollingStock/RollingStock.scss
  front/src/applications/osrd/components/RollingStock/RollingStockCard.js
  front/src/applications/osrd/components/RollingStock/RollingStockCardButtons.js
  front/src/applications/osrd/components/RollingStock/RollingStockCardDetail.js
  front/src/applications/osrd/components/RollingStock/RollingStockCurves.js
  front/src/applications/osrd/components/RollingStock/consts/consts.js
  front/src/applications/osrd/consts.ts
  front/src/applications/osrd/views/OSRDConfig/OSRDConfig.js
  front/src/applications/osrd/views/OSRDConfig/RollingStockSelector.js
  front/src/reducers/index.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
  front/src/reducers/rollingstock.ts
Due: none

front: rollingstock: cosmetic adjustements
  front/src/applications/osrd/components/RollingStock/RollingStock.js
  front/src/applications/osrd/components/RollingStock/RollingStock.scss
  front/src/applications/osrd/components/RollingStock/RollingStockCard.js
Due: none

core: adapt infra railjson 3.0.1
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSCatenary.java
Due: core

front: rollingstock: multiple curves displayed, switchfor, beautiful cosmetics
  front/package.json
  front/public/locales/fr/rollingstock.json
  front/src/applications/osrd/components/RollingStock/RollingStock.js
  front/src/applications/osrd/components/RollingStock/RollingStock.scss
  front/src/applications/osrd/components/RollingStock/RollingStockCard.js
  front/src/applications/osrd/components/RollingStock/RollingStockCardButtons.js
  front/src/applications/osrd/components/RollingStock/RollingStockCardDetail.js
  front/src/applications/osrd/components/RollingStock/RollingStockCurve.js
  front/src/applications/osrd/components/RollingStock/RollingStockCurves.js
  front/src/applications/osrd/components/RollingStock/consts/mlgtraffic.json
  front/src/applications/osrd/views/OSRDConfig/OSRDConfig.js
  front/src/applications/osrd/views/OSRDConfig/RollingStockSelector.js
  front/yarn.lock
Due: none

core: adapt to new rolling stock model
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEffortCurves.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSTrainFeature.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/api/PathfindingTest.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
Due: core

api: add migrations for rolling stocks 3.0
  api/osrd_infra/migrations/0009_rolling_stocks_v3_0.py
Due: none
