Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true

Front: Adn/add grid margin (#2596)
  front/public/locales/fr/allowances.json
  front/src/applications/osrd/components/Simulation/Allowances/Allowances.js
  front/src/applications/osrd/components/Simulation/Allowances/StandardAllowanceDefault.js
  front/src/applications/osrd/components/Simulation/Allowances/consts.js
  front/src/applications/osrd/components/Simulation/Allowances/withOSRDData.tsx
  front/src/applications/osrd/components/Simulation/Allowances/withOSRDStdcmParams.tsx
  front/src/applications/osrd/consts.ts
  front/src/applications/osrd/views/OSRDConfig/OSRDConfig.js
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.tsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/BootstrapSNCF/InputGroupSNCF.js
  front/src/reducers/osrdconf/index.ts
  front/src/utils/helpers.js
Due: none

front: edition - fixing issues (#2614)
  front/public/locales/fr/translation.json
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
Due: none

Update README.md
  core/README.md
Due: core

railjson: add the new signaling model
  api/osrd_infra/schemas/infra.py
  core/examples/generated/README.md
  core/examples/generated/example_script.py
  core/examples/generated/lib/railjson_generator/schema/infra/signal.py
  core/examples/generated/lib/railjson_generator/schema/infra/switch.py
  core/examples/generated/scripts/one_line.py
  core/examples/generated/scripts/small_infra.py
  core/examples/generated/scripts/three_trains.py
  core/examples/generated/scripts/tiny_infra.py
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSSignal.java
  editoast/src/schema/signal.rs
Due: core, editoast

Mji/pathfinding optimisation (#2613)
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
Due: core

simplify issue templates
  .github/ISSUE_TEMPLATE/enabler.md
  .github/ISSUE_TEMPLATE/enabler_story.md
  .github/ISSUE_TEMPLATE/improvement.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

core: tests: stdcm: add builder for optional parameters
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Due: core

Fix grid margins
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMRequest.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/UnavailableSpaceBuilder.java
  core/src/test/java/fr/sncf/osrd/stdcm/UnavailableSpaceBuilderTests.java
Due: core

codecov: add config
  codecov.yml
Due: none

codeowners: update with new groups
  .github/CODEOWNERS
Due: none

editoast: move to rust stable version
  .github/workflows/editoast.yml
  editoast/Dockerfile
  editoast/README.md
Due: editoast

use static initialiser for errors hashmap
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
Due: core

api: docker: update base image version
  api/Dockerfile
Due: none

root: remove trash file
  yarn.lock
Due: none

core: stdcm: fix typo that sometimes caused duplicate routes
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMPathfinding.java
Due: core

front: dts: fix time display
  front/src/applications/osrd/components/DriverTrainSchedule/DriverTrainSchedule.scss
  front/src/applications/osrd/components/DriverTrainSchedule/DriverTrainScheduleHelpers.js
  front/src/applications/osrd/views/OSRDSimulation/DriverTrainSchedule.js
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.scss
Due: none

editoast: add filters (level, error_type and object_id) to list_errors endpoint
  editoast/openapi.yaml
  editoast/src/schema/errors.rs
  editoast/src/schema/mod.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
Due: editoast

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Due: editoast

api: schema: add electric profile schema
  api/osrd_infra/schemas/infra.py
  api/osrd_infra/schemas/physical_approximations.py
Due: none

core: fix ArenaMap warning
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/ArenaMap.kt
Due: core

core: tests: stdcm: split tests into several new files
  core/src/test/java/fr/sncf/osrd/stdcm/BacktrackingTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Due: core

editoast: fix db connections pool size
  editoast/README.md
  editoast/src/client/postgres_config.rs
  editoast/src/main.rs
  editoast/src/schema/signal.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/mod.rs
Due: editoast

core: implement MutableList.clone
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/Interfaces.kt
Due: core

better issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/development_task.yaml
  .github/ISSUE_TEMPLATE/enabler.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.yaml
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

tests: fuzzer: distribute the scheduled trains over a whole day
  tests/fuzzer/fuzzer.py
Due: none

api: add electric profile list model
  api/osrd_infra/admin.py
  api/osrd_infra/migrations/0011_electricprofileslist.py
  api/osrd_infra/models/__init__.py
  api/osrd_infra/models/physical_approximations.py
  api/osrd_infra/schemas/physical_approximations.py
Due: none

api: remove enums for electrical profiles and rename
  api/osrd_infra/admin.py
  api/osrd_infra/migrations/0011_electricalprofilesset.py
  api/osrd_infra/models/physical_approximations.py
  api/osrd_infra/schemas/physical_approximations.py
Due: none

editor: removes edition zone
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/nav.ts
  front/src/applications/editor/tools/list.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.ts
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/tool.ts
  front/src/applications/editor/tools/types.ts
  front/src/applications/editor/tools/zoneSelection/components.tsx
  front/src/applications/editor/tools/zoneSelection/tool.ts
  front/src/applications/editor/tools/zoneSelection/types.ts
  front/src/common/Map/Layers/EditorZone.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/const.ts
  front/src/reducers/editor.ts
Due: none

editor: removes edition zone
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.ts
  front/src/applications/editor/tools/selection/types.ts
  front/src/applications/editor/tools/switchEdition/utils.ts
  front/src/applications/editor/tools/types.ts
Due: none

editor: removes edition zone
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.ts
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/tool.ts
  front/src/applications/editor/tools/trackEdition/types.ts
  front/src/applications/editor/tools/types.ts
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/utils/mapboxHelper.ts
Due: none

editor: removes edition zone
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/nav.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.ts
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/editor/tools/types.ts
Due: none

editoast : update openapi
  editoast/openapi.yaml
Due: editoast

editor: removes edition zone
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/editor/tools/switchEdition/types.ts
  front/src/applications/editor/tools/switchEdition/utils.ts
  front/src/applications/editor/tools/types.ts
Due: none

front: editor - fixing distance computation on signal creation by getting the traksection with the API #2518
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/pointEdition/types.ts
Due: none

front: some linter fixes
  front/src/applications/editor/components/LinearMetadata/FormLineStringLength.tsx
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/opendata/views/OpenDataImportConfig.js
  front/src/applications/osrd/consts.ts
  front/src/common/BootstrapSNCF/InputGroupSNCF.js
  front/src/reducers/osrdconf/index.ts
  front/src/utils/helpers.js
Due: none

front: editor - fixing angle computation on getNearestPoint #2518
  front/src/utils/mapboxHelper.ts
Due: none

editor: removes edition zone
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/types.ts
Due: none
