Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

core: fix mrsp construction
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/SpeedLimits.java
  core/src/test/java/fr/sncf/osrd/infra/tracks/undirected/RJSParsingTests.java
Due: core

editor: fixes saving a new speed section
  front/src/applications/editor/tools/rangeEdition/tool-factory.tsx
Due: front

front: scale GET on trains with margins
  front/src/modules/simulationResult/components/SpaceTimeChart/createSpaceTimeChart.ts
Due: front

front: clean createSpaceTimeChart.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/SpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/consts.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/createSpaceTimeChart.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/d3Helpers.ts
Due: front

editoast: handle weird electrification values in rs editor
  editoast/src/converters/utils.rs
Due: editoast

front: editor: fixes electrification edition
  front/src/applications/editor/tools/rangeEdition/electrification/ElectrificationEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.tsx
  front/src/applications/editor/tools/rangeEdition/tools.ts
Due: front

ci: add a commit name check
  .github/workflows/build.yml
Due: none

core: arrayList tests
  core/kt-fast-collections/src/test/kotlin/TestArrayList.kt
Due: core

front: fix speed multiplier input in op study
  front/src/modules/simulationResult/components/TimeButtons.tsx
Due: front

docs: small_infra.py invalid address
  python/railjson_generator/README.md
Due: none

front: set max-warnings allowed in the ci to 0
  front/vite.config.ts
Due: front

front: compass points to north in maps and refacto map buttons
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/nav.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/assets/pictures/layersicons/compass_cardinal_24.svg
  front/src/assets/pictures/layersicons/compass_needle_24.svg
  front/src/common/Map/Buttons/ButtonMapInfraErrors.tsx
  front/src/common/Map/Buttons/ButtonMapInfras.tsx
  front/src/common/Map/Buttons/ButtonResetViewport.tsx
  front/src/common/Map/Buttons/MapButtons.tsx
  front/src/common/Map/Map.scss
  front/src/modules/infra/components/InfraSelector/InfraSelector.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorModal.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyStandard.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
Due: front

editoast: add batch operation support for ModelV2
  editoast/editoast_derive/src/lib.rs
  editoast/editoast_derive/src/modelv2.rs
  editoast/src/modelsv2/mod.rs
Due: editoast

editoast: use retrieve_batch for TrackSectionModel
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
Due: editoast

editoast: add type aliases Row<M> and Changeset<M>
  editoast/src/modelsv2/mod.rs
Due: editoast

editoast: add flat_<field> fns for ModelV2 builders
  editoast/editoast_derive/src/modelv2.rs
Due: editoast

editoast: add trait Exists for ModelV2
  editoast/editoast_derive/src/modelv2.rs
  editoast/src/modelsv2/mod.rs
Due: editoast

front: use another array to manage index of speed limit by tag entries
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionMetadataForm.tsx
Due: front

editoast: fix ModelV2 remote attribute
  editoast/editoast_derive/src/lib.rs
  editoast/editoast_derive/src/modelv2.rs
  editoast/src/modelsv2/mod.rs
Due: editoast

editoast: fix lpv angles
  editoast/src/generated_data/sql/generate_psl_sign_layer.sql
  editoast/src/generated_data/sql/insert_psl_sign_layer.sql
  editoast/src/schema/mod.rs
  python/osrd_schemas/osrd_schemas/infra.py
Due: editoast
