Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

front: SearchContext: create serach context. RenderItynerary: refacto to use it for search line
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderItinerary.tsx
  front/src/common/Map/Search/SearchContext.tsx
  front/src/main/app.jsx
Due: none

front: const.ts: create type searchPayloadType and SEARCH_URLh. MapSearchStation: refacto and use new const SEARCH_URL. Create MapSearchLine.
  front/public/locales/fr/map-search.json
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/const.ts
Due: none

front: Fix comments
  front/src/common/Map/Search/MapSearchLine.tsx
Due: none

search: search into tracks directly instead of tracksections
  python/api/osrd_infra/migrations/0014_osrd_search_track.py
Due: none

front: create SearchResultItem and use in MapSearchLine and MapSearchStation
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Search/SearchResultItem.tsx
Due: none

front: LineSearchLayer: add lineSearchCode. HeaderPopUp: add action in props. MapSearch: create button a function to reset search. And add lineSearchCode in store
  front/public/locales/fr/map-search.json
  front/src/common/Map/HeaderPopUp.tsx
  front/src/common/Map/Layers/LineSearchLayer.tsx
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/reducers/map/index.ts
  python/api/osrd_infra/migrations/0014_osrd_search_track.py
Due: none

Refacto : use editoast endpoint to get track bbox
  front/src/common/Map/Search/LineCard.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/searchTypes.ts
Due: none

front: MapSearchLine: connect front with back and display result
  front/src/common/Map/Search/MapSearchLine.tsx
Due: none

front: create new layer to display result of line search
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Layers/LineSearchLayer.tsx
  front/src/config/layerOrder.ts
Due: none

front: MapSearchLine: use RTK
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderItinerary.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Layers/LineSearchLayer.tsx
  front/src/common/Map/Search/LineCard.tsx
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
Due: none

front: MapSearchLine: use rtk
  front/src/common/Map/Search/MapSearchLine.tsx
Due: none

front: clean GEV
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/sampleData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsConsts.ts
Due: none

editoast: fix openapi duplicate endpoint
  editoast/openapi.yaml
Due: editoast

editoast: fix openapi trailing slash
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Due: editoast

Fix
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
Due: none

wip Here the SoC should change with time - but problem with accounting for recharge power
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
Due: core

tests: `west_to_south_east_path` fixture and pathfinding test improvements
  .github/workflows/integration_tests.yml
  tests/README.md
  tests/assets/west_to_south_east_parking.png
  tests/conftest.py
  tests/poetry.lock
  tests/pyproject.toml
  tests/tests/__init__.py
  tests/tests/path.py
  tests/tests/test_pathfinding.py
  tests/tests/test_rolling_stock.py
  tests/tests/test_timetable.py
  tests/tests/utils/timetable.py
Due: none

e2e: fix intercept
  .github/workflows/integration_tests.yml
  front/tests/playwright-data-test.json
  front/tests/stdcm-page.spec.ts
Due: none

editor: fixes issue #3577
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsModal.tsx
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/components/Endpoints.tsx
  front/src/applications/editor/tools/routeEdition/components/WayPointInput.tsx
  front/src/applications/editor/tools/routeEdition/utils.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/types.ts
  front/src/common/Map/Layers/GeoJSONs.tsx
Due: none

editoast: cleanup redis-utils module
  editoast/src/map/redis_utils.rs
Due: editoast

editoast: add a version to the redis cache
  editoast/src/client/mod.rs
  editoast/src/map/layer_cache.rs
  editoast/src/views/mod.rs
Due: editoast

front: clean GEV (#3572)
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/sampleData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsConsts.ts
Due: none

Make running-time calculation causal (#3467)
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeCursor.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/ConstrainedEnvelopePartBuilder.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopeConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopePartConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopePartConstraintType.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/PositionConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/SpeedConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeMaintain.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/ConstraintBuilderTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope/EnvelopeShape.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/FlatPath.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
Due: core

front: fix-bug: GEV chart is correctly scaled at initialization
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
Due: none

core: allow parallel routes
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/ReservationInfraBuilder.java
Due: core

osrd-railjson: implement toString for LineString / Point
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/geom/LineString.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/geom/Point.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  core/osrd-railjson/src/test/java/fr/sncf/osrd/utils/geom/LineStringTest.java
  core/osrd-railjson/src/test/java/fr/sncf/osrd/utils/geom/PointTest.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMResponse.java
Due: core

core: build in parallel
  core/gradle.properties
Due: core

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
