Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: remove `#[allow(clippy::wrong_self_convention)]`
  editoast/editoast_derive/src/model/codegen/changeset_builder_impl_block.rs
  editoast/editoast_derive/src/model/codegen/changeset_from_model.rs
  editoast/editoast_derive/src/model/codegen/model_field_api_impl_block.rs
  editoast/editoast_derive/src/model/codegen/model_from_row_impl.rs
  editoast/editoast_derive/src/model/config.rs
Due: editoast

editoast: justify a `#[allow(large_enum_variant)]`
  editoast/schemas/src/rolling_stock/supported_signaling_system.rs
Due: editoast

editoast: justify an `#[allow(enum_variant_name)]`
  editoast/src/views/operational_studies/hierarchy/scenario.rs
Due: editoast

editoast: justify `#[allow(non_snake_case)]`
  editoast/schemas/src/rolling_stock/rolling_resistance.rs
Due: editoast

editoast: remove a `#[allow(clippy::enum_variant_names)]`
  editoast/core_client/src/lib.rs
  editoast/core_task/src/envs/simulation.rs
  editoast/src/error.rs
  editoast/src/views/worker_load.rs
Due: editoast

front: add empty admin dashboard page
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/applications/adminDashboard/AdminDashboard.tsx
  front/src/common/NavBar/UserActionsDropdown.tsx
  front/src/common/authorization/hooks/__tests__/useAllowedUserRoles.spec.ts
  front/src/common/authorization/hooks/useAllowedUserRoles.ts
  front/src/common/authorization/roleBaseAccessControl.ts
  front/src/main/app.tsx
Due: front

front: remove useless `span`s around icons
  front/src/common/NavBar/UserActionsDropdown.tsx
Due: front

editoast: remove unused roles
  editoast/fga/src/lib.rs
Due: editoast

editoast: add missing index for train linking foreign keys
  editoast/migrations/2026-10-02-123700-0000_add_missing_indexes_train_linking/down.sql
  editoast/migrations/2026-10-02-123700-0000_add_missing_indexes_train_linking/up.sql
Due: editoast

front: add bbox fetching and viewport adjustment when changing infra.
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyStandard.tsx
Due: front

front: rename `stepId` into `stepKey`
  front/src/applications/operationalStudies/hooks/useOperationalPointSearch.ts
  front/src/applications/operationalStudies/hooks/usePathOps.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/IntermediateWaypointsPanel.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModalMap.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/pathStepsActions.ts
  front/src/applications/operationalStudies/views/Scenario/components/RoundTrips/utils.ts
  front/src/applications/stdcm/components/StdcmForm/StdcmLinkedTrainResults.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
  front/src/applications/stdcm/utils/__tests__/mergeSimilarTrainSegments.spec.ts
  front/src/modules/timesStops/helpers/__tests__/powerRestrictionIncompatibility.spec.ts
  front/src/modules/timesStops/helpers/cellUpdate.ts
  front/src/modules/timesStops/helpers/computeMargins.ts
  front/src/modules/timesStops/helpers/stopDurationPropagation.ts
  front/src/modules/timesStops/helpers/timePropagation.ts
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
  front/src/modules/trainSchedule/helpers/computeBasePathStep.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
Due: front

front: rename `stepsMetadataById` into `stepsMetadataByKey`
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/modules/pathfinding/hooks/usePathfindingV2.ts
Due: front

front: rename PathStep field `id` into `key`
  front/src/applications/operationalStudies/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/__tests__/ItineraryModal.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/__tests__/formatSchedule.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/__tests__/formatTrainSchedulePayload.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/formatMargin.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/formatSchedule.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/formatTrainSchedulePayload.ts
  front/src/applications/searchJourney/components/SearchJourneyMap.tsx
  front/src/applications/searchJourney/hooks/useSearchJourneySolutionDetails.ts
  front/src/applications/stdcm/utils/index.ts
  front/src/common/Map/DefaultBaseMap.tsx
  front/src/common/Map/types.ts
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
  front/src/modules/trainSchedule/helpers/computeBasePathStep.ts
  front/src/reducers/osrdconf/osrdConfCommon/__tests__/commonConfBuilder.ts
  front/src/reducers/osrdconf/types.ts
  front/tests/assets/operation-studies/train-schedules.json
Due: front

front: rename PathStepV2 field `id` into `key`
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/IntermediateWaypointsPanel.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/__tests__/utils.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModalMap.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/PathStepItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/pathStepsActions.ts
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPath.tsx
  front/src/modules/pathfinding/helpers/__tests__/reversePathSteps.spec.ts
  front/src/modules/timesStops/helpers/stopDurationPropagation.ts
  front/src/reducers/osrdconf/types.ts
Due: front

front: ensure consistency for `PathItem.key` assignment
  front/src/applications/operationalStudies/utils.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/getLinkableOccupancyData.ts
  front/src/modules/timesStops/helpers/arrivalCascade.ts
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
Due: front

front: provide animation frame environment to help RTK work in tests
  front/src/store/__tests__/index.tsx
Due: front

docs: contribution for specific needs
  CONTRIBUTING.md
Due: none

editoast, front: rename PathItem.id to PathItem.key
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
Due: front

front: map: display muted op names on layer behind non-muted ones
  front/src/applications/editor/Map.tsx
  front/src/common/Map/Layers/InfraObjectLayers/InfraObjectLayers.tsx
  front/src/common/Map/Layers/InfraObjectLayers/OperationalPoints.tsx
  front/src/config/layerOrder.ts
Due: front

front: split occupancy blocks that span over track occupancy OPs
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/__tests__/splitOccupancyBlocks.spec.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/utils.ts
  front/ui/ui-charts/src/spaceTimeChart/components/OccupancyBlockLayer.tsx
Due: front

front: add useDebouncedEffect hook to avoid firing effects too frequently
  front/src/utils/hooks/__tests__/useDebounce.spec.ts
  front/src/utils/hooks/useDebounce.ts
Due: front

front: stdcm: debounce preliminary pathfinding
  front/src/applications/stdcm/hooks/useStaticPathfinding.ts
  front/src/utils/hooks/__tests__/useDebounce.spec.ts
  front/src/utils/hooks/useDebounce.ts
Due: front

front: stdcm: rename PathfindingConsistChange type to distinguish it from regular consist changes
  front/src/applications/stdcm/utils/getConsistChangesConstraints.ts
Due: front

front: stdcm: use total length instead of rs length in preliminary pathfinding
  front/src/applications/stdcm/hooks/useStaticPathfinding.ts
  front/src/applications/stdcm/utils/getConsistChangesConstraints.ts
  front/src/modules/pathfinding/utils.ts
Due: front

front: stdcm: narrow getPathfindingQuery signature
  front/src/modules/pathfinding/utils.ts
Due: front

front: focus the train on the std when clicking on the projection button
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
Due: front

osm2railjson: fix uic in op generation
  editoast/osm_to_railjson/src/operational_point.rs
Due: editoast

osm2railjson: fix unique domestic code
  editoast/osm_to_railjson/src/operational_point.rs
Due: editoast

osm2railjson: import country_code from osm instead of FR
  editoast/osm_to_railjson/src/operational_point.rs
Due: editoast

osm2railjson: fix op uic extraction
  editoast/osm_to_railjson/src/operational_point.rs
Due: editoast
