Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

editoast: fix typo — occurR
  editoast/src/valkey_utils.rs
  editoast/src/views/timetable.rs
Due: editoast

editoast: cargo fmt to fix `use` style
  editoast/core_client/src/etcs_braking_curves.rs
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

front: drop MacroEditorState.timetableItems
  front/src/applications/operationalStudies/components/MacroEditor/MacroEditorState.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
Due: front

front: introduce useSelectedTrain hook and getTimetableItemById endpoint
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/trainschedule/hooks/useSelectedTrain.tsx
Due: front

front: introduce getTrainPath endpoint and use it in useSimulationResults
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/common/api/osrdEditoastApi.ts
Due: front

front: use currentData for simulationResults endpoints
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/modules/trainschedule/hooks/useSelectedTrain.tsx
Due: front

front: introduce getTrainSimulation endpoint and use it in useSimulationResults
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/common/api/osrdEditoastApi.ts
Due: front

front: drop useSpeedSpaceChart hook
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/useSpeedSpaceChart.ts
Due: front

front: add button to shrink information/tool tabs
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/editor/Editor.tsx
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/ManageTrainScheduleModal.tsx
  front/src/styles/scss/applications/editor/_editor.scss
  front/src/styles/scss/applications/operationalStudies/_scenarioV2.scss
Due: front

front: useSimulationResults now handles exceptions
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/utils/trainId.ts
Due: front

editoast: use clap to define ROOT_URL
  editoast/openapi.yaml
  editoast/src/client/mod.rs
  editoast/src/client/runserver.rs
  editoast/src/main.rs
  editoast/src/views/layers.rs
  editoast/src/views/mod.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: use clap to provide DYNAMIC_ASSETS_PATH
  editoast/src/client/mod.rs
  editoast/src/client/runserver.rs
  editoast/src/views/fonts.rs
  editoast/src/views/mod.rs
  editoast/src/views/sprites.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: remove `-Model` suffix of `TowedRollingStock` model
  editoast/editoast_schemas/src/lib.rs
  editoast/src/client/import_rolling_stock.rs
  editoast/src/models/towed_rolling_stock.rs
  editoast/src/views/rolling_stock/towed.rs
  editoast/src/views/timetable/stdcm/request.rs
Due: editoast

front: fix cat mismatch warning appearing globally
  front/public/locales/en/operational-studies.json
  front/public/locales/en/translation.json
  front/public/locales/fr/operational-studies.json
  front/public/locales/fr/translation.json
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/Tabs.tsx
Due: front

editoast: remove useless TowedRollingStockResponse wrapper
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/towed_rolling_stock.rs
  editoast/src/views/rolling_stock/towed.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

front: refacto generateTrainrunProperties, extract path and schedule
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

front: change stdcm contact mail to deployment setting
  front/public/locales/en/stdcm-help-section.json
  front/public/locales/fr/stdcm-help-section.json
  front/src/applications/stdcm/components/StdcmHelpModule/HelpSection.tsx
Due: front

editoast: etcs endpoint ps and gui curves cannot be null
  editoast/core_client/src/etcs_braking_curves.rs
  editoast/openapi.yaml
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: import railjson can return only id with --quiet
  editoast/src/client/infra_commands.rs
Due: editoast

front: increment trainschedule start time when duplicating
  front/src/modules/trainschedule/components/Timetable/TrainScheduleItem.tsx
  front/src/modules/trainschedule/components/Timetable/consts.ts
Due: front

front: harmonize paced train duplication
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
Due: front

editoast: refactor `similar_schedules` to use cached path properties (#12265)
  editoast/src/views/path.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/timetable/similar_schedules.rs
Due: editoast

Revert "editoast: refactor `similar_schedules` to use cached path properties …"
  editoast/src/views/path.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/timetable/similar_schedules.rs
Due: editoast

front: fix time input text overlap
  front/src/modules/timesStops/TimeInput.tsx
  front/src/modules/timesStops/styles/_timeInput.scss
Due: front

front: adjust step from 2s to 1s in time input
  front/src/modules/timesStops/TimeInput.tsx
Due: front

front: simplify RouteTableRow type for SimulationReportSheet
  front/src/modules/SimulationReportSheet/Route.tsx
  front/src/modules/SimulationReportSheet/utils/formatRouteTable.ts
  front/src/modules/SimulationReportSheet/utils/formatSimulationReportSheet.ts
Due: front

front: simplify consist data for SimulationReportSheet
  front/src/applications/stdcm/components/StdcmResults/StdcmSimulationReportSheet.tsx
  front/src/modules/SimulationReportSheet/Consist.tsx
  front/src/modules/SimulationReportSheet/ConsistAndRoute.tsx
  front/src/modules/SimulationReportSheet/SimulationReportSheet.tsx
Due: front

front: harmonize RouteProps in SimulationReportSheet
  front/src/applications/stdcm/components/StdcmResults/StdcmSimulationReportSheet.tsx
  front/src/modules/SimulationReportSheet/ConsistAndRoute.tsx
  front/src/modules/SimulationReportSheet/Route.tsx
  front/src/modules/SimulationReportSheet/SimulationReportSheet.tsx
  front/src/modules/SimulationReportSheet/types.ts
  front/src/modules/SimulationReportSheet/utils/formatRouteTable.ts
Due: front

python: osrd-schemas: make the extensions' field optional
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/osrd_schemas/infra_editor.py
  python/osrd_schemas/pyproject.toml
  python/osrd_schemas/uv.lock
  python/railjson_generator/pyproject.toml
  python/railjson_generator/uv.lock
  tests/uv.lock
Due: none

front: remove geometry from pathfindingResult
  front/src/applications/stdcm/hooks/useStaticPathfinding.ts
Due: front

editoast: replace last naive date times by Utc
  editoast/src/models/fixtures.rs
  editoast/src/models/project.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/temporary_speed_limits.rs
  editoast/src/views/project.rs
  editoast/src/views/scenario.rs
  editoast/src/views/search.rs
  editoast/src/views/study.rs
  editoast/src/views/temporary_speed_limits.rs
  editoast/src/views/timetable/stdcm/request.rs
Due: editoast

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
