Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

parsers:
  jacoco:
    partials_as_hits: true

editoast: more fixtures called explicitely to avoid stackoverflows
  editoast/src/fixtures.rs
  editoast/src/models/scenario.rs
  editoast/src/models/timetable.rs
  editoast/src/views/rolling_stocks/mod.rs
  editoast/src/views/scenario.rs
Due: editoast

osrd_schemas: bump pydantic to v2
  front/src/reducers/osrdconf/infra_schema.json
  python/osrd_schemas/osrd_schemas/generated.py
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/osrd_schemas/path.py
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/osrd_schemas/train_schedule.py
  python/osrd_schemas/poetry.lock
  python/osrd_schemas/pyproject.toml
Due: front

railjson-generator: bump osrd-schemas to 0.6
  python/railjson_generator/poetry.lock
  python/railjson_generator/pyproject.toml
  python/railjson_generator/railjson_generator/external_generated_inputs.py
  python/railjson_generator/railjson_generator/schema/infra/infra.py
  python/railjson_generator/railjson_generator/schema/infra/make_geo_data.py
  python/railjson_generator/railjson_generator/schema/infra/track_section.py
  python/railjson_generator/railjson_generator/schema/simulation/train_schedule.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Due: none

tests: bump osrd-schemas to 0.6 and railjson-generator to 0.2.1
  .github/workflows/integration_tests.yml
  tests/conftest.py
  tests/poetry.lock
  tests/pyproject.toml
Due: none

api: bump osrd-schemas to 0.6
  python/api/poetry.lock
  python/api/pyproject.toml
Due: none

core: do not try extending neutral sections if thermal
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationRange.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
Due: core

api: add migration to complete rolling stock system times
  python/api/osrd_infra/migrations/0046_fill_rolling_stock_system_times.py
Due: none

core: finish Pathfinding migration
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSRoutePath.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSApplicableDirectionsTrackRange.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSCurve.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSDirectionalTrackRange.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSLoadingGaugeLimit.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSRange.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSSlope.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSTrackRange.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingUtils.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/RemainingDistanceEstimator.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LoadingGaugeConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathWaypointResult.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/api/ApiTest.java
  core/src/test/java/fr/sncf/osrd/api/ElectricalProfileSetManagerTest.java
  core/src/test/java/fr/sncf/osrd/api/InfraCacheStatusTest.java
  core/src/test/java/fr/sncf/osrd/api/InfraLoadingTest.java
  core/src/test/java/fr/sncf/osrd/api/STDCMEndpointTest.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpointTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverterTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/RemainingDistanceEstimatorTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraintsTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/LoadingGaugeConstraintsTest.java
  python/railjson_generator/railjson_generator/scripts/examples/generated.py
Due: core

front: import opendata: correct data format
  front/public/locales/en/operationalStudies/importTrainSchedule.json
  front/public/locales/fr/operationalStudies/importTrainSchedule.json
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
Due: front

editoast: implement routing conflict detection
  editoast/src/core/conflicts.rs
  editoast/src/models/mod.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tests/small_infra/stdcm/test_1/stdcm_core_response.json
  editoast/src/views/timetable.rs
Due: editoast

core: add routing conflict detection tests
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeBuilder.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
Due: core

railjson_generator: small_infra remove all route release points
  editoast/src/tests/small_infra/small_infra.json
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Due: editoast

api: delete a scenario when deleting an infra
  python/api/osrd_infra/migrations/0047_alter_scenario_infra.py
  python/api/osrd_infra/models/study.py
Due: none

front: migrate rolling stock selector to ts - RollingStockCard - RollingStockCardButtons - RollingStockHelpers - RollingStockEmpty
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/common/BootstrapSNCF/OptionsSNCF.tsx
  front/src/common/RollingStockSelector/RollingStockCard.tsx
  front/src/common/RollingStockSelector/RollingStockCardButtons.jsx
  front/src/common/RollingStockSelector/RollingStockCardButtons.tsx
  front/src/common/RollingStockSelector/RollingStockCardDetail.tsx
  front/src/common/RollingStockSelector/RollingStockCurves.tsx
  front/src/common/RollingStockSelector/RollingStockEmpty.tsx
  front/src/common/RollingStockSelector/RollingStockHelpers.tsx
  front/src/common/RollingStockSelector/RollingStockSelector.tsx
Due: front

front: fix translation keys for routing conflicts
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
Due: front

editoast: update stdcm required fields
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/views/stdcm/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

api: remove version from railjson
  python/api/osrd_infra/models/rolling_stock.py
  python/api/static/example_rolling_stock.json
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/railjson_generator/railjson_generator/examples/rolling_stocks/electric_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_slow_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/slow_rolling_stock.json
Due: none

front: use editoast stdcm
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/stdcm/components/OldAllowances/allowancesConsts.tsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/common/Pathfinding/Pathfinding.tsx
Due: front

core: fix bug in array set
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArraySortedSet.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestIndexes.kt
Due: core

front: fix getSwitchTypeJSONSchema function due to json_schema changes
  front/src/applications/editor/tools/switchEdition/utils.ts
Due: front

front: remove unused code
  front/src/common/IntervalsDataViz/data.ts
Due: front

front: fix #4245
  front/src/applications/editor/tools/switchEdition/components.tsx
Due: front

Simplify PathfindingUtils.makePath
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingUtils.java
Due: core

core: remove kt-fast-collections
  core/kt-fast-collections/build.gradle
  core/kt-fast-collections/src/test/kotlin/TestIndex.kt
  core/kt-osrd-sim-infra/build.gradle
  core/kt-osrd-utils/build.gradle
  core/settings.gradle
Due: core

front: use the intervals editor to set up power restriction ranges
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionsSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/types.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/RollingStockSelector/RollingStockCardButtons.tsx
  front/src/reducers/osrdconf/index.ts
Due: front

openapi: correct catenary range type
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
Due: editoast, front

front: fix const typo & order locales json
  front/public/locales/en/operationalStudies/importTrainSchedule.json
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
Due: front
