Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: add StdcmRequestsSentModal to StdcmHeader
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmHeader.tsx
  front/src/applications/stdcm/components/StdcmRequestsSent/StdcmRequestsSentModal.tsx
  front/src/applications/stdcm/styles/_requestsSent.scss
  front/src/applications/stdcm/styles/_stdcm.scss
Due: front

front: infra-editor: translated using weblate (French)
  front/public/locales/fr/infraEditor.json
Due: front

front: home: add translation using weblate (Italian)
  front/public/locales/it/translation.json
Due: front

front: errors: translated using weblate (Italian)
  front/public/locales/it/errors.json
Due: front

front: operational-studies: add translation using weblate (Hungarian)
  front/public/locales/hu/operational-studies.json
Due: front

front: home: add translation using weblate (Chinese (Simplified Han script))
  front/public/locales/zh_Hans/translation.json
Due: front

front: errors: translated using weblate (English)
  front/public/locales/en/errors.json
Due: front

front: operational-studies: translated using weblate (French)
  front/public/locales/fr/operational-studies.json
Due: front

front: operational-studies: add translation using weblate (Romanian)
  front/public/locales/ro/operational-studies.json
Due: front

front: home: add translation using weblate (Hungarian)
  front/public/locales/hu/translation.json
Due: front

front: home: add translation using weblate (Romanian)
  front/public/locales/ro/translation.json
Due: front

front: errors: translated using weblate (French)
  front/public/locales/fr/errors.json
Due: front

fixup: rename conversion constants
  front/ui/ui-charts/src/common/consts.ts
  front/ui/ui-charts/src/manchette/utils/index.ts
  front/ui/ui-charts/src/spaceTimeChart/components/ConflictTooltip.tsx
Due: front

fixup! core: factorize code to get partial path until current block in `InfraExplorer`
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/tracing/FailureExplainer.kt
Due: core

fixup: lint
  front/ui/ui-charts/src/common/consts.ts
  front/ui/ui-charts/src/manchette/utils/index.ts
  front/ui/ui-charts/src/spaceTimeChart/components/TrainInfoBar.tsx
  front/ui/ui-charts/src/trackOccupancyDiagram/components/helpers/drawElements/drawBrokenLinkings.ts
  front/ui/ui-charts/src/trackOccupancyDiagram/components/helpers/drawElements/drawOccupancyZonesTexts.ts
  front/ui/ui-charts/src/trackOccupancyDiagram/components/layers/BrokenLinkingLayer.tsx
  front/ui/ui-charts/src/trackOccupancyDiagram/lib/consts.ts
Due: front

WIP: rework everythink
  front/ui/ui-charts/src/speedSpaceChart/__tests__/utils.spec.ts
  front/ui/ui-charts/src/speedSpaceChart/components/SpeedSpaceChart.tsx
  front/ui/ui-charts/src/speedSpaceChart/components/const.ts
  front/ui/ui-charts/src/speedSpaceChart/components/helpers/drawElements/axisY.ts
  front/ui/ui-charts/src/speedSpaceChart/components/helpers/drawElements/curve.ts
  front/ui/ui-charts/src/speedSpaceChart/components/helpers/drawElements/declivity.ts
  front/ui/ui-charts/src/speedSpaceChart/components/helpers/drawElements/electricalProfile.ts
  front/ui/ui-charts/src/speedSpaceChart/components/helpers/drawElements/reticle.ts
  front/ui/ui-charts/src/speedSpaceChart/components/helpers/drawElements/speedLimitTags.ts
  front/ui/ui-charts/src/speedSpaceChart/components/helpers/drawElements/speedLimits.ts
  front/ui/ui-charts/src/speedSpaceChart/components/helpers/drawElements/steps.ts
  front/ui/ui-charts/src/speedSpaceChart/components/helpers/drawElements/tickX.ts
  front/ui/ui-charts/src/speedSpaceChart/components/helpers/drawElements/tickYRight.ts
  front/ui/ui-charts/src/speedSpaceChart/components/layers/ReticleLayer.tsx
  front/ui/ui-charts/src/speedSpaceChart/components/utils.ts
  front/ui/ui-charts/src/speedSpaceChart/styles/main.css
Due: front

fixup! core: factorize code to get partial path until current block in `InfraExplorer`
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
Due: core

editoast: models: add stdcm_request list using cursor pagination
  editoast/models/src/stdcm_request.rs
Due: editoast

editoast, front: add stdcm_request list endpoint
  editoast/openapi.yaml
  editoast/src/views.rs
  editoast/src/views/stdcm_request.rs
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas/osrd_schemas/models.py
Due: editoast, front

fixup! core, editoast: add topological to geometric offset projection on /path_properties endpoint
  editoast/core_client/src/path_properties.rs
  editoast/src/views/path/properties.rs
Due: editoast

editoast: add an endpoint to create new users
  editoast/authz/src/identity.rs
  editoast/models/src/authn/user.rs
  editoast/openapi.yaml
  editoast/src/views.rs
  editoast/src/views/authz.rs
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas/osrd_schemas/models.py
Due: editoast, front

editoast: add an endpoint to create new groups
  editoast/openapi.yaml
  editoast/src/views.rs
  editoast/src/views/authz.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
