Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

Test new oidc conf
  gateway/actix_auth/src/providers/oidc.rs
Due: gateway

actions: don't push merge queue builds
  .github/workflows/unstable-build-images.yml
Due: none

remove scopes
  gateway/actix_auth/src/providers/oidc.rs
Due: gateway

front: platform layer as configurable data layer on maps
  front/public/locales/en/map-settings.json
  front/public/locales/en/translation.json
  front/public/locales/fr/map-settings.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/applications/editor/tools/types.ts
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/Layers/Platforms.tsx
  front/src/common/Map/Settings/MapSettingsLayers.tsx
  front/src/config/layerOrder.ts
  front/src/modules/simulationResult/components/SimulationResultsMap.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
  front/src/reducers/map/index.ts
  front/src/reducers/map/mapReducer.spec.ts
Due: front

front: add map minimal theme
  front/public/locales/en/map-settings.json
  front/public/locales/fr/map-settings.json
  front/src/assets/mapstyles/OSMMinimalStyle.json
  front/src/assets/pictures/mapbuttons/mapstyle-minimal.jpg
  front/src/common/Map/Consts/colors.ts
  front/src/common/Map/Layers/OSM.tsx
  front/src/common/Map/Settings/MapSettingsMapStyle.tsx
  front/src/reducers/map/index.ts
Due: front

tests: add regression test: coasting intersection not found
  tests/tests/regression_tests_data/coasting_intersection_not_found.json
Due: none

front: fix noData message in empty scenario
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Due: front

gateway: log OIDC code exchange errors
  gateway/actix_auth/src/providers/oidc.rs
Due: gateway

front: fix lpv position input to handle 0
  front/src/applications/editor/tools/rangeEdition/speedSection/PslSignCard.tsx
Due: front

front: fix get stdcm
  front/src/applications/stdcm/views/StdcmRequestModal.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/SpaceTimeChart.tsx
Due: front

core: add OP stops to STDCM
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.java
  core/src/test/kotlin/fr/sncf/osrd/utils/DummyInfra.kt
  front/src/modules/simulationResult/components/SpaceTimeChart/SpaceTimeChart.tsx
  tests/tests/test_stdcm.py
Due: core, front

front: Intervals dataviz - fix issue on point value when zooming
  front/src/common/IntervalsDataViz/dataviz.tsx
Due: front

front: fixes some relative imports
  front/src/utils/mapHelper.ts
Due: front

front: makes selecting point features easier in editor - fix #5379
  front/src/utils/mapHelper.ts
Due: front

gateway: oidc default scope name override
  gateway/actix_auth/src/providers/oidc.rs
  gateway/src/config.rs
  gateway/src/config_parser.rs
Due: gateway

front: editor - tooltip and loader on map popup while select
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/styles.scss
  front/src/common/Loader.tsx
Due: front

front: editor - fix no speed limit tag selection
  front/src/applications/editor/components/LayersModal.tsx
  front/src/common/Map/Layers/SpeedLimits.tsx
  front/src/reducers/map/index.ts
Due: front

editoast: move Generate and ImportRailjson to infra subcommand
  editoast/src/client/mod.rs
  editoast/src/main.rs
  scripts/generate-infra.sh
Due: editoast

front: upload picture error notification
  front/public/locales/en/operationalStudies/project.json
  front/public/locales/fr/operationalStudies/project.json
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/modules/project/components/AddOrEditProjectModal.tsx
Due: front

front: Fix comments
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/reducers/editor/__tests__/editorReducer.spec.ts
  front/src/reducers/editor/__tests__/editorTestDataBuilder.ts
  front/src/reducers/editor/index.ts
  front/src/reducers/editor/selectors.ts
Due: front

front: Add minzoom = 5 for all editoast layers that missed a minZoom
  front/src/common/Map/Layers/Detectors.tsx
  front/src/common/Map/Layers/OperationalPoints.tsx
  front/src/common/Map/Layers/Switches.tsx
  front/src/common/Map/Layers/geographiclayers.ts
Due: front

front: highlight detectors and nodes of a route
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/components/WayPointInput.tsx
  front/src/applications/editor/tools/routeEdition/types.ts
Due: front

front: add editor slice
  front/src/reducers/editor/__tests__/editorReducer.spec.ts
  front/src/reducers/editor/__tests__/editorTestDataBuilder.ts
  front/src/reducers/editor/index.ts
  front/src/reducers/editor/selectors.ts
  front/src/reducers/index.ts
Due: front

front: platform layer as configurable data layer on maps
  front/public/locales/en/map-settings.json
  front/public/locales/en/translation.json
  front/public/locales/fr/map-settings.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/tools/types.ts
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/Layers/Platforms.tsx
  front/src/common/Map/Settings/MapSettingsLayers.tsx
  front/src/config/layerOrder.ts
  front/src/modules/simulationResult/components/SimulationResultsMap.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
  front/src/reducers/map/index.ts
  front/src/reducers/map/mapReducer.spec.ts
Due: front

fix comment, we can now select 0
  front/src/applications/editor/tools/rangeEdition/speedSection/PslSignCard.tsx
Due: front

editoast: utoipa anotation for [light]rollingStock
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/rolling_stock_livery.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/mod.rs
  editoast/src/views/rolling_stocks/mod.rs
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/rollingStock/components/RollingStock2Img.tsx
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCard.tsx
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCardDetail.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorButtons.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorCurves.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorForm.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorFormModal.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockInformationPanel.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockHelpers.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockModal.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/SearchRollingStock.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/WithRollingStockSelector.tsx
  front/src/modules/rollingStock/consts.ts
  front/src/modules/rollingStock/helpers/utils.ts
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableTrainCard.tsx
Due: editoast, front

editoast: utoipa expose loading gauge as enum, not string
  editoast/openapi.yaml
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/schema/track_section.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/rollingStock/consts.ts
Due: editoast, front

editoast: utoipa for rolling stock review fixes
  editoast/openapi.yaml
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/mod.rs
  editoast/src/views/rolling_stocks/mod.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorButtons.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorFormModal.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/WithRollingStockSelector.tsx
Due: editoast, front

front: fix weird behavior in spreadsheet
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorCurves.tsx
Due: front
