Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: link TrainHeader Select to train rolling stock name
  front/src/modules/trainHeader/ExpandedTrainForm.tsx
Due: front

front: change GET default projection to operationalPointProjection
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SettingsPanel.tsx
  front/src/reducers/simulationResults/index.ts
Due: front

front: update manchette e2e tests by removing trackoffset waypoints
  front/tests/02-operational-studies/simulation-result/001-get-manchette.spec.ts
  front/tests/pages/operational-studies/std-manchette.ts
Due: front

editoast, front: make geographic position optional
  editoast/openapi.yaml
  editoast/src/views/search.rs
  front/src/applications/stdcm/components/StdcmForm/StdcmOperationalPoint.tsx
  front/src/applications/stdcm/types.ts
  front/src/common/Map/Search/MapSearchOperationalPoint.tsx
  front/src/common/api/generatedEditoastApi.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/styles/scss/common/map/_mapSearch.scss
  osrd_schemas_auto/osrd_schemas_auto/models.py
Due: editoast, front

editoast: rename `AuthorizationError::Unauthorized` to `Unauthenticated`
  editoast/openapi.yaml
  editoast/src/authentication.rs
  editoast/src/views.rs
  editoast/src/views/authz.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/server/middlewares.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  osrd_schemas_auto/osrd_schemas_auto/models.py
Due: editoast, front

editoast: make `AuthorizationError::ImpersonatedUserNotFound` a 404
  editoast/openapi.yaml
  editoast/src/views.rs
  osrd_schemas_auto/osrd_schemas_auto/models.py
Due: editoast

editoast, cli: show expected roles on failed parse
  editoast/src/client/roles.rs
Due: editoast

front: add intermediate waypoints from the panel
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/IntermediateWaypointsPanel.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/WaypointGroup.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/WaypointRow.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/__tests__/utils.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/types.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/IntermediateWaypointsPanel/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/modules/pathfinding/hooks/usePathfindingV2.ts
  front/src/styles/scss/applications/operationalStudies/_itineraryModal.scss
Due: front

editoast: fix simulation summary paced train exceptions
  editoast/editoast_models/src/train_schedule.rs
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

front: set a higher maximum value for the service window in the train header
  front/src/modules/trainHeader/ExpandedTrainForm.tsx
  front/ui/ui-core/src/components/DurationInput.tsx
Due: front

front: link TrainHeader DatePicker to train departure date
  front/src/modules/trainHeader/ExpandedTrainForm.tsx
  front/src/modules/trainHeader/ExtraOccurrenceForm.tsx
Due: front

front: fix electrical profile exception white page
  front/src/modules/trainSchedule/helpers/pacedTrain.ts
Due: front

editoast: authz: test the checks contained in each protected operation
  editoast/authz/src/v2/group.rs
  editoast/authz/src/v2/infra.rs
  editoast/authz/src/v2/roles.rs
  editoast/authz/src/v2/rolling_stock.rs
Due: editoast

front: show an error message when service cadence is null in train header
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/modules/trainHeader/ExpandedTrainForm.tsx
  front/ui/ui-core/src/components/DurationInput.tsx
Due: front

front: fix STD curve selection tooltips
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/CurveSelectionSidePanel.tsx
  front/src/styles/scss/common/components/_manchetteWithSpaceTimeChart.scss
Due: front

editoast: add tests for search endpoint
  editoast/src/views/search.rs
Due: editoast

front: use TrackSection instead of any
  front/src/applications/editor/tools/trackEdition/components/TrackEditionLeftPanel.tsx
Due: front

front: use Geometry instead of any
  front/src/applications/editor/Map.tsx
Due: front

front: restrict LinearMetadataItem values to string | number
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/types.ts
Due: front

ui-charts: rename OccupancyZone.trainId to pathId
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/buildSplitPoints.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/zones.ts
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/track-occupancy.stories.tsx
  front/ui/storybook/stories/ui-charts/trackOccupancyDiagram/assets/occupancyZones.ts
  front/ui/storybook/stories/ui-charts/trackOccupancyDiagram/interactions.stories.tsx
  front/ui/storybook/stories/ui-charts/trackOccupancyDiagram/rendering.stories.tsx
  front/ui/ui-charts/src/trackOccupancyDiagram/components/TrackOccupancyCanvas.tsx
  front/ui/ui-charts/src/trackOccupancyDiagram/components/TrackOccupancyStandalone.tsx
  front/ui/ui-charts/src/trackOccupancyDiagram/components/layers/OccupancyZonesLayer.tsx
  front/ui/ui-charts/src/trackOccupancyDiagram/lib/types.ts
Due: front

front: use intermediate variables in buildSplitPoints()
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/buildSplitPoints.tsx
Due: front

front: expose drag-and-drop props in buildSplitPoints()
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/buildSplitPoints.tsx
Due: front

front: store waypoint ID in TOD path IDs
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/buildSplitPoints.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/zones.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useTrackOccupancy.ts
Due: front

front: expose TOD drag-and-drop props in configureHandlePan()
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/configureHandlePan.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/zones.ts
Due: front

front: expose TOD drag-and-drop props in SpaceTimeChartWrapper
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
Due: front

front: add drag-and-drop to track occupancy diagram
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
  front/src/applications/operationalStudies/views/Scenario/hooks/useOccupancyZoneDrop.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useTrackOccupancy.ts
  front/src/modules/trainSchedule/helpers/pacedTrain.ts
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
