Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

editoast: authz: implement v2::rolling_stock_set_grant
  editoast/authz/src/v2.rs
  editoast/authz/src/v2/rolling_stock.rs
  editoast/authz/src/v2/test_client_ext.rs
  editoast/src/authorizers.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: allow to give rolling stock grants in POST/auhtz/grants
  editoast/src/views/authz.rs
Due: editoast

editoast, gateway, osrdyne: bump rustc version from 1.96 to 1.97
  editoast/Dockerfile
  gateway/Dockerfile
  osrdyne/Dockerfile
Due: editoast, gateway

raimi, front: add and propagate backtrack stop-type to RaiMI api
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/types.ts
  front/src/common/api/osrdRailwayManagerApi.ts
  front/src/modules/SimulationReportSheet/utils/formatSimulationReportSheet.ts
  front/tests/assets/constants/stdcm/stdcm-const.ts
  front/tests/utils/stdcm-types.ts
  osrd_schemas/osrd_schemas/models.py
  railway_manager_interface/openapi.yaml
Due: front

front: e2e-tests: replace dedicated VIA_STOP_TYPES enum with StdcmStopTypes
  front/tests/03-stdcm/001-stdcm.spec.ts
  front/tests/03-stdcm/002-stdcm-simulation-sheet.spec.ts
  front/tests/03-stdcm/003-stdcm-linked-train.spec.ts
  front/tests/03-stdcm/006-stdcm-consist-change.spec.ts
  front/tests/assets/constants/stdcm/stdcm-const.ts
Due: front

public_code: add roadmap link
  publiccode.yml
Due: none

front: ui-charts: split type of the space time chart theme
  front/ui/ui-charts/src/common/types.ts
  front/ui/ui-charts/src/spaceTimeChart/lib/types.ts
Due: front

front: ui-charts: remove custom theme in chronogram
  front/ui/ui-charts/src/chronogram/components/ChronogramCanvas.tsx
  front/ui/ui-charts/src/chronogram/lib/types.ts
Due: front

front: change the padding behavior of the DurationCell
  front/src/modules/timesStops/DurationCell.tsx
Due: front

front: adapt timeToLocaleStringRounded to format hourly timetable offsets
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/utils/__tests__/date.spec.ts
  front/src/utils/date.ts
  front/src/utils/duration.ts
Due: front

front: also count warnings based on rows that aren't visible
  front/src/modules/timesStops/TimeStopsTableWrapper.tsx
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
Due: front

front: move path item location up in buildStepsFromOcp()
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainSchedule/helpers/buildStepsFromOcp.ts
Due: front

front: don't use OCP ref as trigram in parseXML()
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainSchedule/helpers/parseXML.ts
Due: front

front: move path item location parsing to parseXML()
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainSchedule/helpers/__tests__/importTrainSchedule.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainSchedule/helpers/buildStepsFromOcp.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainSchedule/helpers/parseXML.ts
Due: front

front: rename {ci,ch}Code to {main,secondary}Code in parseXML()
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainSchedule/helpers/parseXML.ts
Due: front

front: use Duration for stopFor in buildStepsFromOcp()
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainSchedule/helpers/__tests__/importTrainSchedule.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainSchedule/helpers/buildStepsFromOcp.ts
Due: front

front: use a Map for OCP refs in buildStepsFromOcp()
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainSchedule/helpers/__tests__/importTrainSchedule.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainSchedule/helpers/buildStepsFromOcp.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainSchedule/helpers/parseXML.ts
Due: front

front: drop extractCiChCode()
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainSchedule/helpers/parseXML.ts
Due: front

ui-charts: move pickingState to useCanvas() out of BaseChartContextType
  front/ui/ui-charts/src/chronogram/components/ChronogramCanvas.tsx
  front/ui/ui-charts/src/common/hooks/useCanvas.ts
  front/ui/ui-charts/src/common/types.ts
  front/ui/ui-charts/src/spaceTimeChart/components/SpaceTimeChart.tsx
Due: front

ui-charts: add per-layer picking element tracking
  front/ui/ui-charts/src/common/hooks/useCanvas.ts
Due: front

ui-charts: only draw affected layers on change
  front/ui/ui-charts/src/common/hooks/useCanvas.ts
Due: front

editoast: return struct instead of tuple in simulation tests method
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

front: fix path properties operational points order when they share the same position
  front/src/applications/operationalStudies/hooks/__tests__/useSimulationResults.spec.ts
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
Due: front

front: fix drag-and-drop in TOD for OPs not found in infra
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
Due: front

editoast: core_task: fix cache writes using batching
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/core_task/Cargo.toml
  editoast/core_task/src/lib.rs
Due: editoast

front, test: update usecategoryoptions with i18n for tests
  front/src/modules/rollingStock/hooks/__tests__/useCategoryOptions.spec.ts
Due: front

front, test: add i18n setup for integration tests
  front/vitest.setup.ts
Due: front

front: remove date separator and mission filter for hourly timetables
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/FilterPanel.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainList.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/UniqueTrainItem.tsx
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
