Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

editoast: add `project` object for fga
  editoast/authz/src/model.rs
  editoast/fga_migrations/migrations/3_project_model.fga
Due: editoast

front: fix reset exceptions stop time table cell
  front/src/modules/timesStops/TimeStopsTableWrapper.tsx
Due: front

front: fix rs deletion bug in schedule sheet
  front/src/modules/trainHeader/ExpandedTrainForm.tsx
Due: front

front: make Occurrence.disabled mandatory
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/__tests__/useOccurrences.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrences.ts
  front/src/modules/trainSchedule/types.ts
Due: front

front: convert makeProjectedTrains() to generateBareOccurrences()
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/makeProjectedTrains.ts
Due: front

front: make useOccurrences()'s return type explicit
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrences.ts
Due: front

front: fix exception change groups for falsy ID in useOccurrences()
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/__tests__/useOccurrences.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrences.ts
Due: front

front: introduce generateBareOccurrences()
  front/src/applications/operationalStudies/helpers/__tests__/generateBareOccurrences.spec.ts
  front/src/applications/operationalStudies/helpers/generateBareOccurrences.ts
Due: front

front: convert useOccurrences() to generateBareOccurrences()
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/__tests__/useOccurrences.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrences.ts
Due: front

front: add test for makeProjectedTrains() added exception generated name
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/__tests__/makeProjectedTrains.spec.ts
Due: front

front: extract base train in makeProjectedTrains() added occurrence test
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/__tests__/makeProjectedTrains.spec.ts
Due: front

editoast: add endpoint /search_journeys
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/views.rs
  editoast/src/views/search_journeys.rs
  editoast/src/views/timetable/conflicts.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas/osrd_schemas/models.py
Due: editoast, front

editoast: allow error fields to have references
  editoast/editoast_derive/src/error.rs
Due: editoast

editoast: add profile_connection_scan crate
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/profile_connection_scan/Cargo.toml
  editoast/profile_connection_scan/src/lib.rs
Due: editoast

editoast: impl EditoastError for tokio::task::JoinError
  editoast/openapi.yaml
  editoast/src/error.rs
Due: editoast

editoast: impl PartialEq<NonBlankString> for String
  editoast/schemas/src/primitives/non_blank_string.rs
Due: editoast

front, ui: in ComboBox remove unnecessary useEffect
  front/ui/ui-core/src/components/ComboBox/ComboBox.tsx
Due: front

flake: update
  flake.lock
Due: none

editoast: gateway: osrdyne: bump rust version
  editoast/Dockerfile
  editoast/openapi.yaml
  gateway/Dockerfile
  osrd_schemas/osrd_schemas/models.py
  osrdyne/Dockerfile
Due: editoast, gateway

front: bump playwright to 1.61.1
  front/package-lock.json
  front/package.json
Due: front

front: fix compo code field alignment in stdcm consist selection
  front/src/common/SpeedLimitTagSelector/SpeedLimitTagSelector.tsx
Due: front

front: searchjourney: init search journey application store management
  front/src/reducers/index.ts
  front/src/reducers/searchJourney/index.ts
  front/src/reducers/searchJourney/selectors.ts
Due: front

front: introduce useSearchJouneyEnv hooks and related test
  front/src/applications/searchJourney/hooks/__tests__/useSearchJourneyEnv.spec.ts
  front/src/applications/searchJourney/hooks/useSearchJourneyEnv.ts
Due: front

editoast: openapi: give different base_id values to authz error enums
  editoast/openapi.yaml
  editoast/src/error.rs
  editoast/src/views.rs
  front/public/locales/de/errors.json
  front/public/locales/en/errors.json
  front/public/locales/es/errors.json
  front/public/locales/fr/errors.json
  front/public/locales/pl/errors.json
  front/public/locales/pt/errors.json
  osrd_schemas/osrd_schemas/models.py
Due: editoast, front

front, ui-charts: fix train header labels not updated when resetting an exception
  front/src/modules/trainHeader/ExpandedTrainForm.tsx
  front/ui/ui-core/src/components/TokenInput.tsx
Due: front

editoast: fix clippy linting error on option filtering in main.rs
  editoast/src/main.rs
Due: editoast

editoast: create search_journey_environment tables and models
  editoast/database/src/tables.rs
  editoast/editoast_models/src/lib.rs
  editoast/editoast_models/src/search_journey_environment.rs
  editoast/editoast_models/src/search_journey_environment_timetable.rs
  editoast/migrations/2026-07-09-093834-0000_create-search-journey-env/down.sql
  editoast/migrations/2026-07-09-093834-0000_create-search-journey-env/up.sql
Due: editoast

editoast: adapt timetable gc to search_journey_environment
  editoast/editoast_models/src/timetable.rs
  editoast/src/client/garbage_collector.rs
Due: editoast

editoast: allow querying a portion of a train schedule path
  editoast/openapi.yaml
  editoast/src/views/timetable/train_schedule.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas/osrd_schemas/models.py
Due: editoast, front

editoast: add an endpoint to retrieve the search journey environment
  editoast/openapi.yaml
  editoast/src/views.rs
  editoast/src/views/search_journey_environment.rs
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas/osrd_schemas/models.py
Due: editoast, front

editoast: add cli commands for the search journey environment
  editoast/src/client/mod.rs
  editoast/src/client/search_journey_env_commands.rs
  editoast/src/main.rs
Due: editoast

e2e: skip map update check on non-chromium browsers in itinerary modal test
  front/tests/02-operational-studies/itineraryModal/001-itinerary-modal.spec.ts
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
