Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

wip work on range to discard maybe
  train-sim/Cargo.lock
  train-sim/Cargo.toml
  train-sim/libtsim/src/lib.rs
  train-sim/libtsim/src/range.rs
Due: none

trainsim: move salut à tous to libtsim
  train-sim/libtsim/Cargo.toml
  train-sim/libtsim/src/integration.rs
  train-sim/libtsim/src/lib.rs
  train-sim/libtsim/src/range.rs
Due: none

crate level doc comment
  train-sim/libtsim/src/lib.rs
Due: none

fix uniffi package name
  core/train-sim/kotlin_bindings/src/main/kotlin/fr/sncf/osrd/train_sim/train_sim.kt
  core/train-sim/uniffi.toml
Due: core

core: convert TrainPhysicsIntegrator to kotlin
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.kt
Due: core

make the uniffi layer in train-sim
  train-sim/Cargo.lock
  train-sim/Cargo.toml
  train-sim/kotlin_bindings/gradlew
  train-sim/kotlin_bindings/gradlew.bat
  train-sim/kotlin_bindings/src/main/kotlin/sncf/osrd/train_sim/train_sim.kt
  train-sim/libtsim/src/lib.rs
  train-sim/src/lib.rs
Due: none

trainsim: Mention ktlint in README.md
  train-sim/README.md
Due: none

misc integration.Rs modifications...
  core/train-sim/libtsim/src/integration.rs
Due: core

getting range_map right (wip 💀)
  train-sim/libtsim/src/range_map.rs
Due: none

train-sim: initial commit
  .github/CODEOWNERS
  .github/scripts/bake-metadata.py
  .github/workflows/build.yml
  core/Dockerfile
  docker-compose.yml
  docker/docker-bake.hcl
  train-sim/.dockerignore
  train-sim/.gitignore
  train-sim/Cargo.lock
  train-sim/Cargo.toml
  train-sim/README.md
  train-sim/cross_language_tests/expected_output.json
  train-sim/cross_language_tests/input.json
  train-sim/kotlin_bindings/.dockerignore
  train-sim/kotlin_bindings/build.gradle
  train-sim/kotlin_bindings/gradle.properties
  train-sim/kotlin_bindings/gradlew
  train-sim/kotlin_bindings/gradlew.bat
  train-sim/kotlin_bindings/src/main/kotlin/sncf/osrd/train_sim/train_sim.kt
  train-sim/kotlin_bindings/src/test/kotlin/sncf/osrd/train_sim/test_train_sim.kt
  train-sim/src/lib.rs
  train-sim/uniffi-bindgen/Cargo.toml
  train-sim/uniffi-bindgen/src/main.rs
  train-sim/uniffi.toml
Due: core

front: fix simulation-sheet not downloading on chrome
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResultsExport/SimulationResultsExport.tsx
Due: front

bundle libtsim_ffi.so in the shadowjar.....
  core/build.gradle
  core/train-sim/build.gradle
Due: core

remove unused testimplementation
  core/train-sim/build.gradle
Due: core

remove stale CODEOWNERS entry
  .github/CODEOWNERS
Due: none

core: convert envelope-sim/overlays to kotlin
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeAcceleration.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeAcceleration.kt
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeCoasting.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeCoasting.kt
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeDeceleration.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeDeceleration.kt
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeMaintain.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeMaintain.kt
Due: core

reorganize libtsim directory and write a pure rust README.md
  core/train-sim/libtsim/Cargo.lock
  core/train-sim/libtsim/Cargo.toml
  core/train-sim/libtsim/README.md
  core/train-sim/libtsim/crates/tsim-ffi/Cargo.toml
  core/train-sim/libtsim/crates/tsim-ffi/src/lib.rs
  core/train-sim/libtsim/crates/tsim-ffi/uniffi.toml
  core/train-sim/libtsim/crates/tsim/Cargo.toml
  core/train-sim/libtsim/crates/tsim/src/integration.rs
  core/train-sim/libtsim/crates/tsim/src/lib.rs
  core/train-sim/libtsim/crates/tsim/src/range_map.rs
  core/train-sim/libtsim/crates/uniffi-bindgen/Cargo.toml
  core/train-sim/libtsim/crates/uniffi-bindgen/src/main.rs
  core/train-sim/libtsim/libtsim/Cargo.toml
  core/train-sim/src/main/kotlin/fr/sncf/osrd/train_sim/train_sim.kt
Due: core

core: ci fix: apply spotless
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.kt
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeAcceleration.kt
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeCoasting.kt
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeDeceleration.kt
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeMaintain.kt
Due: core

remove README instructions related to cargo and jna
  core/README.md
Due: core

random shot at fixing ci
  docker/docker-bake.hcl
Due: none

core: update README with rust related instructions
  core/README.md
Due: core

remove kotlin-side train-sim tests
  core/train-sim/src/test/kotlin/sncf/osrd/train_sim/test_train_sim.kt
Due: core

set the correct path for the .so in the jar
  core/build.gradle
Due: core

finalize train-sim gradle build (sorry the git history is a bit of a mess here)
  core/train-sim/.cargo/config.toml
  core/train-sim/README.md
  core/train-sim/build.gradle
  core/train-sim/src/main/kotlin/fr/sncf/osrd/train_sim/tsim_ffi.kt
Due: core

ci: remove train_sim_dir and use COPY train-sim . instead
  core/Dockerfile
  docker-compose.yml
  docker/docker-bake.hcl
Due: core

run libtsim tests as part of :test
  core/train-sim/build.gradle
Due: core

invert train-sim and kotlin_bindings
  core/settings.gradle
  core/train-sim/Cargo.toml
  core/train-sim/build.gradle
  core/train-sim/cross_language_tests/expected_output.json
  core/train-sim/cross_language_tests/input.json
  core/train-sim/kotlin_bindings/.dockerignore
  core/train-sim/libtsim/.dockerignore
  core/train-sim/libtsim/.gitignore
  core/train-sim/libtsim/Cargo.lock
  core/train-sim/libtsim/Cargo.toml
  core/train-sim/libtsim/README.md
  core/train-sim/libtsim/libtsim/Cargo.toml
  core/train-sim/libtsim/libtsim/src/integration.rs
  core/train-sim/libtsim/libtsim/src/lib.rs
  core/train-sim/libtsim/libtsim/src/range_map.rs
  core/train-sim/libtsim/src/lib.rs
  core/train-sim/libtsim/uniffi-bindgen/Cargo.toml
  core/train-sim/libtsim/uniffi-bindgen/src/main.rs
  core/train-sim/libtsim/uniffi.toml
  core/train-sim/src/lib.rs
  core/train-sim/src/main/kotlin/fr/sncf/osrd/train_sim/train_sim.kt
  core/train-sim/src/test/kotlin/sncf/osrd/train_sim/test_train_sim.kt
Due: core

tsim: rework build.gradle
  core/gradle/libs.versions.toml
  core/train-sim/kotlin_bindings/build.gradle
  core/train-sim/kotlin_bindings/gradle.properties
  core/train-sim/kotlin_bindings/gradlew
  core/train-sim/kotlin_bindings/gradlew.bat
Due: core

update CI since train-sim is built with gradle
  .github/scripts/bake-metadata.py
  .github/workflows/build.yml
  core/Dockerfile
  core/train-sim/libtsim/.dockerignore
  core/train-sim/libtsim/.gitignore
Due: core

rename SalutÀTous to TrainPathWrapper
  core/train-sim/libtsim/crates/tsim-ffi/src/lib.rs
Due: core

make RollingStock a trait
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.kt
  core/train-sim/libtsim/crates/tsim-ffi/src/lib.rs
  core/train-sim/libtsim/crates/tsim/src/integration.rs
  core/train-sim/libtsim/crates/tsim/src/lib.rs
  core/train-sim/src/main/kotlin/fr/sncf/osrd/train_sim/tsim_ffi.kt
Due: core

put average_grade and weight_force into functions
  core/train-sim/libtsim/crates/tsim/src/integration.rs
Due: core

tractive effort curve ranges are actually closed ranges?
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.kt
  core/train-sim/libtsim/crates/tsim-ffi/src/lib.rs
  core/train-sim/src/main/kotlin/fr/sncf/osrd/train_sim/tsim_ffi.kt
Due: core

ensure gradle rebuilds libtsim everytime
  core/build.gradle
  core/train-sim/build.gradle
Due: core

WIP fix missing positions on tractive effort curve maps
  core/train-sim/libtsim/crates/tsim/src/integration.rs
Due: core

prettier Debug implementation for RangeMap
  core/train-sim/libtsim/crates/tsim/src/range_map.rs
Due: core

delete outdated todo
  core/train-sim/libtsim/crates/tsim/src/integration.rs
Due: core

A better solution to building the rust crates when needed
  core/train-sim/build.gradle
Due: core

fix envelope-sim tests
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/IntegrationStepTest.java
  core/envelope-sim/src/test/kotlin/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegratorTest.kt
Due: core

set jna.library.path for tests
  core/build.gradle
  core/envelope-sim/build.gradle
Due: core

port TrainIntegration.step test
  core/train-sim/libtsim/crates/tsim/src/integration.rs
Due: core

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
