Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: add tests for views::infra::lines
  editoast/src/views/infra/lines.rs
Due: editoast

editoast: replace DbConnectionPool by V2 in views::infra::lines
  editoast/src/views/infra/lines.rs
Due: editoast

editoast: replace DbConnectionPool by V2 in views::health
  editoast/src/views/mod.rs
Due: editoast

front:add e2e tests deleting a rolling stock
  front/tests/009-rollingstock-editor.spec.ts
  front/tests/pages/rollingstock-editor-page-model.ts
Due: front

editoast: fix last_modification in project patch
  editoast/src/views/projects.rs
Due: editoast

editoast: fix last_modification in scenario patch
  editoast/src/views/v2/scenario.rs
Due: editoast

core: sim: ignore zero-length margin ranges
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
Due: core

gateway: add acr_values for MFA
  gateway/actix_auth/src/providers/oidc.rs
  gateway/src/config.rs
  gateway/src/config_parser.rs
Due: gateway

editoast: fix TrackSection schema type
  editoast/editoast_schemas/src/infra/track_section.rs
Due: editoast

editoast: remove openapi_legacy.yaml
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/models/pathfinding.rs
  editoast/src/views/mod.rs
  editoast/src/views/openapi.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/utils/__tests__/geometry.test.ts
Due: editoast, front

editoast: remove legacy infra routing function
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/mod.rs
Due: editoast

editoast: move all openapi logic into views::openapi
  editoast/src/views/mod.rs
  editoast/src/views/openapi.rs
Due: editoast

docker: fix front health check
  docker-compose.yml
Due: none

gateway: change field amr to an Option
  gateway/actix_auth/src/providers/oidc.rs
  gateway/src/config.rs
Due: gateway

core: use nodes in stdcm priority queue and replace weight by clear comparison
  core/src/main/kotlin/fr/sncf/osrd/graph/Interfaces.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMHeuristic.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMNode.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/STDCMHeuristicTests.kt
Due: core

front: fix shift train in space time chart
  front/src/modules/simulationResult/components/SpaceTimeChart/SpaceTimeChartV2.tsx
Due: front

editoast: replace DbConnectionPool by V2 in views::infra::get_objects
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/objects.rs
Due: editoast

editoast: replace DbConnectionPool by V2 in views::infra::pathfinding_view
  editoast/src/views/infra/pathfinding.rs
Due: editoast

editoast: refactor views::infra::routes::get_routes_from_waypoint
  editoast/src/views/infra/routes.rs
Due: editoast

security: update rel in release information
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
Due: front

front: add suggestions using existing list of tags
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/rangeEdition/components/RangeEditionLeftPanel.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionMetadataForm.tsx
Due: front

editoast: stdcm: add arrival time parameters
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/json/UnitJsonAdapters.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMRequestV2.kt
  editoast/openapi.yaml
  editoast/src/core/v2/stdcm.rs
  editoast/src/views/v2/timetable/stdcm.rs
  front/src/common/api/generatedEditoastApi.ts
Due: core, editoast, front

core: stdcm: reformat edge / node formatting
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMNode.kt
Due: core

core: stdcm: remove unused edge fields
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/STDCMHeuristicTests.kt
Due: core

core: stdcm: fix time since departure
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMNode.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/STDCMHeuristicTests.kt
Due: core
