Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: remove `path_item_positions` from `SimulationSummary`
  editoast/openapi.yaml
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/simulation.rs
  front/src/applications/operationalStudies/__tests__/sampleData.ts
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: the `is_paced` function depends on `time_window` AND `interval`
  editoast/src/models/train_schedule.rs
Due: editoast

editoast: make `is_paced` a public function
  editoast/src/models/train_schedule.rs
Due: editoast

front: railway manager modal - add requested departure date
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmResults/SendToRailwayManagerModal.tsx
Due: front

editoast: rename PacedTrainRoundTrips into TrainScheduleRoundTrips
  editoast/editoast_models/src/round_trips.rs
  editoast/src/views/round_trips.rs
  editoast/src/views/timetable/paced_train.rs
Due: editoast

front: reduction of the occurrences opening area
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/PacedTrainItem.tsx
Due: front

front: select a paced train in train list
  front/src/applications/operationalStudies/hooks/useEtcsBrakingCurves.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Due: front

front: don't count the stop at the destination in train details
  front/src/applications/operationalStudies/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrences.ts
  front/src/modules/timetableItem/helpers/formatTimetableItemWithDetails.ts
  front/tests/assets/constants/timetable-items-details.ts
Due: front

front: update i18n-checker invokation in README
  front/README.md
Due: front

front: fix stopsCount for train schedules
  front/public/locales/de/operational-studies.json
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/modules/timetableItem/helpers/formatTimetableItemWithDetails.ts
Due: front

front: fix invalid occurrence train marker color
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/OccurrenceItem.tsx
Due: front

osm_to_railjson: add a tracing subscriber
  editoast/Cargo.lock
  editoast/osm_to_railjson/Cargo.toml
  editoast/osm_to_railjson/src/main.rs
Due: editoast

editoast: make respect-times functions not depend on self
  editoast/src/views/projection.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/occupancy_blocks.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/track_occupancy.rs
Due: editoast

editoast: move `path_item_respect_(times|margins)` as free functions
  editoast/src/views/projection.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/occupancy_blocks.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/track_occupancy.rs
Due: editoast

core: scripts: add basic uv environment
  core/scripts/README.md
  core/scripts/download-stdcm-requirements.py
  core/scripts/download-timetable.py
  core/scripts/generate-debug-space-chart.py
  core/scripts/pyproject.toml
  core/scripts/uv.lock
Due: core

front: stdcm - adapt tip prop in stdcm card
  front/src/applications/stdcm/components/StdcmForm/StdcmCard.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmDefaultCard.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmOrigin.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
  front/src/applications/stdcm/styles/_card.scss
Due: front

front: bump virtua to 0.48.5
  front/package-lock.json
  front/package.json
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/Timetable.tsx
Due: front

core: scripts: add dependabot for python scripts
  .github/dependabot.yml
Due: none

front: add tooltip for acronyms in board names
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/BoardWrapper.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioHeader.tsx
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
Due: front

front: remove TrainScheduleId custom type
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/src/reducers/osrdconf/types.ts
  front/src/reducers/simulationResults/index.ts
Due: front

test: add e2e test for selected paced train
  front/tests/02-operational-studies/paced-trains/001-paced-train-management.spec.ts
  front/tests/assets/paced-train/output-table-data.json
  front/tests/pages/operational-studies/paced-train-section.ts
Due: front

general: remove dependabot block on uv environments
  .github/dependabot.yml
Due: none

editoast, front: rename PacedTrainResponse into TrainScheduleResponse
  editoast/openapi.yaml
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/train_schedule_set.rs
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/trainrun.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/scenario/helpers/__tests__/scenario.spec.ts
  front/src/modules/scenario/helpers/utils.ts
  front/src/modules/timetableItem/helpers/updateTimetableItemHelpers.ts
  front/src/modules/timetableItem/types.ts
  front/src/reducers/osrdconf/types.ts
  front/tests/utils/send-trains.ts
Due: editoast, front

front: add a edit consist button
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmForm/StdcmCard.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmDefaultCard.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
  front/src/applications/stdcm/components/StdcmForm/StopDurationInput.tsx
  front/src/applications/stdcm/styles/_card.scss
  front/src/applications/stdcm/styles/_home.scss
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/reducers/osrdconf/stdcmConf/stdcmConfReducers.spec.ts
  front/src/reducers/osrdconf/types.ts
  front/tests/pages/stdcm/via-section.ts
  front/tests/utils/types.ts
Due: front
