Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: s3: fallback to lib default behavior on missing variables
  editoast/src/client/runserver.rs
  editoast/src/views/server.rs
Due: editoast

editoast: remove `clone` by accepting `Borrow`
  editoast/src/views/path/operational_point_cache.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/projection.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/stdcm/request.rs
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

editoast: remove slice-of-reference pattern
  editoast/editoast_models/src/authn/user.rs
  editoast/src/views/authz.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/path/operational_point_cache.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/projection.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/stdcm/request.rs
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

editoast: apply `tokio::test` decorator first
  editoast/editoast_models/src/train_schedule.rs
  editoast/src/client/stdcm_search_env_commands.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/layers.rs
  editoast/src/views/work_schedules.rs
Due: editoast

editoast: remove flag used to return core payload
  editoast/openapi.yaml
  editoast/src/views/timetable/stdcm.rs
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas_auto/osrd_schemas_auto/models.py
Due: editoast, front

editoast: install fga CLI from Docker
  editoast/Dockerfile
Due: editoast

ci: check second line of commits is empty
  .github/workflows/build.yml
Due: none

front: rename DebugFailureMap to DebugMap
  front/src/applications/stdcm/StdcmDebugView.tsx
  front/src/applications/stdcm/components/DebugView/DebugMap.tsx
  front/src/applications/stdcm/styles/_debugView.scss
Due: front

front, editoast, core: add path geometry to STDCM debug conflict reports
  core/src/main/kotlin/fr/sncf/osrd/stdcm/tracing/FailureExplainer.kt
  editoast/openapi.yaml
  editoast/src/views/stdcm_debug.rs
  front/src/applications/stdcm/StdcmDebugView.tsx
  front/src/applications/stdcm/components/DebugView/DebugMap.tsx
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas_auto/osrd_schemas_auto/models.py
Due: core, editoast, front

front: use new timestoptable by default
  front/src/common/NavBar/UserSettings.tsx
  front/src/reducers/user/index.ts
  front/tests/02-operational-studies/paced-trains/001-paced-train-management.spec.ts
  front/tests/02-operational-studies/timetable/008-invalid-train.spec.ts
  front/tests/02-operational-studies/train-creation-tabs/003-op-times-and-stops-tab.spec.ts
  front/tests/02-operational-studies/train-creation-tabs/004-op-simulation-settings-tab.spec.ts
Due: front

front: classify curve visual state from train list selection
  front/src/modules/simulationResult/helpers/__tests__/getCurveVisualState.spec.ts
  front/src/modules/simulationResult/helpers/getCurveVisualState.ts
  front/src/modules/simulationResult/types.ts
  front/src/utils/trainId.ts
Due: front

front: classify curve visual state from STD selection
  front/src/modules/simulationResult/helpers/__tests__/getCurveVisualState.spec.ts
  front/src/modules/simulationResult/helpers/getCurveVisualState.ts
  front/src/modules/simulationResult/types.ts
Due: front

front: classify curve visual state from drag
  front/src/modules/simulationResult/helpers/__tests__/getCurveVisualState.spec.ts
  front/src/modules/simulationResult/helpers/getCurveVisualState.ts
  front/src/modules/simulationResult/types.ts
Due: front

front: classify curve visual state from TOD selection
  front/src/modules/simulationResult/helpers/__tests__/getCurveVisualState.spec.ts
  front/src/modules/simulationResult/helpers/getCurveVisualState.ts
Due: front

front: classify curve visual state from hover
  front/src/modules/simulationResult/helpers/__tests__/getCurveVisualState.spec.ts
  front/src/modules/simulationResult/helpers/getCurveVisualState.ts
  front/src/modules/simulationResult/types.ts
Due: front

front: fix line breaks not displayed in scenario description
  front/src/styles/scss/applications/operationalStudies/_scenarioV2.scss
Due: front

front: remove referenced to removed flags
  front/src/applications/stdcm/utils/formatStdcmConf.ts
  front/src/common/api/editoastStream/postTimetableByIdStdcm.ts
Due: front

front: allow saving itinerary modal with missing and unrecognized rolling stock in old modal
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/CreateTrainScheduleButton.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/checkCurrentConfig.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/hooks/useUpdateTrainSchedule.ts
  front/tests/pages/operational-studies/operational-studies-page.ts
Due: front

core: fix connection leak in TimetableProvider
  core/src/main/java/fr/sncf/osrd/api/TimetableProvider.kt
Due: core

core: convert rjs track objects to kotlin
  core/kt-osrd-rjs-parser/src/main/kotlin/fr/sncf/osrd/RawInfraRJSParser.kt
  core/kt-railjson-builder/src/main/kotlin/fr/sncf/osrd/railjson/builder/RJSInfraBuilder.kt
  core/osrd-railjson/build.gradle
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSBufferStop.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSBufferStop.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSRouteWaypoint.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSRouteWaypoint.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSSignal.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSSignal.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSTrackObject.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSTrackObject.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSTrainDetector.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSTrainDetector.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSOperationalPointPart.java
Due: core

core: convert ID to kotlin
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/common/ID.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/common/ID.kt
Due: core

front: tests: remove unused method and relative locators
  front/tests/pages/home-page.ts
Due: front

editoast: core_client: compare mocked JSON, not strings
  editoast/core_client/src/mocking.rs
Due: editoast

core: convert Identified to kotlin
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/common/ID.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/common/Identified.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/common/Identified.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSOperationalPoint.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSRoute.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSSwitch.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSSwitchType.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSTrackSection.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSRouteWaypoint.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSSignal.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSSpeedSection.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

editoast: more exhaustive matching on `Subject` in group CLI
  editoast/src/client/group.rs
Due: editoast

editoast: cargo fmt
  editoast/authz/src/v2/roles.rs
Due: editoast

front: prevent rs change from updating the category
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModalFormHeader.tsx
Due: front

core: convert RJSElectricalProfileSet to kotlin
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/external_generated_inputs/RJSElectricalProfileSet.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/external_generated_inputs/RJSElectricalProfileSet.kt
Due: core

core: convert RJSLineString to kotlin
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/geom/RJSLineString.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/geom/RJSLineString.kt
Due: core

front: don't toggle TrainScheduleSetTab visibility on checkbox clicks
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainScheduleSet/TrainScheduleSetTab.tsx
Due: front
