Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

editoast: authz: remove some `block_on` occurrences
  editoast/authz/src/lib.rs
  editoast/authz/src/regulator.rs
Due: editoast

front: fix format color for osmstyle waterwayline in minimal theme
  front/src/common/Map/theme/colors.ts
Due: front

front: fix occupancy blocks not displayed in op projection
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useLazyProjectTrains.ts
Due: front

front: refactor assertions to use toHaveText for reliability
  front/tests/006-op-rolling-stock-tab.spec.ts
  front/tests/020-paced-train-exceptions.spec.ts
  front/tests/024-nge-osrd.spec.ts
  front/tests/pages/operational-studies/route-tab.ts
  front/tests/pages/operational-studies/scenario-timetable-section.ts
  front/tests/pages/operational-studies/study-page.ts
  front/tests/pages/stdcm/stdcm-page.ts
  front/tests/pages/stdcm/via-section.ts
Due: front

front: refactor project, study, scenario and rolling stcok clean up
  front/tests/001-home-page.spec.ts
  front/tests/002-project-management.spec.ts
  front/tests/003-study-management.spec.ts
  front/tests/004-scenario-management.spec.ts
  front/tests/005-rolling-stock-editor.spec.ts
  front/tests/pages/rolling-stock/rolling-stock-editor-page.ts
Due: front

front: allow connection between front and railway manager interface
  .github/workflows/build.yml
  front/public/overrides/overrides.json
  front/scripts/generate-types.sh
  front/src/common/api/baseGeneratedApis.ts
  front/src/common/api/osrdRailwayManagerApi.ts
  front/src/config/openapi-railway-manager-interface-config.cts
  front/src/reducers/index.ts
  front/src/reducers/main/index.ts
  front/src/reducers/main/mainSelector.ts
  front/src/store/index.ts
  front/src/utils/hooks/useDeploymentSettings.tsx
Due: front

editoast: core_task: use `.copied` instead of `.cloned` for references
  editoast/core_task/src/envs/pathfinding.rs
Due: editoast

editoast: add DefaultOnNull on some TrainSchedule fields
  editoast/schemas/src/paced_train.rs
  editoast/schemas/src/train_schedule.rs
  editoast/schemas/src/train_schedule/schedule_item.rs
Due: editoast

front: use Railway manager transfort_timetable endpoint
  front/eslint.config.js
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
Due: front

editoast: remove unused test function `revoke_infra_grant`
  editoast/authz/src/lib.rs
Due: editoast

front: allow users to export and import timetables by shortcuts
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TimetableBoardWrapper.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/utils.ts
Due: front

front: use correct icons in speedspacechart
  front/ui/ui-charts/src/speedSpaceChart/components/common/InteractionButtons.tsx
  front/ui/ui-charts/src/speedSpaceChart/styles/main.css
Due: front

front: formatting and rounding dates should not change the reference object
  front/src/utils/date.ts
Due: front

front: using rounded format in the entier simulation report sheet
  front/src/modules/SimulationReportSheet/SimulationReportSheet.tsx
Due: front

osrdyne: remove unused deps
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
Due: none

front: split NGE-to-OSRD node-related logic in separate file
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/index.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/ngeToOsrd.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/node.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/utils.ts
Due: front

chart: add cronjob for editoast gc
  chart/templates/editoast/cronjob.yaml
  chart/values.yaml
Due: none

chart: add env variable to cronjob for editoast
  chart/templates/editoast/cronjob.yaml
Due: none

chart: use schedule to determine if cronjob should be set up
  chart/templates/editoast/cronjob.yaml
  chart/values.yaml
Due: none

front: fix new itinerary modal map display
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/ItineraryModal.tsx
  front/src/styles/scss/applications/operationalStudies/_itineraryModal.scss
Due: front

front: adapt macro for non-symmetric round trip trains
  front/package-lock.json
  front/package.json
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/views/Scenario/components/NGE/types.ts
Due: front

front: remove cast from index.ts (StdcmConf)
  front/src/reducers/osrdconf/stdcmConf/index.ts
Due: front

core: paths: add object length to ranges
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/implementations/TrainPathBuilder.kt
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/implementations/TrainPathImpl.kt
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/interfaces/GenericLinearRange.kt
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/interfaces/JsonTrainPath.kt
  core/kt-osrd-path/src/test/kotlin/fr/sncf/osrd/path/GenericLinearRangeTest.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/SafetySpeed.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/etcsContextBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
Due: core

front: split NGE-to-OSRD trainrun-related logic in separate file
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/ngeToOsrd.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/trainrun.ts
Due: front

front: split NGE-to-OSRD note-related logic in separate file
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/ngeToOsrd.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/note.ts
Due: front

front: use locale even in formatted dateTimes
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainScheduleItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/utils.ts
Due: front

front: move storeRoundTrip() to utils
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/trainrun.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/utils.ts
Due: front

front: install dependencies with --ignore-scripts
  gateway/Dockerfile
Due: gateway

core: add typing elements for directed offsets
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/implementations/TrainPathBuilder.kt
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/implementations/TrainPathImpl.kt
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/interfaces/GenericLinearRange.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Distance.kt
Due: core

github: add cooldown for NPM dependabot upgrades
  .github/dependabot.yml
Due: none

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
