Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

ci: reduce editoast tests verbosity
  .github/workflows/build.yml
Due: none

editoast: move example rolling stocks fixtures to schemas
  editoast/schemas/examples/fast_rolling_stock.json
  editoast/schemas/examples/fast_rolling_stock_with_energy_sources.json
  editoast/schemas/examples/rolling_stock_invalid_effort_curves.json
  editoast/schemas/src/fixtures.rs
  editoast/src/client/import_rolling_stock.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/rolling_stock.rs
  editoast/src/views/rolling_stock.rs
  tests/conftest.py
Due: editoast

core: remove the middle green signals in the STD
  core/src/main/kotlin/fr/sncf/osrd/signal_projection/SignalProjection.kt
  core/src/test/kotlin/fr/sncf/osrd/signal_projection/SignalProjectionTest.kt
Due: core

editoast: models: remove main crate refs from Project, Study, Scenario
  editoast/openapi.yaml
  editoast/src/models/project.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/project.rs
  editoast/src/views/scenario.rs
  editoast/src/views/scenario/macro_nodes.rs
  editoast/src/views/scenario/macro_notes.rs
  editoast/src/views/study.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Due: editoast, front

ci: e2e: collapse detailed test results
  front/tests/reporter/generate-github-summary.ts
Due: front

front: introduce handleXZoomOnWheelEvent in useManchetteWithSpaceTimeChart
  front/ui/ui-charts/src/manchette/hooks/useManchetteWithSpaceTimeChart.tsx
Due: front

editoast: add user info endpoint
  editoast/editoast_models/src/authn/group.rs
  editoast/editoast_models/src/authn/user.rs
  editoast/openapi.yaml
  editoast/src/views/authz.rs
  editoast/src/views/mod.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

core: cleanup: remove redundant path length method
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/implementations/EnvelopeTrainPath.kt
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/implementations/TrainPathImpl.kt
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/interfaces/PathProperties.kt
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/interfaces/TrainPath.kt
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/legacy_objects/EnvelopeTrainPathUtils.kt
  core/src/main/kotlin/fr/sncf/osrd/api/etcs/ETCSBrakingCurvesEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/envelope_sim_infra/MRSP.kt
  core/src/main/kotlin/fr/sncf/osrd/signal_projection/SignalProjection.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/SafetySpeed.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/engineering_allowance/SimulationSegment.kt
  core/src/test/java/fr/sncf/osrd/DriverBehaviourTest.kt
  core/src/test/kotlin/fr/sncf/osrd/envelope_sim_infra/MRSPTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/RemainingDistanceEstimatorTest.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingTests.kt
Due: core

ui-charts: initialize useSyncManchette
  front/ui/ui-charts/src/manchette/hooks/useManchetteWithSpaceTimeChart.tsx
  front/ui/ui-charts/src/manchette/hooks/useSyncManchette.ts
Due: front

ui-charts: create basicOnPan in useSyncManchette
  front/ui/ui-charts/src/manchette/hooks/useManchetteWithSpaceTimeChart.tsx
  front/ui/ui-charts/src/manchette/hooks/useSyncManchette.ts
Due: front

editoast: move Timetable to editoast_models
  editoast/editoast_models/src/lib.rs
  editoast/editoast_models/src/timetable.rs
  editoast/editoast_models/src/timetable/sql/get_train_schedules_in_time_window.sql
  editoast/src/client/garbage_collector.rs
  editoast/src/client/stdcm_search_env_commands.rs
  editoast/src/client/timetables_commands.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/stdcm_search_environment.rs
  editoast/src/views/round_trips.rs
  editoast/src/views/scenario.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/worker_load.rs
Due: editoast

front: modified settings panel position
  front/src/modules/simulationResult/styles/_manchetteWithSpaceTimeChart.scss
Due: front

front: add missing unwrap() calls for macro node update/delete
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/utils.ts
Due: front

front: wait for previous nge event before processing next
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioContent.tsx
Due: front

front: fix NGE node ID collision
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/osrdToNge.ts
Due: front

editoast: add trace id to response headers
  editoast/src/views/mod.rs
Due: editoast

front: refactor project, study, scenario and rolling stcok clean up
  front/tests/001-home-page.spec.ts
  front/tests/002-project-management.spec.ts
  front/tests/003-study-management.spec.ts
  front/tests/004-scenario-management.spec.ts
  front/tests/005-rolling-stock-editor.spec.ts
  front/tests/pages/rolling-stock/rolling-stock-editor-page.ts
Due: front

front: adapt usePathStepsMetadata for the new op combobox
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/ItineraryModalMap.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/PathStepItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/utils.ts
  front/src/reducers/osrdconf/types.ts
Due: front

editoast: pr comments
  editoast/core_client/src/conflict_detection.rs
  editoast/src/views/timetable.rs
Due: editoast

editoast: conflits train id core api communication refactor
  editoast/src/models/paced_train.rs
  editoast/src/views/timetable.rs
Due: editoast

editoast: pr comments
  editoast/src/views/timetable.rs
Due: editoast

editoast: clippy fixes
  editoast/src/views/timetable.rs
Due: editoast

front: update all affected trains when renaming a node in NGE
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/ngeToOsrd.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/node.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/trainrun.ts
Due: front

front: upgrade prettier to v3.7
  front/package-lock.json
  front/package.json
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/handleParseFiles.ts
  front/ui/base/package.json
Due: front

editoast, front: adapt paced train schema
  editoast/openapi.yaml
  editoast/schemas/src/paced_train.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/paced_train.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/paced_train.rs
  front/src/applications/operationalStudies/helpers/upsertNewProjectedTrains.ts
  front/src/applications/operationalStudies/hooks/useEtcsBrakingCurves.ts
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseXML.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/__tests__/ngeToOsrd-output-discontinuousTrainrun.json
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/__tests__/ngeToOsrd-output-oneWay.json
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/__tests__/ngeToOsrd-output-roundTrip.json
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/trainrun.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/__tests__/formatTimetableItemPayload.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/formatTimetableItemPayload.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrenceActions.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdRailwayManagerApi.ts
  front/src/modules/conflict/__tests__/sampleData.ts
  front/src/modules/conflict/__tests__/utils.spec.ts
  front/src/modules/conflict/hooks/useConflictsFilter.ts
  front/src/modules/conflict/utils.ts
  front/src/modules/timetableItem/helpers/formatTimetableItemWithDetails.ts
  front/src/modules/timetableItem/helpers/pacedTrain.ts
  front/tests/assets/operation-studies/timetable-items.json
  front/tests/assets/paced-train/paced_trains.json
  tests/tests/test_paced_train.py
  tests/tests/test_timetable.py
Due: editoast, front

front: drop DEFAULT_PACED_TRAIN_PAYLOAD
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/ngeToOsrd.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/trainrun.ts
Due: front

railway_manager_interface: adapt schema of paced train
  railway_manager_interface/osrd_railway_manager_interface/models.py
Due: none

front: add explicit tags for test files
  front/tests/001-home-page.spec.ts
  front/tests/002-project-management.spec.ts
  front/tests/003-study-management.spec.ts
  front/tests/004-scenario-management.spec.ts
  front/tests/005-rolling-stock-editor.spec.ts
  front/tests/006-op-rolling-stock-tab.spec.ts
  front/tests/007-op-route-tab.spec.ts
  front/tests/008-op-times-and-stops-tab.spec.ts
  front/tests/009-op-simulation-settings-tab.spec.ts
  front/tests/010-stdcm.spec.ts
  front/tests/011-stdcm-simulation-sheet.spec.ts
  front/tests/012-stdcm-feedback-mail.spec.ts
  front/tests/013-stdcm-linked-train.spec.ts
  front/tests/014-stdcm-missing-fields.spec.ts
  front/tests/015-train-timetable.spec.ts
  front/tests/016-train-timetable-multiselection.spec.ts
  front/tests/017-paced-train-management.spec.ts
  front/tests/018-train-edition.spec.ts
  front/tests/019-scenario-page-synchronization.spec.ts
  front/tests/020-paced-train-exceptions.spec.ts
  front/tests/021-get-manchette.spec.ts
  front/tests/022-round-trips.spec.ts
  front/tests/023-osrd-nge.spec.ts
  front/tests/024-nge-osrd.spec.ts
  front/tests/025-rolling-stock-filter.spec.ts
  front/tests/026-train-timetable-filter.spec.ts
  front/tests/028-timetable-import.spec.ts
Due: front

front: split long e2e test and update rolling stock page object
  front/tests/005-rolling-stock-editor.spec.ts
  front/tests/015-train-timetable.spec.ts
  front/tests/020-paced-train-exceptions.spec.ts
  front/tests/025-rolling-stock-filter.spec.ts
  front/tests/026-train-timetable-filter.spec.ts
  front/tests/027-paced-train-occurrence-edition.spec.ts
  front/tests/pages/rolling-stock/rolling-stock-selector.ts
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
