Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

front: fix itineary modal white page
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/ItineraryModal.tsx
Due: front

core: convert ElectrificationRange to kotlin
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationRange.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
Due: core

front: bump storybook to 10.2.6
  front/package-lock.json
  front/ui/base/package.json
  front/ui/storybook/package.json
Due: front

front: errors: translated using weblate (Portuguese)
  front/public/locales/pt/errors.json
Due: front

front: errors: add translation using weblate (Dutch)
  front/public/locales/nl/errors.json
Due: front

front: errors: translated using weblate (Dutch)
  front/public/locales/nl/errors.json
Due: front

core: use zone paths instead of zones in spacing resource generator
  core/src/main/kotlin/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
Due: core

core: paths: add method to split at backtrack locations
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/implementations/TrainPathImpl.kt
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/interfaces/GenericLinearRange.kt
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/interfaces/TrainPath.kt
  core/src/test/kotlin/fr/sncf/osrd/backtracks/BacktrackTests.kt
Due: core

wip
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/interfaces/TrainPath.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/test/kotlin/fr/sncf/osrd/backtracks/BacktrackTests.kt
Due: core

front: bump @playwright/test from 1.57.0 to 1.58.2
  front/package-lock.json
  front/package.json
Due: front

front: infra-editor: translated using weblate (Portuguese)
  front/public/locales/pt/infraEditor.json
Due: front

front: operational-studies: translated using weblate (Portuguese)
  front/public/locales/pt/operational-studies.json
Due: front

front: infra-editor: add translation using weblate (Dutch)
  front/public/locales/nl/infraEditor.json
Due: front

front: operational-studies: add translation using weblate (Dutch)
  front/public/locales/nl/operational-studies.json
Due: front

front: infra-editor: translated using weblate (Dutch)
  front/public/locales/nl/infraEditor.json
Due: front

front: operational-studies: translated using weblate (Dutch)
  front/public/locales/nl/operational-studies.json
Due: front

front: add rocket search in the new itinerary modal
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/PathStepItem.tsx
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPath.tsx
  front/src/styles/scss/_variables.scss
  front/src/styles/scss/common/components/_typeAndPath.scss
Due: front

front: reset previous pathfinding error when a new pathfinding is launched
  front/src/modules/pathfinding/hooks/usePathfindingV2.ts
Due: front

front: display more elements for stdcm progress
  front/src/applications/stdcm/components/StdcmLoader.tsx
Due: front

core: add valkey callback on progress
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/ProgressLogger.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
Due: core

stdcm-progress: add total simulation time
  core/src/main/kotlin/fr/sncf/osrd/stdcm/ProgressLogger.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  editoast/openapi.yaml
  editoast/src/views/timetable/stdcm.rs
  front/src/applications/stdcm/components/StdcmLoader.tsx
  front/src/common/api/generatedEditoastApi.ts
Due: core, editoast, front

front: add progress bar for stdcm search
  front/src/applications/stdcm/components/StdcmLoader.tsx
  front/src/applications/stdcm/styles/_loader.scss
Due: front

stdcm-progress: log more nodes
  core/src/main/kotlin/fr/sncf/osrd/stdcm/ProgressLogger.kt
  front/src/applications/stdcm/components/StdcmLoader.tsx
Due: core, front

editoast: add endpoint for async stdcm
  editoast/core_client/src/stdcm.rs
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  editoast/src/views/timetable/stdcm.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

front: add progress points to the map
  front/src/applications/stdcm/StdcmView.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmLoader.tsx
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/common/Map/Layers/GeoJSONPointsLayer.tsx
  front/src/common/api/generatedEditoastApi.ts
Due: front

editoast: add endpoint to track stdcm progress
  editoast/core_client/src/stdcm.rs
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  editoast/src/views/timetable/stdcm.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

Revert "stdcm-progress: display full paths, browsers don't like it though"
  core/src/main/kotlin/fr/sncf/osrd/api/path_properties/PathPropResponseConverter.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/ProgressLogger.kt
  editoast/openapi.yaml
  editoast/src/views/timetable/stdcm.rs
  front/src/applications/stdcm/StdcmView.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmLoader.tsx
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/common/Map/Layers/GeoJSONLinesLayer.tsx
  front/src/common/api/generatedEditoastApi.ts
Due: core, editoast, front

front: use async endpoints for stdcm
  front/src/applications/stdcm/hooks/useStdcm.ts
Due: front

front: forward request id to loader
  front/src/applications/stdcm/StdcmView.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmLoader.tsx
  front/src/applications/stdcm/hooks/useStdcm.ts
Due: front

stdcm-progress: display full paths, browsers don't like it though
  core/src/main/kotlin/fr/sncf/osrd/api/path_properties/PathPropResponseConverter.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/ProgressLogger.kt
  editoast/openapi.yaml
  editoast/src/views/timetable/stdcm.rs
  front/src/applications/stdcm/StdcmView.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmLoader.tsx
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/common/Map/Layers/GeoJSONLinesLayer.tsx
  front/src/common/api/generatedEditoastApi.ts
Due: core, editoast, front
