Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: auto-fix support for level crossings
  editoast/src/views/infra/auto_fixes/level_crossing.rs
  editoast/src/views/infra/auto_fixes/mod.rs
Due: editoast

fixup! add reverse itinerary button
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/ItineraryModal.tsx
Due: front

front: infra-editor: translated using weblate (French)
  front/public/locales/fr/infraEditor.json
Due: front

front: refactor graou import
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/generateTrainSchedulesPayloads.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/findValidTrainNameKey.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/types.ts
  front/src/common/api/graouApi.ts
Due: front

wip
  front/package-lock.json
  front/src/applications/stdcm/components/StdcmResults/StdcmSimulationNavigator.tsx
  front/src/applications/stdcm/styles/_results.scss
  front/src/reducers/osrdconf/stdcmConf/index.ts
Due: front

front: drop graou search interface
  front/public/locales/de/operational-studies.json
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/public/locales/pt/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/styles/scss/applications/operationalStudies/_importTimetableItem.scss
Due: front

front: drop graou import usage
  front/README.md
  front/public/locales/de/operational-studies.json
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/public/locales/ko/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
Due: front

front: drop graou import components
  front/public/locales/de/operational-studies.json
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemStationSelector.tsx
  front/src/common/StationCard.tsx
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/components/_stationCard.scss
Due: front

front: drop graou import internals
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseGraouTrains.ts
  front/src/common/api/graouApi.ts
Due: front

front: importTrainList: move payload generation to helper file
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/generatePayloads.ts
Due: front

front: importTrainList: move payload posting to helper file
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/postPayloads.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/postTimetableItems.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TimetableBoardWrapper.tsx
Due: front

front: simplify error handling in timetable import
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseJson.ts
Due: front

front: drop importTimetableItemConfig
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
Due: front

front: drop side effects from file parsing helpers
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/__tests__/parseJson.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseJson.ts
Due: front

front: move local xml processing to xml helper
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseXML.ts
Due: front

front: drop importTrainList
  front/public/locales/de/operational-studies.json
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
Due: front

front: move parseFile helper to import folder
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/__tests__/parseJson.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/parseJson.ts
Due: front

front: drop import timetable page
  front/public/locales/de/operational-studies.json
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/public/locales/ko/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/index.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/useImportTimetableItems.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/ManageTimetableItemModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/Timetable.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TimetableToolbar.tsx
  front/src/applications/operationalStudies/views/Scenario/consts.ts
Due: front

osrdyne: support service_account_name for kube deployments
  chart/templates/osrdyne/configmap.yaml
  chart/values.yaml
  osrdyne/src/drivers/kubernetes.rs
Due: none

core: fix junit-platform-launcher version ref
  core/gradle/libs.versions.toml
Due: core

front: prevent crash when adding logical signal to new signal
  front/src/applications/editor/tools/pointEdition/types.ts
  front/src/applications/editor/tools/pointEdition/utils.ts
Due: front

editoast: extract pathfinding helpers for cleaner tests
  editoast/src/views/path/pathfinding.rs
Due: editoast

editoast: move post paced trains function to train schedule set view
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule_set.rs
Due: editoast

tests: remove unused test infras
  tests/data/infras/circle_infra/external_generated_inputs.json
  tests/data/infras/circle_infra/infra.json
  tests/data/infras/one_line/external_generated_inputs.json
  tests/data/infras/one_line/infra.json
  tests/data/infras/takeover/external_generated_inputs.json
  tests/data/infras/takeover/infra.json
  tests/data/infras/three_trains/external_generated_inputs.json
  tests/data/infras/three_trains/infra.json
  tests/infra-scripts/circle_infra.py
  tests/infra-scripts/one_line.py
  tests/infra-scripts/takeover.py
  tests/infra-scripts/three_trains.py
Due: none

front: fix drag and drop for services
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/createHandleTrainDrag.ts
Due: front

editoast: add catalog entry post test
  editoast/src/views/catalog_entry.rs
Due: editoast

front: fix double scroll bar in scenario page when scenario description is open
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/_scenarioContentV2.scss
Due: front

editoast: add get /catalog_entry test
  editoast/src/models/fixtures.rs
  editoast/src/views/catalog_entry.rs
Due: editoast

core: add a multiplatform (KMP) osrd-mp gradle project
  core/build.gradle
  core/osrd-mp/build.gradle
  core/settings.gradle
Due: core

core: change assert to require in DistanceRangeMapImpl
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
Due: core

core: move Distance to osrd-mp
  core/envelope-sim/build.gradle
  core/kt-fast-collections-annotations/build.gradle
  core/kt-osrd-sncf-signaling/build.gradle
  core/osrd-mp/build.gradle
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/utils/units/Distance.kt
Due: core

core: change asserts to requires in kt-fast-collections-generator
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/RingBuffer.kt
Due: core

core: add @JvmInline and @JvmName imports in kt-fast-collections-generator
  core/kt-fast-collections-generator/src/main/kotlin/collections/Array.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/Interfaces.kt
Due: core

core: in-house java.util.PriorityQueue for DistanceRangeMapImpl
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
Due: core
