Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

editoast: views: protect `GET:/studies`
  editoast/src/views/operational_studies/hierarchy/study.rs
Due: editoast

editoast: stop holding a postgres connection in GET:/projects
  editoast/src/views/operational_studies/hierarchy/project.rs
Due: editoast

front: remove authorized project filter
  front/src/applications/operationalStudies/views/ProjectList/ProjectListView.tsx
Due: front

editoast: views: protect `GET:/scenarios`
  editoast/src/views/operational_studies/hierarchy/scenario.rs
Due: editoast

editoast: views: make funtion `path_item_respect_margins` flexible
  editoast/src/views/timetable/simulation.rs
Due: editoast

front: fix the behaviour of the loaders in the submit buttons in the itinerary modal
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModalFooter.tsx
Due: front

ui: add useMouseTracking() test
  front/ui/ui-charts/src/common/hooks/__tests__/useMouseTracking.spec.ts
Due: front

front: drop unused modal id
  front/src/common/BootstrapSNCF/ModalSNCF/ModalBodySNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
Due: front

front: truncate release info versions with ellipsis
  front/src/common/NavBar/ReleaseInformation.tsx
  front/src/styles/scss/common/components/_releaseInformations.scss
Due: front

front: fix useless scrollbar in about modal
  front/src/common/BootstrapSNCF/ModalSNCF/ModalStyle.scss
  front/src/styles/scss/_home.scss
Due: front

editoast: units: don’t use prefix that depends on uom::si feature
  editoast/common/src/unit_system/acceleration.rs
  editoast/common/src/unit_system/force.rs
  editoast/common/src/unit_system/frequency.rs
  editoast/common/src/unit_system/linear_mass_density.rs
  editoast/common/src/unit_system/linear_number_density.rs
  editoast/common/src/unit_system/mass_rate.rs
  editoast/common/src/unit_system/time.rs
  editoast/common/src/unit_system/velocity.rs
Due: editoast

editoast: uom: define a custom system of units for Editoast
  editoast/common/src/lib.rs
  editoast/common/src/unit_system.rs
  editoast/common/src/unit_system/length.rs
  editoast/common/src/unit_system/mass.rs
  editoast/common/src/unit_system/time.rs
  editoast/src/views/timetable.rs
Due: editoast

editoast: uom: extend the ESQ with the composed units used in Editoast
  editoast/common/src/unit_system.rs
  editoast/common/src/unit_system/acceleration.rs
  editoast/common/src/unit_system/force.rs
  editoast/common/src/unit_system/frequency.rs
  editoast/common/src/unit_system/linear_mass_density.rs
  editoast/common/src/unit_system/linear_number_density.rs
  editoast/common/src/unit_system/mass_rate.rs
  editoast/common/src/unit_system/velocity.rs
Due: editoast

front, stdcm: ignore stale pathfinding query results
  front/src/applications/stdcm/hooks/useStaticPathfinding.ts
Due: front

front: ui-core: fix DatePicker always displaying weekdays/months in English
  front/src/applications/stdcm/components/StdcmForm/StdcmLinkedTrainSearch.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmOpSchedule.tsx
  front/src/applications/stdcm/components/StdcmResults/SendToRailwayManagerModal.tsx
  front/src/modules/trainHeader/ExpandedTrainForm.tsx
  front/src/modules/trainHeader/ExtraOccurrenceForm.tsx
  front/ui/ui-core/src/components/DatePicker/Calendar.tsx
  front/ui/ui-core/src/components/DatePicker/CalendarPicker.tsx
  front/ui/ui-core/src/components/DatePicker/useCalendar.ts
Due: front

front: display invalid step message under its op name
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/PathStepItem.tsx
  front/src/styles/scss/applications/operationalStudies/_itineraryModal.scss
Due: front

front: nge: fill full name if missing on node creation
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/node.ts
Due: front

front: timesStopsTable: display first margin as editable when missing
  front/src/modules/timesStops/TimesStopsTable.tsx
Due: front

front: ngeToOsrd: add the default 0% margin when resetting margins on train update
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/trainrun.ts
Due: front

editoast: units: use our own system
  editoast/Cargo.toml
  editoast/common/src/units.rs
  editoast/core_client/src/simulation.rs
  editoast/core_task/src/envs/simulation/inputs.rs
  editoast/core_task/src/envs/simulation/request.rs
  editoast/models/src/rolling_stock.rs
  editoast/models/src/timetable.rs
  editoast/models/src/towed_rolling_stock.rs
  editoast/models/src/train_schedule.rs
  editoast/schemas/src/fixtures.rs
  editoast/schemas/src/paced_train.rs
  editoast/schemas/src/primitives/time_window.rs
  editoast/schemas/src/rolling_stock.rs
  editoast/schemas/src/rolling_stock/rolling_resistance.rs
  editoast/schemas/src/rolling_stock/towed_rolling_stock.rs
  editoast/schemas/src/train_schedule.rs
  editoast/src/client/stdcm_search_env_commands.rs
  editoast/src/views/level_crossing_occupancy.rs
  editoast/src/views/rolling_stock/light.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/conflicts.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/request.rs
Due: editoast

front: ui-core: add test for getLocalizedWeekdays
  front/ui/ui-core/src/components/DatePicker/__tests__/useCalendar.spec.ts
  front/ui/ui-core/src/components/DatePicker/useCalendar.ts
Due: front

chart: fix schema for editoast cron labels
  chart/README.md
  chart/values.schema.json
  chart/values.yaml
Due: none

fix(front): hyphenate the ST DCM home label
  front/public/locales/en/translation.json
Due: front

front: remove about in the header user dropdown
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/common/NavBar/UserActionsDropdown.tsx
Due: front

front: stdcm: preserve stop type of origin and destination in sim sheet
  front/src/modules/SimulationReportSheet/utils/formatSimulationReportSheet.ts
Due: front

front: nge: fetch full name when fetching a node's station information
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/node.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/trainrun.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/utils.ts
Due: front

front: fix TOD closing when dragging an occupancy to a different track
  front/src/applications/operationalStudies/utils.ts
Due: front

front: reopen TOD when dropping occupancy and transforming an op into a new path item
  front/src/applications/operationalStudies/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
  front/src/applications/operationalStudies/views/Scenario/hooks/useOccupancyZoneDrop.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useTrackOccupancy.ts
Due: front

editoast: add endpoint to get a train schedule with exceptions
  editoast/openapi.yaml
  editoast/src/views.rs
  editoast/src/views/timetable.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas/osrd_schemas/models.py
Due: editoast, front

front: fix space-time chart zoom breakpoints to match mockup scale
  front/ui/ui-charts/src/spaceTimeChart/lib/consts.ts
Due: front

front: omit the default local track name from occupancy zone drop payload
  front/src/applications/operationalStudies/views/Scenario/hooks/useOccupancyZoneDrop.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/sortTracks.ts
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
