Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: change itinerary tab title
  front/src/applications/operationalStudies/views/v2/ManageTrainScheduleV2.tsx
Due: front

core: invalidate stdcm steps with timing data that are not stops
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/ErrorType.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
Due: core

core: stop using default-speed when handling speed-limit tags
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathPropertiesTests.kt
Due: core

core: refactor imports before actual change
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathPropertiesTests.kt
Due: core

front: fix disabled add train button
  front/src/applications/operationalStudies/views/v2/ScenarioV2.tsx
Due: front

front: integration manchette get
  front/package.json
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/utils.ts
  front/src/applications/operationalStudies/views/v2/ScenarioV2.tsx
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
  front/src/applications/operationalStudies/views/v2/getSimulationResultsV2.ts
  front/src/applications/stdcm/hooks/useStdcmResults.ts
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/utils/formatStdcmIntoSpaceTimeData.ts
  front/src/applications/stdcm/views/StdcmResultsV2.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/SpaceTimeChartV2.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/createTrain.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/d3Helpers.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/formatSpaceTimeData.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/hooks.ts
  front/src/reducers/osrdconf/osrdConfCommon/__tests__/commonConfBuilder.ts
  front/src/styles/scss/_uiCoreIntegration.scss
  front/src/styles/scss/_uiManchette.scss
  front/src/styles/styles.scss
  front/yarn.lock
Due: front

core: update node compare method to prioritize paths closer to expected passage times
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMStep.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMNode.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingTests.kt
Due: core

core: initialize pathfinding start locations as nodes instead of edges
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/BacktrackingManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EngineeringAllowanceManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMNode.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/STDCMHeuristicTests.kt
Due: core

front: add route e2e test for operational studies
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
  front/src/modules/pathfinding/components/Itinerary/DisplayItinerary/v2/DestinationV2.tsx
  front/src/modules/pathfinding/components/Itinerary/DisplayItinerary/v2/OriginV2.tsx
  front/src/modules/pathfinding/components/Itinerary/DisplayItinerary/v2/ViasV2.tsx
  front/src/modules/pathfinding/components/Itinerary/ItineraryV2.tsx
  front/src/modules/pathfinding/components/Itinerary/ModalSuggestedVias.tsx
  front/src/modules/pathfinding/components/Pathfinding/PathfindingV2.tsx
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-op-rollingstock-tab.spec.ts
  front/tests/010-op-route-tab.spec.ts
  front/tests/pages/home-page-model.ts
  front/tests/pages/operational-studies-page-model.ts
  front/tests/pages/stdcm-page-model.ts
Due: front

front: integrate speedspacechart version two
  front/package.json
  front/public/locales/en/simulation.json
  front/public/locales/en/stdcm.json
  front/public/locales/fr/simulation.json
  front/public/locales/fr/stdcm.json
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/views/StdcmResults.tsx
  front/src/applications/stdcm/views/StdcmResultsV2.tsx
  front/src/modules/powerRestriction/helpers/__tests__/formatPowerRestrionRangesWithHandle.spec.ts
  front/src/modules/powerRestriction/helpers/__tests__/sampleData.ts
  front/src/modules/powerRestriction/helpers/formatPowerRestrictionRangesWithHandled.ts
  front/src/modules/simulationResult/components/ChartHelpers/drawCurve.ts
  front/src/modules/simulationResult/components/ChartHelpers/drawElectricalProfile.ts
  front/src/modules/simulationResult/components/ChartHelpers/enableInteractivity.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/SpeedSpaceChartV2.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/__tests__/helpers.spec.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/__tests__/sampleData.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/consts.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/d3Helpers.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/helpers.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/prepareData.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/types.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/useSpeedSpaceChart.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/utils.ts
  front/src/modules/simulationResult/styles/simulationResult.scss
  front/src/styles/scss/_uiSpeedSpaceChart.scss
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
  front/src/styles/styles.scss
  front/src/utils/physics.ts
  front/yarn.lock
Due: front

front: add simulation result stops output table
  front/public/locales/en/timesStops.json
  front/public/locales/fr/timesStops.json
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/applications/operationalStudies/views/v2/ManageTrainScheduleV2.tsx
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
  front/src/applications/stdcm/components/SimulationReportSheet.tsx
  front/src/modules/pathfinding/hook/usePathfinding.ts
  front/src/modules/timesStops/TimeStopsColumns.tsx
  front/src/modules/timesStops/TimesStops.tsx
  front/src/modules/timesStops/TimesStopsInput.tsx
  front/src/modules/timesStops/TimesStopsOutput.tsx
  front/src/modules/timesStops/consts.ts
  front/src/modules/timesStops/helpers/__tests__/computeMargins.json
  front/src/modules/timesStops/helpers/__tests__/computeMargins.spec.ts
  front/src/modules/timesStops/helpers/computeMargins.ts
  front/src/modules/timesStops/helpers/formatScheduleData.ts
  front/src/modules/timesStops/helpers/utils.ts
  front/src/modules/timesStops/hooks/useOutputTableData.ts
  front/src/modules/timesStops/hooks/useTimeStopsColumns.ts
  front/src/modules/timesStops/styles/_timesStopsDatasheet.scss
  front/src/modules/timesStops/types.ts
  front/src/modules/timesStops/utils.ts
  front/src/modules/trainschedule/components/DriverTrainScheduleV2/DriverTrainScheduleV2.tsx
  front/src/modules/trainschedule/components/DriverTrainScheduleV2/utils.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/types.ts
  front/src/modules/trainschedule/useFormattedOperationalPoints.ts
  front/src/utils/__tests__/numbers.spec.ts
  front/src/utils/__tests__/physics.spec.ts
  front/src/utils/date.ts
  front/src/utils/numbers.ts
  front/src/utils/physics.ts
  front/src/utils/timeManipulation.ts
  front/src/utils/types.ts
Due: front

front: fix app crash when switching too quickly on the times and stops tab
  front/src/modules/timesStops/TimesStops.tsx
  front/src/modules/timesStops/hooks/useTimeStopsColumns.ts
Due: front

front: fix scroll bar macro mode - remove font size in timetable collapse button css class
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Due: front

front: revert formatSuggestedViasToRowVias
  front/src/modules/timesStops/helpers/utils.ts
Due: front

core: stdcm: extract min time from heuristic
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMHeuristic.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMNode.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/STDCMHeuristicTests.kt
Due: core

core: clean up logging, log some element during stdcm search
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/AbstractAllowanceWithRanges.java
  core/osrd-geom/src/main/java/fr/sncf/osrd/geom/Point.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/ProgressLogger.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMHeuristic.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
Due: core

front: fix manchette multiple path management
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
  front/src/applications/operationalStudies/views/v2/getSimulationResultsV2.ts
  front/src/applications/stdcm/views/StdcmResultsV2.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/formatSpaceTimeData.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useGetProjectedTrainOperationalPoints.ts
Due: front

front: fix table namings
  front/public/locales/en/timesStops.json
  front/public/locales/fr/timesStops.json
Due: front

core: change ignore electrical profile value in sim v2
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
Due: core

editoast: remove list impl from light rolling stocks
  editoast/openapi.yaml
  editoast/src/modelsv2/light_rolling_stock.rs
  editoast/src/modelsv2/rolling_stock_livery.rs
  editoast/src/modelsv2/rolling_stock_model.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/pagination.rs
  editoast/src/views/rolling_stocks/light_rolling_stock.rs
  editoast/src/views/rolling_stocks/mod.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/rollingStock/components/RollingStockSelector/sampleData.ts
Due: editoast, front

front: fix time display, use utc for hour conversion
  front/src/modules/timesStops/helpers/__tests__/formatScheduleData.spec.ts
  front/src/utils/timeManipulation.ts
Due: front

ci: pin rust version for 'editoast' and 'gateway'
  editoast/Dockerfile
  gateway/Dockerfile
Due: editoast, gateway

front: speedspacechart: fix last electrical profile in GEV
  front/src/applications/operationalStudies/utils.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/__tests__/helpers.spec.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/helpers.ts
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
