Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

parsers:
  jacoco:
    partials_as_hits: true

update editoast openapi
  editoast/openapi.yaml
Due: editoast

update generated editoast api
  front/src/common/api/osrdEditoastApi.ts
Due: front

openapi: include pageSize in search params
  editoast/openapi.yaml
Due: editoast

front: import - generate autocomplete pathfindings from steps
  front/public/locales/en/operationalStudies/importTrainSchedule.json
  front/public/locales/fr/operationalStudies/importTrainSchedule.json
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/common/Spacer.tsx
Due: front

front: add tracks to trainSchedules from Graou
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
Due: front

fix & clean
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

clean code
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generatePathfindingPayload.jsx
Due: front

front: test pathfinding done for small_infra
  front/playwright.config.ts
  front/src/common/Pathfinding/Pathfinding.tsx
  front/tests/001-home-page.spec.ts
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-project-delete.spec.ts
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/pages/home-page-model.ts
  front/tests/pages/map-model.ts
  front/tests/pages/scenario-page-model.ts
Due: front

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Due: editoast

fix: remove graou references
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generatePathfindingPayload.jsx
  front/src/applications/operationalStudies/types.ts
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

front: refacto gettimetable in tsx
  front/src/applications/operationalStudies/components/Scenario/getSimulationResults.tsx
Due: front

editoast: bump diesel-json and clean useless code
  editoast/Cargo.toml
  editoast/src/models/train_schedule.rs
Due: editoast

Fix minor issues in rollingstock editor: - fix overflow behavior on rollingstock list
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormModal.tsx
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/src/styles/scss/common/components/_rollingStock.scss
Due: front

fix valentin's comments
  front/public/locales/fr/operationalStudies/importTrainSchedule.json
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleStationSelector.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/consts.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generatePathfindingPayload.jsx
  front/src/common/api/graouApi.ts
  front/src/utils/array.ts
Due: front

front: display intineraries conflicts
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
Due: front

front: use a smaller placeholder rolling stock image
  front/src/assets/pictures/blue_train.svg.REMOVED.git-id
  front/src/assets/pictures/placeholder_rolling_stock.svg
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
Due: front

front: keep the rabbit alive
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/assets/pictures/rabbit.png
  front/src/assets/pictures/rabbit.svg
Due: front

actions: disable storybook build
  .github/workflows/docker-build-push.yml
Due: none

front: test pathfinding done for small_infra
  front/tests/map-model.ts
Due: front

front: test pathfinding infra_france
  front/tests/map-model.ts
Due: front

front: test-e2e: pathfinding-local.spec: Create test pathfinding electrification error in a local environment
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-pathfinding-local.spec.ts
  front/tests/008-project-delete.spec.ts
  front/tests/map-model.ts
  front/tests/pages/rollingstock-modal-model.ts
  front/tests/pages/scenario-page-model.ts
  front/tests/pages/stdcm-page-model.ts
Due: front

front: test-E2E: modify the test to run on the IC
  front/tests/007-pathfinding-local.spec.ts
  front/tests/assets/example_rolling_stock_1500.json
  front/tests/assets/operationStudies/test_variables.ts
  tests/conftest.py
  tests/tests/__init__.py
  tests/tests/test_e2e.py
Due: front

tests: adapt rolling stock creation fixture
  tests/conftest.py
  tests/tests/__init__.py
  tests/tests/test_e2e.py
Due: none

core: migrate pathfinding postprocessing to new infra
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/Interfaces.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/DebugViewers.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/DirStaticIdx.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Distance.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/GeomUtils.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/LegacyPathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathWaypointResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverterTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingTest.java
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Due: core

front: fix signal edition
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/types/editor.ts
Due: front

tests: adapt rolling stock creation fixture
  front/index.html
  front/tests/007-pathfinding.spec.ts
  front/tests/assets/operationStudies/test_variables.ts
  tests/conftest.py
  tests/tests/test_e2e.py
Due: front

front : set a limit for lpv panels position
  front/src/applications/editor/tools/rangeEdition/speedSection/LpvPanelCard.tsx
Due: front

front: fix stdcm test
  front/tests/006-stdcm-page.spec.ts
  front/tests/pages/stdcm-page-model.ts
Due: front
