Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

front: forbid empty study's status
  editoast/openapi.yaml
  editoast/src/views/study.rs
  front/src/applications/operationalStudies/consts.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/study/components/AddOrEditStudyModal.tsx
  front/src/modules/study/utils.ts
  tests/conftest.py
  tests/tests/utils/timetable.py
Due: editoast, front

editoast: add max page size on endpoints Closes #5621
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/pagination.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/study.rs
Due: editoast

editoast: add max page size on paginated endpoints
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/pagination.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/study.rs
Due: editoast

front: editor - force reload of EditorSource when data changed
  front/src/common/Map/Layers/GeoJSONs.tsx
Due: front

front: editor - Adding help on catenary tool
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.tsx
  front/src/applications/editor/tools/rangeEdition/types.ts
  front/src/applications/editor/tools/rangeEdition/utils.ts
Due: front

front: fix psl saving
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/EditPSLSection.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/PslSignCard.tsx
  front/src/types/editor.ts
Due: front

front: editor - fix number of issues at bottom-right
  front/src/reducers/editor/index.ts
Due: front

ci: bump setup-buildx-action to v3
  .github/workflows/unstable-build-images.yml
Due: none

actions: add the packages write permissions to the build job
  .github/workflows/unstable-build-images.yml
Due: none

editoast: migrate /auto_fixes to use utoipa
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/schema/mod.rs
  editoast/src/schema/operation/mod.rs
  editoast/src/views/infra/auto_fixes.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

editoast: parallelise errors layer generation
  editoast/src/generated_data/error/mod.rs
  editoast/src/schema/errors.rs
  editoast/src/views/infra/auto_fixes.rs
Due: editoast

docker: set the default image tag to 'dev'
  docker-compose.yml
Due: none

front: rewrite kp label layer
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionEditionLayers.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/Layers/KPLabel.tsx
  front/src/common/Map/Layers/OperationalPoints.tsx
  front/src/common/Map/Layers/Signals.tsx
  front/src/common/Map/Layers/extensions/SNCF/SNCF_PSL_SIGNS.tsx
  front/src/modules/trainschedule/components/ImportTrainSchedule/Map.tsx
Due: front

renable Time
  front/src/modules/simulationResult/components/SimulationResultsMap/TrainHoverPosition.tsx
Due: front

front: quick fix for speed label
  front/src/modules/simulationResult/components/SimulationResultsMap/TrainHoverPosition.tsx
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Due: front

restore time display
  front/src/modules/simulationResult/components/SimulationResultsMap/TrainHoverPosition.tsx
Due: front

front: use RollingStockComfortType from OpenApi, not Comfort from legacy
  front/src/applications/operationalStudies/consts.ts
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCard.tsx
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCardDetail.tsx
  front/src/modules/rollingStock/components/RollingStockCurve.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/AddRollingstockParam.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorCurves.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockInformationPanel.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockHelpers.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockSelector.tsx
  front/src/modules/rollingStock/consts.ts
  front/src/modules/rollingStock/helpers/utils.ts
  front/src/reducers/rollingstockEditor/index.ts
Due: front

front(docs): update docs for the new playwright setup
  front/README.md
Due: front

front: fix train initial speed when updating a train
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
Due: front

front: fix linter error
  front/src/modules/trainschedule/components/ImportTrainSchedule/Map.tsx
Due: front

core: search for a train path fails with 500 assert check failed
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/Envelope.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.java
Due: core

front: up the overlow-y: hidden to the top contain
  front/src/common/BootstrapSNCF/ModalSNCF/style.scss
Due: front

editoast: add missing signal fields to infra clones
  editoast/src/models/infra.rs
Due: editoast

codeowners: add tests maintainers and update workflows owner
  .github/CODEOWNERS
Due: none

front: rename PLS layers files
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/Layers/KPLabel.ts
  front/src/common/Map/Layers/extensions/SNCF/PSL.tsx
  front/src/common/Map/Layers/extensions/SNCF/PSLSigns.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
Due: front

editoast: fix pagination error
  editoast/src/views/pagination.rs
Due: editoast

front: rewrite kp label layer
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionEditionLayers.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/Layers/KPLabel.tsx
  front/src/common/Map/Layers/OperationalPoints.tsx
  front/src/common/Map/Layers/Signals.tsx
  front/src/common/Map/Layers/extensions/SNCF/SNCF_PSL_SIGNS.tsx
Due: front
