Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: front: adapt get train schedule set endpoint with timetable type param
  editoast/openapi.yaml
  editoast/src/views/train_schedule_set.rs
  front/src/applications/operationalStudies/hooks/__tests__/useScenario.spec.ts
  front/src/common/api/generatedEditoastApi.ts
  tests/conftest.py
  tests/fuzzer/fuzzer.py
  tests/tests/test_scenario.py
  tests/tests/utils/timetable.py
Due: editoast, front

editoast: adapte scenario endpoint with timetable type
  editoast/openapi.yaml
  editoast/src/views/operational_studies/hierarchy/scenario.rs
  editoast/src/views/train_schedule_set.rs
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas_auto/osrd_schemas_auto/models.py
Due: editoast, front

editoast: front: adapt timetable endpoint with timetable_type
  editoast/openapi.yaml
  editoast/src/views/timetable.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/scenario/components/AddOrEditScenarioModal.tsx
  osrd_schemas_auto/osrd_schemas_auto/models.py
Due: editoast, front

editoast: front: adapt train schedule set endpoint with timetable type
  editoast/openapi.yaml
  editoast/src/views/train_schedule_set.rs
  front/src/applications/operationalStudies/hooks/useScenario.ts
  front/src/applications/operationalStudies/hooks/useScenarioTrainScheduleSet.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/scenario/components/AddOrEditScenarioModal.tsx
  front/tests/utils/scenario.ts
  osrd_schemas_auto/osrd_schemas_auto/models.py
Due: editoast, front

data: json file formatting
  editoast/schemas/examples/fast_rolling_stock.json
  editoast/schemas/examples/fast_rolling_stock_with_energy_sources.json
  editoast/schemas/examples/rolling_stock_invalid_effort_curves.json
  front/tests/assets/rolling-stock/fast_rolling_stock.json
  front/tests/assets/rolling-stock/slow_rolling_stock.json
  tests/data/rolling_stocks/electric_rolling_stock.json
  tests/data/rolling_stocks/etcs_level2_rolling_stock.json
  tests/data/rolling_stocks/fast_rolling_stock.json
  tests/data/rolling_stocks/fast_rolling_stock_high_gamma.json
  tests/data/rolling_stocks/realistic/commuter-train.json
  tests/data/rolling_stocks/realistic/d-tram-train.json
  tests/data/rolling_stocks/realistic/dmu-regional-train.json
  tests/data/rolling_stocks/realistic/e-tram-train.json
  tests/data/rolling_stocks/realistic/emu-regional-train.json
  tests/data/rolling_stocks/realistic/freight-train.json
  tests/data/rolling_stocks/realistic/high-speed-train.json
  tests/data/rolling_stocks/realistic/intercity-train.json
  tests/data/rolling_stocks/realistic/light-freight-train.json
  tests/data/rolling_stocks/realistic/night-train.json
  tests/data/rolling_stocks/realistic/touristic-train.json
  tests/data/rolling_stocks/short_fast_rolling_stock.json
  tests/data/rolling_stocks/short_slow_rolling_stock.json
  tests/data/rolling_stocks/slow_rolling_stock.json
Due: editoast, front

data: change resistance coefficients units in rolling stocks imports
  editoast/schemas/examples/fast_rolling_stock.json
  editoast/schemas/examples/fast_rolling_stock_with_energy_sources.json
  editoast/schemas/examples/rolling_stock_invalid_effort_curves.json
  editoast/src/tests/example_towed_rolling_stock_1.json
  front/tests/assets/rolling-stock/dual-mode_rolling_stock.json
  front/tests/assets/rolling-stock/fast_rolling_stock.json
  front/tests/assets/rolling-stock/improbable_rolling_stock.json
  front/tests/assets/rolling-stock/slow_rolling_stock.json
  tests/data/rolling_stocks/electric_rolling_stock.json
  tests/data/rolling_stocks/etcs_level2_rolling_stock.json
  tests/data/rolling_stocks/fast_rolling_stock.json
  tests/data/rolling_stocks/fast_rolling_stock_high_gamma.json
  tests/data/rolling_stocks/realistic/commuter-train.json
  tests/data/rolling_stocks/realistic/d-tram-train.json
  tests/data/rolling_stocks/realistic/dmu-regional-train.json
  tests/data/rolling_stocks/realistic/e-tram-train.json
  tests/data/rolling_stocks/realistic/emu-regional-train.json
  tests/data/rolling_stocks/realistic/freight-train.json
  tests/data/rolling_stocks/realistic/high-speed-train.json
  tests/data/rolling_stocks/realistic/intercity-train.json
  tests/data/rolling_stocks/realistic/light-freight-train.json
  tests/data/rolling_stocks/realistic/night-train.json
  tests/data/rolling_stocks/short_fast_rolling_stock.json
  tests/data/rolling_stocks/short_slow_rolling_stock.json
  tests/data/rolling_stocks/slow_rolling_stock.json
Due: editoast, front

editoast: adapt `RollingStock` to new units
  editoast/core_client/src/simulation.rs
  editoast/editoast_models/src/rolling_stock.rs
  editoast/editoast_models/src/rolling_stock_livery.rs
  editoast/openapi.yaml
  editoast/schemas/src/fixtures.rs
  editoast/schemas/src/rolling_stock.rs
  editoast/schemas/src/rolling_stock/rolling_resistance.rs
  editoast/src/client/import_rolling_stock.rs
  editoast/src/views/rolling_stock.rs
  editoast/src/views/rolling_stock/light.rs
  editoast/src/views/search.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/request.rs
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas_auto/osrd_schemas_auto/models.py
Due: editoast, front

editoast: add migration
  editoast/migrations/2026-06-08-132346-0000_change_unit_of_rolling_resistance/down.sql
  editoast/migrations/2026-06-08-132346-0000_change_unit_of_rolling_resistance/up.sql
  front/tests/assets/rolling-stock/dual-mode_rolling_stock.json
Due: editoast, front

front, editoast: turn `SearchPayload.object` into enum
  editoast/openapi.yaml
  editoast/src/views/search.rs
  front/src/applications/operationalStudies/helpers/searchPayload.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/utils.ts
  front/src/applications/stdcm/hooks/useLinkedTrainSearch.ts
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/useSearchOperationalPoint.tsx
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPath.tsx
  osrd_schemas_auto/osrd_schemas_auto/models.py
Due: editoast, front

front: map: use uic code to highlight OPs
  front/src/common/Map/Layers/InfraObjectLayers/OperationalPoints.tsx
  front/src/common/Map/Search/useSearchOperationalPoint.tsx
Due: front

front: show conflicts count when conflicts board is closed
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioHeader.tsx
Due: front

core, editoast: simulation: fix duplicated data
  core/src/main/kotlin/fr/sncf/osrd/api/SimulationParser.kt
  core/src/main/kotlin/fr/sncf/osrd/api/standalone_sim/SimulationEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/standalone_sim/SimulationRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/SafetySpeed.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  core/src/test/kotlin/fr/sncf/osrd/backtracks/BacktrackTests.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/SimulationScheduleItemsParserTests.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  editoast/core_client/src/simulation.rs
  editoast/core_task/src/envs/simulation/request.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/train_schedule.rs
Due: core, editoast

core stdcm backtracking: hot wip before art-sync
  core/src/main/kotlin/fr/sncf/osrd/conflicts/IncrementalRequirementEnvelopeAdapter.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeImpl.kt
  core/src/test/java/fr/sncf/osrd/conflicts/SpacingResourceGeneratorTest.kt
Due: core

front: fix single-select mode using stale occurrence in space-time chart
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
Due: front

editoast: fix nightly clippy lints
  editoast/editoast_derive/src/model/codegen/changeset_builder_impl_block.rs
  editoast/editoast_models/src/map/geo_json_and_data.rs
  editoast/src/client/import_rolling_stock.rs
  editoast/src/client/stdcm_search_env_commands.rs
  editoast/src/views/authz.rs
  editoast/src/views/infra/routes.rs
  editoast/src/views/server/openapi.rs
  editoast/src/views/test_app.rs
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

core stdcm backtracking: hot wip before art-sync
  core/src/main/kotlin/fr/sncf/osrd/conflicts/IncrementalRequirementEnvelopeAdapter.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeImpl.kt
  core/src/test/java/fr/sncf/osrd/conflicts/SpacingResourceGeneratorTest.kt
Due: core

[wip] core: get the final envelope even if conflicting mismatch
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
Due: core

front: use cooperative gestures to disable scroll zoom without modifier key
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResultsMap.tsx
  front/src/common/Map/BaseMap.tsx
Due: front

core, editoast: make allowedTrackSections non-nullable
  core/src/main/kotlin/fr/sncf/osrd/api/ConsistSchedule.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/pathfinding/constraints/CachedBlockConstraintCombiner.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/BlockAvailabilityTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/ConsistChangeTests.kt
  editoast/core_client/src/stdcm.rs
  editoast/openapi.yaml
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/request.rs
  front/src/common/api/generatedEditoastApi.ts
Due: core, editoast, front

editoast: fallback on buildid if git describe is not passed
  docker-compose.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/Dockerfile
  editoast/src/main.rs
Due: editoast

front: ui: change vitest jsdom depency to happydom
  front/package-lock.json
  front/ui/ui-charts/vitest.config.mts
  front/ui/ui-core/package.json
  front/ui/ui-core/vitest.config.mts
Due: front

front: fix initial speed validation blocking train save
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/validateTrainSchedule.ts
Due: front

front: use kmhToMs in table header speedcheck
  front/src/modules/trainHeader/ExpandedTrainForm.tsx
Due: front

tests: bump pytest in /tests in the minor group across 1 directory
  editoast/openapi.yaml
  editoast/src/generated_data/error/infra_error.rs
  editoast/src/infra_cache/operation/mod.rs
  front/src/applications/editor/components/InfraErrors/InfraErrorDescription.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorTypeLabel.tsx
  front/src/applications/editor/data/utils.ts
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas_auto/generate-types.sh
  osrd_schemas_auto/osrd_schemas_auto/models.py
  osrd_schemas_auto/pyproject.toml
  osrd_schemas_auto/uv.lock
  python/railjson_generator/uv.lock
  tests/uv.lock
Due: editoast, front

front: ignore S shortcut unless a train is selected in the space-time chart
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
Due: front

front: keep disabled exceptions when reconciling change groups
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/buildPacedTrainException.ts
Due: front

python: use models instead of infra for TrackRange and SwitchType
  osrd_schemas_auto/osrd_schemas_auto/external_generated_inputs.py
  osrd_schemas_auto/osrd_schemas_auto/switch_type.py
  python/railjson_generator/railjson_generator/schema/infra/range_elements.py
  python/railjson_generator/railjson_generator/schema/infra/switch.py
  python/railjson_generator/railjson_generator/test_external_generated_inputs.py
  tests/data/infras/etcs_infra/external_generated_inputs.json
  tests/data/infras/medium_infra/external_generated_inputs.json
  tests/data/infras/small_infra/external_generated_inputs.json
Due: none

front: add unit tests for timePropagation helpers
  front/src/modules/timesStops/helpers/__tests__/timePropagation.spec.ts
Due: front

front: fix train path sheet PDF title and footer still showing simulation sheet
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
Due: front

editoast: merge middleware authorization extensions
  editoast/src/authentication.rs
  editoast/src/views/authz.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/search.rs
  editoast/src/views/server/middlewares.rs
  editoast/src/views/server/router.rs
Due: editoast

front: use linear constraint distribution by default
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/operationalStudiesConfReducer.spec.ts
  front/src/reducers/osrdconf/operationalStudiesConf/index.ts
  front/tests/02-operational-studies/paced-trains/001-paced-train-management.spec.ts-snapshots/SpeedSpaceChart-InitialInputs-chromium-linux.png
  front/tests/02-operational-studies/train-creation-tabs/004-op-simulation-settings-tab.spec.ts
  front/tests/assets/operation-studies/times-and-stops/expected-outputs-cells-data.ts
  front/tests/assets/paced-train/output-table-data.ts
  front/tests/pages/operational-studies/simulation-settings-tab.ts
Due: front
