Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: output table does not display schedule for op via
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
  front/src/modules/timesStops/TimesStopsOutput.tsx
  front/src/modules/timesStops/hooks/useOutputTableData.ts
Due: front

front: deactivate platforms layer in editor
  front/src/applications/editor/Map.tsx
Due: front

front: deactivate some eslint rules - no-await-in-loop - no-continue - no-restricted-syntax
  front/.eslintrc
  front/src/applications/editor/tools/rangeEdition/components/GroupedTrackRangeList.tsx
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/utils.ts
  front/src/common/IntervalsDataViz/utils.ts
  front/src/reducers/osrdconf/operationalStudiesConf/utils.ts
  front/tests/pages/operational-studies-page-model.ts
Due: front

core: fix smartcast compiler bug
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

core: bump kotlin to 2.0.20
  core/gradle/libs.versions.toml
Due: core

draft
  front/src/utils/rtk.ts
Due: front

editoast: remove old pagination system
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/pagination.rs
Due: editoast

front: fix train run section ordering in NGE to OSRD converter
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Due: front

editoast: fix stdcm_search_env tests for non-empty initial table
  editoast/src/modelsv2/stdcm_search_environment.rs
  editoast/src/views/stdcm_search_environment.rs
Due: editoast

editoast: improve naming of extracted variables in several handlers
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/v2/timetable.rs
  editoast/src/views/v2/timetable/stdcm.rs
  editoast/src/views/v2/train_schedule.rs
  editoast/src/views/v2/train_schedule/projection.rs
  editoast/src/views/work_schedules.rs
Due: editoast

wip: osrdyne: use cranelift
  osrdyne/.cargo/config.toml
Due: none

front: stdcm: change map
  front/public/locales/en/stdcm.json
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcmV2/views/StdcmViewV2.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/ItineraryMarkersV2.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
  front/src/styles/scss/applications/stdcmV2/_home.scss
  front/src/styles/scss/applications/stdcmV2/_results.scss
Due: front

front: move NGE logic to dedicated component directory
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/NGE/NGE.tsx
  front/src/applications/operationalStudies/components/NGE/types.ts
  front/src/applications/operationalStudies/views/v2/ScenarioV2.tsx
Due: front

tests: harmonize comfort type
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  tests/data/rolling_stocks/electric_rolling_stock.json
Due: none

core: stdcm: quick opti step availability
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
Due: core

front: removed rocket component and ensured searchByTrigramContainer is not visible in tests
  front/src/modules/pathfinding/components/Itinerary/ItineraryV2.tsx
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPathV2.tsx
  front/tests/010-op-route-tab.spec.ts
  front/tests/pages/operational-studies-page-model.ts
Due: front

editoast: move tables.rs into editoast_models
  editoast/Cargo.lock
  editoast/diesel.toml
  editoast/editoast_derive/src/lib.rs
  editoast/editoast_derive/src/modelv2.rs
  editoast/editoast_models/Cargo.toml
  editoast/editoast_models/src/lib.rs
  editoast/editoast_models/src/tables.rs
  editoast/src/generated_data/buffer_stop.rs
  editoast/src/generated_data/detector.rs
  editoast/src/generated_data/electrification.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/neutral_sign.rs
  editoast/src/generated_data/operational_point.rs
  editoast/src/generated_data/psl_sign.rs
  editoast/src/generated_data/signal.rs
  editoast/src/generated_data/speed_section.rs
  editoast/src/generated_data/track_section.rs
  editoast/src/main.rs
  editoast/src/modelsv2/auth.rs
  editoast/src/modelsv2/documents.rs
  editoast/src/modelsv2/electrical_profiles.rs
  editoast/src/modelsv2/infra.rs
  editoast/src/modelsv2/infra/errors.rs
  editoast/src/modelsv2/infra_objects.rs
  editoast/src/modelsv2/light_rolling_stock.rs
  editoast/src/modelsv2/mod.rs
  editoast/src/modelsv2/projects.rs
  editoast/src/modelsv2/rolling_stock_image.rs
  editoast/src/modelsv2/rolling_stock_livery.rs
  editoast/src/modelsv2/rolling_stock_model.rs
  editoast/src/modelsv2/scenario.rs
  editoast/src/modelsv2/stdcm_search_environment.rs
  editoast/src/modelsv2/study.rs
  editoast/src/modelsv2/timetable.rs
  editoast/src/modelsv2/train_schedule.rs
  editoast/src/modelsv2/work_schedules.rs
Due: editoast

core: harmonize comfort type
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/Comfort.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEffortCurves.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/main/java/fr/sncf/osrd/train/StandaloneTrainSchedule.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/standalone_sim/SimulationRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMRequestV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EnvelopeSimContextBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  core/src/test/java/fr/sncf/osrd/train/TestRollingStock.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/BacktrackingTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.kt
Due: core

docker: fix osrdyne releases
  docker/docker-bake.hcl
Due: none

editoast: remove unused fixtures
  editoast/src/fixtures.rs
  editoast/src/main.rs
Due: editoast

editoast: remove last fixtures v1 occurences & delete module
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/v2/path/properties.rs
Due: editoast

editoast: remove test fixtures
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/modelsv2/fixtures.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/v2/path/properties.rs
Due: editoast

editoast: add new migration
  editoast/migrations/2024-09-02-132335_replace_mode_ac_with_air_conditioning/down.sql
  editoast/migrations/2024-09-02-132335_replace_mode_ac_with_air_conditioning/up.sql
Due: editoast

front: fix missing desired arrival in output TimesStops table
  front/src/modules/timesStops/TimesStops.tsx
  front/src/modules/timesStops/helpers/utils.ts
Due: front

maintainers: add file with details on how maintainers are added to the project
  MAINTAINERS.md
Due: none

governance: add file
  GOVERNANCE.md
Due: none

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
