Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

front: operational-studies: translated using weblate (English)
  front/public/locales/en/operational-studies.json
Due: front

editoast: ignore auto-generated files from the review
  .gitattributes
Due: none

ui-core: fix focus style on button
  front/ui/ui-core/src/styles/button.css
Due: front

front: fix duplicate path key in stdcm debug results
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
Due: front

front: reset searchResults only when needed
  front/src/applications/stdcm/components/StdcmForm/StdcmOperationalPoint.tsx
Due: front

front: add line break to about section css
  front/src/styles/scss/common/components/_releaseInformations.scss
Due: front

ui-core: call removeFocus in ComboBox only if input has focus
  front/ui/ui-core/src/components/inputs/ComboBox/ComboBox.tsx
Due: front

front: manage state in StdcmOperationalPoint rather than useSearchOperationalPoint
  front/src/applications/stdcm/components/StdcmForm/StdcmOperationalPoint.tsx
Due: front

ui-core: add onBlur props to ComboBox
  front/ui/ui-core/src/components/inputs/ComboBox/ComboBox.tsx
  front/ui/ui-core/src/components/inputs/ComboBox/useDefaultComboBox.ts
Due: front

gateway: fix proxying of responses without a body
  gateway/actix_proxy/src/lib.rs
Due: gateway

ui-core: make dates outside currently displayed month selectable
  front/ui/ui-core/src/components/inputs/datePicker/useCalendar.ts
  front/ui/ui-core/src/styles/inputs/datePicker.css
Due: front

front: replace react-id-generator with useId for chip id attribute
  front/src/common/BootstrapSNCF/ChipsSNCF.tsx
Due: front

front: rename all convoy occurrences to consist
  front/public/locales/en/operational-studies.json
  front/public/locales/en/stdcm-help-section.json
  front/public/locales/en/stdcm.json
  front/public/locales/fr/operational-studies.json
  front/public/locales/fr/stdcm-help-section.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/StdcmResults/SimulationReportStyleSheet.ts
  front/src/modules/simulationResult/SimulationResultExport/SimulationReportSheetScenario.tsx
  front/src/modules/trainschedule/components/Timetable/types.ts
Due: front

front, gateway, nix, ci: upgrade nodejs 23 to 24
  .github/workflows/osrd-ui-publish.yml
  .github/workflows/osrd-ui-website.yml
  .github/workflows/ui-icons-optimize.yml
  flake.nix
  front/docker/Dockerfile.devel
  gateway/Dockerfile
Due: gateway, front

editoast, gateway, osrdyne: bump rust to 1.87
  editoast/Dockerfile
  gateway/Dockerfile
  gateway/src/config.rs
  osrdyne/Dockerfile
  osrdyne/src/config.rs
  osrdyne/src/main.rs
Due: editoast, gateway

nix: update flake lock and drop now depreciated ruff-lsp from flake
  flake.lock
  flake.nix
Due: none

front: add towed rs info to stdcm support mail
  front/src/applications/stdcm/components/StdcmResults/StdcmFeedback.tsx
  front/tests/assets/constants/mail-feedback-const.ts
  front/tests/utils/types.ts
Due: front

front: fix capitalization in stdcm support mail
  front/public/locales/fr/stdcm.json
Due: front

front, gateway, ci: switch node image to alpine
  front/docker/Dockerfile.devel
  gateway/Dockerfile
Due: gateway, front

chart: delete switch type endpoint from stateful filter
  chart/templates/gateway/configmap.yaml
Due: none

editoast: adapt switch type endpoint to stop using infracache
  editoast/src/views/infra/mod.rs
Due: editoast

front: added translation using Weblate (German)
  front/public/locales/de/stdcm-help-section.json
Due: front

front: stdcm-help-section: translated using weblate (French)
  front/public/locales/fr/stdcm-help-section.json
Due: front

front: use string instead of array for errors translation namespace
  front/src/utils/error.ts
Due: front

front: use regular string literals for InfraErrorMapControl translations
  front/src/applications/editor/components/InfraErrors/InfraErrorMapControl.tsx
Due: front

front: use react-i18next instead of plain i18next in SwitchList
  front/src/applications/editor/tools/rangeEdition/speedSection/SwitchList.tsx
Due: front

front: fix invalid translation key in getErrorName()
  front/src/utils/error.ts
Due: front

front: use TFunction in PictureUploader
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
Due: front

front: specify namespace for TFunction
  front/scripts/i18n-checker.ts
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/common/Map/Layers/InfraObjectLayers/extensions/SNCF/PSL.tsx
  front/src/modules/trainschedule/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/checkCurrentConfig.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/handleParseFiles.ts
Due: front

front: extract keys with TypeScript
  front/package-lock.json
  front/package.json
  front/scripts/i18n-checker.ts
Due: front

front: drop unused stdcm:departureDate translation
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
Due: front

front: drop extraneous patterns from i18n-checker
  front/scripts/i18n-checker.ts
Due: front

front: ignore exception change group translations
  front/scripts/i18n-checker.ts
Due: front

front: drop i18n-checker exceptions for useConflictsMessages()
  front/scripts/i18n-checker.ts
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcm/hooks/useConflictsMessages.ts
Due: front

front: remove i18n-checker exceptions for checkStdcmConfigErrors()
  front/scripts/i18n-checker.ts
  front/src/applications/stdcm/utils/checkStdcmConfigErrors.ts
Due: front

front: remove i18next-checker exception for upsertMapWaypointsInOperationalPoints()
  front/scripts/i18n-checker.ts
Due: front
