Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

front: crudInfra: removed setMustRefresh because it was ugly
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.js
  front/src/common/InfraSelector/InfraSelectorEditionActionsBarDelete.js
  front/src/common/InfraSelector/InfraSelectorEditionItem.js
  front/src/common/InfraSelector/InfraSelectorModal.js
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.js
  yarn.lock
Due: none

front: crudInfra: repair side damage on timetable selector
  front/src/applications/osrd/components/TimetableSelector/TimetableSelectorModal.js
  front/src/applications/osrd/views/OSRDConfig/OSRDConfig.scss
Due: none

front: crudInfra: Added lock/unlock & cosmetics changes
  front/public/locales/fr/infraManagement.json
  front/src/common/BootstrapSNCF/InputSNCF.js
  front/src/common/InfraSelector/InfraSelector.js
  front/src/common/InfraSelector/InfraSelector.scss
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.js
  front/src/common/InfraSelector/InfraSelectorEditionItem.js
  front/src/common/InfraSelector/InfraSelectorModal.js
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.js
  front/src/common/InfraSelector/InfraSelectorModalBodyStandard.js
Due: none

front: crudInfra: continue isolation of component
  front/public/locales/fr/infraManagement.json
  front/public/locales/fr/osrdconf.json
  front/src/applications/osrd/views/OSRDConfig/OSRDConfig.scss
  front/src/common/InfraSelector/InfraSelector.js
  front/src/common/InfraSelector/InfraSelector.scss
  front/src/common/InfraSelector/InfraSelectorModal.js
Due: none

front: crudInfra: delete ok
  front/package.json
  front/public/locales/fr/infraManagement.json
  front/src/applications/customget/views/CustomGET.js
  front/src/common/InfraSelector/Consts.js
  front/src/common/InfraSelector/InfraSelector.js
  front/src/common/InfraSelector/InfraSelector.scss
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.js
  front/src/common/InfraSelector/InfraSelectorEditionActionsBarDelete.js
  front/src/common/InfraSelector/InfraSelectorEditionItem.js
  front/src/common/InfraSelector/InfraSelectorModal.js
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.js
  front/src/common/InfraSelector/InfraSelectorModalBodyStandard.js
  front/yarn.lock
Due: none

front: crudInfra: some cosmetics changes, icons, harmonize styles
  front/public/locales/fr/infraManagement.json
  front/public/locales/fr/osrdconf.json
  front/public/locales/fr/rollingstock.json
  front/src/applications/osrd/components/TimetableSelector/TimetableSelectorModal.js
  front/src/applications/osrd/views/OSRDConfig/RollingStockSelector.js
  front/src/applications/osrd/views/OSRDConfig/SpeedLimitByTagSelector.js
  front/src/applications/osrd/views/OSRDConfig/TimetableSelector.js
  front/src/assets/pictures/timetable.svg
  front/src/assets/pictures/tracks.png
  front/src/assets/pictures/tracks.svg
  front/src/assets/pictures/tracks_edit.png
  front/src/assets/pictures/trains_timetable.png
  front/src/common/InfraSelector/InfraSelector.js
  front/src/common/InfraSelector/InfraSelector.scss
  front/src/common/InfraSelector/InfraSelectorModal.js
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.js
  front/src/common/InfraSelector/InfraSelectorModalBodyStandard.js
Due: none

front: crudInfra: added locked state
  front/public/locales/fr/infraManagement.json
  front/src/common/InfraSelector/InfraSelector.js
  front/src/common/InfraSelector/InfraSelector.scss
  front/src/common/InfraSelector/InfraSelectorModal.js
Due: none

front: have to desactivate resizing of map in simulation, we'll have to correct modal behaviour before
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.scss
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.tsx
Due: none

Nwz/crud infra (#2561)
  front/package.json
  front/public/locales/fr/infraManagement.json
  front/public/locales/fr/osrdconf.json
  front/public/locales/fr/rollingstock.json
  front/src/applications/customget/views/CustomGET.js
  front/src/applications/osrd/components/InfraSelector/InfraSelectorModal.js
  front/src/applications/osrd/components/TimetableSelector/TimetableSelectorModal.js
  front/src/applications/osrd/views/OSRDConfig/InfraSelector.js
  front/src/applications/osrd/views/OSRDConfig/OSRDConfig.js
  front/src/applications/osrd/views/OSRDConfig/OSRDConfig.scss
  front/src/applications/osrd/views/OSRDConfig/RollingStockSelector.js
  front/src/applications/osrd/views/OSRDConfig/SpeedLimitByTagSelector.js
  front/src/applications/osrd/views/OSRDConfig/TimetableSelector.js
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.scss
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.tsx
  front/src/assets/pictures/timetable.svg
  front/src/assets/pictures/tracks.png
  front/src/assets/pictures/tracks.svg
  front/src/assets/pictures/tracks_edit.png
  front/src/assets/pictures/trains_timetable.png
  front/src/common/BootstrapSNCF/InputSNCF.js
  front/src/common/InfraSelector/Consts.js
  front/src/common/InfraSelector/InfraSelector.js
  front/src/common/InfraSelector/InfraSelector.scss
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.js
  front/src/common/InfraSelector/InfraSelectorEditionActionsBarDelete.js
  front/src/common/InfraSelector/InfraSelectorEditionItem.js
  front/src/common/InfraSelector/InfraSelectorModal.js
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.js
  front/src/common/InfraSelector/InfraSelectorModalBodyStandard.js
  front/src/common/Map/Buttons/ButtonMapInfras.js
  front/src/common/Map/Buttons/MapButtons.js
  front/yarn.lock
  node_modules/.yarn-integrity
  yarn.lock
Due: none

first study
  front/src/applications/osrd/components/Simulation/SpaceTimeChart/createTrain.ts
  front/src/applications/osrd/components/Simulation/SpeedSpaceChart/d3Helpers.js
  front/src/applications/osrd/components/Simulation/SpeedSpaceChart/prepareData.ts
  front/src/applications/osrd/components/Simulation/drawArea.js
  front/src/reducers/osrdsimulation/types.ts
Due: none

front: editor - adding tooltip on button to select a tracksection on the map #2503
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/switchEdition/components.tsx
Due: none

core: make an adapter for the new infra APIs
  core/build.gradle
  core/src/main/java/fr/sncf/osrd/infra/api/reservation/DetectionSection.java
  core/src/main/java/fr/sncf/osrd/infra/api/reservation/ReservationInfra.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/Switch.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/DetectionSectionBuilder.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/DetectionSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/ReservationInfraBuilder.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/ReservationInfraImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/signaling/SignalingInfraImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/SimInfraAdapter.kt
  core/src/test/java/fr/sncf/osrd/infra/InfraHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/DummyRouteGraphBuilder.java
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/SimInfraAdapterTest.kt
Due: core

front: editor - fix issue when clicking on button 'select a tracksection' and you hovera signal for example (bug 4-bis in #2503)
  front/src/applications/editor/tools/switchEdition/components.tsx
Due: none

core: physics: compute the global energy of an envelope on a certain path and with a certain rolling stock
  core/src/main/java/fr/sncf/osrd/envelope/Envelope.java
  core/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.java
Due: core

eslint and exhaustive deps
  front/src/applications/osrd/components/Simulation/Allowances/Allowances.js
  front/src/applications/osrd/components/Simulation/Allowances/StandardAllowanceDefault.js
  front/src/applications/osrd/components/Simulation/Allowances/withOSRDData.tsx
  front/src/applications/osrd/components/Simulation/Allowances/withOSRDStdcmParams.tsx
  front/src/applications/stdcm/formatStcmConf.ts
Due: none

core: physics: make energy consumption result accessible in the API
  api/openapi.yaml
  core/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
Due: core

front: editor - when changing the position of a signal in the form, the item is also moved on the map
  front/src/applications/editor/tools/pointEdition/components.tsx
Due: none

Correct optim error
  front/src/applications/osrd/components/Simulation/Allowances/StandardAllowanceDefault.js
  front/src/applications/osrd/components/Simulation/Allowances/withOSRDStdcmParams.tsx
  front/src/applications/osrd/views/OSRDConfig/OSRDConfig.js
Due: none

fix gradle check errors
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
Due: core

correct error detection in case of multiple constraints having errors
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
Due: core

après trad
  front/public/locales/fr/allowances.json
Due: none

front: editor - fix new entity popin by not displaying default id & click on line for signals
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
Due: none

railjson: add the new signaling model
  api/osrd_infra/schemas/infra.py
  core/examples/generated/README.md
  core/examples/generated/example_script.py
  core/examples/generated/lib/railjson_generator/schema/infra/signal.py
  core/examples/generated/lib/railjson_generator/schema/infra/switch.py
  core/examples/generated/scripts/one_line.py
  core/examples/generated/scripts/small_infra.py
  core/examples/generated/scripts/three_trains.py
  core/examples/generated/scripts/tiny_infra.py
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSSignal.java
  editoast/src/schema/signal.rs
Due: core, editoast

Mji/pathfinding optimisation (#2613)
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
Due: core

conditionnal layout
  front/src/applications/osrd/components/Simulation/Allowances/StandardAllowanceDefault.js
Due: none

Fix grid margins
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMRequest.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/UnavailableSpaceBuilder.java
  core/src/test/java/fr/sncf/osrd/stdcm/UnavailableSpaceBuilderTests.java
Due: core

Front: Adn/add grid margin (#2596)
  front/public/locales/fr/allowances.json
  front/src/applications/osrd/components/Simulation/Allowances/Allowances.js
  front/src/applications/osrd/components/Simulation/Allowances/StandardAllowanceDefault.js
  front/src/applications/osrd/components/Simulation/Allowances/consts.js
  front/src/applications/osrd/components/Simulation/Allowances/withOSRDData.tsx
  front/src/applications/osrd/components/Simulation/Allowances/withOSRDStdcmParams.tsx
  front/src/applications/osrd/consts.ts
  front/src/applications/osrd/views/OSRDConfig/OSRDConfig.js
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.tsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/BootstrapSNCF/InputGroupSNCF.js
  front/src/reducers/osrdconf/index.ts
  front/src/utils/helpers.js
Due: none

front: edition - fixing issues (#2614)
  front/public/locales/fr/translation.json
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
Due: none

front: GraouImport: pathfinding ok
  front/public/locales/fr/graou.json
  front/src/applications/graou/components/Map.js
  front/src/applications/graou/components/generatePathfinding.js
  front/src/applications/graou/views/GraouImportModal.js
Due: none

front: importGraou: date & time added
  front/public/locales/fr/graou.json
  front/src/applications/graou/GraouImport.js
  front/src/applications/graou/components/StationSelector.js
  front/src/applications/graou/graou.scss
  front/src/applications/graou/views/GraouImportConfig.js
Due: none

front: some bugfixes
  front/src/applications/osrd/components/Itinerary/ModalSuggeredVias.js
  front/src/applications/osrd/views/OSRDConfig/Itinerary.js
  front/src/applications/osrd/views/OSRDSimulation/TrainList.js
  front/src/common/BootstrapSNCF/InputSNCF.js
Due: none

front: fast relooking homepage
  front/public/locales/fr/home.json
  front/public/locales/fr/translation.json
  front/src/main/Home/Home.css
  front/src/main/Home/Home.scss
  front/src/main/Home/index.js
Due: none

front: OpenDataImport: it's working !
  front/src/applications/opendata/components/generatePathfindingPayload.js
  front/src/applications/opendata/components/generateTrainSchedules.js
  front/src/applications/opendata/components/generateTrainSchedulesPayload.js
  front/src/applications/opendata/views/OpenDataImportModal.js
Due: none

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
