Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

core: snap train speed to speed constraints
  core/src/main/kotlin/fr/sncf/osrd/tsim/tsim.kt
Due: core

core: also sort reactions end speed
  core/src/main/kotlin/fr/sncf/osrd/tsim/tsim.kt
Due: core

core: add train sim v3
  core/src/main/kotlin/fr/sncf/osrd/tsim/range.kt
  core/src/main/kotlin/fr/sncf/osrd/tsim/tsim.kt
Due: core

core: handle stops
  core/src/main/kotlin/fr/sncf/osrd/tsim/onetrain.kt
Due: core

core: rework algorithmic structure
  core/src/main/kotlin/fr/sncf/osrd/tsim/onetrain.kt
  core/src/main/kotlin/fr/sncf/osrd/tsim/tsim.kt
Due: core

core: rewrite withStockLength with putLower and remove TODO
  core/src/main/kotlin/fr/sncf/osrd/tsim/range.kt
  core/src/main/kotlin/fr/sncf/osrd/tsim/tsim.kt
Due: core

Only apply stock length on speed limit properties
  core/src/main/kotlin/fr/sncf/osrd/tsim/onetrain.kt
Due: core

core: Make a standalone simulation out of train-sim v3
  core/src/main/kotlin/fr/sncf/osrd/api/standalone_sim/SimulationEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/tsim/onetrain.kt
  core/src/main/kotlin/fr/sncf/osrd/tsim/range.kt
Due: core

core: add arrival to stops even if arrival stop time is 0
  core/src/main/kotlin/fr/sncf/osrd/tsim/onetrain.kt
Due: core

core: use quad interpolation and rework reactToSpeedConstraint
  core/src/main/kotlin/fr/sncf/osrd/tsim/tsim.kt
Due: core

core: account for stock length in MRSP and neutral zones
  core/src/main/kotlin/fr/sncf/osrd/tsim/range.kt
  core/src/main/kotlin/fr/sncf/osrd/tsim/tsim.kt
Due: core

Fix pathItemTimes off by one
  core/src/main/kotlin/fr/sncf/osrd/tsim/onetrain.kt
Due: core

implement RangeMap.putLower with RangeMap.merge
  core/src/main/kotlin/fr/sncf/osrd/tsim/range.kt
Due: core

core: start simulation at position 0.0
  core/src/main/kotlin/fr/sncf/osrd/tsim/onetrain.kt
Due: core

core: add mrsp to report to see mrsp on the STD
  core/src/main/kotlin/fr/sncf/osrd/tsim/onetrain.kt
Due: core

core: separate, native tsim gradle project
  core/build.gradle
  core/gradle/libs.versions.toml
  core/settings.gradle
  core/src/main/kotlin/fr/sncf/osrd/tsim/tsim.kt
  core/tsim/README.md
  core/tsim/build.gradle.kts
  core/tsim/src/commonMain/kotlin/Main.kt
  core/tsim/src/nativeMain/kotlin/Main.kt
Due: core

core: account for the rolling stock's max speed
  core/src/main/kotlin/fr/sncf/osrd/tsim/onetrain.kt
  core/src/main/kotlin/fr/sncf/osrd/tsim/tsim.kt
Due: core

rename Instructions.mrsp to speedLimits
  core/src/main/kotlin/fr/sncf/osrd/tsim/tsim.kt
Due: core

front: remove unused const in osrdToNge
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/consts.ts
Due: front

front: set default stop time (2') from reticular creation
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/consts.ts
Due: front

front: fix search rollingStock
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockHelpers.tsx
  front/src/modules/rollingStock/hooks/useFilterRollingStock.ts
Due: front

editoast: adapt openapi to railway manager webservice
  editoast/openapi.yaml
  editoast/schemas/src/rolling_stock/train_category.rs
  editoast/schemas/src/tests/train_schedule_simple.json
  editoast/schemas/src/train_schedule.rs
  editoast/schemas/src/train_schedule/path_item.rs
  editoast/src/tests/track_occupancy/simple_train_schedule.json
  editoast/src/tests/train_schedule.json
  editoast/src/tests/train_schedules/simple.json
  editoast/src/tests/train_schedules/simple_array.json
  editoast/src/views/path/pathfinding.rs
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/__tests__/ngeToOsrd-output-discontinuousTrainrun.json
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/__tests__/formatTimetableItemPayload.spec.ts
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

chart: use schedule to determine if cronjob should be set up
  chart/templates/editoast/cronjob.yaml
  chart/values.yaml
Due: none

chart: add cronjob for editoast gc
  chart/templates/editoast/cronjob.yaml
  chart/values.yaml
Due: none

chart: add env variable to cronjob for editoast
  chart/templates/editoast/cronjob.yaml
Due: none

editoast: partial fix for stdcm payload logging
  editoast/src/views/timetable/stdcm.rs
Due: editoast

front: fix show hide op button not fitting in french
  front/src/styles/scss/common/components/_osrdMenu.scss
Due: front

front: add notes import from nge dto
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/__tests__/ngeToOsrd-inputDto-duplicateTrigrams.json
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/__tests__/ngeToOsrd-inputDto-roundTrip.json
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/__tests__/ngeToOsrd-output-discontinuousTrainrun.json
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/__tests__/ngeToOsrd-output-duplicateTrigrams.json
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/__tests__/ngeToOsrd-output-oneWay.json
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/__tests__/ngeToOsrd-output-roundTrip.json
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd.ts
Due: front

editoast: core_task: wrap Valkey connection in `Arc<Mutex<>>`
  editoast/core_task/src/envs/pathfinding.rs
  editoast/core_task/src/lib.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/path/properties.rs
Due: editoast

editoast: core_client: add guard in pattern matching
  editoast/core_client/src/lib.rs
Due: editoast

front: fix ESLint import/order errors
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCurves.tsx
  front/src/common/authorization/components/GrantsManagerSubjects.tsx
  front/src/reducers/osrdconf/operationalStudiesConf/index.ts
Due: front

WIP uom: define a custom system of units for Editoast
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/common/src/lib.rs
  editoast/common/src/unit_system.rs
  editoast/common/src/unit_system/amount_of_substance.rs
  editoast/common/src/unit_system/electric_current.rs
  editoast/common/src/unit_system/length.rs
  editoast/common/src/unit_system/luminous_intensity.rs
  editoast/common/src/unit_system/mass.rs
  editoast/common/src/unit_system/thermodynamic_temperature.rs
  editoast/common/src/unit_system/time.rs
Due: editoast

WIP Extend the ESQ with the composed units used in Editoast
  editoast/common/src/unit_system.rs
  editoast/common/src/unit_system/acceleration.rs
  editoast/common/src/unit_system/force.rs
  editoast/common/src/unit_system/frequency.rs
  editoast/common/src/unit_system/linear_mass_density.rs
  editoast/common/src/unit_system/linear_number_density.rs
  editoast/common/src/unit_system/mass_rate.rs
  editoast/common/src/unit_system/velocity.rs
Due: editoast

core: increase the precision of the etcs endpoint's braking curves
  core/src/main/kotlin/fr/sncf/osrd/api/etcs/ETCSBrakingCurvesEndpoint.kt
Due: core

front: refactor NGE page locators to use getByTestId
  front/tests/pages/operational-studies/nge-page.ts
Due: front
