Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front:stdcm: align things in sillons menus fixes #4481 https://github.com/osrd-project/osrd/issues/4481 front:stdcm: update classes for stdcm
  front/src/applications/stdcm/components/RunningTime.tsx
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
  front/src/modules/stdcmAllowances/components/StdcmAllowances.tsx
  front/src/styles/scss/common/components/_typeAndPath.scss
Due: front

editoast: add utoipa annotation for /stdcm
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/core/mod.rs
  editoast/src/core/simulation.rs
  editoast/src/fixtures.rs
  editoast/src/models/pathfinding.rs
  editoast/src/models/train_schedule.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/utils/identifier.rs
  editoast/src/tests/small_infra/stdcm/test_1/stdcm_post_expected_response.json
  editoast/src/views/mod.rs
  editoast/src/views/pagination.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/single_simulation.rs
  editoast/src/views/stdcm/mod.rs
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

front: propagate osrdEditoastApi evolutions for /stdcm and /pathfinding
  front/src/applications/editor/tools/routeEdition/utils.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/applications/stdcm/views/StdcmRequestModal.tsx
  front/src/common/Map/WarpedMap/SimulationWarpedMap.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/common/Pathfinding/TypeAndPath.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/simulationResult/components/SimulationResultsMap.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/SpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/SpeedSpaceChart.tsx
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleModal.tsx
  front/src/modules/trainschedule/components/ImportTrainSchedule/generateTrainSchedulesPayload.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Allowances/AllowancesModalOP.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Itinerary/Itinerary.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf2/common/tests/commonConfBuilder.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/types.ts
Due: front

editoast: add utoipa annotations for /pathfinding endpoints
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/utils/identifier.rs
  editoast/src/schema/utils/mod.rs
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/electrical_profiles.rs
  editoast/src/views/pathfinding/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

editoast(refactor): renaming 'OperationResult' into 'CacheOperation'
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/generated_data/buffer_stop.rs
  editoast/src/generated_data/catenary.rs
  editoast/src/generated_data/detector.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/mod.rs
  editoast/src/generated_data/neutral_section.rs
  editoast/src/generated_data/operational_point.rs
  editoast/src/generated_data/psl_sign.rs
  editoast/src/generated_data/signal.rs
  editoast/src/generated_data/speed_section.rs
  editoast/src/generated_data/switch.rs
  editoast/src/generated_data/track_section.rs
  editoast/src/generated_data/utils.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/schema/operation/mod.rs
  editoast/src/views/infra/edition.rs
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/types/railjson.ts
Due: editoast, front

editoast(feat): 'CacheOperation' only deals with 'ObjectCache'
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/utils.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/schema/operation/create.rs
  editoast/src/schema/operation/mod.rs
  editoast/src/views/infra/auto_fixes.rs
  editoast/src/views/infra/edition.rs
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/types/index.ts
  front/src/types/railjson.ts
Due: editoast, front

readme: improve core and tests doc
  core/README.md
  tests/README.md
Due: core

core: bump dependencies
  core/build.gradle
  core/gradle/libs.versions.toml
Due: core

front: fix text zoom on GET
  front/src/modules/simulationResult/components/ChartHelpers/drawText.ts
  front/src/modules/simulationResult/components/ChartHelpers/enableInteractivity.tsx
Due: front

core: adapt to new guava version
  core/src/test/java/fr/sncf/osrd/infra/InfraHelpers.java
Due: core

core: adapt to new spotbugs major version
  core/config/spotbugs/exclude-railjson.xml
  core/config/spotbugs/exclude.xml
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimContext.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/AbstractAllowanceWithRanges.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/MarecoAllowance.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Neutral.java
  core/osrd-geom/src/main/java/fr/sncf/osrd/geom/LineString.java
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/warnings/DiagnosticRecorderImpl.java
  core/src/main/java/fr/sncf/osrd/api/ConflictDetectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/ElectricalProfileSetManager.java
  core/src/main/java/fr/sncf/osrd/api/InfraCacheStatusEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/SpeedLimits.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Due: core

gateway: add opentelemetry
  .github/workflows/build.yml
  docker-compose.yml
  docker/docker-compose.host.yml
  docker/gateway.dev.host.toml
  docker/gateway.dev.simple.toml
  gateway/Cargo.lock
  gateway/Cargo.toml
  gateway/actix_proxy/Cargo.toml
  gateway/actix_proxy/src/lib.rs
  gateway/src/config.rs
  gateway/src/config_parser.rs
  gateway/src/main.rs
Due: gateway

scripts: diff_infra added to generate a patch between two infras
  scripts/diff-infra.py
Due: none

ci: add editoast clippy check
  .github/workflows/build.yml
  editoast/Dockerfile
Due: editoast

editoast: fix import warning
  editoast/src/schema/mod.rs
Due: editoast

editoast: add TrackSectionModel V2
  editoast/src/models/infra_objects/mod.rs
  editoast/src/models/infra_objects/track_section.rs
  editoast/src/modelsv2/infra_objects.rs
  editoast/src/modelsv2/mod.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
Due: editoast

editoast_derive: add ModelV2 attributes json, to_string, remote
  editoast/editoast_derive/src/lib.rs
  editoast/editoast_derive/src/modelv2.rs
Due: editoast

front: make indicator disappear after onclick event on the map
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Buttons/MapButtons.tsx
  front/src/common/Map/Layers/LineSearchLayer.tsx
  front/src/common/Map/Layers/SearchMarker.tsx
  front/src/common/Map/Search/MapSearch.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/MapSearchStation.tsx
  front/src/common/Map/utils.ts
  front/src/modules/simulationResult/components/SimulationResultsMap.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
Due: front

docker: parametrize postgis image in docker compose
  docker-compose.yml
  editoast/README.md
Due: editoast

editoast: add one explicit test for /errors endpoint
  editoast/src/schema/errors.rs
  editoast/src/views/infra/errors.rs
Due: editoast

front: change logo for xmas time
  assets/branding/osrd_small.svg
  assets/branding/osrd_small_dark.svg
  front/public/android-chrome-192x192.png
  front/public/android-chrome-512x512.png
  front/public/apple-touch-icon.png
  front/public/favicon-16x16.png
  front/public/favicon-32x32.png
  front/public/favicon.ico
  front/src/assets/fav-osrd-color.svg
  front/src/assets/logo-osrd-color-white.svg
Due: front

front: create/update API is now correctly defined in OpenAPI
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
