Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, front

actions: run CI on the merged commit
  .github/workflows/core.yml
  .github/workflows/editoast.yml
  .github/workflows/front.yml
  .github/workflows/integration_tests.yml
  .github/workflows/integration_tests_quality.yml
  .github/workflows/osrd_schemas.yml
Due: none

core: make detectors on a missing track a soft error
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
Due: core

editoast: replace NoTrainIdError by an empty list
  editoast/src/views/train_schedule/mod.rs
Due: editoast

editoast: rename assert_editoast_error_type macro
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/rolling_stocks/mod.rs
  editoast/src/views/single_simulation.rs
Due: editoast

editoast: set the minimum tile level to 5
  editoast/src/views/layers/mod.rs
Due: editoast

tests: improve runtime type checking (flake8 error)
  tests/tests/utils/approximations.py
Due: none

tests: develop our own deps to simplify testing
  tests/poetry.lock
  tests/pyproject.toml
Due: none

core: fix pathfinding validation
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.java
Due: core

core: throw error if the path contains duplicated tracks
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/ErrorType.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.java
Due: core

editoast: fix minzoom test
  editoast/src/views/layers/mod.rs
Due: editoast

core: add a lower bound to `coastFromEnd` low speed limit
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/mareco_impl/CoastingGenerator.java
  tests/tests/regression_tests_data/envelope_part_builder_assert.json
Due: core

front: Add minzoom = 5 for all editoast layers that missed a minZoom
  front/src/common/Map/Layers/Detectors.tsx
  front/src/common/Map/Layers/OperationalPoints.tsx
  front/src/common/Map/Layers/Switches.tsx
  front/src/common/Map/Layers/geographiclayers.ts
Due: front

core: fix how the allowance ranges are sorted
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/AbstractAllowanceWithRanges.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  tests/tests/regression_tests_data/allowance_not_enough_time.json
Due: core

editoast: fix signal angle generation
  editoast/src/generated_data/sql/generate_signal_layer.sql
  editoast/src/generated_data/sql/insert_update_signal_layer.sql
Due: editoast

core: have a better error when block has no path
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraBuilder.kt
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/ErrorType.java
Due: core

actions: bump dependencies
  .github/workflows/core.yml
  .github/workflows/docker-build-push-template.yml
  .github/workflows/front.yml
  .github/workflows/integration_tests.yml
  .github/workflows/osrd_schemas.yml
  .github/workflows/railjson_generator.yml
Due: none

front: fix #5659 - be able to save a track section geo modification
  front/src/applications/editor/tools/trackEdition/components.tsx
Due: front

front: allowances: fix allowances components
  front/src/applications/operationalStudies/consts.ts
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
  front/src/common/BootstrapSNCF/InputSNCF.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Allowances/AllowancesLinearView.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Allowances/AllowancesList.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Allowances/AllowancesListItem.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Allowances/AllowancesStandardSettings.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Allowances/__tests__/allowances.spec.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/Allowances/helpers.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/Allowances/types.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/modules/trainschedule/styles/ManageTrainSchedule/_allowances.scss
  front/src/reducers/osrdconf/index.ts
  front/src/utils/array.ts
Due: front

python: fix pydantic deprecation warnings (osrd_schemas)
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/pyproject.toml
Due: none

front: editor: fix route tool selection
  front/src/applications/editor/tools/routeEdition/components/Endpoints.tsx
  front/src/applications/editor/tools/routeEdition/components/WayPointInput.tsx
Due: front

editoast: cloning infra using cli
  editoast/src/client/mod.rs
  editoast/src/main.rs
  editoast/src/models/infra.rs
  editoast/src/views/infra/mod.rs
Due: editoast

editoast: fix utoipa annotations for /timetable endpoints
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/models/mod.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

front: s/InvalidTrainValues/TrainScheduleValidation
  front/src/modules/trainschedule/components/Timetable/TimetableTrainCard.tsx
Due: front

front: add placeholders in rolling stock editor form
  front/public/locales/en/rollingstock.json
  front/public/locales/fr/rollingstock.json
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorForm.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorFormHelpers.tsx
  front/src/modules/rollingStock/consts.ts
  front/src/modules/rollingStock/helpers/utils.ts
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
Due: front

front : fix margin card width
  front/src/applications/stdcm/components/RunningTime.tsx
  front/src/modules/stdcmAllowances/components/StdcmAllowances.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Itinerary/Itinerary.tsx
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  front: any of: front/
