Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true

chartos: retrieve fields dinamically
  chartos/chartos.yml
  chartos/chartos/config.py
  chartos/chartos/views.py
Due: none

api: add migration railjson v3
  api/osrd_infra/migrations/0006_railjson_v3.py
Due: none

generator: adapt to railjson v3
  core/examples/generated/lib/railjson_generator/rjs_static/switch_types.json
  core/examples/generated/lib/railjson_generator/schema/infra/catenary.py
  core/examples/generated/lib/railjson_generator/schema/infra/endpoint.py
  core/examples/generated/lib/railjson_generator/schema/infra/infra.py
  core/examples/generated/lib/railjson_generator/schema/infra/link.py
  core/examples/generated/lib/railjson_generator/schema/infra/operational_point.py
  core/examples/generated/lib/railjson_generator/schema/infra/range_elements.py
  core/examples/generated/lib/railjson_generator/schema/infra/route.py
  core/examples/generated/lib/railjson_generator/schema/infra/signal.py
  core/examples/generated/lib/railjson_generator/schema/infra/switch.py
  core/examples/generated/lib/railjson_generator/schema/infra/track_section.py
  core/examples/generated/lib/railjson_generator/schema/infra/waypoint.py
  core/examples/generated/lib/railjson_generator/utils/pathfinding.py
Due: core

core: adapt for railjson v3
  core/src/main/java/fr/sncf/osrd/api/pathfinding/GeomUtils.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/DirTrackRange.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathWaypointResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/RoutePathResult.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackSection.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/RJSObjectParsing.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/ReservationInfraBuilder.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/signaling/modules/bal3/BAL3.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/TrainPathBuilder.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/common/RJSWaypointRef.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSRoute.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSSwitch.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSSwitchType.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSTrackEndpoint.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSTrackSection.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSTrackSectionLink.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSBufferStop.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSSignal.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSTrackObject.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackobjects/RJSTrainDetector.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSApplicableDirectionsTrackRange.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/SingleDirectionalRJSTrackRange.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainPath.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultStops.java
  core/src/test/java/fr/sncf/osrd/api/PathfindingTest.java
  core/src/test/java/fr/sncf/osrd/api/STDCMEndpointTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/MaxSpeedEnvelopeTest.java
  core/src/test/java/fr/sncf/osrd/infra/InfraHelpers.java
  core/src/test/java/fr/sncf/osrd/infra/tracks/undirected/RJSParsingTests.java
Due: core

editoast: adapt for railjson v3
  editoast/openapi.yaml
  editoast/src/errors/graph.rs
  editoast/src/generate.rs
  editoast/src/infra.rs
  editoast/src/infra_cache.rs
  editoast/src/schema/operation/update.rs
  editoast/src/schema/operational_point.rs
  editoast/src/schema/signal.rs
  editoast/src/schema/switch.rs
  editoast/src/schema/switch_type.rs
  editoast/src/schema/track_section.rs
  editoast/src/schema/track_section_link.rs
Due: editoast

editoast: adapt errors new format
  editoast/src/errors/buffer_stops.rs
  editoast/src/errors/detectors.rs
  editoast/src/errors/mod.rs
  editoast/src/errors/operational_points.rs
  editoast/src/errors/routes.rs
  editoast/src/errors/signals.rs
  editoast/src/errors/speed_sections.rs
  editoast/src/errors/sql/buffer_stops_insert_errors.sql
  editoast/src/errors/sql/detectors_insert_errors.sql
  editoast/src/errors/sql/operational_points_insert_errors.sql
  editoast/src/errors/sql/routes_insert_errors.sql
  editoast/src/errors/sql/signals_insert_errors.sql
  editoast/src/errors/sql/speed_sections_insert_errors.sql
  editoast/src/errors/sql/switch_types_insert_errors.sql
  editoast/src/errors/sql/switches_insert_errors.sql
  editoast/src/errors/sql/track_section_links_insert_errors.sql
  editoast/src/errors/sql/track_sections_insert_errors.sql
  editoast/src/errors/switch_types.rs
  editoast/src/errors/switches.rs
  editoast/src/errors/track_section_links.rs
  editoast/src/errors/track_sections.rs
  editoast/src/infra_cache.rs
  editoast/src/schema/errors.rs
Due: editoast

editoast: replace ObjectRef
  editoast/src/errors/operational_points.rs
  editoast/src/errors/routes.rs
  editoast/src/errors/speed_sections.rs
  editoast/src/errors/switches.rs
  editoast/src/errors/track_section_links.rs
  editoast/src/infra_cache.rs
  editoast/src/layer/bounding_box.rs
  editoast/src/layer/sql/generate_buffer_stop_layer.sql
  editoast/src/layer/sql/generate_catenary_layer.sql
  editoast/src/layer/sql/generate_detector_layer.sql
  editoast/src/layer/sql/generate_operational_point_layer.sql
  editoast/src/layer/sql/generate_route_layer.sql
  editoast/src/layer/sql/generate_signal_layer.sql
  editoast/src/layer/sql/generate_speed_section_layer.sql
  editoast/src/layer/sql/generate_switch_layer.sql
  editoast/src/layer/sql/generate_track_section_link_layer.sql
  editoast/src/layer/sql/insert_catenary_layer.sql
  editoast/src/layer/sql/insert_operational_point_layer.sql
  editoast/src/layer/sql/insert_route_layer.sql
  editoast/src/layer/sql/insert_speed_section_layer.sql
  editoast/src/layer/sql/insert_update_buffer_stop_layer.sql
  editoast/src/layer/sql/insert_update_detector_layer.sql
  editoast/src/layer/sql/insert_update_signal_layer.sql
  editoast/src/layer/sql/insert_update_switch_layer.sql
  editoast/src/layer/sql/insert_update_track_section_link_layer.sql
  editoast/src/schema/buffer_stop.rs
  editoast/src/schema/catenary.rs
  editoast/src/schema/detector.rs
  editoast/src/schema/errors.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/operational_point.rs
  editoast/src/schema/route.rs
  editoast/src/schema/signal.rs
  editoast/src/schema/speed_section.rs
  editoast/src/schema/switch.rs
  editoast/src/schema/track_section.rs
  editoast/src/schema/track_section_link.rs
Due: editoast

api: add path waypoints information
  api/osrd_infra/models/path.py
  api/osrd_infra/schemas/path.py
  api/osrd_infra/tests/test_stdcm.py
  api/osrd_infra/views/stdcm.py
  api/osrd_infra/views/timetables/conflict_detection.py
  api/osrd_infra/views/train_schedule/standalone_simulation.py
  api/osrd_infra/views/train_schedule/train_schedule.py
  tests/tests/stdcm/between_trains.py
  tests/tests/stdcm/empty_timetable.py
  tests/tests/utils/timetable.py
Due: none

actions: fix integration tests python version to 3.9
  .github/workflows/integration_tests.yml
Due: none

front: adapt layers to railjson v3
  front/src/common/Map/Layers/OperationalPoints.js
  front/src/common/Map/Layers/TracksGeographic.js
  front/src/common/Map/Layers/TracksSchematic.js
  front/src/common/Map/Layers/geoSignalsLayers.ts
Due: none

tests: adapt integration tests
  api/osrd_infra/management/commands/setup_dummy_db.py
  api/osrd_infra/schemas/infra.py
  tests/fuzzer/fuzzer.py
  tests/tests/get_rolling_stocks.py
Due: none

api: add schema of railjson V3
  api/osrd_infra/models/generated.py
  api/osrd_infra/schemas/generated.py
  api/osrd_infra/schemas/infra.py
Due: none

api: railjson v3 fix references
  api/osrd_infra/schemas/generated.py
  api/osrd_infra/schemas/infra.py
  api/osrd_infra/schemas/path.py
  api/osrd_infra/views/pathfinding.py
  api/osrd_infra/views/projection.py
  api/osrd_infra/views/train_schedule/standalone_simulation.py
  api/osrd_infra/views/train_schedule/standalone_simulation_report.py
Due: none

editoast: bump thiserror to 1.0/37 and clap to 4.0.8
  editoast/Cargo.lock
  editoast/Cargo.toml
Due: editoast
