Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

editoast: adapt create paced train endpoint
  editoast/openapi.yaml
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/train_schedule_set.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

front: rewrite operationalPointReferences with a map() in usePathOps()
  front/src/applications/operationalStudies/hooks/usePathOps.ts
Due: front

front: make usePathOps() return a Map
  front/src/applications/operationalStudies/hooks/usePathOps.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResultsMap.tsx
  front/src/modules/timesStops/hooks/useOutputTableData.ts
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
Due: front

front: add useDebounce and useDebounceFunc tests
  front/src/utils/hooks/__tests__/useDebounce.spec.ts
Due: front

front: fix occupancy blocks display for exceptions
  front/src/applications/operationalStudies/helpers/TrainOpProjectionLazyLoader.ts
  front/src/applications/operationalStudies/helpers/TrainTrackProjectionLazyLoader.ts
Due: front

front: set maxHeight to ResizableSection
  front/src/applications/operationalStudies/views/Scenario/components/NGE/NGE.tsx
  front/src/common/ResizableSection.tsx
Due: front

front: attempt to fix test
  front/src/applications/stdcm/components/StdcmForm/StdcmCard.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmDefaultCard.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmLinkedTrainSearch.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
  front/src/common/SpeedLimitTagSelector/SpeedLimitTagSelector.tsx
  front/tests/pages/stdcm/consist-section.ts
Due: front

front: stdcm: add className at top level of StdcmCard and StdcmDefaultCard
  front/src/applications/stdcm/components/StdcmForm/StdcmCard.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmDefaultCard.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmDestination.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
  front/src/applications/stdcm/styles/_card.scss
Due: front

front: stdcm: move consistChange cards to StdcmVias and add separator when consist change placeholder is present
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
  front/src/reducers/osrdconf/types.ts
Due: front

front: stdcm: refactor from flex to grid
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/styles/_card.scss
  front/src/applications/stdcm/styles/_home.scss
  front/src/applications/stdcm/styles/_linkedTrain.scss
Due: front

front: move useDebounce and useDebouncedFunc in hooks folder
  front/src/applications/operationalStudies/components/FilterTextField.tsx
  front/src/applications/operationalStudies/hooks/useOperationalPointSearch.ts
  front/src/applications/operationalStudies/views/Scenario/components/RoundTrips/RoundTripsModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/useFilterTimetableItems.ts
  front/src/applications/stdcm/components/StdcmForm/StopDurationInput.tsx
  front/src/common/BootstrapSNCF/FormSNCF/DebouncedNumberInputSNCF.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/useSearchOperationalPoint.tsx
  front/src/common/NavBar/UserSettings.tsx
  front/src/common/useSearchUsers.ts
  front/src/modules/infra/components/InfraSelector/InfraSelectorModal.tsx
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPath.tsx
  front/src/modules/project/components/AddOrEditProjectModal.tsx
  front/src/utils/helpers.ts
  front/src/utils/hooks/useDebounce.ts
Due: front

front: itinerary-modal - fix path step being clearing
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/PathStepItem.tsx
Due: front

front: fix map kinetic panning
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/BaseMap.tsx
  front/src/reducers/referenceMap/index.ts
Due: front

editoast: authz: migrate `add_roles` to next `authz` paradigm
  editoast/authz/src/model.rs
  editoast/authz/src/v2.rs
  editoast/src/client/roles.rs
Due: editoast

editoast: replace old `grant_user_roles` and `grant_group_roles`
  editoast/authz/src/authorizer.rs
  editoast/authz/src/lib.rs
  editoast/authz/src/model.rs
  editoast/authz/src/regulator.rs
  editoast/src/views/test_app.rs
Due: editoast

editoast: client: extract OpenFGA client creation from config
  editoast/src/client/openfga_config.rs
Due: editoast

front: add overflow hidden to the SpeedDistanceDiagramWrapper to prevent flickering
  front/src/modules/simulationResult/components/SpeedDistanceDiagram/SpeedDistanceDiagramWrapper.tsx
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Due: front

editoast: adapt simulation summary endpoint
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  editoast/src/views/timetable/paced_train.rs
  front/src/applications/operationalStudies/helpers/TrainSimulationLazyLoader.ts
  front/src/applications/operationalStudies/hooks/useLazySimulateTrains.ts
  front/src/applications/stdcm/hooks/useLinkedTrainSearch.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/config/openapi-editoast-config.cts
  front/src/modules/simulationResult/helpers/formatTimetableItemSummaries.ts
  front/src/modules/timetableItem/helpers/formatTimetableItemWithDetails.ts
Due: editoast, front

core: add kotlinx-benchmark and bench infra loading
  core/build.gradle
  core/gradle/libs.versions.toml
  core/src/test/kotlin/fr/sncf/osrd/BenchLoadRailJSON.kt
Due: core

front: editor: fix cursor when panning
  front/src/applications/editor/Map.tsx
Due: front

front: editor: simplify mapState to isDragging
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/trackEdition/tool.tsx
  front/src/applications/editor/tools/trackSplit/tool.tsx
  front/src/applications/editor/types.ts
Due: front

editoast: train schedule exceptions make occurrence_index non null
  editoast/openapi.yaml
  editoast/schemas/src/train_schedule_exception.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: adapt occupancy blocks endpoints to the renaming of paced train to train schedule
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  editoast/src/views/timetable/paced_train.rs
  front/openapi.yaml
  front/src/applications/operationalStudies/helpers/TrainOpProjectionLazyLoader.ts
  front/src/applications/operationalStudies/helpers/TrainTrackProjectionLazyLoader.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/config/openapi-editoast-config.cts
Due: editoast, front

editoast: truncate macro_node.trigram before migration
  editoast/migrations/2026-03-03-100000_increase_macro_node_trigram_length/down.sql
Due: editoast

front: fix timetable cache invalidation on train creation
  front/src/common/api/osrdEditoastApi.ts
Due: front

front: fix timetable cache invalidation on train set operation
  front/src/common/api/osrdEditoastApi.ts
Due: front

chart: use timestamped versions for non prod versions
  .github/workflows/chart-build.yml
Due: none

front: editor: code refactoring map component for editor
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/MapFocusSelection.tsx
  front/src/applications/editor/tools/utils.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/ItineraryModalMap.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/ManageTimetableItemMap/ManageTimetableItemMap.tsx
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/BaseMap.tsx
  front/src/common/Map/Buttons/MapButtons.tsx
  front/src/common/Map/DefaultBaseMap.tsx
  front/src/common/Map/Search/MapSearch.tsx
Due: front

github: add https://demo.osrd.fr/ environment to bug issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

front: editor: code refactoring map component for editor (2)
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EditorUrlSelection.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorMapControl.tsx
  front/src/applications/editor/tools/utils.ts
Due: front

core: hold extra caches directly in the FullInfra objects
  core/src/main/kotlin/fr/sncf/osrd/api/FullInfra.kt
  core/src/main/kotlin/fr/sncf/osrd/pathfinding/Pathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/pathfinding/constraints/CachedBlockConstraintCombiner.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMHeuristic.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/utils/CachedBlockMRSPBuilder.kt
  core/src/test/java/fr/sncf/osrd/utils/graph/PathfindingTests.kt
  core/src/test/kotlin/fr/sncf/osrd/utils/DummyInfra.kt
Due: core

core: pathfinding: use mrsp cache across requests
  core/src/main/kotlin/fr/sncf/osrd/pathfinding/Pathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/utils/CachedBlockMRSPBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/utils/DummyInfra.kt
Due: core

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
