Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

front: remove keycloak.json
  front/src/keycloak/keycloak.json
Due: none

front: REACT_APP_KEYCLOAK_REALM is 'shared' by default
  front/launch_dev_front.sh
  front/src/config/config.js
Due: none

front: remove unnecessary config files for keycloak & config.js (#1707)
  front/launch_dev_front.sh
  front/launch_local_front.sh
  front/src/config/config.js
  front/src/config/config.staging.js
  front/src/keycloak/index.js
  front/src/keycloak/keycloak.json
  front/src/keycloak/keycloak.staging.json
Due: none

tests: stdcm: add test with target path between two trains
  tests/tests/stdcm/between_trains.py
Due: none

tests: integration: add normal pathfinding test with same point as stdcm
  tests/tests/pathfinding_small_infra.py
Due: none

editoast: handle secret key
  docker-compose-mac.yml
  docker-compose.yml
  editoast/src/client/mod.rs
  editoast/src/main.rs
  tests/run_integration_tests.py
Due: editoast

front: fix dockerfile adding keycloack realm env var
  front/Dockerfile
Due: none

front: fix dockerfile adding keycloack realm env var (#1709)
  front/Dockerfile
Due: none

front: fix displaying speed limits by tag
  front/src/common/Map/Layers/SpeedLimits.js
Due: none

core: ertms: wip
  core/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimContext.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeDeceleration.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Due: core

chartos: fix config speed limits
  chartos/chartos.yml
Due: none

api: merge migrations and adapt jsonschema validator
  api/osrd_infra/migrations/0001_initial.py
  api/osrd_infra/migrations/0002_railjson_v2_2_1.py
  api/osrd_infra/migrations/0003_tracklinklayer.py
  api/osrd_infra/migrations/0004_add_loading_gauges.py
  api/osrd_infra/migrations/0005_add_switch_label.py
  api/osrd_infra/migrations/0006_switchlayer.py
  api/osrd_infra/migrations/0007_add_rolling_stock_type.py
  api/osrd_infra/migrations/0008_add_path_route_type.py
  api/osrd_infra/migrations/0009_detectorlayer.py
  api/osrd_infra/migrations/0010_bufferstoplayer.py
  api/osrd_infra/migrations/0011_railjson_v2_2_4.py
  api/osrd_infra/migrations/0012_routelayer.py
  api/osrd_infra/migrations/0013_operationalpointlayer.py
  api/osrd_infra/migrations/0014_add_object_outside_path_error.py
  api/osrd_infra/migrations/0015_add_empty_path_error.py
  api/osrd_infra/migrations/0016_add_route_errors.py
  api/osrd_infra/migrations/0017_alter_errorlayer_information.py
  api/osrd_infra/migrations/0018_update_allowance_models.py
  api/osrd_infra/migrations/0019_add_signal_default_aspect.py
  api/osrd_infra/migrations/0020_railjson_v2_3_0.py
  api/osrd_infra/migrations/0021_alter_pathmodel_payload.py
  api/osrd_infra/migrations/0022_alter_errorlayer_information.py
  api/osrd_infra/migrations/0023_alter_operational_points.py
  api/osrd_infra/migrations/0024_rolling_stok_v2_1.py
  api/osrd_infra/migrations/0025_alter_rollingstock_fields.py
  api/osrd_infra/migrations/0026_catenarylayer.py
  api/osrd_infra/migrations/0027_alter_catenarylayer_schematic.py
  api/osrd_infra/models/generated.py
  api/osrd_infra/models/infra.py
  api/osrd_infra/models/path.py
  api/osrd_infra/models/rolling_stock.py
  api/osrd_infra/models/train_schedule.py
  api/osrd_infra/utils.py
  api/poetry.lock
  api/pyproject.toml
Due: none

scripts: fix load-generated-infra
  scripts/load-generated-infra.sh
Due: none

core: fix rjs speed sections parsing
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/SpeedLimits.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSSpeedSection.java
Due: core

core: ertms : compute gammaBrakeEmergency
  core/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimContext.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/ertms/etcs/BrakingCurves.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Due: core

core: ertms: error management for rolling stock gamma queries
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Due: core

core: ertms: implement BrakingCurves
  core/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimContext.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxSpeedEnvelope.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/ertms/etcs/BrakingCurves.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
Due: core

core: ertms: create tests for EBD braking curves
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/ertms/etcs/BrakingCurves.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/envelope/EnvelopeTestUtils.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/MaxSpeedEnvelopeTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/ETCSBrakingCurvesTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/MRSPEnvelopeBuilderTest.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
Due: core

core: ertms: implement SBD (wip)
  core/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/ertms/etcs/BrakingCurves.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/ETCSBrakingCurvesTest.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
Due: core

core: ertms: wip
  core/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopePath.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimContext.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsPath.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/allowances/mareco_impl/AcceleratingSlopeCoast.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/ertms/etcs/BrakingCurves.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/envelope_physics/TrainPhysics.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopePathTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/FlatPath.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/ETCSBrakingCurvesTest.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
Due: core

core: ertms: re-arrange useCases in TrainPhysicsIntegrator until it works
  core/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/ETCSBrakingCurvesTest.java
Due: core

core: ertms: update values of ETCS coefficients in TestTrains
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
Due: core

core: ertms: fix tests
  core/examples/rolling_stocks/fast_rolling_stock.json
  core/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  core/examples/rolling_stocks/short_fast_rolling_stock.json
  core/examples/rolling_stocks/short_slow_rolling_stock.json
  core/examples/rolling_stocks/slow_rolling_stock.json
  core/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimContext.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/MaxSpeedEnvelopeTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/ETCSBrakingCurvesTest.java
Due: core

core: ertms: introducing constant values and new correction factors
  core/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/ertms/etcs/FixedValueData.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/ertms/etcs/NationalDefaultData.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Due: core

core: ertms: implement GUI
  core/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/allowances/mareco_impl/AcceleratingSlopeCoast.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/ertms/etcs/BrakingCurves.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/envelope_physics/TrainPhysics.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/ETCSBrakingCurvesTest.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
Due: core

front: added speedlimitbytag choice
  front/public/locales/fr/osrdconf.json
  front/src/applications/osrd/views/OSRDConfig/OSRDConfig.js
  front/src/applications/osrd/views/OSRDConfig/SpeedLimitByTagSelector.js
  front/src/assets/pictures/speedometer.svg
  front/src/reducers/osrdconf.js
Due: none

front: threedots for displaying speedlimitbytag selector
  front/src/applications/osrd/views/OSRDConfig/SpeedLimitByTagSelector.js
Due: none

front: SelectSNCF hooked & simplified
  front/src/common/BootstrapSNCF/SelectSNCF.js
Due: none

front: first version of improved SNCF select
  front/src/applications/osrd/views/OSRDConfig/OSRDConfig.scss
  front/src/applications/osrd/views/OSRDConfig/SpeedLimitByTagSelector.js
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.js
  front/src/common/BootstrapSNCF/SelectSNCF.js
Due: none

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
