Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: adapt occupancy blocks endpoint (#15765)
  editoast/openapi.yaml
  editoast/src/views/timetable/occupancy_blocks.rs
  editoast/src/views/timetable/paced_train.rs
  front/src/applications/operationalStudies/helpers/TrainOpProjectionLazyLoader.ts
  front/src/applications/operationalStudies/helpers/TrainTrackProjectionLazyLoader.ts
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: adapt level crossing occupancy endpoint with new exceptions (#15930)
  editoast/openapi.yaml
  editoast/src/models/train_schedule.rs
  editoast/src/views/level_crossing_occupancy.rs
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/simulationResult/components/Chronogram/ChronogramWrapper.tsx
  front/src/modules/simulationResult/components/Chronogram/useLevelCrossingsWithChronogram.ts
Due: editoast, front

editoast: adapt etcs braking curves endpoint (#15796)
  editoast/openapi.yaml
  editoast/src/views/timetable/paced_train.rs
  front/src/applications/operationalStudies/hooks/useEtcsBrakingCurves.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

front: fix invalidatesTags error
  front/src/common/api/osrdEditoastApi.ts
Due: front

editoast: fix editoast lint error
  editoast/src/models/train_schedule.rs
Due: editoast

editoast: adapt simulation endpoint with new exceptions (#15695)
  editoast/openapi.yaml
  editoast/src/views/timetable/paced_train.rs
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
  tests/tests/test_paced_train.py
Due: editoast, front

front: use local state instead of API call in useSelectedTimetableItem (#16118)
  front/src/applications/operationalStudies/hooks/useEtcsBrakingCurves.ts
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
  front/src/modules/timetableItem/hooks/useSelectedTimetableItem.tsx
Due: front

front: create exception when train is update (#15497)
  front/src/applications/operationalStudies/helpers/TrainOpProjectionLazyLoader.ts
  front/src/applications/operationalStudies/helpers/TrainTrackProjectionLazyLoader.ts
  front/src/applications/operationalStudies/helpers/upsertNewProjectedTrains.ts
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/trainrun.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/CreateTimetableItemButton.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/__tests__/formatTimetableItemPayload.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/__tests__/generatePacedTrainException.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/buildPacedTrainException.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/formatTimetableItemPayload.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/hooks/useUpdateTimetableItem.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrenceActions.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrences.ts
  front/src/modules/conflict/__tests__/utils.spec.ts
  front/src/modules/conflict/utils.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/__tests__/makeProjectedItems.spec.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/makeProjectedItems.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useHandleInvalidProjections.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useTrackOccupancy.ts
  front/src/modules/simulationResult/types.ts
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
  front/src/modules/timetableItem/helpers/formatTimetableItemWithDetails.ts
  front/src/modules/timetableItem/helpers/pacedTrain.ts
  front/src/modules/timetableItem/helpers/updateTimetableItemHelpers.ts
  front/src/utils/__tests__/trainId.spec.ts
  front/src/utils/trainId.ts
  front/src/utils/types.ts
Due: front

front: optimize TimesStopsTable row filtering
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
Due: front

gateway: add identity_claim_field to the OIDC configuration
  gateway/actix_auth/src/providers/oidc.rs
  gateway/src/config.rs
  gateway/src/config_parser.rs
Due: gateway

editoast: cleanup train schedule occurrences utilities
  editoast/src/models/train_schedule.rs
  editoast/src/views/level_crossing_occupancy.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/paced_train.rs
Due: editoast

editoast: cleanup train schedule occurrences utilities (#16121)
  editoast/src/models/train_schedule.rs
  editoast/src/views/level_crossing_occupancy.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/paced_train.rs
Due: editoast

front: ensures the edit only applies to the specific occurrence it was made on
  front/src/modules/timesStops/TimesStopsOutput.tsx
Due: front

core: docs: update stdcm debugging tips
  core/stdcm_debugging_tips.md
Due: core

editoast: stdcm: filter stream events
  editoast/src/views/timetable/stdcm.rs
Due: editoast

ui-core: center checkbox tick
  front/ui/ui-core/src/styles/inputs/checkbox.css
Due: front

front: fix crash when editing a train with unmatched path steps
  front/src/modules/pathfinding/utils.ts
Due: front

front: fix end2end tests
  front/tests/utils/send-exceptions.ts
  front/tests/utils/setup-utils.ts
Due: front

editoast: fix the number of generated occurrences
  editoast/schemas/src/paced_train.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/train_schedule_set.rs
Due: editoast

front: add dots to empty calculated departure time cells
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/src/modules/timesStops/styles/_timesStopsTable.scss
Due: front

editoast: replace paced_train.rs with train_schedule.rs in views
  editoast/src/views/mod.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/train_schedule.rs
  editoast/src/views/train_schedule_set.rs
Due: editoast

front: stdcm: adding delay on points that are received at same time
  front/src/applications/stdcm/components/StdcmMapProgressLayer.tsx
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/applications/stdcm/types.ts
  front/src/common/api/editoastStream/postTimetableByIdStdcm.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/utils/__tests__/color.spec.ts
  front/src/utils/__tests__/numbers.spec.ts
  front/src/utils/color.ts
  front/src/utils/numbers.ts
Due: front

editoast: remove useless dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Due: editoast

front: extract shared SkeletonLoader component from loading placeholders
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/ArrivalTimeLoader.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/UniqueTrainItem.tsx
  front/src/common/Loaders/SkeletonLoader.scss
  front/src/common/Loaders/SkeletonLoader.tsx
  front/src/common/Loaders/index.ts
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/src/modules/timesStops/styles/_timesStopsTable.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Due: front

editoast: handle consists changes in stdcm endpoint
  editoast/openapi.yaml
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/request.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Due: editoast, front

front: fix getRowDayOffset function to display well day change banner in times stops table
  front/src/modules/timesStops/TimesStopsTable.tsx
Due: front

editoast: api: add backtrack property to core client pathfinding, simulation and stdcm
  editoast/core_client/src/pathfinding.rs
  editoast/core_client/src/simulation.rs
  editoast/core_client/src/stdcm.rs
  editoast/core_task/src/envs/pathfinding.rs
  editoast/core_task/src/envs/simulation.rs
  editoast/core_task/src/envs/simulation/request.rs
  editoast/openapi.yaml
  editoast/src/views/level_crossing_occupancy.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/request.rs
  editoast/src/views/timetable/track_occupancy.rs
Due: editoast

core: api: add backtrack property to pathfinding, simulation and stdcm
  core/src/main/kotlin/fr/sncf/osrd/api/CommonSchemas.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlockRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlockResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/api/standalone_sim/SimulationRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMRequest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/ConsistChangeTests.kt
Due: core

tests: adapt tests to backtrack api changes
  tests/fuzzer/fuzzer.py
  tests/tests/path.py
  tests/tests/test_pathfinding.py
Due: none

front: adapt calculateTimeDifferenceInDays function and tests
  front/src/utils/__tests__/timeManipulation.spec.ts
  front/src/utils/timeManipulation.ts
Due: front
