Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: show the catalog selection above the name field
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainScheduleSet/TrainScheduleSetForm.tsx
Due: front

front: clarify submit button label on train set edition modal
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainScheduleSet/TrainScheduleSetTab.tsx
Due: front

front: add a placeholder on train set (series) name
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainScheduleSet/TrainScheduleSetForm.tsx
Due: front

editoast: adapt track occupancy endpoint to the renaming of paced train to train schedule
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  editoast/src/views/timetable/paced_train.rs
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
  front/src/modules/timetableItem/helpers/updateTimetableItemHelpers.ts
  tests/tests/test_paced_train.py
  tests/tests/test_train_schedule.py
Due: editoast, front

editoast: adapt get paced trains from train schedule set endpoint to the renaming of the paced train to train schedule
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  editoast/src/views/train_schedule_set.rs
  front/src/applications/operationalStudies/hooks/useScenarioTrainScheduleSet.ts
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

editoast: add apply_train_schedule_exception
  editoast/src/models/fixtures.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/train_schedule_exceptions.rs
Due: editoast

editoast: use an unbounded channel in the mq_client
  editoast/core_client/src/mq_client.rs
Due: editoast

editoast: adapt CoreClient to handle multiple responses
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/core_client/Cargo.toml
  editoast/core_client/src/lib.rs
  editoast/core_client/src/mq_client.rs
  editoast/core_client/src/path_properties.rs
  editoast/core_client/src/pathfinding.rs
  editoast/core_client/src/simulation.rs
  editoast/core_task/Cargo.toml
Due: editoast

front: add info for unrecognized waypoints in new itinerary interface
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/PathStepItem.tsx
Due: front

osm_to_railjson: add trigram to operational points
  editoast/osm_to_railjson/src/osm_to_railjson.rs
  editoast/osm_to_railjson/src/tests/station.osm.pbf
  editoast/osm_to_railjson/src/utils.rs
Due: editoast

editoast: replace track_reference with local_track_name
  editoast/openapi.yaml
  editoast/src/views/path/operational_point_cache.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/track_occupancy.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useTrackOccupancy.ts
Due: editoast, front

tests: update fuzzer with the latest breaking API changes
  tests/fuzzer/fuzzer_stdcm_single_timetable.py
Due: none

front: improve labels in moving train set modal
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainScheduleSet/TrainScheduleSetSelect.tsx
Due: front

front: support missing uic in old itinerary page
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/ManageTimetableItemMap/AddPathStepPopup.tsx
Due: front

front: adapt the track occupancy diagram to display tracks for all ops
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useTrackOccupancy.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useWaypointMenu.tsx
Due: front

wip
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useTrackOccupancy.ts
Due: front

editoast: rename path_project endpoint
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  editoast/src/views/timetable/paced_train.rs
  front/src/applications/operationalStudies/helpers/TrainOpProjectionLazyLoader.ts
  front/src/applications/operationalStudies/helpers/TrainTrackProjectionLazyLoader.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/config/openapi-editoast-config.cts
  tests/tests/test_timetable.py
Due: editoast, front

editoast: adapt track occupancy endpoint to the renaming of paced train to train schedule
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  editoast/src/views/timetable/paced_train.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/zones.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useTrackOccupancy.ts
Due: editoast, front

front: create exception when train is duplicate
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/CreateTimetableItemButton.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/__tests__/formatTimetableItemPayload.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/formatTimetableItemPayload.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/CalendarTrainList.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrences.ts
  front/src/modules/timetableItem/types.ts
  front/src/utils/trainId.ts
Due: front

front: invalidate rtk cache on exception creation
  front/src/common/api/osrdEditoastApi.ts
Due: front

front: fix time input not saved when seconds are omitted on blur
  front/src/modules/timesStops/TimeCell.tsx
Due: front

front: fix computed arrival snapping to requested time within tolerance
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
Due: front

front: rename TimeCell reducer state computation helpers
  front/src/modules/timesStops/TimeCell.tsx
Due: front

front: fix step status color shown without requested arrival
  front/src/modules/timesStops/TimesStopsTable.tsx
Due: front

core: store a single constraint in infra explorer implementations
  core/src/main/kotlin/fr/sncf/osrd/pathfinding/Pathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelope.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerTests.kt
Due: core

editoast: use prebuilt binary to install diesel_cli
  editoast/Dockerfile
Due: editoast

front: fix add-pathitem button too big, remove border from delete-pathitem button
  front/src/styles/scss/applications/operationalStudies/_itineraryModal.scss
Due: front

front: fix isEmptyStep function to handle delete pathsteps
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/Itinerary/PathStepItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/pathStepsActions.ts
  front/src/styles/scss/applications/operationalStudies/_itineraryModal.scss
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
