Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: speedspacechart: fix last electrical profile in GEV
  front/src/applications/operationalStudies/utils.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/__tests__/helpers.spec.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/helpers.ts
Due: front

front: fix time display, use utc for hour conversion
  front/src/modules/timesStops/helpers/__tests__/formatScheduleData.spec.ts
  front/src/utils/timeManipulation.ts
Due: front

core: stdcm: extract min time from heuristic
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMHeuristic.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMNode.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/STDCMHeuristicTests.kt
Due: core

front: fix electrification tags display on power restriction selector
  front/src/modules/powerRestriction/hooks/usePowerRestrictionSelectorData.ts
Due: front

front: rename pathElectrifications in voltage ranges in power restrictions selector
  front/src/modules/powerRestriction/helpers/powerRestrictionWarnings.ts
  front/src/modules/powerRestriction/hooks/usePowerRestrictionSelectorData.ts
Due: front

core: clean up logging, log some element during stdcm search
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/AbstractAllowanceWithRanges.java
  core/osrd-geom/src/main/java/fr/sncf/osrd/geom/Point.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/ProgressLogger.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMHeuristic.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
Due: core

front: retire old lint error script
  front/package.json
  front/scripts/lint-formatter.js
Due: front

front: send track offset in mm in train schedule v2 requests
  front/src/applications/stdcm/utils/formatStdcmConfV2.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/checkCurrentConfig.ts
Due: front

core: add test on all type of incompatible RS constraints
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/MockSigSystemManager.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SigSystemManagerImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlockResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlocksEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingV2Test.kt
Due: core

core: project RS constraints on the relaxed path
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/MockSigSystemManager.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SigSystemManagerImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlocksEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/constraints/SignalingSystemConstraints.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingV2Test.kt
Due: core

core: change interface for pathfinding errors on rolling-stock constraints
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlockResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlocksEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingPostProcessing.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingV2Test.kt
Due: core

core: throw a dedicated error when relaxed path search timed out
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/ErrorType.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlocksEndpointV2.kt
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
Due: core, front

core: add validation of relaxed path
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlocksEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
Due: core

front: synchronize input table arrival/departure/stop
  front/src/common/types.ts
  front/src/modules/timesStops/TimesStops.tsx
  front/src/modules/timesStops/helpers/utils.ts
  front/src/modules/timesStops/hooks/useTimeStopsColumns.ts
Due: front

front: stop showing arrival not honored warning due to rounding errors.
  front/src/common/types.ts
  front/src/modules/timesStops/consts.ts
  front/src/modules/timesStops/helpers/__tests__/arrivalTime.spec.ts
  front/src/modules/timesStops/helpers/__tests__/scheduleData.spec.ts
  front/src/modules/timesStops/helpers/arrivalTime.ts
  front/src/modules/timesStops/helpers/formatScheduleData.ts
  front/src/modules/timesStops/helpers/scheduleData.ts
  front/src/modules/timesStops/hooks/useOutputTableData.ts
  front/src/modules/timesStops/types.ts
Due: front

core: add worker mode
  core/build.gradle
  core/gradle/libs.versions.toml
  core/osrd-reporting/build.gradle
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/ErrorCause.java
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/OSRDError.java
  core/src/main/java/fr/sncf/osrd/App.java
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
  docker/docker-compose.core-test.yml
  scripts/build-core.sh
  scripts/drop-core.sh
Due: core

osrdyne: initial commit
  .github/CODEOWNERS
  .github/scripts/bake-metadata.py
  .github/workflows/build.yml
  docker-compose.yml
  docker/docker-bake-simple.hcl
  docker/docker-bake.hcl
  docker/docker-compose.host.yml
  docker/osrdyne.yml
  osrdyne/.dockerignore
  osrdyne/.gitignore
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
  osrdyne/Dockerfile
  osrdyne/src/api.rs
  osrdyne/src/config.rs
  osrdyne/src/drivers.rs
  osrdyne/src/drivers/docker.rs
  osrdyne/src/drivers/kubernetes.rs
  osrdyne/src/drivers/noop.rs
  osrdyne/src/drivers/worker_driver.rs
  osrdyne/src/key.rs
  osrdyne/src/main.rs
  osrdyne/src/management_client.rs
  osrdyne/src/pool.rs
  osrdyne/src/queue_controller.rs
  osrdyne/src/target_tracker.rs
  osrdyne/src/target_tracker/actor.rs
  osrdyne/src/target_tracker/client.rs
  osrdyne/src/watch_logger.rs
Due: none

editoast: use core worker through rabbitmq
  docker-compose.yml
  docker/docker-compose.host.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/client/mod.rs
  editoast/src/client/postgres_config.rs
  editoast/src/core/conflicts.rs
  editoast/src/core/infra_loading.rs
  editoast/src/core/infra_state.rs
  editoast/src/core/mod.rs
  editoast/src/core/mq_client.rs
  editoast/src/core/pathfinding.rs
  editoast/src/core/simulation.rs
  editoast/src/core/stdcm.rs
  editoast/src/core/v2/conflict_detection.rs
  editoast/src/core/v2/path_properties.rs
  editoast/src/core/v2/pathfinding.rs
  editoast/src/core/v2/signal_projection.rs
  editoast/src/core/v2/simulation.rs
  editoast/src/core/v2/stdcm.rs
  editoast/src/core/version.rs
  editoast/src/main.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/stdcm/mod.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule/simulation_report.rs
  editoast/src/views/v2/timetable.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Due: editoast, front

fixup core: remove docker-compose.core-test.yml
  docker/docker-compose.core-test.yml
Due: none

osrdyne: build as a statically linked scratch image
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
  osrdyne/Dockerfile
Due: none

front: fix driver train schedules not updating when switching between base or eco
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
  front/src/modules/trainschedule/components/DriverTrainScheduleV2/DriverTrainScheduleV2.tsx
  front/src/modules/trainschedule/useFormattedOperationalPoints.ts
Due: front

front: check input size of train name and update checkfields methods
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/utils.ts
  front/src/modules/project/utils.ts
  front/src/modules/scenario/components/AddOrEditScenarioModal.tsx
  front/src/modules/scenario/utils.ts
  front/src/modules/study/utils.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/TrainSettings.tsx
Due: front

python: upgrade black
  python/osrd_schemas/poetry.lock
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/pyproject.toml
  python/railjson_generator/railjson_generator/simulation_builder.py
Due: none

front: update translate json, variable name and set number in strings.ts
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/utils.ts
  front/src/modules/project/utils.ts
  front/src/modules/scenario/utils.ts
  front/src/modules/study/utils.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/utils/strings.ts
Due: front

front: fix crash when deleting route in train editor
  front/src/modules/timesStops/helpers/utils.ts
Due: front

front: add mandatory fields in rollingstock editor
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorFormHelpers.tsx
  front/src/modules/rollingStock/consts.ts
Due: front

scripts: fix command to drop all keys from redis
  scripts/cleanup-db.sh
Due: none

scripts: remove bashism
  scripts/cleanup-db.sh
Due: none

scripts: use valkey-cli instead of redis-cli
  scripts/cleanup-db.sh
Due: none

core: improve time complexity of stdcm conflict detection
  core/src/main/java/fr/sncf/osrd/conflicts/Conflicts.kt
Due: core

front: fix unselect train on onblur
  front/src/applications/stdcmV2/components/StdcmConsist.tsx
  front/src/modules/rollingStock/hooks/useFilterRollingStock.tsx
Due: front

front: remove unused translations
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
Due: front

front: prevent point selection on stdcm map. fix 8201
  front/src/applications/stdcmV2/components/StdcmConfig.tsx
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResults.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
