Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: drop sec2ms(), minToMs() and secToMin()
  front/src/utils/timeManipulation.ts
Due: front

editoast: replace StandardCoreError with RawError
  editoast/src/core/mod.rs
  editoast/src/error.rs
Due: editoast

editoast: rename RollingStockModel to RollingStock
  editoast/editoast_schemas/src/lib.rs
  editoast/src/client/import_rolling_stock.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock.rs
  editoast/src/models/rolling_stock/power_restrictions.rs
  editoast/src/models/rolling_stock/schedules_from_rolling_stock.rs
  editoast/src/models/rolling_stock/sql/get_power_restrictions.sql
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/projection.rs
  editoast/src/views/rolling_stock.rs
  editoast/src/views/rolling_stock/form.rs
  editoast/src/views/rolling_stock/light.rs
  editoast/src/views/rolling_stock/towed.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/stdcm.rs
Due: editoast

editoast: rename RollingStockLiveryModel to RollingStockLivery
  editoast/src/models/fixtures.rs
  editoast/src/models/rolling_stock_livery.rs
  editoast/src/views/rolling_stock.rs
  editoast/src/views/rolling_stock/light.rs
Due: editoast

editoast: fix OpenAPI typo
  editoast/openapi.yaml
  editoast/src/views/electrical_profiles.rs
Due: editoast

front: drop getEarliestDate()
  front/src/modules/study/components/AddOrEditStudyModal.tsx
  front/src/utils/date.ts
Due: front

front: drop formatDateForInput()
  front/src/modules/study/components/AddOrEditStudyModal.tsx
  front/src/utils/date.ts
Due: front

front: allow the use of paced train path for projection and display occurences
  front/src/applications/operationalStudies/helpers/upsertNewProjectedTrains.ts
  front/src/applications/operationalStudies/hooks/useAutoUpdateProjection.ts
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/hooks/useScenarioQueryParams.ts
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmDebugResults.tsx
  front/src/applications/stdcm/hooks/useProjectedTrainsForStdcm.ts
  front/src/applications/stdcm/utils/formatStdcmIntoSpaceTimeData.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/config/openapi-editoast-config.cts
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/utils.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useGetProjectedTrainOperationalPoints.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useLazyProjectTrains.ts
  front/src/modules/simulationResult/consts.ts
  front/src/modules/simulationResult/types.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/modules/trainschedule/components/Timetable/TrainScheduleItem.tsx
  front/src/utils/__tests__/trainId.spec.ts
  front/src/utils/trainId.ts
Due: front

editoast: use const generics to declare maximum and default page size
  editoast/openapi.yaml
  editoast/src/views/authz.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/pagination.rs
  editoast/src/views/project.rs
  editoast/src/views/rolling_stock/light.rs
  editoast/src/views/rolling_stock/towed.rs
  editoast/src/views/scenario.rs
  editoast/src/views/scenario/macro_nodes.rs
  editoast/src/views/search.rs
  editoast/src/views/stdcm_logs.rs
  editoast/src/views/study.rs
  editoast/src/views/timetable.rs
  editoast/src/views/work_schedules.rs
Due: editoast

core: stop filtering duplicate tracks during exploration
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/AppendOnlySet.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/BloomFilter.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/IncompatibleConstraintsPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
Due: core

front, ui-charts: refacto waypoint menu with createAnchoredMenu
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/useWaypointMenu.tsx
  front/src/styles/scss/common/components/_manchetteWithSpaceTimeChart.scss
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/AnchoredMenu.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/base-with-waypoint-menu.stories.tsx
  front/ui/ui-charts/src/manchette/components/Manchette.tsx
  front/ui/ui-charts/src/manchette/components/Waypoint.tsx
  front/ui/ui-charts/src/manchette/index.ts
  front/ui/ui-charts/src/manchette/types.ts
Due: front

front: refacto manchette menu by using a new generic hook
  front/src/common/AnchoredMenu.tsx
  front/src/common/OSRDMenu.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/ManchetteMenuButton.tsx
  front/src/styles/scss/_body.scss
  front/src/styles/scss/common/components/_manchetteWithSpaceTimeChart.scss
  front/src/styles/scss/common/components/_osrdMenu.scss
Due: front

front: drop formatTrainSchedulePayload()
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTrainSchedulePayload.ts
Due: front

front: use formatTimetableItemPayload() in AddTrainScheduleButton
  front/src/modules/trainschedule/components/ManageTrainSchedule/AddTrainScheduleButton.tsx
Due: front

front: drop ValidConfig
  front/src/modules/trainschedule/components/ManageTrainSchedule/AddTrainScheduleButton.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/checkCurrentConfig.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTimetableItemPayload.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTimetableItem.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/types.ts
Due: front

front: use formatTimetableItemPayload() in useUpdateTimetableItem()
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTimetableItem.ts
Due: front

railjson_generator: update the justfile to the latest tools
  python/railjson_generator/justfile
Due: none

osrd_schemas: remove incorrect comment
  python/osrd_schemas/justfile
Due: none

schemas, railjson-generator, tests: replace 'poetry' with 'uv' 🚀
  .github/dependabot.yml
  .github/workflows/build.yml
  .taplo.toml
  python/osrd_schemas/.gitignore
  python/osrd_schemas/README.md
  python/osrd_schemas/justfile
  python/osrd_schemas/osrd_schemas/generated.py
  python/osrd_schemas/poetry.lock
  python/osrd_schemas/uv.lock
  python/railjson_generator/.gitignore
  python/railjson_generator/README.md
  python/railjson_generator/justfile
  python/railjson_generator/poetry.lock
  python/railjson_generator/pyproject.toml
  python/railjson_generator/uv.lock
  tests/README.md
  tests/fuzzer/fuzzer_stdcm_single_timetable.py
  tests/infra-scripts/README.md
  tests/poetry.lock
  tests/pyproject.toml
  tests/uv.lock
Due: none

front: ensure user login btn visible in all screen sizes
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
Due: front

front: display silo tooltip
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/modules/trainschedule/components/Timetable/types.ts
  front/src/styles/scss/_variables.scss
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
Due: front

front: drop datetime2sec()
  front/src/utils/timeManipulation.ts
Due: front

front: drop startTime parameter from updateDaySinceDeparture()
  front/src/modules/timesStops/TimesStopsInput.tsx
  front/src/modules/timesStops/helpers/__tests__/utils.spec.ts
  front/src/modules/timesStops/helpers/utils.ts
Due: front

front: drop sec2datetime()
  front/src/utils/timeManipulation.ts
Due: front

core: conflicts: split internal class and api class
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/kotlin/fr/sncf/osrd/api/CommonSchemas.kt
  core/src/main/kotlin/fr/sncf/osrd/api/RequirementsParser.kt
  core/src/main/kotlin/fr/sncf/osrd/api/conflicts/ConflictDetectionRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/standalone_sim/SimulationResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/conflicts/Conflicts.kt
  core/src/main/kotlin/fr/sncf/osrd/conflicts/IncrementalConflictDetector.kt
  core/src/main/kotlin/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelope.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelopeImpl.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
  core/src/test/java/fr/sncf/osrd/conflicts/SpacingResourceGeneratorTest.kt
  core/src/test/kotlin/fr/sncf/osrd/conflicts/IncrementalConflictDetectorTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/BlockAvailabilityTests.kt
Due: core

core: conflicts: remove string IDs from internal types
  core/src/main/kotlin/fr/sncf/osrd/api/RequirementsParser.kt
  core/src/main/kotlin/fr/sncf/osrd/api/conflicts/ConflictDetectionEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/conflicts/Conflicts.kt
  core/src/main/kotlin/fr/sncf/osrd/conflicts/IncrementalConflictDetector.kt
  core/src/main/kotlin/fr/sncf/osrd/conflicts/SpacingResourceGenerator.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/test/java/fr/sncf/osrd/conflicts/SpacingResourceGeneratorTest.kt
  core/src/test/kotlin/fr/sncf/osrd/conflicts/IncrementalConflictDetectorTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/BlockAvailabilityTests.kt
Due: core

core: conflicts: move requirement types to their file
  core/src/main/kotlin/fr/sncf/osrd/conflicts/Conflicts.kt
  core/src/main/kotlin/fr/sncf/osrd/conflicts/RequirementTypes.kt
Due: core

osrd_schemas, railjson_generator, tests: update 'uv.lock'
  python/osrd_schemas/uv.lock
  python/railjson_generator/uv.lock
  tests/uv.lock
Due: none

osrd_schemas, railjson_generator: force the build backend
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/pyproject.toml
Due: none

osrd_schemas, railjson_generator: add gitignore for build files
  python/osrd_schemas/.gitignore
  python/railjson_generator/.gitignore
Due: none

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
