Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

parsers:
  jacoco:
    partials_as_hits: true

front: InputGroupSNCF: add typeValue, isInvalid, min, max
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
Due: front

front: newAllowances: first step, add lines & cosmetics
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/EngineeringAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/StandardAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/styles/scss/applications/_operationalStudies.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Due: front

front: switchSNCF: typescript
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.jsx
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.scss
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.tsx
Due: front

front: inputSNCF: add appendOption with group & sm
  front/src/common/BootstrapSNCF/InputGroupSNCF.scss
  front/src/common/BootstrapSNCF/InputSNCF.tsx
Due: front

front: InputGroupSNCF: typescript & correct parents
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/EmptyLine.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.jsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
Due: front

front: tabs: add fullheight property to Tabs
  front/src/common/Tabs.tsx
  front/src/styles/scss/_body.scss
  front/src/styles/scss/common/components/_tabs.scss
Due: front

editoast: set scheduled points optional
  editoast/src/models/train_schedule.rs
Due: editoast

progress
  front/src/applications/rollingStockEditor/components/RollingStockEditorCurves.tsx
  front/src/common/RollingStockSelector/RollingStockCardDetail.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
Due: front

front: use enhanced endpoint to filter light rolling stock
  editoast/openapi.yaml
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/applications/rollingStockEditor/Home.tsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/api/enhancedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

front: fix e2e tests: update search in RollingStockModal only if rollingStocks is not empty
  front/src/common/RollingStockSelector/RollingStockModal.tsx
Due: front

migrate GET /projects/study_states to RTK
  editoast/openapi.yaml
  front/public/locales/fr/operationalStudies/study.json
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/config/openapi-editoast-config.ts
Due: editoast, front

core: kt-infra: add missing data and matching path methods
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadingGaugeConstraint.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeSet.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeSetImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Speed.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSCatenary.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSCurve.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/LoadingGaugeConstraint.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/SpeedLimits.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/LoadingGaugeConstraintImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Due: core

core: kt-infra: remove loading gauge rjs depencency
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadingGaugeConstraint.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/StaticIdx.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LoadingGaugeConstraints.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/LoadingGaugeConstraintImpl.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Due: core

core: move LineString into its own module
  core/build.gradle
  core/kt-osrd-sim-infra/build.gradle
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/osrd-geom/build.gradle
  core/osrd-geom/src/main/java/fr/sncf/osrd/geom/LineString.java
  core/osrd-geom/src/main/java/fr/sncf/osrd/geom/Point.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/geom/Point.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/geom/RJSLineString.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSTrackSection.java
  core/osrd-railjson/src/test/java/fr/sncf/osrd/utils/geom/LineStringTest.java
  core/osrd-railjson/src/test/java/fr/sncf/osrd/utils/geom/PointTest.java
  core/settings.gradle
  core/src/main/java/fr/sncf/osrd/api/pathfinding/GeomUtils.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/RemainingDistanceEstimator.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMResponse.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/SwitchBranch.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Due: core

front: test pathfinding done for small_infra
  front/src/common/Pathfinding/Pathfinding.tsx
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/map-model.ts
  front/tests/operational-studies.spec.ts
  front/tests/scenario-page-model.ts
Due: front

front: test pathfinding infra_france
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/home-page-model.ts
  front/tests/home-page.spec.ts
  front/tests/map-model.ts
  front/tests/operational-studies.spec.ts
Due: front

front: test pathfinding add timeout for map
  front/tests/operational-studies.spec.ts
Due: front

front: test pathfinding add timeout for map
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/operational-studies.spec.ts
  front/tests/scenario-page-model.ts
Due: front

fix missing prop error
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
Due: front

add spreadsheet default values & hide some curve icons
  front/src/applications/rollingStockEditor/components/RollingStockEditorCurves.tsx
  front/src/common/RollingStockSelector/RollingStockCurves.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
Due: front

front: newAllowances: second step, working inputs & design
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesList.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesStandardSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/EngineeringAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Helpers.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/StandardAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/types.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
  front/src/styles/scss/common/components/_tabs.scss
Due: front

front: tabs: add rolling stock pictrure & name
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
  front/src/styles/scss/common/components/_tabs.scss
Due: front

front: add pathlength to tabs
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Due: front

front: newAllowances: translation corrections and cosmetic corrections
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesList.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Due: front

front: newAllowances: add working connexion to trainschedule submission (and update)
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesLinearView.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesList.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfAddTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Due: front

front: move old allowances to stdcm, to be rewritten very shortly
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/components/OldAllowances/Allowance.tsx
  front/src/applications/stdcm/components/OldAllowances/Allowances.tsx
  front/src/applications/stdcm/components/OldAllowances/EmptyLine.tsx
  front/src/applications/stdcm/components/OldAllowances/OPModal.jsx
  front/src/applications/stdcm/components/OldAllowances/StandardAllowanceDefault.tsx
  front/src/applications/stdcm/components/OldAllowances/allowancesConsts.tsx
  front/src/applications/stdcm/components/OldAllowances/withOSRDData.tsx
  front/src/applications/stdcm/components/OldAllowances/withOSRDStdcmParams.tsx
  front/src/applications/stdcm/components/STDCMAllowances.tsx
  front/src/applications/stdcm/formatStcmConf.ts
Due: front
