Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

ci: update flake.lock
  flake.lock
Due: none

front: delete useless button font weight
  front/src/applications/stdcm/styles/_home.scss
  front/src/applications/stdcm/styles/_linkedTrain.scss
  front/src/applications/stdcm/styles/_loader.scss
Due: front

ui-core: fix button font weight
  front/ui/ui-core/src/styles/button.css
Due: front

front: fix zoom on an object in the infra editor
  front/src/applications/editor/tools/utils.ts
Due: front

editoast: add round trips database tables
  editoast/editoast_models/src/tables.rs
  editoast/migrations/2025-07-24-085435_add-round-trips/down.sql
  editoast/migrations/2025-07-24-085435_add-round-trips/up.sql
Due: editoast

front: add linecode to the track occupancy diagram
  front/src/modules/simulationResult/components/SpaceTimeChart/useTrackOccupancy.ts
Due: front

editoast, gateway, osrdyne: move cargo home
  editoast/Dockerfile
  gateway/Dockerfile
  osrdyne/Dockerfile
Due: editoast, gateway

editoast: client: remove some unwraps and deprecated retrieve calls
  editoast/src/client/electrical_profiles_commands.rs
  editoast/src/client/healthcheck.rs
  editoast/src/client/import_rolling_stock.rs
  editoast/src/client/infra_commands.rs
  editoast/src/client/stdcm_search_env_commands.rs
  editoast/src/client/timetables_commands.rs
Due: editoast

editoast: client: improve format strings and factorize red cross emoji
  editoast/src/client/healthcheck.rs
  editoast/src/client/import_rolling_stock.rs
  editoast/src/client/infra_commands.rs
  editoast/src/client/search_commands.rs
  editoast/src/client/stdcm_search_env_commands.rs
  editoast/src/client/timetables_commands.rs
  editoast/src/main.rs
Due: editoast

editoast: client: use anyhow instead of custom error system
  editoast/src/client/electrical_profiles_commands.rs
  editoast/src/client/import_rolling_stock.rs
  editoast/src/client/infra_commands.rs
  editoast/src/client/runserver.rs
  editoast/src/client/search_commands.rs
  editoast/src/client/stdcm_search_env_commands.rs
  editoast/src/client/timetables_commands.rs
  editoast/src/main.rs
Due: editoast

editoast: fix `mismatched_lifetime_syntaxes` warning on nightly
  editoast/src/views/test_app.rs
Due: editoast

osrdyne: bump dependencies
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
Due: none

osrdyne: bump lapin
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
  osrdyne/src/queue_controller.rs
Due: none

orsdyne: bump kube. Also bump kube api level to 1.30
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
Due: none

osrdyne: bump bollard
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
  osrdyne/src/drivers/docker.rs
Due: none

gateway: bump opentelemetry
  gateway/Cargo.lock
  gateway/Cargo.toml
  gateway/actix_proxy/src/lib.rs
  gateway/src/config.rs
Due: gateway

gateway: bump dependencies
  gateway/Cargo.lock
  gateway/Cargo.toml
Due: gateway

ci, gateway: enable clippy on the whole workspace
  .github/workflows/build.yml
  gateway/actix_auth/src/providers/oidc.rs
  gateway/actix_proxy/src/lib.rs
  gateway/src/config_parser.rs
  gateway/src/main.rs
Due: gateway

front: move rollingStock helpers to appropriate folders
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCardDetail.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/CurveParamSelectors.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/MetadataForm.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/OnboardSystemEquipmentForm.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/ParametersForm.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorCurves.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorForm.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/__tests__/curves.spec.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/__tests__/electricalValues.spec.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/__tests__/isRollingStockFormValid.spec.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/__tests__/units.spec.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/curves.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/defaultValues.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/electricalValues.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/isRollingStockFormValid.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/powerRestrictions.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/units.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/utils.ts
  front/src/modules/rollingStock/consts.ts
  front/src/modules/rollingStock/helpers/__tests__/convertUnits.spec.ts
  front/src/modules/rollingStock/helpers/__tests__/electric.spec.ts
  front/src/modules/rollingStock/helpers/__tests__/utils.spec.ts
  front/src/modules/rollingStock/helpers/convertUnits.ts
  front/src/modules/rollingStock/helpers/utils.ts
Due: front

editoast: subcategory paced train exception migrations
  editoast/migrations/2025-07-31-132308_paced_train_exceptions_category/down.sql
  editoast/migrations/2025-07-31-132308_paced_train_exceptions_category/up.sql
Due: editoast

editoast: subcategory category enum
  editoast/editoast_models/src/rolling_stock.rs
  editoast/editoast_models/src/rolling_stock/train_main_category.rs
  editoast/editoast_schemas/src/paced_train.rs
  editoast/editoast_schemas/src/rolling_stock.rs
  editoast/editoast_schemas/src/rolling_stock/sub_category.rs
  editoast/editoast_schemas/src/rolling_stock/train_category.rs
  editoast/editoast_schemas/src/rolling_stock/train_main_category.rs
  editoast/editoast_schemas/src/train_schedule.rs
  editoast/openapi.yaml
  editoast/src/models/paced_train.rs
  editoast/src/models/rolling_stock.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/sub_categories.rs
  editoast/src/views/timetable/train_schedule.rs
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/views/ManageTimetableItem.tsx
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/conflict/components/ConflictCard.tsx
  front/src/modules/conflict/types.ts
  front/src/modules/conflict/utils.ts
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockSelector.tsx
  front/src/modules/rollingStock/helpers/category.ts
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/utils.ts
  front/src/modules/timetableItem/components/ManageTimetableItem/TrainSettings.tsx
  front/src/modules/timetableItem/components/ManageTimetableItem/helpers/__tests__/formatTimetableItemPayload.spec.ts
  front/src/modules/timetableItem/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
  front/src/modules/timetableItem/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/timetableItem/components/Timetable/RoundTrips/RoundTripsModalCard.tsx
  front/src/modules/timetableItem/components/Timetable/TrainScheduleItem.tsx
  front/src/modules/timetableItem/components/Timetable/types.ts
  front/src/modules/timetableItem/components/Timetable/useFilterTimetableItems.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/trainSettingsReducer.ts
  front/src/reducers/osrdconf/types.ts
  front/tests/assets/paced-train/paced_trains.json
  front/ui/storybook/stories/ui-charts/spaceTimeChart/helpers/paths.ts
  python/osrd_schemas/pyproject.toml
  python/osrd_schemas/uv.lock
Due: editoast, front

editoast: add compound similar trains test
  editoast/src/views/timetable/similar_trains.rs
Due: editoast

front: ensure simulation results and map are displayed side by side
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
