Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: bump nge
  front/package-lock.json
  front/package.json
Due: front

front: add margin calculation using reference_base_arrival
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/src/modules/timesStops/helpers/__tests__/computeMargins.spec.ts
  front/src/modules/timesStops/helpers/computeMargins.ts
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
Due: front

front: add the referenceBaseArrival column
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/modules/timesStops/TimeStopsTableWrapper.tsx
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
  front/src/modules/timesStops/types.ts
Due: front

front: add the computedBaseArrival
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
  front/src/modules/timesStops/types.ts
Due: front

trainsim: add doc comment on PantographState.position
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/trainsim.kt
Due: core

trainsim: don't always lower the pantograph on neutral sections
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/trainsim.kt
Due: core

trainsim: have NeutralSections not make decisions outside of the section
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/trainsim.kt
Due: core

trainsim: show decisions in merge-state assertions
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/trainsim.kt
Due: core

trainsim: use check instead of require for asserts
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/trainsim.kt
Due: core

trainsim: refacto tryEnactCurveDecision into Curve.advance
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/SpeedConstraint.kt
Due: core

trainsim: impl truncateStep for SpeedConstraint
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/Curve.kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/SpeedConstraint.kt
  core/osrd-mp/src/commonTest/kotlin/fr/sncf/osrd/trainsim/CurveTest.kt
Due: core

trainsim: don't return early when no constraint enact a decision
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/trainsim.kt
Due: core

trainsim: fix the lowerI and prevUpperI computations
  core/src/main/kotlin/fr/sncf/osrd/trainsim/Simulation.kt
Due: core

trainsim: add too-much-time check in the truncate loop
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/trainsim.kt
Due: core

front: fix e2e tests
  front/src/modules/timesStops/TimeCell.tsx
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/tests/assets/operation-studies/simulation-result/times-stops-table-const.ts
Due: front

front: disable to destination propagation for destination departure
  front/src/modules/timesStops/TimeCell.tsx
Due: front

front: space time chart, disable panning while dragging
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/configureHandlePan.ts
Due: front

front: handle diff margin 0
  front/src/modules/timesStops/helpers/computeMargins.ts
  front/tests/assets/operation-studies/invalid-trains/invalid-paced-train-timetable-output.ts
  front/tests/assets/operation-studies/invalid-trains/invalid-unique-train-timetable-output.ts
Due: front

front: hide chronogram board for hourly timetables
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioHeader.tsx
Due: front

trainsim: (don't know if needed) move maxSpeed after the truncate loop
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/trainsim/trainsim.kt
Due: core

fixup: with file depending on if there is a file selected or not
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyEdition.tsx
Due: front

fixup: multiple file selection and cancel handling
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyEdition.tsx
Due: front

fixup: putting back comment
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyEdition.tsx
Due: front

fixup: validateFile should not return true anymore
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyEdition.tsx
Due: front

front: adjust start time based on paced interval in ExpandedTrainForm
  front/src/modules/trainHeader/ExpandedTrainForm.tsx
Due: front

front: adjust start time based on paced interval in TimeStopsTableWrapper
  front/src/modules/timesStops/TimeStopsTableWrapper.tsx
Due: front

front: use Map for train schedules in TimetableContext
  front/src/applications/operationalStudies/hooks/__tests__/useSimulationResults.spec.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/hooks/useScenarioTrainScheduleSet.ts
  front/src/applications/operationalStudies/hooks/useTimetableContext.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainSchedule/helpers/__tests__/parseJson.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/__tests__/useOccurrenceActions.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/Timetable.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TimetableBoardWrapper.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TimetableToolbar.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/__tests__/utils.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/utils.ts
  front/src/applications/operationalStudies/views/Scenario/hooks/useOccupancyZoneDrop.ts
  front/src/modules/conflict/__tests__/utils.spec.ts
  front/src/modules/conflict/hooks/useConflictsFilter.ts
  front/src/modules/conflict/utils.ts
  front/src/modules/trainSchedule/hooks/useSelectedTrainSchedule.tsx
Due: front

rabbitmq: extend heartbeat to 12 h for single-worker mode
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
  docker/docker-compose.single-worker.yml
  docker/rabbitmq-single-worker.conf
Due: core

editoast: allow additional infrastructure properties on track sections
  editoast/models/src/map/layers.rs
  editoast/openapi.yaml
  editoast/osm_to_railjson/src/utils.rs
  editoast/schemas/src/infra/railjson.rs
  editoast/schemas/src/infra/track_section.rs
  editoast/schemas/src/infra/track_section_extensions.rs
  front/src/common/api/generatedEditoastApi.ts
  osrd_schemas/osrd_schemas/models.py
Due: editoast, front

editoast: osm_to_railjson: distance heuristic
  editoast/osm_to_railjson/src/generate_routes.rs
  editoast/osm_to_railjson/src/osm_to_railjson.rs
Due: editoast

front: create train packages with the timetable type
  front/src/applications/operationalStudies/hooks/__tests__/useScenario.spec.ts
  front/src/applications/operationalStudies/hooks/useScenario.ts
  front/src/applications/operationalStudies/hooks/useScenarioTrainScheduleSet.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainScheduleSet/TrainScheduleSetForm.tsx
Due: front

front: default services to 24h in calendar timetables
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/MacroEditorState.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/ngeToOsrd.ts
  front/src/applications/operationalStudies/views/Scenario/components/MacroEditor/ngeToOsrd/trainrun.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioContent.tsx
  front/src/modules/trainHeader/ExpandedTrainForm.tsx
  front/src/modules/trainHeader/TrainServiceForm.tsx
  front/src/modules/trainSchedule/helpers/pacedTrain.ts
  front/tests/assets/paced-train/const.ts
Due: front

front: disallow unique trains in hourly timetables
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModalFooter.tsx
  front/src/modules/trainHeader/ExpandedTrainForm.tsx
  front/src/modules/trainHeader/TrainServiceForm.tsx
Due: front

front: only offer train packages matching the timetable type on import
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainScheduleSets/__tests__/useLoadCatalog.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainScheduleSets/useLoadCatalog.ts
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
