Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast

Remove tick boxes in enabler story template
  .github/ISSUE_TEMPLATE/enabler_story.md
Due: none

chartos: bump dependencies
  chartos/poetry.lock
  chartos/pyproject.toml
Due: none

bump: api dependencies
  api/poetry.lock
  api/pyproject.toml
Due: none

core: bump dependencies
  core/build.gradle
Due: core

api: fix train schedule stops id
  api/osrd_infra/migrations/0021_alter_pathmodel_payload.py
  api/osrd_infra/schemas/path.py
  api/osrd_infra/views/pathfinding.py
Due: none

chartos: fix double quote for text fields
  chartos/chartos.yml
Due: none

editoast: log cache loading
  editoast/src/main.rs
Due: editoast

Partially update SimulationRequest schema
  core/openapi.yaml
Due: core

editoast: add warning for no buffer stop on graph leaves
  api/osrd_infra/migrations/0022_alter_errorlayer_information.py
  api/osrd_infra/schemas/generated.py
  editoast/src/infra_cache.rs
  editoast/src/models/errors/buffer_stops.rs
  editoast/src/models/errors/detectors.rs
  editoast/src/models/errors/graph.rs
  editoast/src/models/errors/mod.rs
  editoast/src/models/errors/operational_points.rs
  editoast/src/models/errors/routes.rs
  editoast/src/models/errors/signals.rs
  editoast/src/models/errors/speed_sections.rs
  editoast/src/models/errors/switches.rs
  editoast/src/models/errors/track_sections.rs
Due: editoast

editoast: fix memory usage while loading infra
  editoast/src/infra_cache.rs
Due: editoast

editoast: fix route layer generation
  editoast/src/models/sql/generate_route_layer.sql
  editoast/src/models/sql/generate_speed_section_layer.sql
  editoast/src/models/sql/insert_route_layer.sql
  editoast/src/models/sql/insert_speed_section_layer.sql
Due: editoast

editoast: fix buffer stop topo errors
  editoast/src/models/errors/track_sections.rs
Due: editoast

chartos: end all routes with a slash
  chartos/chartos/views.py
  chartos/openapi.yaml
  docker-compose.yml
Due: none

core: replace DoubleRangeMap with guava RangeMap
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/MRSP.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/java/fr/sncf/osrd/utils/DoubleRangeMap.java
  core/src/main/java/fr/sncf/osrd/utils/Range.java
  core/src/test/java/fr/sncf/osrd/infra/InfraHelpers.java
  core/src/test/java/fr/sncf/osrd/infra/tracks/directed/DirectedRJSParsingTests.java
  core/src/test/java/fr/sncf/osrd/infra_state/TrainPathTests.java
  core/src/test/java/fr/sncf/osrd/utils/RangeMapUtils.java
Due: core

front: updates axios, react-redux and react-router-dom versions (#1453)
  front/package.json
  front/src/applications/carto/Home.js
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Home.jsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/ConfirmModal.tsx
  front/src/applications/editor/components/EditorModal.tsx
  front/src/applications/editor/context.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/types.tsx
  front/src/applications/editor/tools/zoneSelection/components.tsx
  front/src/applications/osrd/Home.js
  front/src/common/BootstrapSNCF/MastNavItemSNCF.js
  front/src/common/requests.ts
  front/src/main/App/index.js
  front/src/types.ts
  front/yarn.lock
Due: none

improve behaviors (#1390)
  front/public/locales/fr/allowances.json
  front/src/applications/osrd/views/OSRDSimulation/Allowances.js
Due: none

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
