Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: remove some unused dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_common/Cargo.toml
  editoast/editoast_schemas/Cargo.toml
Due: editoast

front: display simulation results in stdcm
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/SimulationReportSheetV2.tsx
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/utils.ts
  front/src/applications/stdcm/views/StdcmConfig.tsx
  front/src/applications/stdcm/views/StdcmResultsV2.tsx
  front/src/applications/stdcmV2/components/StdcmConfig.tsx
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResultsTable.tsx
  front/src/applications/stdcmV2/components/StdcmResults/index.ts
  front/src/applications/stdcmV2/views/StdcmViewV2.tsx
  front/src/modules/pathfinding/hook/usePathfinding.ts
  front/src/styles/scss/applications/stdcmV2/_home.scss
  front/src/utils/date.ts
Due: front

editoast: remove layer cache duration
  editoast/map_layers.yml
  editoast/src/map/layers.rs
  editoast/src/views/layers/mod.rs
Due: editoast

front: WIP
  editoast/openapi.yaml
  editoast/src/core/v2/pathfinding.rs
  front/public/locales/en/common/common.json
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/common/common.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/v2/ManageTrainScheduleV2.tsx
  front/src/common/Collapsable.tsx
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/distances.ts
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstrainstFilters.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstrainstInfo.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstraintsItem.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstraintsLayer.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstraintsList.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstraintsShowFullPath.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/index.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/type.ts
  front/src/modules/pathfinding/components/IncompatibleConstraints/utils.ts
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPathV2.tsx
  front/src/modules/pathfinding/hook/usePathfinding.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
  front/src/utils/strings.ts
Due: editoast, front

ci: split build job
  .github/workflows/build.yml
Due: none

front: adapt updating train tsv2
  front/src/applications/operationalStudies/hooks/useSetupItineraryForTrainUpdate.ts
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/applications/operationalStudies/views/v2/ManageTrainScheduleV2.tsx
  front/src/applications/operationalStudies/views/v2/ScenarioV2.tsx
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/SubmitConfUpdateTrainSchedulesV2.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/TimetableManageTrainScheduleV2.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTrainSchedule.ts
  front/src/modules/trainschedule/components/TimetableV2/TimetableTrainCardV2.tsx
  front/src/modules/trainschedule/components/TimetableV2/TimetableV2.tsx
  front/src/reducers/osrdconf/operationalStudiesConf/powerRestrictionReducer.ts
  front/src/reducers/osrdconf/types.ts
  front/src/utils/date.ts
Due: front

wip: front: integration manchette get v2, still fixing stdcm magic types
  front/package.json
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/utils.ts
  front/src/applications/operationalStudies/views/v2/ScenarioV2.tsx
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
  front/src/applications/operationalStudies/views/v2/getSimulationResultsV2.ts
  front/src/applications/stdcmV2/components/StdcmConfig.tsx
  front/src/modules/pathfinding/hook/usePathfinding.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/formatSpaceTimeData.ts
  front/src/styles/scss/_uiManchette.scss
  front/src/styles/styles.scss
  front/yarn.lock
Due: front

front: fix wrong position of train times in timetable
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Due: front

editoast: improve performances of batch pathfinding and simulation
  editoast/src/core/v2/simulation.rs
  editoast/src/redis_utils.rs
  editoast/src/views/v2/path.rs
  editoast/src/views/v2/path/pathfinding.rs
  editoast/src/views/v2/path/properties.rs
  editoast/src/views/v2/timetable.rs
  editoast/src/views/v2/timetable/stdcm.rs
  editoast/src/views/v2/train_schedule.rs
  editoast/src/views/v2/train_schedule/projection.rs
  editoast/src/views/v2/train_schedule/proxy.rs
Due: editoast

editoast: rename typo in a variable
  editoast/src/views/v2/train_schedule.rs
Due: editoast

front: fix scenario timetable height
  front/src/applications/operationalStudies/views/v2/ScenarioV2.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Due: front

core: change interface for pathfinding errors on rolling-stock constraints
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlockResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlocksEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingPostProcessing.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingV2Test.kt
Due: core

[wip] core: project RS constraints on the relaxed path
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/MockSigSystemManager.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SigSystemManagerImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlocksEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/constraints/SignalingSystemConstraints.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingV2Test.kt
Due: core

front, editoast, core: homogeneize the plural form for path_item_positions
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlockResponse.kt
  editoast/openapi.yaml
  editoast/src/core/v2/pathfinding.rs
  editoast/src/views/v2/train_schedule.rs
  front/src/applications/operationalStudies/hooks/useSetupItineraryForTrainUpdate.ts
  front/src/applications/stdcm/hooks/useStdcmResults.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPathV2.tsx
  front/src/modules/pathfinding/hook/usePathfinding.ts
  front/src/modules/powerRestriction/helpers/formatPowerRestrictionRangesWithHandled.ts
Due: core, editoast, front

front: add .prettierignore
  front/.prettierignore
Due: front

front: tighten up ignoredPatterns in .eslintrc
  front/.eslintrc
  front/src/common/api/graouApi.ts
  front/src/common/api/osrdEditoastApi.ts
Due: front

front: fix pathsteps sorting
  front/src/applications/operationalStudies/hooks/useSetupItineraryForTrainUpdate.ts
  front/src/applications/operationalStudies/views/v2/ManageTrainScheduleV2.tsx
  front/src/applications/stdcm/hooks/useStdcmResults.ts
  front/src/modules/pathfinding/hook/usePathfinding.ts
  front/src/modules/pathfinding/utils.ts
Due: front

ci: add front code formatting check
  .github/workflows/build.yml
Due: none

template: use multiple dropdown for bug reporting
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

core: add .gradle and .idea to .dockerignore
  core/.dockerignore
Due: core

front: localize missing editoast pathfinding error codes
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
Due: front

front: add missing dep to timesStopsSteps effect
  front/src/modules/timesStops/TimesStops.tsx
Due: front

front: do not modify rolling stock search filter and trim it
  front/src/modules/rollingStock/hooks/useFilterRollingStock.tsx
  front/tests/005-operational-studies.spec.ts
Due: front

front: fix OP/PathStep matching in formatSuggestedViasToRowVias()
  front/src/modules/pathfinding/utils.ts
  front/src/modules/timesStops/utils.ts
Due: front

editoast, front: incompatible constraints in path finding
  editoast/openapi.yaml
  editoast/src/core/v2/pathfinding.rs
  front/public/locales/en/common/common.json
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/common/common.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/v2/ManageTrainScheduleV2.tsx
  front/src/common/Collapsable.tsx
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/distances.ts
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstrainstFilters.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstrainstInfo.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstraintsItem.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstraintsLayer.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstraintsList.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstraintsMapFocus.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/index.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/type.ts
  front/src/modules/pathfinding/components/IncompatibleConstraints/utils.ts
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPathV2.tsx
  front/src/modules/pathfinding/hook/usePathfinding.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
  front/src/utils/mapHelper.ts
  front/src/utils/strings.ts
Due: editoast, front
