Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

editoast: remove `-Model` suffix of `TowedRollingStock` model
  editoast/editoast_schemas/src/lib.rs
  editoast/src/client/import_rolling_stock.rs
  editoast/src/models/towed_rolling_stock.rs
  editoast/src/views/rolling_stock/towed.rs
  editoast/src/views/timetable/stdcm/request.rs
Due: editoast

editoast: remove useless TowedRollingStockResponse wrapper
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/towed_rolling_stock.rs
  editoast/src/views/rolling_stock/towed.rs
  front/src/common/api/generatedEditoastApi.ts
Due: editoast, front

front: add details to pathfinding error
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmWarningBox.tsx
  front/src/applications/stdcm/hooks/useStaticPathfinding.ts
Due: front

editoast: modularize similar_schedules with request/response modules
  editoast/src/views/timetable/similar_schedules.rs
  editoast/src/views/timetable/similar_schedules/request.rs
  editoast/src/views/timetable/similar_schedules/response.rs
Due: editoast

front: drop useSpeedSpaceChart hook
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/useSpeedSpaceChart.ts
Due: front

front: use currentData for simulationResults endpoints
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/modules/trainschedule/hooks/useSelectedTrain.tsx
Due: front

front: introduce useSelectedTrain hook and getTimetableItemById endpoint
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/trainschedule/hooks/useSelectedTrain.tsx
Due: front

front: introduce getTrainSimulation endpoint and use it in useSimulationResults
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/common/api/osrdEditoastApi.ts
Due: front

front: introduce getTrainPath endpoint and use it in useSimulationResults
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/common/api/osrdEditoastApi.ts
Due: front

feat: new header in impersonation mode and add exit mode icon
  front/src/applications/operationalStudies/v2/components/ScenarioHeader.tsx
  front/src/styles/scss/applications/operationalStudies/_scenarioV2.scss
Due: front

python: osrd-schemas: make the extensions' field optional
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/osrd_schemas/infra_editor.py
  python/osrd_schemas/pyproject.toml
  python/osrd_schemas/uv.lock
  python/railjson_generator/pyproject.toml
  python/railjson_generator/uv.lock
  tests/uv.lock
Due: none

fix capital letters
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: front

front: add binary search function in sim res utils
  front/src/modules/simulationResult/SimulationResultExport/__tests__/utils.spec.ts
  front/src/modules/simulationResult/SimulationResultExport/utils.ts
Due: front

front: add interpolate value tests in sim res
  front/src/modules/simulationResult/SimulationResultExport/__tests__/utils.spec.ts
Due: front

front: pluralize getActualVmax name in sim res utils
  front/src/modules/simulationResult/SimulationResultExport/exportTrainCSV.ts
  front/src/modules/simulationResult/SimulationResultExport/utils.ts
Due: front

front: drop d3 from sim res utils
  front/src/modules/simulationResult/SimulationResultExport/__tests__/utils.spec.ts
  front/src/modules/simulationResult/SimulationResultExport/utils.ts
Due: front

core: add back commented TSv1 PathfindingTest
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

core: enrich existing simpleTinyInfraTest to replace simpleRoutes test
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

core: migrate missingTrackTest to TSv2
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

core: migrate testMiddleStop to TSv2
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

core: migrate noPathTest to TSv2
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

core: migrate incompatibleLoadingGaugeTest to TSv2
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

core: migrate simpleRoutesSameEdge to TSv2
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

core: migrate testSlopeGraph & testSlopeGraphStopToStart to TSv2
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathPropEndpointTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

core: migrate simpleRoutesInverted to TSv2
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

core: migrate differentPathsDueToElectrificationConstraints to TSv2
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingElectrificationTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

core: migrate testCurveGraph & testCurveGraphStopToStart to TSv2
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathPropEndpointTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

core: migrate noElectrificationThrowsForElectricTrain to TSv2
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingElectrificationTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

core: cleanup PathfindingTest utils from TSv1
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

core: migrate pathStartingAtTrackEdge to TSv2
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathPropertiesTests.kt
Due: core

core: remove unused RJSRoutePath.signalingType
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSRoutePath.java
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingPostProcessing.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Due: core

editoast: allow overlapping electrification with different voltages
  editoast/src/generated_data/error/electrifications.rs
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
Due: editoast, front

front: use expect(...).toBeVisible() instead of locator.waitFor()
  front/tests/pages/common-page.ts
  front/tests/pages/operational-studies/operational-studies-page.ts
  front/tests/pages/operational-studies/paced-train-section.ts
  front/tests/pages/operational-studies/route-tab.ts
  front/tests/pages/operational-studies/scenario-timetable-section.ts
  front/tests/pages/operational-studies/time-stop-simulation-outputs.ts
  front/tests/pages/operational-studies/times-and-stops-tab.ts
  front/tests/pages/stdcm/linked-train-section.ts
  front/tests/pages/stdcm/simulation-results-page.ts
  front/tests/pages/stdcm/stdcm-page.ts
  front/tests/pages/stdcm/via-section.ts
Due: front

front: take into account the refacto of conflicts
  front/src/modules/conflict/utils.ts
Due: front

core, editoast: use simple envelope in simulation response
  core/src/main/kotlin/fr/sncf/osrd/api/CommonSchemas.kt
  core/src/main/kotlin/fr/sncf/osrd/api/etcs/ETCSBrakingCurvesResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/standalone_sim/SimulationResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
  editoast/core_client/src/etcs_braking_curves.rs
  editoast/core_client/src/simulation.rs
  editoast/openapi.yaml
  editoast/src/views/projection.rs
  editoast/src/views/stdcm_logs.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/simulation.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/train_schedule.rs
  front/src/common/api/generatedEditoastApi.ts
Due: core, editoast, front

front: surface uncaught JS errors to the user
  front/src/main/app.tsx
Due: front

editoast: clippy
  editoast/core_client/src/mocking.rs
  editoast/editoast_derive/src/model/identifier.rs
  editoast/editoast_models/src/db_connection_pool.rs
  editoast/editoast_search/src/typing.rs
  editoast/src/models/prelude/mod.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/test_app.rs
  editoast/src/views/timetable/train_schedule.rs
Due: editoast

editoast: typos
  editoast/core_client/src/mocking.rs
  editoast/editoast_search/src/typing.rs
  editoast/src/views/infra/mod.rs
Due: editoast

front: use before all to load all paced train and use a different paced train in each tests
  front/tests/020-paced-train-exceptions.spec.ts
Due: front

front: add wait for pathfinding completion in STDCM test
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/tests/pages/stdcm/stdcm-page.ts
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
