Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

parsers:
  jacoco:
    partials_as_hits: true

editoast: fix light_rolling_stock order
  editoast/src/fixtures.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/pagination.rs
Due: editoast

actions: bump dependencies
  .github/workflows/core.yml
  .github/workflows/docker-build-push-template.yml
  .github/workflows/front.yml
  .github/workflows/integration_tests.yml
  .github/workflows/osrd_schemas.yml
  .github/workflows/railjson_generator.yml
Due: none

front: fix invalid trains display
  front/src/applications/operationalStudies/views/Scenario.tsx
Due: front

front: fix 5660 - display all buffer stop even when they overlaps
  front/src/common/Map/Layers/BufferStops.tsx
  front/src/common/Map/Layers/SpeedLimits.tsx
Due: front

front: editor - implementing ordered layer
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/WarpedMap/WarpedMap.tsx
  front/src/config/layerOrder.ts
Due: front

editoast: refactor main.rs db_pool
  editoast/src/main.rs
Due: editoast

front: force apply space occupation rect on eco
  front/src/modules/simulationResult/components/SpaceTimeChart/drawTrain.ts
Due: front

front: editor - add delete button to editor form
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.tsx
  front/src/applications/editor/tools/rangeEdition/utils.ts
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/tool.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/tool.tsx
  front/src/applications/editor/tools/trackEdition/utils.ts
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

core: infra: ignore 0-length ranges when building zones
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/DebugViewers.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Due: core

front: fix #5709
  front/src/common/IntervalsDataViz/dataviz.tsx
Due: front

dev: add additional needed dependencies for Mac OS
  flake.nix
Due: none

front: operationnalstudies: fix error not display for train update
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/modules/trainschedule/components/ManageTrainSchedule/SubmitConfUpdateTrainSchedules.tsx
Due: front

front: fix #5720
  front/src/applications/editor/components/LayersModal.tsx
Due: front

fixup! front: fix translation panto to pantographe
  front/public/locales/en/map-key.json
  front/public/locales/fr/map-key.json
Due: front

core: fix how the allowance ranges are sorted
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/AbstractAllowanceWithRanges.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  tests/tests/regression_tests_data/allowance_not_enough_time.json
Due: core

core: make coastFromBeginning start at coastFromEnd start speed
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopeConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/mareco_impl/CoastingGenerator.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegratorTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope/EnvelopeShape.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Due: core

tests: reproduce new allowance search space discontinuity test in regression test
  tests/tests/regression_tests_data/search_space_discontinuity_3.json
Due: none

tests: reproduce allowance search space discontinuity in regression test
  tests/tests/regression_tests_data/search_space_discontinuity_2.json
Due: none

front: prevent user from saving multiple times
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tools.ts
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/common/Loader.tsx
  front/src/reducers/main/mainSelector.ts
Due: front

front: handle 404 unconsistent ids mix in eex Co-authored-by: clarani <clarani@users.noreply.github.com>
  front/public/locales/en/errors.json
  front/public/locales/en/home/home.json
  front/public/locales/fr/errors.json
  front/public/locales/fr/home/home.json
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/ErrorBoundary.tsx
  front/src/common/PageNotFound.tsx
  front/src/main/app.jsx
Due: front

core: add compulsory EnvelopeProfile attribute to EnvelopePart
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeSpeedCap.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/AbstractAllowanceWithRanges.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/mareco_impl/CoastingGenerator.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/ConstraintBuilderTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopeBuilderTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopeCursorTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopeOverlayTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopePartSliceTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopePartTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopeSpeedCapTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopeTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegratorTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope/EnvelopeTestUtils.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/MRSPTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/StandaloneSimTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/preprocessing/BlockAvailabilityLegacyAdapterTests.java
Due: core

front: fix ApiError import
  front/src/common/ErrorBoundary.tsx
Due: front

actions: fix the dockerhub build
  docker/docker-bake.hcl
  docker/gateway-embedded-front.dockerfile
Due: none

front: fix layers order on map
  front/src/applications/editor/Map.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/assets/mapstyles/OSMStyle.json
  front/src/common/Map/Consts/colors.ts
  front/src/common/Map/Layers/Platforms.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
Due: front
