Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

editoast: compress tiles with gzip to optimize valkey traffic
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/views/layers.rs
Due: editoast

front: drop getStepLocation()
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/helpers/formatTrainSchedulePayload.ts
  front/src/modules/pathfinding/helpers/getStepLocation.ts
  front/src/modules/pathfinding/hooks/usePathfinding.ts
  front/src/modules/pathfinding/utils.ts
Due: front

front: don't modify prop in EntitySumUp
  front/src/applications/editor/components/EntitySumUp.tsx
Due: front

front: upgrade eslint-plugin-react-hooks to v7.1
  front/package-lock.json
  front/package.json
  front/src/modules/pathfinding/hooks/usePathfinding.ts
  front/ui/base/package.json
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/AnchoredMenu.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/base-with-waypoint-menu.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/horizontal-zoom.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/performances.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/rectangle-zoom.stories.tsx
  front/ui/storybook/stories/ui-charts/speedSpaceChart/SpeedSpaceChart.stories.tsx
  front/ui/storybook/stories/ui-charts/trackOccupancyDiagram/rendering.stories.tsx
  front/ui/storybook/stories/ui-warped-map/useAsyncMemo.ts
  front/ui/ui-charts/src/chronogram/components/Chronogram.tsx
  front/ui/ui-charts/src/chronogram/hooks/useChronogram.tsx
  front/ui/ui-charts/src/speedSpaceChart/components/layers/ReticleLayer.tsx
  front/ui/ui-charts/src/trackOccupancyDiagram/components/TrackOccupancyStandalone.tsx
  front/ui/ui-core/src/components/ComboBox/ComboBox.tsx
  front/ui/ui-core/src/components/DatePicker/useDatePicker.ts
  front/ui/ui-core/src/components/RadioGroup.tsx
  front/ui/ui-core/src/components/Select.tsx
  front/ui/ui-core/src/components/Slider.tsx
  front/ui/ui-core/src/components/TolerancePicker/TolerancePicker.tsx
Due: front

core: stdcm: fix node to geo point projection
  core/src/main/kotlin/fr/sncf/osrd/stdcm/tracing/ProgressLogger.kt
  core/src/main/kotlin/fr/sncf/osrd/utils/DebugUtils.kt
Due: core

e2e: temporarily skip output table data steps
  front/tests/02-operational-studies/timetable/008-invalid-train.spec.ts
Due: front

editoast: authz: remove `StorageDriver::ensure_group`
  editoast/authz/src/authorizer.rs
  editoast/authz/src/lib.rs
  editoast/authz/src/regulator.rs
  editoast/editoast_models/src/auth_driver.rs
  editoast/editoast_models/src/authn/group.rs
  editoast/src/client/garbage_collector.rs
  editoast/src/client/group.rs
  editoast/src/views/test_app.rs
Due: editoast

front: replace TimesStopsRowNew.isPathStep with pathStepId
  front/src/modules/timesStops/TimesStopsTable.tsx
  front/src/modules/timesStops/helpers/__tests__/powerRestrictionIncompatibility.spec.ts
  front/src/modules/timesStops/helpers/cellUpdate.ts
  front/src/modules/timesStops/helpers/powerRestrictionIncompatibility.ts
  front/src/modules/timesStops/helpers/timePropagation.ts
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
  front/src/modules/timesStops/hooks/useUpdateTimesStopsTable.ts
  front/src/modules/timesStops/types.ts
Due: front

front: stop interpreting row ID as path step ID in times stops table
  front/src/modules/timesStops/helpers/cellUpdate.ts
  front/src/modules/timesStops/helpers/timePropagation.ts
Due: front

front: prevent collisions between path step IDs and OP IDs
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
  front/src/modules/timesStops/types.ts
Due: front

front: avoid row ID collisions with duplicate OPs in times stops table
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
Due: front

front: fix track name for track_offset path steps tied to an OP
  front/src/modules/timesStops/hooks/useTimesStopsTableData.ts
Due: front

core: reorganize worker command
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
Due: core

front: upgrade NGE with Angular v18
  front/package-lock.json
  front/package.json
  front/src/applications/operationalStudies/views/Scenario/components/NGE/NGE.tsx
  front/vite.config.ts
Due: front

front, test: add readme for integration and unit tests
  front/TESTING.md
Due: front

gateway: fix map viewer disabling decompression on gateway side
  gateway/actix_proxy/src/lib.rs
Due: gateway

front: bump typescript-eslint from 8.58.2 to 8.59.2
  front/package-lock.json
  front/package.json
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/tools/rangeEdition/electrification/ElectrificationEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionEditionLeftPanel.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.tsx
  front/src/applications/editor/tools/rangeEdition/utils.ts
  front/src/applications/editor/tools/routeEdition/components/RouteEditionLayers.tsx
  front/src/applications/editor/tools/trackEdition/components/TrackEditionLeftPanel.tsx
  front/src/applications/editor/tools/trackEdition/tool.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ImportTrainSchedule/useImportTrainSchedules.ts
  front/src/applications/rollingStockEditor/components/CurveParamSelectors.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/applications/stdcm/utils/stdcmComputeChartData.ts
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsEditor/IntervalsEditorMarginForm.tsx
  front/src/common/Map/Layers/InfraObjectLayers/getKPLabelLayerProps.ts
  front/src/common/Map/Layers/useMapBlankStyle.ts
  front/src/common/Map/WarpedMap/core/grids.tsx
  front/src/modules/pathfinding/components/IncompatibleConstraints/IncompatibleConstraints.tsx
  front/src/modules/rollingStock/components/RollingStockCurve.tsx
  front/src/reducers/commonMap/index.ts
  front/src/reducers/editor/thunkActions.ts
  front/tests/utils/send-trains.ts
  front/tests/utils/setup-utils.ts
  front/ui/base/package.json
Due: front

editoast: remove `StorageDriver::add_user_identities`
  editoast/authz/src/lib.rs
  editoast/authz/src/regulator.rs
  editoast/editoast_models/src/auth_driver.rs
  editoast/editoast_models/src/authn/user.rs
  editoast/src/client/user.rs
  editoast/src/views/mod.rs
Due: editoast

editoast: use conditional destructuring to avoid `unwrap`
  editoast/src/views/mod.rs
Due: editoast

core: skip scheduled point that are already within the tolerance
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
Due: core

front: handle unrecognized track in itinerary modal
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/ItineraryModal.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/PathStepItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/hooks/usePathStepsMetadata.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTrainSchedule/Itinerary/utils.ts
  front/src/reducers/osrdconf/types.ts
  front/src/styles/scss/applications/operationalStudies/_itineraryModal.scss
Due: front

editoast: authz: define `authz::v2::roles` for organization
  editoast/authz/src/v2.rs
  editoast/authz/src/v2/roles.rs
Due: editoast

editoast: authz: define `authz::v2::group` for organization
  editoast/authz/src/v2.rs
  editoast/authz/src/v2/group.rs
Due: editoast

editoast: authz: define `authz::v2::infra` for organization
  editoast/authz/src/v2.rs
  editoast/authz/src/v2/infra.rs
Due: editoast

nix: update the flake for playwright
  flake.lock
  flake.nix
  front/tests/README.md
Due: front
