Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

front: search for similar train when simulation is retained
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmSimulationReportSheet.tsx
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/utils/addSecondaryCodesToSimilarTrains.ts
  front/src/modules/SimulationReportSheet/SimilarTrainsToDuplicate.tsx
  front/src/modules/SimulationReportSheet/styles/SimulationReportStyleSheet.ts
Due: front

editoast: move TrainId to models
  editoast/src/models/paced_train.rs
  editoast/src/views/timetable.rs
Due: editoast

core: stdcm: add payload to span data
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
Due: core

editoast: move `Tags` definition in `editoast_models`
  editoast/Cargo.lock
  editoast/editoast_models/Cargo.toml
  editoast/editoast_models/src/lib.rs
  editoast/editoast_models/src/tags.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/macro_node.rs
  editoast/src/models/mod.rs
  editoast/src/models/paced_train.rs
  editoast/src/models/project.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/project.rs
  editoast/src/views/scenario.rs
  editoast/src/views/scenario/macro_nodes.rs
  editoast/src/views/study.rs
Due: editoast

editoast: models: add `UNIQUE` constraint test to `SubCategory::code`
  editoast/editoast_models/src/sub_category.rs
Due: editoast

editoast: move `RollingStockImage` to `editoast_models`
  editoast/editoast_models/src/lib.rs
  editoast/editoast_models/src/rolling_stock_image.rs
  editoast/src/models/mod.rs
  editoast/src/views/rolling_stock.rs
Due: editoast

editoast: models: add `UNIQUE` work schedule group name constraint test
  editoast/editoast_models/src/work_schedules.rs
Due: editoast

editoast: move electrical profiles models in `editoast_models`
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_models/Cargo.toml
  editoast/editoast_models/src/electrical_profiles.rs
  editoast/editoast_models/src/lib.rs
  editoast/src/client/electrical_profiles_commands.rs
  editoast/src/client/stdcm_search_env_commands.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/mod.rs
  editoast/src/models/stdcm_search_environment.rs
  editoast/src/views/electrical_profiles.rs
Due: editoast

editoast: move `SubCategory` model in `editoast_models`
  editoast/editoast_models/src/lib.rs
  editoast/editoast_models/src/sub_category.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/mod.rs
  editoast/src/views/sub_categories.rs
Due: editoast

editoast: move temporary speed limits models in `editoast_models`
  editoast/editoast_models/src/lib.rs
  editoast/editoast_models/src/temporary_speed_limits.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/mod.rs
  editoast/src/models/stdcm_search_environment.rs
  editoast/src/views/temporary_speed_limits.rs
  editoast/src/views/timetable/stdcm/request.rs
Due: editoast

editoast: move work schedule models in `editoast_models`
  editoast/Cargo.lock
  editoast/editoast_models/Cargo.toml
  editoast/editoast_models/src/lib.rs
  editoast/editoast_models/src/work_schedules.rs
  editoast/src/client/stdcm_search_env_commands.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/mod.rs
  editoast/src/models/stdcm_search_environment.rs
  editoast/src/views/operational_studies.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/failure_handler.rs
  editoast/src/views/timetable/stdcm/request.rs
  editoast/src/views/work_schedules.rs
Due: editoast

editoast: models: simplify `TemporarySpeedLimit`'s error handling
  editoast/editoast_models/src/temporary_speed_limits.rs
  editoast/src/views/temporary_speed_limits.rs
Due: editoast

editoast: move `TowedRollingStock` in `editoast_models`
  editoast/editoast_models/src/lib.rs
  editoast/editoast_models/src/towed_rolling_stock.rs
  editoast/src/client/import_rolling_stock.rs
  editoast/src/models/mod.rs
  editoast/src/views/rolling_stock/towed.rs
  editoast/src/views/timetable/stdcm/request.rs
Due: editoast

front: rename handleTrainDrag and occupancyZonesLayers
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useTrackOccupancy.ts
Due: front

front: use string id for the paths index
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
Due: front

front: create useHandlePan hook and rename onPanOverloaded to handlePan
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/configureHandlePan.ts
Due: front

python: support custom ID and a different ch code for operational points
  python/railjson_generator/railjson_generator/schema/infra/infra.py
  python/railjson_generator/railjson_generator/schema/infra/operational_point.py
Due: none

tests: create a medium infra for e2e tests using infra script
  tests/data/infras/medium_infra/external_generated_inputs.json
  tests/data/infras/medium_infra/infra.json
  tests/infra-scripts/medium_infra.py
Due: none

front: add loadingGauge check for e2e tests
  front/tests/assets/constants/simulation-sheet-const.ts
  front/tests/utils/types.ts
Due: front

front: use playwright built-in API to download simulation sheet
  front/tests/pages/stdcm/simulation-results-page.ts
Due: front

front: update the e2e tests data to the new infra
  front/tests/009-op-simulation-settings-tab.spec.ts
  front/tests/010-stdcm.spec.ts
  front/tests/012-stdcm-feedback-mail.spec.ts
  front/tests/014-stdcm-missing-fields.spec.ts
  front/tests/017-paced-train-management.spec.ts
  front/tests/assets/constants/linked-train-const.ts
  front/tests/assets/constants/simulation-sheet-const.ts
  front/tests/assets/constants/stdcm-const.ts
  front/tests/assets/operation-studies/simulation-settings/all-settings.json
  front/tests/assets/operation-studies/simulation-settings/electrical-profiles/electrical-profile-off.json
  front/tests/assets/operation-studies/simulation-settings/electrical-profiles/electrical-profile-on.json
  front/tests/assets/operation-studies/simulation-settings/margin/linear-margin.json
  front/tests/assets/operation-studies/simulation-settings/margin/mareco-margin.json
  front/tests/assets/operation-studies/simulation-settings/speed-limit-tag/speed-limit-tag-off.json
  front/tests/assets/operation-studies/simulation-settings/speed-limit-tag/speed-limit-tag-on.json
  front/tests/assets/operation-studies/times-and-stops/expected-inputs-cells-data.json
  front/tests/assets/operation-studies/times-and-stops/expected-outputs-cells-data.json
  front/tests/assets/operation-studies/times-and-stops/updated-inputs-cells-data.json
  front/tests/assets/paced-train/output-table-data.json
  front/tests/assets/stdcm/stdcm-all-stops.json
  front/tests/assets/stdcm/stdcm-with-all-via.json
  front/tests/assets/stdcm/stdcm-without-all-via.json
  front/tests/assets/stdcm/towed-rolling-stock/towed-rolling-stock-table-result.json
  front/tests/assets/train-schedule/train_schedules.json
Due: front

front: update e2e tests setup to use medium_infra
  front/tests/utils/scenario.ts
  front/tests/utils/setup-utils.ts
Due: front

front: update the e2e tests snapshots
  front/tests/009-op-simulation-settings-tab.spec.ts
  front/tests/009-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-AllSettingsEnabled-chromium-linux.png
  front/tests/009-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-ElectricalProfileActivated-chromium-linux.png
  front/tests/009-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-ElectricalProfileDisabled-chromium-linux.png
  front/tests/009-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-LinearMargin-chromium-linux.png
  front/tests/009-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-MarecoMargin-chromium-linux.png
  front/tests/009-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-SpeedLimitTagActivated-chromium-linux.png
  front/tests/009-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-SpeedLimitTagDisabled-chromium-linux.png
  front/tests/017-paced-train-management.spec.ts
  front/tests/017-paced-train-management.spec.ts-snapshots/SpeedSpaceChart-InitialInputs-chromium-linux.png
  front/tests/pages/operational-studies/simulation-results-page.ts
Due: front

front: drop mastheader style in NavBarSNCF
  front/src/common/BootstrapSNCF/NavBarSNCF.scss
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
Due: front

front: remove the mastheader class of Navbar
  front/src/common/BootstrapSNCF/NavBarSNCF.scss
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
Due: front

front: move the Navbar out of the bootstrap folder
  front/src/applications/editor/Home.tsx
  front/src/applications/operationalStudies/views/Project/ProjectView.tsx
  front/src/applications/operationalStudies/views/ProjectList/ProjectListView.tsx
  front/src/applications/operationalStudies/views/Study/StudyView.tsx
  front/src/applications/referenceMap/Home.tsx
  front/src/applications/rollingStockEditor/RollingStockEditorView.tsx
  front/src/common/ErrorBoundary.tsx
  front/src/common/NavBar.scss
  front/src/common/NavBar.tsx
  front/src/common/authorization/components/Error403.tsx
  front/src/common/common.scss
  front/src/main/home.tsx
Due: front

Path conditions:
  core: any of: core/
  editoast: any of: editoast/
  gateway: any of: gateway/
  front: any of: front/
