Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, gateway, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      gateway:
        target: auto
        flags:
          - gateway
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  gateway:
    paths:
      - gateway/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

raimi: generate types for inlined openapi schemas
  railway_manager_interface/generate-types.sh
  railway_manager_interface/osrd_railway_manager_interface/models.py
Due: none

front: stdcm: only display send to raimi button if authorized
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
Due: front

core: scripts: check dependabot only weekly
  .github/dependabot.yml
Due: none

tests: check dependabot only weekly
  .github/dependabot.yml
Due: none

front: refactor train schedule set inside a proper manager object
  front/src/applications/operationalStudies/hooks/useScenarioTrainScheduleSet.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/Timetable.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainList.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainScheduleSet/TrainScheduleSetTab.tsx
Due: front

front: use create exceptions endpoint for added exception
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/CreateTimetableItemButton.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/__tests__/formatTimetableItemPayload.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/formatTimetableItemPayload.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/hooks/useUpdateTimetableItem.ts
  front/src/modules/timetableItem/helpers/updateTimetableItemHelpers.ts
Due: front

editoast: adapt etcs braking curves endpoint (#15796)
  editoast/openapi.yaml
  editoast/src/views/timetable/paced_train.rs
  front/src/applications/operationalStudies/hooks/useEtcsBrakingCurves.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

editoast: adapt get train schedules exceptions (#15502)
  editoast/editoast_models/src/train_schedule_exception.rs
  editoast/openapi.yaml
  editoast/schemas/src/fixtures.rs
  editoast/schemas/src/paced_train.rs
  editoast/src/models/fixtures.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/train_schedule_set.rs
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrences.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdRailwayManagerApi.ts
  front/src/modules/timetableItem/types.ts
  railway_manager_interface/osrd_railway_manager_interface/models.py
Due: editoast, front

editoast: retrieve exceptions by ids and timetable utility function (#15797)
  editoast/editoast_models/src/train_schedule_exception.rs
Due: editoast

front: create exception when train is duplicate
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/CreateTimetableItemButton.tsx
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/__tests__/formatTimetableItemPayload.spec.ts
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/helpers/formatTimetableItemPayload.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/hooks/useOccurrences.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainList.tsx
  front/src/modules/timetableItem/types.ts
  front/src/utils/trainId.ts
Due: front

front: invalidate rtk cache on exception creation
  front/src/common/api/osrdEditoastApi.ts
Due: front

editoast: add apply_train_schedule_exception (#15688)
  editoast/src/models/fixtures.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/train_schedule_exceptions.rs
Due: editoast

editoast: add occurrences utilities functions (#15741)
  editoast/openapi.yaml
  editoast/schemas/src/train_schedule_exception.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/train_schedule.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/conflict/__tests__/utils.spec.ts
Due: editoast, front

core: stdcm: log timetable downloads
  core/src/main/java/fr/sncf/osrd/api/TimetableProvider.kt
Due: core

front: adapt timetable import
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/generatePayloads.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/postPayloads.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/useImportTimetableItems.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TimetableBoardWrapper.tsx
  front/src/modules/timetableItem/helpers/updateTimetableItemHelpers.ts
Due: front

core: enrich zone occupation tests with time checks
  core/src/test/kotlin/fr/sncf/osrd/backtracks/BacktrackTests.kt
Due: core

core: add comments on backtracking test cases
  core/src/test/kotlin/fr/sncf/osrd/backtracks/BacktrackTests.kt
Due: core

core: push backtracking position for simple test case to see signal
  core/src/test/kotlin/fr/sncf/osrd/backtracks/BacktrackTests.kt
Due: core

core: add test backtracking shortly after route delimiter
  core/src/test/kotlin/fr/sncf/osrd/backtracks/BacktrackTests.kt
Due: core

core: handle backtracking for signal's critical positions processing
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/implementations/TrainPathImpl.kt
  core/kt-osrd-path/src/main/kotlin/fr/sncf/osrd/path/interfaces/TrainPath.kt
  core/src/main/kotlin/fr/sncf/osrd/api/CommonSchemas.kt
  core/src/main/kotlin/fr/sncf/osrd/signal_projection/SignalProjection.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/test/kotlin/fr/sncf/osrd/backtracks/BacktrackTests.kt
Due: core

core: tests: use data class for ZoneOccupation
  core/src/test/kotlin/fr/sncf/osrd/backtracks/BacktrackTests.kt
Due: core

core: extract getSignalCriticalPositions() to a separate function
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Due: core

core: fix toString for decimal < 100 on duration and speed
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Duration.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Speed.kt
  core/osrd-mp/src/commonMain/kotlin/fr/sncf/osrd/utils/units/Distance.kt
Due: core

front, ui: drop eslint-plugin-only-warn dependency
  front/package-lock.json
  front/package.json
  front/ui/base/package.json
Due: front

editoast: rename paced train error tag to train schedule
  editoast/openapi.yaml
  editoast/src/views/timetable/paced_train.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Due: editoast, front

osm_to_railjson: create fake UIC and name for op
  editoast/osm_to_railjson/src/utils.rs
Due: editoast

front: adapt timetable import (#15604)
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/generatePayloads.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/helpers/postPayloads.ts
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/useImportTimetableItems.ts
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TimetableBoardWrapper.tsx
  front/src/modules/timetableItem/helpers/updateTimetableItemHelpers.ts
Due: front

editoast: fix similar train endpoint error codes
  editoast/openapi.yaml
  editoast/src/views/timetable/similar_trains.rs
Due: editoast

front: fix cell width resizing during computation
  front/src/modules/timesStops/styles/_timesStopsTable.scss
Due: front

editoast: remove useless `.into_iter()`
  editoast/editoast_models/src/prelude/retrieve.rs
  editoast/editoast_models/src/prelude/update.rs
  editoast/src/views/authz.rs
  editoast/src/views/infra/delimited_area.rs
  editoast/src/views/projection.rs
Due: editoast

editoast: fix typo
  editoast/src/views/authz.rs
Due: editoast
