Repository OpenRailAssociation/osrd: changes, and which Codecov flags are due for each by the changed paths.
All: core, editoast, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: auto
        flags:
          - core
      editoast:
        target: auto
        flags:
          - editoast
      front:
        target: auto
        flags:
          - front
    patch:
      default: off

flags:
  core:
    paths:
      - core/
    carryforward: true
  editoast:
    paths:
      - editoast/
    carryforward: true
  front:
    paths:
      - front/
    carryforward: true

parsers:
  jacoco:
    partials_as_hits: true

editoast: make sql files valid text files
  editoast/src/generated_data/sql/generate_buffer_stop_layer.sql
  editoast/src/generated_data/sql/generate_catenary_layer.sql
  editoast/src/generated_data/sql/generate_detector_layer.sql
  editoast/src/generated_data/sql/generate_lpv_panel_layer.sql
  editoast/src/generated_data/sql/generate_operational_point_layer.sql
  editoast/src/generated_data/sql/generate_signal_layer.sql
  editoast/src/generated_data/sql/generate_speed_section_layer.sql
  editoast/src/generated_data/sql/generate_switch_layer.sql
  editoast/src/generated_data/sql/generate_track_section_layer.sql
  editoast/src/generated_data/sql/generate_track_section_link_layer.sql
  editoast/src/generated_data/sql/insert_catenary_layer.sql
  editoast/src/generated_data/sql/insert_operational_point_layer.sql
  editoast/src/generated_data/sql/insert_speed_section_layer.sql
  editoast/src/generated_data/sql/insert_update_buffer_stop_layer.sql
  editoast/src/generated_data/sql/insert_update_detector_layer.sql
  editoast/src/generated_data/sql/insert_update_signal_layer.sql
  editoast/src/generated_data/sql/insert_update_switch_layer.sql
  editoast/src/generated_data/sql/insert_update_track_section_layer.sql
  editoast/src/generated_data/sql/insert_update_track_section_link_layer.sql
Due: editoast

core: update pathfiding to take into account dead sections
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSDeadSection.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/test/java/fr/sncf/osrd/api/ApiTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingElectrificationTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraintsTest.java
  core/src/test/java/fr/sncf/osrd/infra/InfraHelpers.java
  core/src/test/java/fr/sncf/osrd/infra_state/StandaloneSignalingSimulationTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/DummyRouteGraphBuilder.java
Due: core

front: remove maximum update depth exceeded in SpeedLimitByTagSelector
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
Due: front

editoast: migrate TrainScheduleView
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/core/mod.rs
  editoast/src/core/simulation.rs
  editoast/src/error.rs
  editoast/src/models/mod.rs
  editoast/src/models/train_schedule.rs
  editoast/src/schema/mod.rs
  editoast/src/tables.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/mod.rs
  editoast/src/views/train_schedule.rs
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/projection.rs
  editoast/src/views/train_schedule/simulation_report.rs
Due: editoast

editoast: clean openApi.yaml
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Due: editoast, front

editoast: add overlapping_catenaries warning
  editoast/openapi.yaml
  editoast/src/generated_data/error/catenaries.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/schema/errors.rs
  front/src/common/api/osrdEditoastApi.ts
  python/osrd_schemas/osrd_schemas/generated.py
Due: editoast, front

test: Load infra using editoast endpoint
  tests/conftest.py
Due: none

railjson-generator: fix example script generation dir
  python/railjson_generator/railjson_generator/scripts/examples/example_script.py
Due: none

actions: enable ci for group merge
  .github/workflows/api.yml
  .github/workflows/core.yml
  .github/workflows/editoast.yml
  .github/workflows/front.yml
  .github/workflows/integration_tests.yml
  .github/workflows/osrd_schemas.yml
  .github/workflows/railjson_generator.yml
Due: none

editoast: fix pathfinding inconsistent switch group result
  editoast/src/views/infra/pathfinding.rs
Due: editoast

editoast: fix test infra_get_voltages that fails locally
  editoast/src/views/infra/mod.rs
Due: editoast

core: kt-infra: add track data and topology
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalDriver.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/kt-osrd-signaling/src/test/kotlin/fr/sncf/osrd/signaling/BlockBuilderTest.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackNetworkInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-sim-interlocking/src/main/kotlin/fr/sncf/osrd/sim/interlocking/api/InterlockingSim.kt
  core/kt-osrd-sim-interlocking/src/main/kotlin/fr/sncf/osrd/sim/interlocking/impl/MovableElements.kt
  core/kt-osrd-sim-interlocking/src/main/kotlin/fr/sncf/osrd/sim/interlocking/impl/Reservation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestLocation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestMovableElement.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestReservation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestRouting.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/kt-osrd-utils/build.gradle
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/Direction.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DirectionalMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/Endpoint.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/DirStaticIdx.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/StaticIdx.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Distance.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/DistanceRangeMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Speed.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
  core/src/main/java/fr/sncf/osrd/infra/api/Direction.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Due: core

editoast: change output format of the mock conflict endpoint
  editoast/src/views/timetable.rs
Due: editoast

api: fix api standalone simulation report
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
Due: none

core: add spacing timeline
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  editoast/src/models/train_schedule.rs
Due: core, editoast

Revert "core: kt-infra: add track data and topology"
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalDriver.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/kt-osrd-signaling/src/test/kotlin/fr/sncf/osrd/signaling/BlockBuilderTest.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackNetworkInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-sim-interlocking/src/main/kotlin/fr/sncf/osrd/sim/interlocking/api/InterlockingSim.kt
  core/kt-osrd-sim-interlocking/src/main/kotlin/fr/sncf/osrd/sim/interlocking/impl/MovableElements.kt
  core/kt-osrd-sim-interlocking/src/main/kotlin/fr/sncf/osrd/sim/interlocking/impl/Reservation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestLocation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestMovableElement.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestReservation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestRouting.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/kt-osrd-utils/build.gradle
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/Direction.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DirectionalMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/Endpoint.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/DirStaticIdx.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/StaticIdx.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Distance.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/DistanceRangeMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Speed.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
  core/src/main/java/fr/sncf/osrd/infra/api/Direction.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Due: core

front: dedicated place for pathfinding state
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/assets/pictures/components/addingSettings.svg
  front/src/assets/pictures/components/allowances.svg
  front/src/assets/pictures/components/electricalProfiles.svg
  front/src/assets/pictures/components/noElectricalProfiles.svg
  front/src/assets/pictures/components/pathfinding.svg
  front/src/assets/pictures/components/power_restrictions.svg
  front/src/assets/pictures/components/simulationSettings.svg
  front/src/assets/pictures/components/tracks.svg
  front/src/assets/pictures/components/tracks_edit.svg
  front/src/assets/pictures/components/trains_timetable.svg
  front/src/assets/pictures/destination.svg
  front/src/assets/pictures/origin.svg
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/styles/scss/common/components/_pathfinding.scss
Due: front
